Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

ci: update release.yml
  .github/workflows/release.yml
Due: none

ci: update configurations
  .github/workflows/autorebase.yml
  .github/workflows/build.yml
  .github/workflows/integrations.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-ng.yml
  .scripts/build.ts
  .scripts/integration.ts
  .scripts/release-version.ts
  .scripts/test.ts
  .scripts/utils/async-exec.ts
  .scripts/utils/debug.ts
  .scripts/utils/error-handler.ts
  .scripts/utils/get-packages.ts
  .scripts/utils/info.ts
  .scripts/utils/is-error.ts
  .scripts/utils/log.ts
  .scripts/utils/no-throw.ts
  .scripts/utils/packages-graph.ts
  .scripts/verify-ng-major.ts
  libs/cdk/CHANGELOG.md
  libs/ngxs/CHANGELOG.md
  libs/typescript/CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(typescript): release version 12.58.3 [ci skip]
  libs/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(cdk): release version 12.58.3 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(ngxs): release version 12.58.3 [ci skip]
  libs/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

updated CHANGELOG.md
  CHANGELOG.md
Due: yarn prettier --write

ci: wait release before build, tests
  .github/workflows/build.yml
  .github/workflows/release.yml
  renovate.json
  workspace.json
Due: yarn prettier --write

ci: wait release before build, tests
  .github/workflows/release.yml
Due: none

ci: wait build, tests jobs
  .github/workflows/release.yml
Due: none

ci: remove lerna
  .github/workflows/integrations.yml
  .github/workflows/label-when-approved.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .prettierignore
  lerna.json
  package.json
  workspace.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore: updated CHANGELOG.md [ci skip]
  CHANGELOG.md
Due: yarn prettier --write

ci: generate CHANGELOG.md by new tag
  .github/workflows/release.yml
Due: none

ci: change repository url
  .github/workflows/release.yml
  libs/cdk/package.json
  libs/commitlint/package.json
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/package.json
  libs/eslint-plugin-enterprise/package.json
  libs/jest/package.json
  libs/ngxs/package.json
  libs/prettier/package.json
  libs/renovate/package.json
  libs/typescript/package.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 12.58.3 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(commitlint): release version 12.58.3 [ci skip]
  libs/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(typescript): release version 12.58.4 [ci skip]
  libs/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(prettier): release version 12.58.3 [ci skip]
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(renovate): release version 12.58.3 [ci skip]
  libs/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(cdk): release version 12.58.4 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-plugin-enterprise): release version 12.58.3 [ci skip]
  libs/eslint-plugin-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(jest): release version 12.58.3 [ci skip]
  libs/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(ngxs): release version 12.58.4 [ci skip]
  libs/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-config-enterprise): release version 12.58.4 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: use standard-version
  .versionrc.json
  libs/dev-dependencies/package.json
  package.json
  workspace.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 12.58.4 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(dev-dependencies): remove npe
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(jest): support resolve rootDir in tsConfig
  libs/jest/src/utils/create-ts-jest-config.ts
Due: yarn prettier --write, yarn eslint --fix

ci: use run-many instead affected for collect coverage
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

ci: support `nx test ngxs`
  libs/ngxs/docs/testing.md
  libs/ngxs/integration/tests/jest.config.js
  libs/ngxs/jest.config.js
  libs/ngxs/package.json
  libs/ngxs/project.json
  libs/ngxs/setup-jest.ts
  libs/ngxs/tests/common-extensions/action-decorator.spec.ts
  libs/ngxs/tests/common-extensions/argument-decorators.spec.ts
  libs/ngxs/tests/common-extensions/computed-observable.spec.ts
  libs/ngxs/tests/common-extensions/computed.spec.ts
  libs/ngxs/tests/common-extensions/counter-lifecycle.spec.ts
  libs/ngxs/tests/common-extensions/counter.spec.ts
  libs/ngxs/tests/common-extensions/debounce.spec.ts
  libs/ngxs/tests/common-extensions/deep-data-action-type.spec.ts
  libs/ngxs/tests/common-extensions/name-creator.spec.ts
  libs/ngxs/tests/common-extensions/ngxs-meta.spec.ts
  libs/ngxs/tests/common-extensions/registration.spec.ts
  libs/ngxs/tests/common-extensions/state-context.spec.ts
  libs/ngxs/tests/common-extensions/two-state.spec.ts
  libs/ngxs/tests/common-extensions/zone.spec.ts
  libs/ngxs/tests/entity/observables.spec.ts
  libs/ngxs/tests/entity/primary-key-or-unique-id.spec.ts
  libs/ngxs/tests/entity/sort-by.spec.ts
  libs/ngxs/tests/entity/uuidv4.spec.ts
  libs/ngxs/tests/immutability/immutable.spec.ts
  libs/ngxs/tests/immutability/mutate-selectors.spec.ts
  libs/ngxs/tests/immutability/ngxs-data.spec.ts
  libs/ngxs/tests/inheritance-extensions/children.spec.ts
  libs/ngxs/tests/inheritance-extensions/inheritance.spec.ts
  libs/ngxs/tests/reset-extensions/reset.spec.ts
  libs/ngxs/tests/storage-extensions/storage.spec.ts
  libs/ngxs/tests/testing/testing-v1.spec.ts
  libs/ngxs/tests/testing/testing-v2.spec.ts
  libs/ngxs/tests/testing/testing-v3.spec.ts
  libs/ngxs/tests/utils-extensions/mutable.spec.ts
  libs/ngxs/tsconfig.json
  libs/ngxs/tsconfig.spec.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: use .platform project for grouping workspace commands
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  CHANGELOG.md
  libs/cdk/package.json
  libs/cdk/project.json
  libs/commitlint/project.json
  libs/dev-dependencies/project.json
  libs/eslint-config-enterprise/project.json
  libs/eslint-plugin-enterprise/project.json
  libs/jest/project.json
  libs/prettier/project.json
  libs/renovate/project.json
  libs/typescript/project.json
  nx.json
  package.json
  workspace.json
Due: yarn prettier --write, yarn sort-package-json

ci: don't use parallel
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

build: mark target's dependencies in global config
  libs/cdk/project.json
  libs/eslint-plugin-enterprise/project.json
  libs/jest/project.json
  nx.json
Due: yarn prettier --write
