Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore: fix formatting
  .github/workflows/automerge.yml
Due: none

ci: add automerge
  .github/workflows/automerge.yml
Due: none

ci: remove automerge
  .github/workflows/automerge.yml
Due: none

build: update dependency prettier to v2.8.6
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency prettier to v2.8.6 (#1456)
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/prettier/CHANGELOG.md
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update all dependencies (minor/patch)
  .github/workflows/renovate.yml
  libs/dev-dependencies/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v18.15.11
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint-plugin-rxjs to v5.0.3
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update angular dependencies
  libs/dev-dependencies/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update nrwl dependencies
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint-plugin-rxjs to v5.0.3 (#1458)
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v18.15.0 (#1449)
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency rimraf to v4.2.0 (#1448)
  .github/workflows/renovate.yml
  libs/dev-dependencies/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update typescript dependencies
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @commitlint/cli to v17.5.1
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

fix(dependencies): updated ngxs dependencies
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/dev-dependencies/CHANGELOG.md
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/CHANGELOG.md
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

fix(ngxs): updated import from ngxs/store
  libs/ngxs/internals/src/services/ngxs-data-injector.service.ts
Due: yarn prettier --write, yarn eslint --fix

fix(ngxs): fix build but tests are broken
  libs/ngxs/repositories/src/ngxs-data/ngxs-data.repository.ts
  libs/ngxs/typings/src/common/repository.ts
Due: yarn prettier --write, yarn eslint --fix

build: update dependency @commitlint/cli to v17.5.0 (#1457)
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/commitlint/CHANGELOG.md
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency prettier to v2.8.7
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update renovatebot/github-action action to v36.0.2
  .github/workflows/renovate.yml
Due: none

build: update dependency prettier to v2.8.7 (#1461)
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update renovatebot/github-action action to v36.0.2 (#1462)
  .github/workflows/renovate.yml
Due: none

fix(tests): fix unit test decorators invalid state
  libs/ngxs/tests/common-extensions/action-decorator.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fix(tests): fix count behavior in tests
  libs/ngxs/tests/common-extensions/counter.spec.ts
  libs/ngxs/tests/common-extensions/two-state.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fix(tests): fix events of lifecyle tests
  libs/ngxs/tests/immutability/ngxs-data.spec.ts
  libs/ngxs/tests/testing/testing-v2.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fix(dependencies): aliased imports form ngxs + lock ngxs version
  libs/ngxs/internals/src/services/ngxs-data-injector.service.ts
  package-lock.json
  package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

fix(ngxs): upgrade to NGXS 3.8 (#1460)
  libs/ngxs/internals/src/services/ngxs-data-injector.service.ts
  libs/ngxs/repositories/src/ngxs-data/ngxs-data.repository.ts
  libs/ngxs/tests/common-extensions/action-decorator.spec.ts
  libs/ngxs/tests/common-extensions/counter.spec.ts
  libs/ngxs/tests/common-extensions/two-state.spec.ts
  libs/ngxs/tests/immutability/ngxs-data.spec.ts
  libs/ngxs/tests/testing/testing-v2.spec.ts
  libs/ngxs/typings/src/common/repository.ts
  package-lock.json
  package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/ngxs/CHANGELOG.md
  libs/ngxs/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lint-staged to v13.2.1
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
