Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

docs: update documentation
  docs/cdk/date-suggestion.md
  docs/cdk/directives.md
  docs/cdk/flex-layout.md
  docs/cdk/http.md
  docs/cdk/logger.md
  docs/cdk/pipes.md
  docs/cdk/tooltip.md
  docs/cdk/virtual-table.md
  docs/ngxs/data-action.md
  docs/ngxs/extension-api.md
  docs/ngxs/immutability.md
  docs/ngxs/persistence-state.md
  docs/ngxs/quick-start.md
Due: yarn prettier --write

docs: migration guide
  README.md
  docs/SUMMARY.md
  docs/introduction/migration-v19.md
  docs/ngxs/extension-api.md
  libs/ngxs/tokens/symbols/ngxs-data-exceptions.ts
Due: yarn prettier --write, yarn eslint --fix

chore: bump peer dependency versions
  libs/cdk/package.json
  libs/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): v19.0.0
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
  libs/ngxs/CHANGELOG.md
  libs/ngxs/package.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): v18.12.0
  libs/cdk/package.json
  libs/ngxs/package.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): v19.0.0
  libs/cdk/package.json
  libs/ngxs/package.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore: update Gitbook docs link
  README.md
Due: yarn prettier --write

ci: deploy to GitHub pages
  .github/workflows/deploy-apps.yml
  package-lock.json
Due: yarn prettier --write

chore(ngxs-demo): fixed "user.json" loading and clearing of todo input
  apps/ngxs-demo/src/todo/todo.component.html
  apps/ngxs-demo/src/user/user.service.ts
Due: yarn prettier --write, yarn eslint --fix

chore(cdk-demo): fixed npm package name
  apps/cdk-demo/src/app.component.html
Due: yarn prettier --write

docs: added links to demos
  docs/SUMMARY.md
  docs/cdk/logger.md
  docs/cdk/tooltip.md
  docs/cdk/virtual-table.md
  docs/introduction/demos.md
Due: yarn prettier --write

deploy: 38a409ed6ee67681d4996eb4b7ab0c0891a01193
  404.html
  index.html
  main-KBVKSCW4.js
  main-NLNWV34W.js
  ngxs-demo/chunk-4IGJPDOL.js
  ngxs-demo/chunk-5CM5YQ6P.js
  ngxs-demo/chunk-5PJ4RH7A.js
  ngxs-demo/chunk-NR3XWR4E.js
  ngxs-demo/index.html
  ngxs-demo/main-CY3FYQT6.js
  ngxs-demo/main-TAVYCWRW.js
Due: yarn prettier --write

docs: ngxs docs update
  docs/SUMMARY.md
  docs/ngxs/README.md
  docs/ngxs/quick-start.md
Due: yarn prettier --write

chore(cdk-demo): fix content offset
  apps/cdk-demo/project.json
Due: yarn prettier --write

deploy: 5639719f82511e64681b02a2ce985063b849e9b2
  404.html
  index.html
Due: yarn prettier --write

docs: update introductory text [ci skip]
  docs/introduction/intro.md
Due: yarn prettier --write

docs: add the documentation link in README [ci skip]
  README.md
Due: yarn prettier --write

chore: just trigger
  README.md
Due: yarn prettier --write

chore: update
  README.md
Due: yarn prettier --write

Update README.md
  README.md
Due: yarn prettier --write

docs: update documentation links
  README.md
Due: yarn prettier --write

chore: fix linter errors
  libs/cdk/tests/array/include.spec.ts
  libs/cdk/tests/array/unique-array-of.spec.ts
  libs/cdk/tests/array/unique.spec.ts
  libs/cdk/tests/array/utility-arrays.spec.ts
  libs/cdk/tests/big-decimal/add.spec.ts
  libs/cdk/tests/big-decimal/big-decimal.spec.ts
  libs/cdk/tests/big-decimal/compare-to.spec.ts
  libs/cdk/tests/big-decimal/multiply.spec.ts
  libs/cdk/tests/class-transformer/class-transformer.spec.ts
  libs/cdk/tests/class-transformer/transform-to-boolean.spec.ts
  libs/cdk/tests/class-transformer/transform-to-nullable-boolean.spec.ts
  libs/cdk/tests/date/end-of-day.spec.ts
  libs/cdk/tests/date/serial-date.spec.ts
  libs/cdk/tests/date/shift-date.spec.ts
  libs/cdk/tests/date/start-of-day.spec.ts
  libs/cdk/tests/date/to-iso-string-without-timezone.spec.ts
  libs/cdk/tests/http/limit-concurrency/limit-concurrency.service.spec.ts
  libs/cdk/tests/number/number.spec.ts
  libs/cdk/tests/object/object.spec.ts
  libs/cdk/tests/pipes/file-size.pipe.spec.ts
  libs/cdk/tests/pipes/filter-unique.pipe.spec.ts
  libs/cdk/tests/rxjs/number.spec.ts
  libs/cdk/tests/stream/jwt.spec.ts
  libs/cdk/tests/string/filter.spec.ts
  libs/cdk/tests/utils/utils.spec.ts
  libs/cdk/tests/validators/date-interval-validator.spec.ts
  libs/cdk/tests/validators/date-limit-validator.spec.ts
  libs/cdk/tests/validators/long-validator.spec.ts
  libs/cdk/tests/validators/multi-validators.spec.ts
  libs/cdk/tests/validators/ordered-interval-validator.spec.ts
  libs/cdk/tests/validators/required-some-value-by-keys-validator.spec.ts
  libs/cdk/tests/validators/required-some-value-validator.spec.ts
  libs/cdk/tests/websocket/websocket-client.spec.ts
  libs/ngxs/tests/entity/primary-key-or-unique-id.spec.ts
  libs/ngxs/tests/entity/sort-by.spec.ts
  libs/ngxs/tests/testing/testing-v2.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore: fix formatting
  .github/workflows/deploy-apps.yml
  libs/cdk/CHANGELOG.md
  libs/ngxs/CHANGELOG.md
Due: yarn prettier --write

chore: fix linter errors (#1538)
  .github/workflows/deploy-apps.yml
  libs/cdk/CHANGELOG.md
  libs/cdk/tests/array/include.spec.ts
  libs/cdk/tests/array/unique-array-of.spec.ts
  libs/cdk/tests/array/unique.spec.ts
  libs/cdk/tests/array/utility-arrays.spec.ts
  libs/cdk/tests/big-decimal/add.spec.ts
  libs/cdk/tests/big-decimal/big-decimal.spec.ts
  libs/cdk/tests/big-decimal/compare-to.spec.ts
  libs/cdk/tests/big-decimal/multiply.spec.ts
  libs/cdk/tests/class-transformer/class-transformer.spec.ts
  libs/cdk/tests/class-transformer/transform-to-boolean.spec.ts
  libs/cdk/tests/class-transformer/transform-to-nullable-boolean.spec.ts
  libs/cdk/tests/date/end-of-day.spec.ts
  libs/cdk/tests/date/serial-date.spec.ts
  libs/cdk/tests/date/shift-date.spec.ts
  libs/cdk/tests/date/start-of-day.spec.ts
  libs/cdk/tests/date/to-iso-string-without-timezone.spec.ts
  libs/cdk/tests/http/limit-concurrency/limit-concurrency.service.spec.ts
  libs/cdk/tests/number/number.spec.ts
  libs/cdk/tests/object/object.spec.ts
  libs/cdk/tests/pipes/file-size.pipe.spec.ts
  libs/cdk/tests/pipes/filter-unique.pipe.spec.ts
  libs/cdk/tests/rxjs/number.spec.ts
  libs/cdk/tests/stream/jwt.spec.ts
  libs/cdk/tests/string/filter.spec.ts
  libs/cdk/tests/utils/utils.spec.ts
  libs/cdk/tests/validators/date-interval-validator.spec.ts
  libs/cdk/tests/validators/date-limit-validator.spec.ts
  libs/cdk/tests/validators/long-validator.spec.ts
  libs/cdk/tests/validators/multi-validators.spec.ts
  libs/cdk/tests/validators/ordered-interval-validator.spec.ts
  libs/cdk/tests/validators/required-some-value-by-keys-validator.spec.ts
  libs/cdk/tests/validators/required-some-value-validator.spec.ts
  libs/cdk/tests/websocket/websocket-client.spec.ts
  libs/ngxs/CHANGELOG.md
  libs/ngxs/tests/entity/primary-key-or-unique-id.spec.ts
  libs/ngxs/tests/entity/sort-by.spec.ts
  libs/ngxs/tests/testing/testing-v2.spec.ts
Due: yarn prettier --write, yarn eslint --fix

ci: fix demo app deploy workflow
  .github/workflows/deploy-apps.yml
Due: none

deploy: b282fc4772f9c30077108a8c10584e39e15cbb57
  404.html
  excel-demo/index.html
  flex-layout-demo/index.html
  http-demo/index.html
  index.html
  logger-demo/index.html
  ngxs-demo/index.html
  tooltip-demo/index.html
  virtual-table-demo/index.html
Due: yarn prettier --write

docs: fix demo app links [ci skip]
  docs/cdk/http.md
  docs/cdk/logger.md
  docs/cdk/tooltip.md
  docs/cdk/virtual-table.md
  docs/introduction/demos.md
Due: yarn prettier --write

docs: update description in README [ci skip]
  README.md
Due: yarn prettier --write

Create LICENSE
  LICENSE
Due: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: yarn prettier --write

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
