Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/http): add url sergments
  packages/http/decorators/src/base-url.decorator.ts
  packages/http/decorators/src/host-url.decorator.ts
  packages/http/decorators/src/internal/validate-http-parent-decorator.ts
  packages/http/decorators/src/rest-client.decorator.ts
  packages/http/docs/utils.md
  packages/http/integration/tests/decorators/all-decorators.spec.ts
  packages/http/integration/tests/decorators/controller-root.spec.ts
  packages/http/integration/tests/http.utils.spec.ts
  packages/http/src/services/data-http.client.ts
  packages/http/typings/src/interfaces/data-url-path-segment.ts
  packages/http/typings/src/interfaces/meta-data-request.ts
  packages/http/utils/src/build-url.ts
  packages/http/utils/src/get-url-segments.ts
  packages/http/utils/src/make-url-segments.ts
  packages/http/utils/src/public_api.ts
  packages/http/utils/src/replace-leading-and-trailing-slashes.ts
  packages/http/utils/src/url-parse.ts
Due: yarn prettier --write, yarn eslint --fix

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/http/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): now return null type from utils
  packages/common/object/src/get-value-by-path.ts
  packages/common/pipes/src/deep-path/deep-path.pipe.ts
  packages/common/pipes/src/default-value/default-value.pipe.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): now return null type from utils (#488)
  packages/common/object/src/get-value-by-path.ts
  packages/common/pipes/src/deep-path/deep-path.pipe.ts
  packages/common/pipes/src/default-value/default-value.pipe.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup feat(@angular-ru/ng-table-builder): TableBuilderComponent<T> required generic type, refactor some options
  packages/ng-table-builder/integration/app/src/samples/sample-first-second/sample-first-second.component.ts
Due: yarn prettier --write, yarn eslint --fix

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add hasConstructor
  packages/common/docs/function.md
  packages/common/function/src/has-constructor.ts
  packages/common/function/src/public_api.ts
  packages/common/integration/tests/function/function.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/common): support deep inheritance
  packages/common/docs/function.md
  packages/common/function/src/has-constructor.ts
  packages/common/function/src/public_api.ts
  packages/common/integration/tests/function/function.spec.ts
  packages/common/integration/tests/ivy/helpers/deep-inherit.spec.ts
  packages/common/integration/tests/ivy/helpers/test-decorators.ts
  packages/common/ivy/src/utils/use-injector.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup fix(@angular-ru/common): support deep inheritance
  packages/common/integration/tests/ivy/helpers/test-decorators.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup fix(@angular-ru/common): support deep inheritance
  packages/common/integration/tests/ivy/helpers/deep-inherit.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update dependency husky to v5.2.0
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build(@angular-ru/ng-table-builder): remove redundant path [ci skip]
  packages/ng-table-builder/tsconfig.json
Due: yarn prettier --write

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common/validators): add new validator
  packages/common/docs/validators.md
  packages/common/integration/tests/validators/max-length-include-previous-value.validator.spec.ts
  packages/common/validators/src/max-length-include-previous-value.validator.ts
  packages/common/validators/src/public_api.ts
  packages/common/validators/src/utils/assert-form-control.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: added tests for validators
  packages/common/integration/tests/validators/multi-validators.spec.ts
  packages/common/integration/tests/validators/required-some-value-by-keys-validator.spec.ts
  packages/common/validators/src/required-some-value-by-keys.validator.ts
Due: yarn prettier --write, yarn eslint --fix

fix(ng-table-builder): update rows in selection after sort or filter
  packages/ng-table-builder/integration/tests/components/table-builder.component.spec.ts
  packages/ng-table-builder/integration/tests/services/selection.service.spec.ts
  packages/ng-table-builder/src/services/selection/selection.service.ts
  packages/ng-table-builder/src/table-builder.api.ts
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/common): support deep inheritance (ivy) (#490)
  packages/common/integration/tests/ivy/helpers/deep-inherit.spec.ts
  packages/common/ivy/src/utils/use-injector.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update ESLint to v4.19.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add getToday
  packages/common/date/src/get-today.ts
  packages/common/date/src/public_api.ts
  packages/common/docs/date.md
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add isNil pipe
  packages/common/docs/pipes.md
  packages/common/pipes/src/is-nil/is-nil-pipe.module.ts
  packages/common/pipes/src/is-nil/is-nil.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/common): IdsMapOf<T> should be equals Record<number, T>
  packages/common/entity/src/typings/ids-map-of.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add KeyOfList<T>, DeepKeyOfList<T>, Paths<T> types
  packages/common/docs/typings.md
  packages/common/integration/tests/typings/typings.spec.ts
  packages/common/typings/src/deep-key-of-list.ts
  packages/common/typings/src/join.ts
  packages/common/typings/src/key-of-list.ts
  packages/common/typings/src/leaves.ts
  packages/common/typings/src/paths.ts
  packages/common/typings/src/prev.ts
  packages/common/typings/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update dependencies
  packages/build-tools/package.json
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/prettier): add resolution
  packages/prettier-config/package.json
Due: yarn prettier --write, yarn sort-package-json

docs: update README.md
  README.md
Due: yarn prettier --write

feat(@angular-ru/eslint-config): add resolution
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
