Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

!fixup
  packages/jest-utils/package.json
  packages/jest-utils/tsconfig.json
Due: yarn prettier --write, yarn sort-package-json

!fixup
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

!fixup
  packages/jest-utils/integration/tests/simple.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add utils subpackage
  packages/common/utils/package.json
  packages/common/utils/src/$any.ts
  packages/common/utils/src/$cast.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

!fixup
  packages/common/typings/src/callback.ts
  packages/common/typings/src/fn.ts
  packages/common/typings/src/object-types.ts
  packages/common/typings/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/ng-table-builder): refactor context menu invoker
  package.json
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu.component.scss
  packages/ng-table-builder/src/services/context-menu/context-menu.service.ts
  packages/ng-table-builder/src/services/selection/selection.service.ts
  packages/ng-table-builder/src/table-builder.component.html
  packages/ng-table-builder/src/table-builder.component.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: update docs
  package.json
  packages/common/README.md
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint to v3.7.1
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/logger): reused Any, PlainObject types
  packages/common/typings/src/arguments.ts
  packages/common/typings/src/decorator-method.ts
  packages/common/typings/src/public_api.ts
  packages/logger/README.md
  packages/logger/integration/app/environments/environment.prod.ts
  packages/logger/integration/app/environments/environment.ts
  packages/logger/integration/app/polyfills.ts
  packages/logger/integration/tests/clipboard.spec.ts
  packages/logger/integration/tests/console-format-api.spec.ts
  packages/logger/integration/tests/decorators.spec.ts
  packages/logger/integration/tests/helpers/console-fake.ts
  packages/logger/integration/tests/helpers/test.component.ts
  packages/logger/integration/tests/logger.module.spec.ts
  packages/logger/package.json
  packages/logger/src/decorators/autobind.decorator.ts
  packages/logger/src/decorators/groups/group-collapsed.decorator.ts
  packages/logger/src/decorators/groups/group.common.ts
  packages/logger/src/decorators/groups/group.decorator.ts
  packages/logger/src/decorators/timer.decorator.ts
  packages/logger/src/interfaces/logger.external.ts
  packages/logger/src/interfaces/logger.internal.ts
  packages/logger/src/logger.config.ts
  packages/logger/src/logger.options.ts
  packages/logger/src/logger.service.ts
  packages/logger/src/services/factory.service.ts
  packages/logger/src/services/group-factory.service.ts
  packages/logger/src/services/timer-factory.service.ts
  packages/logger/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(@angular-ru/logger): deprecate copy method
  packages/logger/src/logger.service.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency ts-jest to v26.1.4
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

Develop (#86)
  packages/common/typings/src/arguments.ts
  packages/common/typings/src/decorator-method.ts
  packages/common/typings/src/public_api.ts
  packages/logger/README.md
  packages/logger/integration/app/environments/environment.prod.ts
  packages/logger/integration/app/environments/environment.ts
  packages/logger/integration/app/polyfills.ts
  packages/logger/integration/tests/clipboard.spec.ts
  packages/logger/integration/tests/console-format-api.spec.ts
  packages/logger/integration/tests/decorators.spec.ts
  packages/logger/integration/tests/helpers/console-fake.ts
  packages/logger/integration/tests/helpers/test.component.ts
  packages/logger/integration/tests/logger.module.spec.ts
  packages/logger/package.json
  packages/logger/src/decorators/autobind.decorator.ts
  packages/logger/src/decorators/groups/group-collapsed.decorator.ts
  packages/logger/src/decorators/groups/group.common.ts
  packages/logger/src/decorators/groups/group.decorator.ts
  packages/logger/src/decorators/timer.decorator.ts
  packages/logger/src/interfaces/logger.external.ts
  packages/logger/src/interfaces/logger.internal.ts
  packages/logger/src/logger.config.ts
  packages/logger/src/logger.options.ts
  packages/logger/src/logger.service.ts
  packages/logger/src/services/factory.service.ts
  packages/logger/src/services/group-factory.service.ts
  packages/logger/src/services/timer-factory.service.ts
  packages/logger/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/ng-excel-builder): refactor and use @angular-ru/common as dependency
  packages/ng-excel-builder/integration/app/src/app.module.ts
  packages/ng-excel-builder/package.json
  packages/ng-excel-builder/src/excel-builder.module.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-excel-builder/src/excel.ts
  packages/ng-excel-builder/src/public-api.ts
  packages/ng-excel-builder/src/symbols.ts
  packages/ng-excel-builder/src/web-worker-thread.service.ts
  packages/ng-excel-builder/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

!fixup
  packages/ng-excel-builder/src/excel-builder.service.ts
Due: yarn prettier --write, yarn eslint --fix

Develop (#88)
  packages/ng-excel-builder/integration/app/src/app.module.ts
  packages/ng-excel-builder/package.json
  packages/ng-excel-builder/src/excel-builder.module.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-excel-builder/src/excel.ts
  packages/ng-excel-builder/src/public-api.ts
  packages/ng-excel-builder/src/symbols.ts
  packages/ng-excel-builder/src/web-worker-thread.service.ts
  packages/ng-excel-builder/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/ng-excel-builder/CHANGELOG.md
  packages/ng-excel-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency @types/node to v14.0.27
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency eslint-import-resolver-typescript to v2.1.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency eslint-import-resolver-typescript to v2.2.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency jest to v26.2.1
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/ng-excel-builder): move web-worker to common package
  packages/ng-excel-builder/src/excel-builder.module.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-excel-builder/src/public-api.ts
  packages/ng-excel-builder/src/web-worker-thread.service.ts
  packages/ng-excel-builder/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/jest-utils): improved typings
  packages/jest-utils/src/create-ts-jest-config.ts
  packages/jest-utils/src/jest-config.interface.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup
  packages/ng-table-builder/integration/tests/directives/auto-height.directive.spec.ts
  packages/ng-table-builder/integration/tests/samples/lifecycle/lifecycle.spec.ts
  packages/ng-table-builder/src/components/table-tbody/table-tbody.component.ts
  packages/ng-table-builder/src/services/sortable/sort.worker.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add serial date class
  packages/common/README.md
  packages/common/date/package.json
  packages/common/date/src/public_api.ts
  packages/common/date/src/serial-date.interfaces.ts
  packages/common/date/src/serial-date.ts
  packages/common/date/src/utility/to-pretty-format.ts
  packages/common/date/src/utility/to-unix.ts
  packages/common/integration/tests/serial-date.spec.ts
  packages/common/ng-package.json
  packages/common/typings/src/timestamp.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build(@angular-ru/logger): resolve artifacts
  packages/logger/tsconfig.json
Due: yarn prettier --write
