Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore: research #12
  .github/actions/git/action.yml
Due: none

chore: research #12
  .github/actions/git/action.yml
  .github/workflows/release.yml
Due: none

chore: research #13
  .github/actions/git/action.yml
  .github/workflows/build.yml
  .github/workflows/integrations.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-ng.yml
Due: none

chore: research #14
  .github/workflows/release.yml
Due: none

chore: research #16
  .github/workflows/release.yml
Due: none

chore: research #17
  .github/workflows/release.yml
Due: none

chore: research #18
  .github/workflows/release.yml
Due: none

chore: research #19
  .github/workflows/release.yml
Due: none

ci: detect uncommitted [ci skip]
  .scripts/clean.ts
Due: yarn prettier --write, yarn eslint --fix

chore: research #20
  .github/workflows/autorebase.yml
  .github/workflows/label-when-approved.yml
  .github/workflows/release.yml
Due: none

chore: research #21
  .scripts/clean.ts
Due: yarn prettier --write, yarn eslint --fix

chore: research #22
  .github/actions/git/action.yml
Due: none

chore: research #23
  .github/actions/git/action.yml
  .github/workflows/release.yml
Due: none

chore: research #24
  .github/workflows/release.yml
Due: none

build: update dependency @types/karma to v6.3.2
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @commitlint/cli to v16.0.2
  dev-infra/commitlint/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore: research #25 [ci skip]
  .releaserc.json
  .versionrc.json
  dev-infra/dev-dependencies/package.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: pin dependencies
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(cdk): release version 12.45.3 [ci skip]
  .releaserc.json
  CHANGELOG.md
  nx.json
  package.json
  packages/cdk/project.json
Due: yarn prettier --write, yarn sort-package-json

feat(cdk): update styles
  CHANGELOG.md
  angular.json
  dev-infra/dev-dependencies/package.json
  nx.json
  packages/cdk/package.json
  packages/cdk/project.json
  packages/cdk/virtual-table/src/styles/cell.scss
  packages/cdk/virtual-table/src/styles/columns.scss
  packages/cdk/virtual-table/src/styles/common.scss
  packages/cdk/virtual-table/src/table-builder.component.scss
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(cdk): fix name
  packages/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: research #26
  .github/workflows/build.yml
  .github/workflows/integrations.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-ng.yml
  _angular.json
  dev-infra/typescript/project.json
  nx.json
  package.json
  packages/ngxs/project.json
  workspace.json
Due: yarn prettier --write, yarn sort-package-json

chore(ngxs): release version 12.32.2 [ci skip]
  packages/ngxs/CHANGELOG.md
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(ngxs): release version 0.0.1 [ci skip]
  packages/ngxs/CHANGELOG.md
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: research #27
  .github/workflows/release.yml
  packages/ngxs/package.json
  packages/ngxs/project.json
Due: yarn prettier --write, yarn sort-package-json

chore(ngxs): release version 0.0.2 [ci skip]
  packages/ngxs/CHANGELOG.md
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: research #28 [ci skip]
  package.json
  packages/ngxs/package.json
  packages/ngxs/project.json
Due: yarn prettier --write, yarn sort-package-json

chore(ngxs): release version 12.50.1 [ci skip]
  packages/ngxs/CHANGELOG.md
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: run prettier
  .prettierignore
  .versionrc.json
  README.md
  dev-infra/eslint-config-enterprise/scope/ignore-patterns.js
Due: yarn prettier --write

ci: update release.yml
  .github/workflows/release.yml
Due: none

ci: update nodejs action
  .github/actions/nodejs/action.yml
Due: none

ci: release.yml
  .github/workflows/release.yml
Due: none

chore(cdk): release version 0.0.1 [ci skip]
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(ngxs): release version 12.50.2 [ci skip]
  libs/ngxs/CHANGELOG.md
  libs/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: move typescript to libs
  .github/workflows/release.yml
  README.md
  dev-infra/typescript/project.json
  libs/cdk/package.json
  libs/ngxs/package.json
  libs/typescript/README.md
  libs/typescript/package.json
  libs/typescript/project.json
  libs/typescript/tsconfig.json
  tsconfig.json
Due: yarn prettier --write, yarn sort-package-json

ci: move typescript to libs
  workspace.json
Due: yarn prettier --write

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
