Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: add autoupdate.yml
  .github/workflows/autoupdate.yml
Due: none

ci: add autoupdate.yml (#631)
  .github/workflows/autoupdate.yml
Due: none

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/commitlint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

build: lock file maintenance
  yarn.lock
Due: none

fix(@angular-ru/ng-table-builder): fix selectedItems pipe
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/pipes/table-selected-items.pipe.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! fix(@angular-ru/ng-table-builder): fix selectedItems pipe
  packages/ng-table-builder/integration/tests/samples/lifecycle/lifecycle.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! fix(@angular-ru/ng-table-builder): fix selectedItems pipe
  packages/ng-table-builder/integration/tests/samples/lifecycle/lifecycle.spec.ts
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/ng-table-builder): fix selectedItems pipe (#636)
  packages/ng-table-builder/integration/tests/samples/lifecycle/lifecycle.spec.ts
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/pipes/table-selected-items.pipe.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: added filter-characters directive
  packages/common/directives/src/filter-characters/filter-characters.directive.ts
  packages/common/directives/src/filter-characters/filter-characters.module.ts
  packages/common/directives/src/public_api.ts
  packages/common/docs/directives.md
  packages/common/docs/utils.md
  packages/common/integration/tests/directives/filter-characters/filter-characters-dynamic.spec.ts
  packages/common/integration/tests/directives/filter-characters/filter-characters-form.spec.ts
  packages/common/integration/tests/directives/filter-characters/filter-characters-input.spec.ts
  packages/common/integration/tests/utils/filter-characters.spec.ts
  packages/common/utils/src/filter-characters.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-excel-builder): changed format
  packages/ng-excel-builder/src/excel-builder.service.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-excel-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: added eslint-plugin-i18n-json
  package.json
  packages/eslint-config/index.js
  packages/eslint-config/integration/assets/i18n/a/ru.json
  packages/eslint-config/integration/assets/i18n/a/ru.txt
  packages/eslint-config/integration/assets/i18n/ru.json
  packages/eslint-config/integration/assets/ru.json
  packages/eslint-config/package.json
  packages/ng-excel-builder/integration/app/assets/i18n/ru.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

refactor(common): changes after review
  packages/common/directives/src/filter-characters/filter-characters.directive.ts
  packages/common/integration/tests/directives/filter-characters/filter-characters-dynamic.spec.ts
  packages/common/integration/tests/directives/filter-characters/filter-characters-form.spec.ts
  packages/common/integration/tests/directives/filter-characters/filter-characters-input.spec.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: changes after review
  packages/common/directives/src/filter-characters/filter-characters.directive.ts
  packages/common/docs/utils.md
  packages/common/integration/tests/directives/filter-characters/filter-characters-dynamic.spec.ts
  packages/common/integration/tests/directives/filter-characters/filter-characters-form.spec.ts
  packages/common/integration/tests/directives/filter-characters/filter-characters-input.spec.ts
  packages/common/integration/tests/utils/filter-characters.spec.ts
  packages/common/string/src/filter-characters.ts
  packages/common/string/src/public_api.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

refactor(common): changes after review
  packages/common/directives/src/filter-characters/filter-characters.directive.ts
  packages/common/docs/directives.md
  packages/common/docs/utils.md
  packages/common/integration/tests/string/filter.spec.ts
  packages/common/integration/tests/utils/filter-characters.spec.ts
  packages/common/string/src/filter-characters.ts
  packages/common/string/src/filter.ts
  packages/common/string/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

refactor(eslint-config): changes after review
  package.json
  packages/eslint-config/index.js
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add Includes pipe
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/includes-pipe.spec.ts
  packages/common/pipes/src/includes/includes-pipe.module.ts
  packages/common/pipes/src/includes/includes.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): add Includes pipe
  packages/common/pipes/src/includes/includes.pipe.ts
Due: yarn prettier --write, yarn eslint --fix

build: update jest
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

refactor(common): changes after review
  packages/common/directives/src/filter-characters/filter-characters.directive.ts
  packages/common/docs/utils.md
  packages/common/integration/tests/directives/filter-characters/filter-characters-dynamic.spec.ts
  packages/common/integration/tests/directives/filter-characters/filter-characters-input.spec.ts
  packages/common/integration/tests/string/filter.spec.ts
  packages/common/string/src/filter.ts
Due: yarn prettier --write, yarn eslint --fix

fix(common): changed tests that brakes on Windows
  packages/common/integration/tests/number/number.spec.ts
  packages/common/integration/tests/pipes/number-format.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(common): add test for filtering with regexp
  packages/common/docs/directives.md
  packages/common/integration/tests/string/filter.spec.ts
  packages/common/string/src/filter.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add Includes pipe (#641)
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/includes-pipe.spec.ts
  packages/common/pipes/src/includes/includes-pipe.module.ts
  packages/common/pipes/src/includes/includes.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add transform-date-to-format
  packages/common/class-transformer/src/public_api.ts
  packages/common/class-transformer/src/transform-date-to-format.ts
  packages/common/integration/tests/class-transformer/class-transformer.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/common): add transform-date-to-format to readme
  packages/common/docs/class-transformer.md
Due: yarn prettier --write

feat: add transform-date-to-format (#646)
  packages/common/class-transformer/src/public_api.ts
  packages/common/class-transformer/src/transform-date-to-format.ts
  packages/common/docs/class-transformer.md
  packages/common/integration/tests/class-transformer/class-transformer.spec.ts
Due: yarn prettier --write, yarn eslint --fix

refactor(@angular-core/jwt): change decode-jwt signature
  packages/stream/integration/tests/browser/jwt.spec.ts
  packages/stream/jwt/src/decode-jwt.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! refactor(@angular-core/jwt): fix after review
  packages/stream/integration/tests/browser/jwt.spec.ts
  packages/stream/jwt/src/decode-jwt.ts
Due: yarn prettier --write, yarn eslint --fix

refactor(@angular-core/jwt): change decode-jwt signature (#647)
  packages/stream/integration/tests/browser/jwt.spec.ts
  packages/stream/jwt/src/decode-jwt.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/stream/package.json
Due: yarn prettier --write, yarn sort-package-json

docs: add ROADMAP.md
  ROADMAP.md
Due: yarn prettier --write

feat: refactor before integrate strict-boolean-expressions
  packages/common/array/src/unique-array-of.ts
  packages/common/class-transformer/src/transform-to-class.ts
  packages/common/class-transformer/src/transform-to-pretty-format.ts
  packages/common/coercion/package.json
  packages/common/coercion/src/coerce-boolean.ts
  packages/common/coercion/src/public_api.ts
  packages/common/date/src/shift-date/shift-date.ts
  packages/common/date/src/to-format-date-time.ts
  packages/common/date/src/to-format.ts
  packages/common/date/src/to-iso-string.ts
  packages/common/date/src/to-pretty-format.ts
  packages/common/date/src/to-timestamp.ts
  packages/common/decorators/src/attribute-boolean.ts
  packages/common/integration/tests/coercion/coercion.spec.ts
  packages/common/typings/src/input-boolean.ts
  packages/eslint-config/index.js
  packages/tooltip/src/tooltip.directive.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat: refactor before integrate strict-boolean-expressions (#650)
  packages/common/array/src/unique-array-of.ts
  packages/common/class-transformer/src/transform-to-class.ts
  packages/common/class-transformer/src/transform-to-pretty-format.ts
  packages/common/coercion/package.json
  packages/common/coercion/src/coerce-boolean.ts
  packages/common/coercion/src/public_api.ts
  packages/common/date/src/shift-date/shift-date.ts
  packages/common/date/src/to-format-date-time.ts
  packages/common/date/src/to-format.ts
  packages/common/date/src/to-iso-string.ts
  packages/common/date/src/to-pretty-format.ts
  packages/common/date/src/to-timestamp.ts
  packages/common/decorators/src/attribute-boolean.ts
  packages/common/integration/tests/coercion/coercion.spec.ts
  packages/common/typings/src/input-boolean.ts
  packages/eslint-config/index.js
  packages/tooltip/src/tooltip.directive.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/tooltip/package.json
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
