Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build(deps): update dependency rxjs to >=6.5.5
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): publish v12.23.0 [ci skip]
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: correct target build
  packages/logger/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(jest-utils): upgrade @types/jest
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(ng-table-builder): remove comments
  packages/ng-table-builder/src/public-api.ts
Due: yarn prettier --write, yarn eslint --fix

fix(logger): remove comments
  packages/logger/src/public-api.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish v12.24.0 [ci skip]
  CHANGELOG.md
  lerna.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: use ngcc after yarn install
  package.json
Due: yarn prettier --write, yarn sort-package-json

fix(logger): compat with Angular Ivy
  packages/logger/integration/app/tsconfig.app.json
  packages/logger/tsconfig.lib.json
Due: yarn prettier --write

feat: update ESLint
  packages/eslint-config/package.json
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(ng-table-builder): compat Ivy
  packages/ng-table-builder/integration/app/src/samples/sample-fifteen/sample-fifteen.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-night/sample-night.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-sixteen/sample-sixteen.component.ts
  packages/ng-table-builder/integration/app/src/shared/dialog-template/dialog-template.template.html
  packages/ng-table-builder/integration/app/src/shared/shared.module.ts
  packages/ng-table-builder/ng-package.json
  packages/ng-table-builder/src/components/common/column-options.ts
  packages/ng-table-builder/src/components/common/table-content.ts
  packages/ng-table-builder/src/components/ngx-column/ngx-column.component.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu-item/ngx-menu-content-place/ngx-menu-content.component.html
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu-item/ngx-menu-content-place/ngx-menu-content.component.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu.component.html
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu.component.ts
  packages/ng-table-builder/src/components/ngx-filter-viewer/ngx-filter-viewer.component.ts
  packages/ng-table-builder/src/components/ngx-filter/ngx-filter.component.html
  packages/ng-table-builder/src/components/table-cell/table-cell.component.html
  packages/ng-table-builder/src/components/table-tbody/table-tbody.component.html
  packages/ng-table-builder/src/components/table-tbody/table-tbody.component.ts
  packages/ng-table-builder/src/components/table-thead/table-thead.component.html
  packages/ng-table-builder/src/components/table-thead/table-thead.component.ts
  packages/ng-table-builder/src/directives/auto-height.directive.ts
  packages/ng-table-builder/src/directives/rows/template-cell.common.ts
  packages/ng-table-builder/src/directives/virtual-for.directive.ts
  packages/ng-table-builder/src/interfaces/table-builder.external.ts
  packages/ng-table-builder/src/interfaces/table-builder.internal.ts
  packages/ng-table-builder/src/pipes/deep-path.pipe.ts
  packages/ng-table-builder/src/public-api.ts
  packages/ng-table-builder/src/services/filterable/filter.worker.ts
  packages/ng-table-builder/src/services/filterable/filterable.interface.ts
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
  packages/ng-table-builder/src/table-builder.api.ts
  packages/ng-table-builder/src/table-builder.component.html
  packages/ng-table-builder/src/table-builder.component.ts
  packages/ng-table-builder/tsconfig.lib.json
Due: yarn prettier --write, yarn eslint --fix

chore: fixup eslint
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

chore: remove redundant copy
  packages/ng-table-builder/package.json
  packages/ng-table-builder/prepare.sh
Due: yarn prettier --write, yarn sort-package-json

update yarn.lock
  yarn.lock
Due: none

chore(release): publish v13.0.0 [ci skip]
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: async ngcc
  package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency intersection-observer to v0.11.0
  packages/ng-table-builder/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): publish v13.0.1 [ci skip]
  CHANGELOG.md
  lerna.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency @types/node to v14.0.14
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/jest to v26.0.2
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(eslint-config): remove deprecated rules
  packages/eslint-config/index.js
  packages/eslint-config/integration/tests/test.spec.ts
  packages/eslint-config/integration/tests/typescript.bad.ts
Due: yarn prettier --write, yarn eslint --fix

feat(tsconfig): add tslib as dependency
  package.json
  packages/tsconfig/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): publish v13.1.0 [ci skip]
  CHANGELOG.md
  lerna.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(jest-utils): upgrade ts-jest
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(logger): fixup linting errors
  packages/logger/src/decorators/autobind.decorator.ts
  packages/logger/src/interfaces/logger.external.ts
  packages/logger/src/logger.config.ts
  packages/logger/src/services/json-factory.service.ts
Due: yarn prettier --write, yarn eslint --fix

fix(ng-table-builder): support Angular 8
  packages/ng-table-builder/src/components/common/modal-view-layer.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.ts
  packages/ng-table-builder/src/components/table-cell/table-cell.component.ts
  packages/ng-table-builder/src/operators/get-valid-predicate.ts
  packages/ng-table-builder/src/services/template-parser/template-parser.service.ts
  packages/ng-table-builder/src/services/utils/utils.interface.ts
  packages/ng-table-builder/src/services/utils/utils.service.ts
Due: yarn prettier --write, yarn eslint --fix

fix(ng-table-builder): support Angular 8
  lerna.json
  packages/ng-table-builder/tsconfig.lib.json
  yarn.lock
Due: yarn prettier --write

!fixup
  packages/eslint-config/integration/tests/test.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update dependency @types/jest to v26.0.3
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): publish v13.2.0 [ci skip]
  CHANGELOG.md
  lerna.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(ng-table-builder): use any type for fields when filtering by definitions
  README.md
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
Due: yarn prettier --write, yarn eslint --fix

ci: update versions
  .gitignore
  yarn.lock
Due: none

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

docs: update compat info
  README.md
Due: yarn prettier --write

feat: update dependency eslint-plugin-import to v2.22.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
