Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: update dependency @commitlint/cli to v15
  dev-infra/commitlint/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @commitlint/config-angular to v15
  dev-infra/commitlint/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @commitlint/config-conventional to v15
  dev-infra/commitlint/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @ngx-translate/core to v14
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @ngx-translate/http-loader to v7
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: fix failed tests
  .github/workflows/build.yml
  dev-infra/eslint-config-enterprise/integration/tests/test.spec.ts
Due: yarn prettier --write, yarn eslint --fix

build: update all dependencies (minor/patch)
  dev-infra/dev-dependencies/package.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/jest to v27.0.3
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v16.11.9
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(eslint-config-enterprise): add no-extraneous-class rule
  dev-infra/eslint-config-enterprise/index.js
Due: yarn prettier --write

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lint-staged to v12.1.1
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lint-staged to v12.1.2
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency jest-preset-angular to v11.0.1
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update commitlint dependencies to v15
  dev-infra/commitlint/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency class-transformer to v0.5.1
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(eslint-config-enterprise): add spell check plugin
  dev-infra/eslint-config-enterprise/package.json
  packages/cdk/date/src/date-suggestion/strategies/date-suggestion-calendar-week.strategy.ts
  packages/cdk/date/src/date-suggestion/strategies/date-suggestion-first-day-of-interval.strategy.ts
  packages/cdk/date/src/date-suggestion/strategies/date-suggestion-last-days-of-interval.strategy.ts
  packages/cdk/date/src/date-suggestion/strategies/date-suggestion-last-few-days.strategy.ts
  packages/cdk/date/src/date-suggestion/strategies/date-suggestion-some-day-ago.strategy.ts
  packages/cdk/http/src/services/limit-concurrency.service.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(eslint-config-enterprise): add spell check plugin
  dev-infra/eslint-config-enterprise/package.json
  packages/cdk/date/src/date-suggestion/properties/default-suggestion-strategy-map.ts
  packages/cdk/date/src/date-suggestion/strategies/date-suggestion-calendar-week.strategy.ts
  packages/cdk/date/src/date-suggestion/strategies/date-suggestion-first-day-of-interval.strategy.ts
  packages/cdk/date/src/date-suggestion/strategies/date-suggestion-last-days-of-interval.strategy.ts
  packages/cdk/date/src/date-suggestion/strategies/date-suggestion-last-few-days.strategy.ts
  packages/cdk/date/src/date-suggestion/strategies/date-suggestion-some-day-ago.strategy.ts
  packages/cdk/http/src/services/limit-concurrency.service.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(eslint-config-enterprise): add spell check plugin
  dev-infra/eslint-config-enterprise/index.js
  dev-infra/eslint-config-enterprise/scope/base.js
  dev-infra/eslint-config-enterprise/scope/ignore-patterns.js
  dev-infra/eslint-config-enterprise/scope/spell-check.js
  dev-infra/jest/src/interfaces/jest-config-options.ts
  packages/cdk/date/src/public_api.ts
  packages/cdk/function/src/$args.ts
  packages/cdk/http/src/public_api.ts
  packages/cdk/integration/apps/cdk/src/samples/guide/guide.component.ts
  packages/cdk/integration/apps/excel/src/app.component.ts
  packages/cdk/integration/apps/virtual-table/src/samples/guide/guide.component.ts
  packages/cdk/integration/apps/virtual-table/src/samples/sample-eight/sample-eight.component.ts
  packages/cdk/integration/tests/jest/helpers/table-mock-data.ts
  packages/cdk/integration/tests/jest/validators/multi-validators.spec.ts
  packages/cdk/integration/tests/jest/validators/required-some-value-by-keys-validator.spec.ts
  packages/cdk/integration/tests/jest/validators/required-some-value-validator.spec.ts
  packages/cdk/integration/tests/jest/virtual-table/helpers/utils/mocks-generator.ts
  packages/cdk/ivy/src/utils/use-injector.ts
  packages/cdk/table-utils/src/table-clipboard/table-clipboard.service.ts
  packages/cdk/typings/src/ng-css-classes.ts
  packages/cdk/utils/src/generate-uid.ts
  packages/ngxs/decorators/src/data-action/data-action.ts
  packages/ngxs/integration/tests/storage-extensions/storage.spec.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

feat(eslint-config-enterprise): add spell check plugin
  dev-infra/eslint-config-enterprise/integration/tests/file-suites/typescript.bad.ts.lint.template
  dev-infra/eslint-config-enterprise/integration/tests/test.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(eslint-config-enterprise): add spell check plugin
  packages/cdk/http/src/data-http-client.module.ts
  packages/cdk/http/src/services/abstract-http.client.ts
  packages/cdk/http/src/services/data-http.client.ts
Due: yarn prettier --write, yarn eslint --fix

feat(typescript,jest): improved performance
  dev-infra/jest/src/constants/configurations.ts
  dev-infra/typescript/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/typescript/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update ngx-translate dependencies
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v16.11.10
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: added util replace-units
  packages/cdk/docs/utils.md
  packages/cdk/integration/tests/jest/utils/replace-units.spec.ts
  packages/cdk/utils/src/public_api.ts
  packages/cdk/utils/src/replace-units/properties.ts
  packages/cdk/utils/src/replace-units/replace-units.ts
  packages/cdk/utils/src/replace-units/types.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: changes after review
  packages/cdk/integration/tests/jest/regexp/regexp-constants.spec.ts
  packages/cdk/integration/tests/jest/utils/replace-units.spec.ts
  packages/cdk/regexp/src/constants.ts
  packages/cdk/regexp/src/public_api.ts
  packages/cdk/utils/src/replace-units/replace-units.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: fixed imports
  packages/cdk/utils/src/replace-units/replace-units.ts
Due: yarn prettier --write, yarn eslint --fix

feat: added util replace-with-numbers (#1110)
  packages/cdk/docs/utils.md
  packages/cdk/integration/tests/jest/regexp/regexp-constants.spec.ts
  packages/cdk/integration/tests/jest/utils/replace-units.spec.ts
  packages/cdk/regexp/src/constants.ts
  packages/cdk/regexp/src/public_api.ts
  packages/cdk/utils/src/public_api.ts
  packages/cdk/utils/src/replace-units/properties.ts
  packages/cdk/utils/src/replace-units/replace-units.ts
  packages/cdk/utils/src/replace-units/types.ts
Due: yarn prettier --write, yarn eslint --fix

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
