Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

chore: updated CHANGELOG.md [ci skip]
  CHANGELOG.md
Due: yarn prettier --write

docs: update README.md
  .github/workflows/build.yml
  .github/workflows/integrations.yml
  .github/workflows/test.yml
  README.md
  book.json
  docs/assets/limit-concurrency-5.png
  docs/assets/limit-concurrency-none.png
  docs/cdk/README.md
  docs/cdk/flex-layout.md
  docs/cdk/http.md
  docs/cdk/http/decorators.md
  docs/cdk/http/utils.md
  docs/cdk/logger.md
  docs/cdk/stream.md
  docs/cdk/tooltip.md
  docs/cdk/virtual-table.md
  libs/cdk/README.md
  libs/ngxs/README.md
Due: yarn prettier --write

chore(cdk): release version 12.60.1 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(jest): release version 12.59.1 [ci skip]
  libs/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(cdk): release version 12.60.2 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: bump
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(cdk): release version 12.60.3 [ci skip]
  package-lock.json
Due: yarn prettier --write

chore(cdk): release version 12.60.4 [ci skip]
  package-lock.json
Due: yarn prettier --write

chore: bump #3
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(cdk): release version 12.60.5 [ci skip]
  libs/cdk/CHANGELOG.md
Due: yarn prettier --write

chore: bump #4
  libs/cdk/CHANGELOG.md
Due: yarn prettier --write

chore(cdk): release version 12.60.6 [ci skip]
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: change release steps
  .github/workflows/release.yml
Due: none

ci: bump versions
  .github/workflows/release.yml
  libs/cdk/package.json
  libs/commitlint/package.json
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/package.json
  libs/eslint-plugin-enterprise/package.json
  libs/jest/package.json
  libs/ngxs/package.json
  libs/prettier/package.json
  libs/renovate/package.json
  libs/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: bump versions #4
  libs/cdk/package.json
  libs/cdk/project.json
  libs/commitlint/package.json
  libs/commitlint/project.json
  libs/dev-dependencies/package.json
  libs/dev-dependencies/project.json
  libs/eslint-config-enterprise/package.json
  libs/eslint-config-enterprise/project.json
  libs/eslint-plugin-enterprise/package.json
  libs/eslint-plugin-enterprise/project.json
  libs/jest/package.json
  libs/jest/project.json
  libs/ngxs/package.json
  libs/ngxs/project.json
  libs/prettier/package.json
  libs/prettier/project.json
  libs/renovate/package.json
  libs/renovate/project.json
  libs/typescript/package.json
  libs/typescript/project.json
Due: yarn prettier --write, yarn sort-package-json

ci: bump versions #5
  libs/cdk/package.json
  libs/commitlint/package.json
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/package.json
  libs/eslint-plugin-enterprise/package.json
  libs/jest/package.json
  libs/ngxs/package.json
  libs/prettier/package.json
  libs/renovate/package.json
  libs/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(cdk): release version 12.62.1 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 12.62.1 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(commitlint): release version 12.62.1 [ci skip]
  libs/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(typescript): release version 12.62.1 [ci skip]
  libs/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(prettier): release version 12.62.1 [ci skip]
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(renovate): release version 12.62.1 [ci skip]
  libs/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-plugin-enterprise): release version 12.62.1 [ci skip]
  libs/eslint-plugin-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(jest): release version 12.62.1 [ci skip]
  libs/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(ngxs): release version 12.62.1 [ci skip]
  libs/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-config-enterprise): release version 12.62.1 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(eslint-config-enterprise): add better-regex
  README.md
  apps/cdk-demo/src/samples/guide/properties/constants.ts
  docs/SUMMARY.md
  docs/introduction/intro.md
  libs/cdk/big-decimal/src/js-big-decimal/big-decimal.ts
  libs/cdk/date/src/date-string-to-date.ts
  libs/cdk/directives/src/split-string/split-string.directive.ts
  libs/cdk/function/src/$args.ts
  libs/cdk/http/utils/src/ensure-path-by-path-variables.ts
  libs/cdk/logger/src/logger.config.ts
  libs/cdk/regexp/src/constants.ts
  libs/cdk/stream/src/encode-unicode-to-base64.ts
  libs/cdk/tests/directives/filter/filter-config.spec.ts
  libs/cdk/tests/directives/filter/filter-input.spec.ts
  libs/cdk/tests/directives/filter/filter-simple-input.spec.ts
  libs/cdk/tests/stream/jwt.spec.ts
  libs/cdk/tests/string/filter.spec.ts
  libs/cdk/utils/src/replace-units/replace-units.ts
  libs/cdk/virtual-table/src/components/ngx-filter-viewer/ngx-filter-viewer.component.ts
  libs/cdk/virtual-table/src/directives/auto-height.directive.ts
  libs/eslint-config-enterprise/modules/unicorn.js
Due: yarn prettier --write, yarn eslint --fix

feat(eslint-config-enterprise): add consistent-destructuring
  .github/workflows/lint.yml
  .github/workflows/release.yml
  libs/cdk/package.json
  libs/cdk/virtual-table/src/abstract-table-builder-api.directive.ts
  libs/cdk/virtual-table/src/services/template-parser/template-parser.service.ts
  libs/cdk/virtual-table/src/table-builder.component.ts
  libs/commitlint/package.json
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/modules/unicorn.js
  libs/eslint-config-enterprise/package.json
  libs/eslint-plugin-enterprise/package.json
  libs/jest/package.json
  libs/ngxs/package.json
  libs/prettier/package.json
  libs/renovate/package.json
  libs/typescript/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(cdk): release version 12.64.0 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 12.64.0 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(commitlint): release version 12.64.0 [ci skip]
  libs/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(typescript): release version 12.64.0 [ci skip]
  libs/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(prettier): release version 12.64.0 [ci skip]
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(renovate): release version 12.64.0 [ci skip]
  libs/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-plugin-enterprise): release version 12.64.0 [ci skip]
  libs/eslint-plugin-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json
