Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: correct ignore pattern
  package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update RxJS to v7
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fixup! feat(@angular-ru/ng-table-builder): add scrolling buffer
  packages/ng-table-builder/src/directives/observer-view.directive.ts
  packages/ng-table-builder/src/table-builder.component.html
Due: yarn prettier --write, yarn eslint --fix

ci: add @schirbak as codeowner
  .github/CODEOWNERS
Due: none

feat(@angular-ru/ng-table-builder): add scrolling buffer (#595)
  packages/ng-table-builder/src/directives/observer-view.directive.ts
  packages/ng-table-builder/src/table-builder.component.html
Due: yarn prettier --write, yarn eslint --fix

ci: add @schirbak as codeowner (#598)
  .github/CODEOWNERS
Due: none

build(@angular-ru/eslint): separate tsconfig files (#594)
  .gitignore
  package.json
  packages/eslint-config/integration/tests/file-suites/module/a1.ts
  packages/eslint-config/integration/tests/file-suites/module/b1.ts
  packages/eslint-config/integration/tests/file-suites/module/c1.ts
  packages/eslint-config/integration/tests/file-suites/module/deep/deep/deep/deep/deep/deep/deeeeeeeeeeeeeeeeeeep/deeeeeeeeeeeeeeeeeeep/deeeeeeeeeeeeeeeeeeep/example-deep.ts
  packages/eslint-config/integration/tests/file-suites/typescript.bad.ts
  packages/eslint-config/integration/tests/file-suites/typescript.good.ts
  packages/eslint-config/integration/tests/test.spec.ts
  packages/eslint-config/jest.config.js
  packages/eslint-config/package.json
  packages/eslint-config/setup-jest.ts
  packages/eslint-config/test.sh
  packages/eslint-config/tsconfig.base.json
  packages/eslint-config/tsconfig.json
  packages/eslint-config/tsconfig.spec.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

refactor: changes after code review
  packages/common/directives/src/amount-format/amount-format.directive.ts
  packages/common/integration/tests/directives/amount-format.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/eslint-config): use no-suffix-file rule
  packages/eslint-config/index.js
  packages/eslint-config/integration/tests/file-suites/file-pattern/my-interface/my-all.interfaces.ts
  packages/eslint-config/integration/tests/file-suites/file-pattern/my-interface/my.interface.ts
  packages/eslint-config/integration/tests/test.spec.ts
  packages/eslint-config/package.json
  packages/eslint-plugin/README.md
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/interfaces/eslint-rules.ts
  packages/eslint-plugin/src/rules/no-enum-suffix-rule.ts
  packages/eslint-plugin/src/rules/no-model-suffix-rule.ts
  packages/eslint-plugin/src/rules/no-siffix-file/no-suffix-file-options.ts
  packages/eslint-plugin/src/rules/no-siffix-file/no-suffix-file.ts
  packages/eslint-plugin/src/rules/no-siffix-file/no-suffix-schema.ts
  packages/eslint-plugin/src/utils/get-options.ts
  packages/eslint-plugin/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(@angular-ru/eslint-plugin): add custom eslint rules for projects (#535)
  README.md
  packages/common/symlink.sh
  packages/common/typings/src/keyboard.ts
  packages/common/typings/src/public_api.ts
  packages/eslint-config/index.js
  packages/eslint-config/integration/tests/file-suites/file-pattern/my-interface/my-all.interfaces.ts
  packages/eslint-config/integration/tests/file-suites/file-pattern/my-interface/my.interface.ts
  packages/eslint-config/integration/tests/file-suites/file-pattern/my/my-correct.ts
  packages/eslint-config/integration/tests/file-suites/file-pattern/my/my.model.ts
  packages/eslint-config/integration/tests/file-suites/file-pattern/own/own-correct.ts
  packages/eslint-config/integration/tests/file-suites/file-pattern/own/own.enum.ts
  packages/eslint-config/integration/tests/test.spec.ts
  packages/eslint-config/package.json
  packages/eslint-plugin/README.md
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/interfaces/eslint-rules.ts
  packages/eslint-plugin/src/rules/no-siffix-file/no-suffix-file-options.ts
  packages/eslint-plugin/src/rules/no-siffix-file/no-suffix-file.ts
  packages/eslint-plugin/src/rules/no-siffix-file/no-suffix-schema.ts
  packages/eslint-plugin/src/utils/file-ends-with.ts
  packages/eslint-plugin/src/utils/get-options.ts
  packages/eslint-plugin/symlink.sh
  packages/eslint-plugin/tsconfig.json
  packages/http/typings/src/enums/http-method.ts
  packages/http/typings/src/enums/http-status-code.ts
  packages/http/typings/src/enums/request-type.ts
  packages/http/typings/src/interfaces/internal/ensure-decorator-options.ts
  packages/http/typings/src/public_api.ts
  packages/logger/integration/tests/console-format-api.spec.ts
  packages/logger/integration/tests/console-group-api.spec.ts
  packages/logger/integration/tests/helpers/custom-colors.ts
  packages/stream/src/compress.ts
  packages/stream/src/decompress.ts
  packages/stream/src/encoding-type.ts
  packages/stream/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/http/package.json
  packages/stream/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/ng-table-builder): decomposition interfaces
  packages/ng-table-builder/src/components/ngx-column/ngx-column.component.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu.component.ts
  packages/ng-table-builder/src/components/ngx-filter/ngx-filter.component.ts
  packages/ng-table-builder/src/components/ngx-footer/ngx-footer.component.ts
  packages/ng-table-builder/src/components/ngx-header/ngx-header.component.ts
  packages/ng-table-builder/src/components/ngx-options/ngx-options.component.ts
  packages/ng-table-builder/src/directives/abstract-modal-view-layer.directive.ts
  packages/ng-table-builder/src/directives/column-options.directive.ts
  packages/ng-table-builder/src/directives/ngx-filter.directive.ts
  packages/ng-table-builder/src/directives/table-content.directive.ts
  packages/ng-table-builder/src/public_api.ts
  packages/ng-table-builder/src/services/template-parser/template-parser.service.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/jest-utils/package.json
  packages/ng-table-builder/package.json
  packages/tooltip/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/prettier-config): upgrade prettier
  packages/common/integration/tests/array/update-array.spec.ts
  packages/common/integration/tests/ivy/ivy-utils.spec.ts
  packages/common/object/src/get-value-by-path.ts
  packages/common/pipes/src/mutable/mutable-type.pipe.ts
  packages/eslint-config/index.js
  packages/http/decorators/src/internal/ensure-descriptor-by-type.ts
  packages/http/integration/tests/helpers/http-mock-interceptor.ts
  packages/jest-utils/src/utils/create-ts-jest-config.ts
  packages/logger/src/logger.config.ts
  packages/logger/src/services/factory.service.ts
  packages/ng-excel-builder/src/excel.service.ts
  packages/ng-table-builder/integration/tests/helpers/utils/mocks-generator.ts
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu.component.ts
  packages/ng-table-builder/src/components/table-thead/table-thead.component.ts
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
  packages/ng-table-builder/src/table-builder.component.ts
  packages/stream/jwt/src/decode-jwt.ts
  packages/tooltip/integration/app/src/samples/guide/guide.component.ts
  packages/websocket/src/services/abstract-websocket.client.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/prettier-config/package.json
  packages/stream/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): refactor amountFormat (#554)
  BREAKING_CHANGES.md
  packages/common/directives/src/amount-format/amount-format-directive.module.ts
  packages/common/directives/src/amount-format/amount-format.directive.ts
  packages/common/directives/src/amount-format/amount-format.module.ts
  packages/common/directives/src/amount-format/amount-format.properties.ts
  packages/common/directives/src/amount-format/amount-options.ts
  packages/common/directives/src/public_api.ts
  packages/common/docs/directives.md
  packages/common/integration/tests/directives/amount-format.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/eslint-config): add decorated fields order
  packages/eslint-config/index.js
  packages/ng-table-builder/src/components/table-tbody/table-tbody.component.ts
  packages/ng-table-builder/src/directives/abstract-modal-view-layer.directive.ts
  packages/ng-table-builder/src/directives/rows/abstract-template-cell-common.directive.ts
  packages/ng-table-builder/src/services/sortable/sort.worker.ts
  packages/ng-table-builder/src/table-builder.component.ts
  packages/tooltip/src/tooltip.directive.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): remove deprecated modules
  BREAKING_CHANGES.md
  packages/common/directives/src/amount-format/amount-format.module.ts
  packages/common/directives/src/max-length/max-length.directive.ts
  packages/common/directives/src/max-length/max-length.module.ts
  packages/common/directives/src/public_api.ts
  packages/common/integration/tests/directives/amount-format.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): remove deprecated modules (#601)
  BREAKING_CHANGES.md
  packages/common/directives/src/amount-format/amount-format.module.ts
  packages/common/directives/src/max-length/max-length.directive.ts
  packages/common/directives/src/max-length/max-length.module.ts
  packages/common/directives/src/public_api.ts
  packages/common/integration/tests/directives/amount-format.spec.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/tsconfig): add noUncheckedIndexedAccess
  packages/common/array/src/partition.ts
  packages/common/array/src/update-array.ts
  packages/common/forms/src/control-value-interceptor.ts
  packages/common/function/src/$args.ts
  packages/common/object/src/get-value-by-path.ts
  packages/common/tsconfig.base.json
  packages/flex-layout/tsconfig.json
  packages/http/tsconfig.json
  packages/logger/src/logger.options.ts
  packages/logger/src/services/css-factory.service.ts
  packages/logger/src/services/group-factory.service.ts
  packages/logger/tsconfig.json
  packages/ng-excel-builder/tsconfig.json
  packages/ng-table-builder/integration/app/src/samples/sample-eight/sample-eight.component.ts
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/directives/observer-view.directive.ts
  packages/ng-table-builder/src/directives/virtual-for.directive.ts
  packages/ng-table-builder/src/pipes/table-selected-items.pipe.ts
  packages/ng-table-builder/src/services/draggable/draggable.service.ts
  packages/ng-table-builder/src/services/filterable/filter.worker.ts
  packages/ng-table-builder/src/services/selection/selection-range.ts
  packages/ng-table-builder/src/services/selection/selection.service.ts
  packages/ng-table-builder/src/services/sortable/sort.worker.ts
  packages/ng-table-builder/src/services/sortable/sortable.service.ts
  packages/ng-table-builder/src/services/template-parser/template-parser.service.ts
  packages/ng-table-builder/src/table-builder.component.ts
  packages/ng-table-builder/tsconfig.json
  packages/stream/tsconfig.json
  packages/tooltip/tsconfig.json
  packages/tsconfig/tsconfig.json
  packages/websocket/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix

fix: set localIndex as string
  packages/common/integration/tests/object/object.spec.ts
  packages/common/object/src/get-value-by-path.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/tsconfig): add noUncheckedIndexedAccess (#602)
  packages/common/array/src/partition.ts
  packages/common/array/src/update-array.ts
  packages/common/forms/src/control-value-interceptor.ts
  packages/common/function/src/$args.ts
  packages/common/integration/tests/object/object.spec.ts
  packages/common/object/src/get-value-by-path.ts
  packages/common/tsconfig.base.json
  packages/flex-layout/tsconfig.json
  packages/http/tsconfig.json
  packages/logger/src/logger.options.ts
  packages/logger/src/services/css-factory.service.ts
  packages/logger/src/services/group-factory.service.ts
  packages/logger/tsconfig.json
  packages/ng-excel-builder/tsconfig.json
  packages/ng-table-builder/integration/app/src/samples/sample-eight/sample-eight.component.ts
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/directives/observer-view.directive.ts
  packages/ng-table-builder/src/directives/virtual-for.directive.ts
  packages/ng-table-builder/src/pipes/table-selected-items.pipe.ts
  packages/ng-table-builder/src/services/draggable/draggable.service.ts
  packages/ng-table-builder/src/services/filterable/filter.worker.ts
  packages/ng-table-builder/src/services/selection/selection-range.ts
  packages/ng-table-builder/src/services/selection/selection.service.ts
  packages/ng-table-builder/src/services/sortable/sort.worker.ts
  packages/ng-table-builder/src/services/sortable/sortable.service.ts
  packages/ng-table-builder/src/services/template-parser/template-parser.service.ts
  packages/ng-table-builder/src/table-builder.component.ts
  packages/ng-table-builder/tsconfig.json
  packages/stream/tsconfig.json
  packages/tooltip/tsconfig.json
  packages/tsconfig/tsconfig.json
  packages/websocket/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-table-builder): add undefined type
  packages/ng-table-builder/src/components/ngx-column/ngx-column.component.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.ts
  packages/ng-table-builder/src/directives/column-options.directive.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/stream/package.json
  packages/tooltip/package.json
  packages/tsconfig/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

fix: fixup interfaces
  packages/ng-table-builder/src/interfaces/table-builder.external.ts
  packages/ng-table-builder/src/operators/get-valid-html-boolean-attribute.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-table-builder): add undefined type (#603)
  packages/ng-table-builder/src/components/ngx-column/ngx-column.component.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.ts
  packages/ng-table-builder/src/directives/column-options.directive.ts
  packages/ng-table-builder/src/interfaces/table-builder.external.ts
  packages/ng-table-builder/src/operators/get-valid-html-boolean-attribute.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/tsconfig): strict angular templates
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write

feat(@angular-ru/eslint-config): add no-cycle dependencies rule
  packages/eslint-config/index.js
  packages/eslint-config/integration/tests/file-suites/circular/module-a.ts
  packages/eslint-config/integration/tests/file-suites/circular/module-b.ts
  packages/eslint-config/integration/tests/test.spec.ts
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(@angular-ru/tsconfig): strict angular templates (#604)
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write

feat(@angular-ru/tsconfig): enable useDefineForClassFields
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-table-builder/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

refactor(@angular-ru/http): tsconfig files
  packages/common/integration/tests/decorators/attribute-boolean.spec.ts
  packages/http/tsconfig.app.json
  packages/http/tsconfig.base.json
  packages/http/tsconfig.json
  packages/http/tsconfig.lib.json
  packages/http/tsconfig.spec.json
Due: yarn prettier --write, yarn eslint --fix

revert: enable useDefineForClassFields
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write

feat(@angular-ru/tsconfig): enable useDefineForClassFields (#606)
  packages/common/integration/tests/decorators/attribute-boolean.spec.ts
  packages/http/tsconfig.app.json
  packages/http/tsconfig.base.json
  packages/http/tsconfig.json
  packages/http/tsconfig.lib.json
  packages/http/tsconfig.spec.json
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/http/package.json
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
