Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

feat(@angular-ru/common): add decorator AttributeBoolean
  packages/common/decorators/package.json
  packages/common/decorators/src/attribute-boolean.ts
  packages/common/decorators/src/public_api.ts
  packages/common/docs/decorators.md
  packages/common/integration/tests/decorators/attribute-boolean.spec.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(@angular-ru/common): add DateRange interface (#511)
  packages/common/date/src/date-range.interface.ts
  packages/common/date/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

other: update lerna.json
  lerna.json
Due: yarn prettier --write

fixup! feat(@angular-ru/common): add decorator AttributeBoolean
  packages/common/decorators/src/attribute-boolean.ts
  packages/common/docs/decorators.md
  packages/common/integration/tests/decorators/attribute-boolean.spec.ts
  packages/common/typings/src/input-boolean.ts
  packages/common/typings/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): add decorator AttributeBoolean
  packages/common/docs/decorators.md
  packages/common/integration/tests/decorators/attribute-boolean.spec.ts
Due: yarn prettier --write, yarn eslint --fix

ci: update lerna.json
  lerna.json
Due: yarn prettier --write

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependencies to v12.1.1
  packages/commitlint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/commitlint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): support custom primaryKey in idsMapOf
  packages/common/docs/entity.md
  packages/common/entity/src/typings/ids-map-of.ts
  packages/common/entity/src/utils/create-ids-map-of.ts
  packages/common/integration/tests/entity/entity.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add SplitString directive
  packages/common/directives/src/public_api.ts
  packages/common/directives/src/split-string/split-string-options.interface.ts
  packages/common/directives/src/split-string/split-string.directive.ts
  packages/common/directives/src/split-string/split-string.module.ts
  packages/common/docs/directives.md
  packages/common/integration/tests/directives/split-string.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): add SplitString directive
  packages/common/docs/directives.md
Due: yarn prettier --write

feat(@angular-ru/common): add SplitString directive (#512)
  packages/common/directives/src/public_api.ts
  packages/common/directives/src/split-string/split-string-options.interface.ts
  packages/common/directives/src/split-string/split-string.directive.ts
  packages/common/directives/src/split-string/split-string.module.ts
  packages/common/docs/directives.md
  packages/common/integration/tests/directives/split-string.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update ESLint to v4.21.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: added util for filtering array 'unique'
  packages/common/array/src/public_api.ts
  packages/common/array/src/unique.ts
  packages/common/docs/array.md
  packages/common/integration/tests/array/unique.spec.ts
  packages/common/integration/tests/date/end-of-day.spec.ts
  packages/common/integration/tests/date/shift-date.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common/utils): add downloadFile utility
  packages/common/docs/utils.md
  packages/common/utils/src/download-file.ts
  packages/common/utils/src/public_api.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
Due: yarn prettier --write, yarn eslint --fix

fixup!(@angular-ru/common/utils): review refactor
  packages/common/utils/src/download-file.ts
Due: yarn prettier --write, yarn eslint --fix

build(deps): update dependency eslint to v7.24.0
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/karma to v6.3.0
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency jasmine-spec-reporter to v7
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint to v2.1.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/eslint-config): max-classes-per-file as 1
  packages/common/integration/tests/forms/helpers/sync-control-directives.ts
  packages/common/integration/tests/ivy/helpers/test-default.ts
  packages/common/integration/tests/ivy/helpers/test-extending.ts
  packages/common/integration/tests/ivy/helpers/test-token.ts
  packages/eslint-config/index.js
  packages/eslint-config/integration/tests/test.spec.ts
  packages/eslint-config/integration/tests/typescript.bad.ts
  packages/eslint-config/integration/tests/typescript.good.ts
  packages/ng-table-builder/integration/tests/helpers/utils/mocks-generator.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup feat(@angular-ru/eslint-config): max-classes-per-file as 1
  packages/common/integration/tests/ivy/ivy-utils.spec.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add KeysOfType type function
  packages/common/docs/typings.md
  packages/common/typings/src/keys-of-type.ts
  packages/common/typings/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add FormatDatePipe
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/filter-unique.pipe.spec.ts
  packages/common/pipes/src/filter-unique/filter-unique-pipe.module.ts
  packages/common/pipes/src/filter-unique/filter-unique.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add FilterUniquePipe (#526)
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/filter-unique.pipe.spec.ts
  packages/common/pipes/src/filter-unique/filter-unique-pipe.module.ts
  packages/common/pipes/src/filter-unique/filter-unique.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fixup!(@angular-ru/common/utils): add tests
  packages/common/integration/tests/utils/utils.spec.ts
Due: yarn prettier --write, yarn eslint --fix
