Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

ci: update
  libs/cdk/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): v18.3.0
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update
  .github/workflows/release.yml
Due: none

ci: update
  .github/workflows/release.yml
  .release-it.json
  libs/cdk/package.json
  libs/ngxs/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): v18.4.0
  package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update
  .github/workflows/renovate.yml
  libs/cdk/package.json
  libs/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update
  .github/workflows/release.yml
  libs/ngxs/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): v18.5.0
  package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update
  .release-it.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): v18.6.0
  libs/cdk/package.json
  libs/ngxs/package.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): v18.7.0
  libs/cdk/package.json
  libs/ngxs/package.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

fix(ngxs): upgrade to NGXS 18.1.3
  libs/ngxs/decorators/data-action/data-action.ts
  libs/ngxs/internals/services/ngxs-data-factory.service.ts
  libs/ngxs/internals/services/ngxs-data-injector.service.ts
  libs/ngxs/internals/utils/state-context/create-context.ts
  libs/ngxs/package.json
  libs/ngxs/storage/utils/rehydrate.ts
  libs/ngxs/testing/platform/ngxs-data-testing.module.ts
  libs/ngxs/testing/platform/ngxs-platform.ts
  libs/ngxs/tests/common-extensions/action-decorator.spec.ts
  libs/ngxs/tests/common-extensions/state-context.spec.ts
  libs/ngxs/tests/entity/primary-key-or-unique-id.spec.ts
  libs/ngxs/tests/inheritance-extensions/children.spec.ts
  libs/ngxs/typings/common/data-state-class.ts
  libs/ngxs/typings/common/mapped-state.ts
  libs/ngxs/typings/common/mapped-store.ts
  libs/ngxs/typings/common/state-factory.ts
  libs/ngxs/typings/index.ts
  package-lock.json
  package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

fix(ngxs): upgrade to NGXS 18.1.3 (#1527)
  libs/ngxs/decorators/data-action/data-action.ts
  libs/ngxs/internals/services/ngxs-data-factory.service.ts
  libs/ngxs/internals/services/ngxs-data-injector.service.ts
  libs/ngxs/internals/utils/state-context/create-context.ts
  libs/ngxs/package.json
  libs/ngxs/storage/utils/rehydrate.ts
  libs/ngxs/testing/platform/ngxs-data-testing.module.ts
  libs/ngxs/testing/platform/ngxs-platform.ts
  libs/ngxs/tests/common-extensions/action-decorator.spec.ts
  libs/ngxs/tests/common-extensions/state-context.spec.ts
  libs/ngxs/tests/entity/primary-key-or-unique-id.spec.ts
  libs/ngxs/tests/inheritance-extensions/children.spec.ts
  libs/ngxs/typings/common/data-state-class.ts
  libs/ngxs/typings/common/mapped-state.ts
  libs/ngxs/typings/common/mapped-store.ts
  libs/ngxs/typings/common/state-factory.ts
  libs/ngxs/typings/index.ts
  package-lock.json
  package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): v18.8.0
  libs/cdk/package.json
  libs/ngxs/package.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore(ngxs-demo): fix "Person State" demo
  apps/ngxs-demo/assets/person.json
  apps/ngxs-demo/src/person/person.service.ts
Due: yarn prettier --write, yarn eslint --fix

chore(ngxs-demo): fix "Person State" demo (#1528)
  apps/ngxs-demo/assets/person.json
  apps/ngxs-demo/src/person/person.service.ts
Due: yarn prettier --write, yarn eslint --fix

fix(ngxs): upgrade to NGXS 18.1.5
  libs/ngxs/ngxs-data.module.ts
  libs/ngxs/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

fix(ngxs): upgrade to NGXS 18.1.5 (#1529)
  libs/ngxs/ngxs-data.module.ts
  libs/ngxs/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): v18.9.0
  libs/cdk/package.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

fix(ngxs): upgrade to NGXS 18.1.6
  libs/ngxs/internals/services/ngxs-data-factory.service.ts
  libs/ngxs/package.json
  libs/ngxs/typings/common/state-factory.ts
  package-lock.json
  package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

fix(ngxs): upgrade to NGXS 18.1.6 (#1530)
  libs/ngxs/internals/services/ngxs-data-factory.service.ts
  libs/ngxs/package.json
  libs/ngxs/typings/common/state-factory.ts
  package-lock.json
  package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): v18.10.0
  libs/cdk/package.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

fix: introduce Angular v20 compatibility by removing "InjectFlags" usage
  libs/cdk/date/date-suggestion/date-suggestion.composer.ts
  libs/cdk/ivy/utils/injection-utils.ts
  libs/cdk/tests/ivy/injection-utils.spec.ts
  libs/ngxs/decorators/data-action/data-action.ts
Due: yarn prettier --write, yarn eslint --fix

fix: introduce Angular v20 compatibility by removing "InjectFlags" usage (#1532)
  libs/cdk/date/date-suggestion/date-suggestion.composer.ts
  libs/cdk/ivy/utils/injection-utils.ts
  libs/cdk/tests/ivy/injection-utils.spec.ts
  libs/ngxs/decorators/data-action/data-action.ts
Due: yarn prettier --write, yarn eslint --fix

chore: update
  .github/workflows/release.yml
Due: none

chore(release): v18.11.0
  libs/cdk/package.json
  libs/ngxs/package.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore: output() function migration
  libs/cdk/virtual-table/abstract-table-builder-api.directive.ts
  libs/cdk/virtual-table/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.ts
  libs/cdk/virtual-table/components/ngx-header/ngx-header.component.ts
  libs/cdk/virtual-table/components/table-tbody/table-tbody.component.ts
  libs/cdk/virtual-table/components/table-thead/table-thead.component.ts
  libs/cdk/virtual-table/directives/auto-height.directive.ts
  libs/cdk/virtual-table/directives/observer-view.directive.ts
  libs/cdk/virtual-table/directives/rows/abstract-template-cell-common.directive.ts
  libs/cdk/virtual-table/interfaces/table-builder.external.ts
  libs/cdk/virtual-table/services/sortable/sortable.service.ts
  libs/cdk/virtual-table/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

chore: fix sass deprecation warning
  libs/cdk/virtual-table/styles/columns.scss
Due: yarn prettier --write

chore: signal queries migration
  apps/virtual-table-demo/src/samples/sample-fourteen/sample-fourteen.component.ts
  libs/cdk/tests/virtual-table/samples/lifecycle/lifecycle.spec.ts
  libs/cdk/virtual-table/abstract-table-builder-api.directive.ts
  libs/cdk/virtual-table/components/ngx-column/ngx-column.component.ts
  libs/cdk/virtual-table/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.ts
  libs/cdk/virtual-table/components/ngx-filter/ngx-filter.component.ts
  libs/cdk/virtual-table/directives/abstract-modal-view-layer.directive.ts
  libs/cdk/virtual-table/services/template-parser/template-parser.service.ts
  libs/cdk/virtual-table/table-builder.component.html
  libs/cdk/virtual-table/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

chore(virtual-table-demo): minor virtual table demo fixes
  apps/virtual-table-demo/src/samples/sample-eight/sample-eight.component.html
  apps/virtual-table-demo/src/samples/sample-thirteen/sample-thirteen.component.html
Due: yarn prettier --write

chore: self-closing tags migration
  libs/cdk/tests/virtual-table/helpers/mocks/simple-mock.component.ts
  libs/cdk/virtual-table/components/ngx-empty/ngx-empty.component.ts
  libs/cdk/virtual-table/components/ngx-source-null/ngx-source-null.component.ts
Due: yarn prettier --write, yarn eslint --fix

chore(virtual-table-demo): form layout improvements and some other minor fixes
  apps/ngxs-demo/src/app.config.ts
  apps/ngxs-demo/src/article/dialog/article-dialog.component.html
  apps/ngxs-demo/src/article/dialog/article-dialog.component.ts
  apps/virtual-table-demo/src/app.config.ts
  apps/virtual-table-demo/src/samples/sample-first/sample-first.component.html
  apps/virtual-table-demo/src/samples/sample-first/sample-first.component.ts
  apps/virtual-table-demo/src/samples/sample-fourteen/context-menu-sample/context-menu-sample.component.html
  apps/virtual-table-demo/src/samples/sample-fourteen/sample-fourteen.component.html
  apps/virtual-table-demo/src/samples/sample-fourteen/sample-fourteen.component.ts
  apps/virtual-table-demo/src/samples/sample-night/sample-night.component.html
  apps/virtual-table-demo/src/samples/sample-twelve/sample-twelve.component.html
  apps/virtual-table-demo/src/shared/dialog-template/dialog-template.component.ts
  apps/virtual-table-demo/src/shared/dialog-template/dialog-template.template.html
  apps/virtual-table-demo/styles.scss
Due: yarn prettier --write, yarn eslint --fix

fix(cdk): virtual table now correctly rerenders after setting sort types manually multiple times
  libs/cdk/virtual-table/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix
