Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat: update dependency @types/jest to v26.0.9
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency tslib to v2.0.1
  packages/tsconfig/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency jest to v26.3.0
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint to v3.9.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add detectChanges util
  packages/common/README.md
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/utils/src/detect-changes.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-table-builder): refactor use detectChanges from @angular-ru/common
  packages/ng-table-builder/integration/app/src/samples/sample-eight/sample-eight.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-first-second/sample-first-second.component.ts
  packages/ng-table-builder/src/components/common/abstract-modal-view-layer.directive.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu.component.ts
  packages/ng-table-builder/src/components/ngx-filter-viewer/ngx-filter-viewer.component.ts
  packages/ng-table-builder/src/components/ngx-filter/ngx-filter.component.ts
  packages/ng-table-builder/src/directives/virtual-for.directive.ts
  packages/ng-table-builder/src/operators/detect-changes.ts
  packages/ng-table-builder/src/table-builder.api.ts
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

docs: update package.json for @angular-ru/common
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency ts-jest to v26.2.0
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add fadeIn* animations
  packages/common/README.md
  packages/common/animations/package.json
  packages/common/animations/src/fade-in-bezier.animation.ts
  packages/common/animations/src/fade-in-linear.animation.ts
  packages/common/animations/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(@angular-ru/common): add stringify util
  packages/common/README.md
  packages/common/integration/tests/string/string.spec.ts
  packages/common/string/src/public_api.ts
  packages/common/string/src/stringify.ts
Due: yarn prettier --write, yarn eslint --fix

refactor(@angular-ru/ng-table-builder): use fadeInAnimation from @angular-ru/common
  packages/ng-table-builder/integration/app/src/samples/sample-eleven/sample-eleven.component.ts
  packages/ng-table-builder/src/animations/fade.animation.ts
  packages/ng-table-builder/src/components/ngx-filter/ngx-filter.component.html
  packages/ng-table-builder/src/components/ngx-filter/ngx-filter.component.ts
  packages/ng-table-builder/src/components/table-thead/table-thead.component.html
  packages/ng-table-builder/src/components/table-thead/table-thead.component.ts
  packages/ng-table-builder/src/directives/rows/abstract-template-cell-common.directive.ts
  packages/ng-table-builder/src/directives/rows/template-body-td.directive.ts
  packages/ng-table-builder/src/directives/rows/template-head-th.directive.ts
  packages/ng-table-builder/src/pipes/deep-path.pipe.ts
  packages/ng-table-builder/src/pipes/default-value.pipe.ts
  packages/ng-table-builder/src/pipes/disable-row.pipe.ts
  packages/ng-table-builder/src/pipes/selected-items.pipe.ts
  packages/ng-table-builder/src/services/template-parser/template-parser.service.ts
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add http package
  packages/common/README.md
  packages/common/http/package.json
  packages/common/http/src/is-localhost.ts
  packages/common/http/src/public_api.ts
  packages/common/integration/tests/http/http.spec.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

!fixup
  packages/common/integration/tests/string/string.spec.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup
  packages/common/http/src/is-localhost.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add capitalize, ensureRegexp, isIE utils
  packages/common/README.md
  packages/common/integration/tests/string/string.spec.ts
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/string/src/capitalize.ts
  packages/common/string/src/ensure-regexp.ts
  packages/common/string/src/public_api.ts
  packages/common/utils/src/is-ie.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add regexp package
  packages/common/README.md
  packages/common/docs/animations.md
  packages/common/docs/array.md
  packages/common/docs/date.md
  packages/common/docs/http.md
  packages/common/docs/regexp.md
  packages/common/docs/string.md
  packages/common/docs/typings.md
  packages/common/docs/utils.md
  packages/common/docs/webworker.md
  packages/common/integration/tests/regexp/regexp.spec.ts
  packages/common/integration/tests/string/string.spec.ts
  packages/common/regexp/package.json
  packages/common/regexp/src/ensure-regexp.ts
  packages/common/regexp/src/is-regexp-str.ts
  packages/common/regexp/src/matched-by-regexp.ts
  packages/common/regexp/src/public_api.ts
  packages/common/string/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

!fixup
  packages/common/docs/regexp.md
Due: yarn prettier --write

feat(@angular-ru/common): add splitOnUniqueValues util
  packages/common/docs/string.md
  packages/common/integration/tests/string/string.spec.ts
  packages/common/string/src/public_api.ts
  packages/common/string/src/split-on-unique-values.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/jest-utils): support new astTransforms
  packages/jest-utils/integration/tests/simple.spec.ts
  packages/jest-utils/src/create-ts-jest-config.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add firstKey
  packages/common/README.md
  packages/common/docs/object.md
  packages/common/docs/string.md
  packages/common/docs/typings.md
  packages/common/integration/tests/object/object.spec.ts
  packages/common/integration/tests/string/string.spec.ts
  packages/common/object/package.json
  packages/common/object/src/first-key.ts
  packages/common/object/src/public_api.ts
  packages/common/object/src/sort-by-asc.ts
  packages/common/object/src/sort-by-desc.ts
  packages/common/string/src/generate-quick-guid.ts
  packages/common/string/src/public_api.ts
  packages/common/typings/src/key-value-comparator.ts
  packages/common/typings/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(@angular-ru/common): support generic in keyValueComparator
  packages/common/typings/src/key-value-comparator.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add check object utils (isObject, isPlainObject, isSimpleObject)
  packages/common/docs/object.md
  packages/common/integration/tests/object/object.spec.ts
  packages/common/object/src/internal/instance-of-plain-object.ts
  packages/common/object/src/is-object.ts
  packages/common/object/src/is-plain-object.ts
  packages/common/object/src/is-simple-object.ts
  packages/common/object/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
