Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

feat: update ESLint to v4.15.1
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add checkValueIsFilled function
  packages/common/docs/utils.md
  packages/common/utils/src/check-value-is-filled.ts
  packages/common/utils/src/public_api.ts
  packages/ng-table-builder/integration/tests/services/utils.service.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): add checkValueIsFilled function [ci skip]
  packages/common/docs/utils.md
Due: yarn prettier --write

feat(@angular-ru/common): add checkValueIsFilled function (#416)
  packages/common/docs/utils.md
  packages/common/utils/src/check-value-is-filled.ts
  packages/common/utils/src/public_api.ts
  packages/ng-table-builder/integration/tests/services/utils.service.spec.ts
Due: yarn prettier --write, yarn eslint --fix

revert: feat(@angular-ru/common): add checkValueIsFilled function (#416)
  packages/common/utils/src/check-value-is-filled.ts
  packages/common/utils/src/public_api.ts
  packages/ng-table-builder/integration/tests/services/utils.service.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add checkValueIsFilled function
  packages/common/utils/src/check-value-is-filled.ts
  packages/common/utils/src/public_api.ts
  packages/ng-table-builder/integration/tests/services/utils.service.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency zone.js to v0.11.4
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency eslint-plugin-jsdoc to v32.0.2
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: added tests for LimitConcurrencyService
  packages/http/integration/tests/services/limit-concurrency.service.spec.ts
  packages/http/src/data-http-client.module.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-table-builder): add row-css-classes input into TableBuilder
  packages/ng-table-builder/src/components/table-tbody/table-tbody.component.html
  packages/ng-table-builder/src/components/table-tbody/table-tbody.component.ts
  packages/ng-table-builder/src/table-builder.api.ts
  packages/ng-table-builder/src/table-builder.component.html
Due: yarn prettier --write, yarn eslint --fix

feat: added tests and documentation for limit concurrency
  packages/http/README.md
  packages/http/docs/limit-concurrency-5.jpg
  packages/http/docs/limit-concurrency-none.jpg
  packages/http/integration/tests/limit-concurrency/limit-concurrency-client.service.spec.ts
  packages/http/integration/tests/limit-concurrency/limit-concurrency.service.spec.ts
  packages/http/src/services/abstract-http.client.ts
  packages/http/src/services/data-http.client.ts
  packages/http/src/services/limit-concurency.service.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: files have been formatted by 'prettier'
  packages/http/README.md
  packages/http/integration/tests/limit-concurrency/limit-concurrency-client.service.spec.ts
  packages/http/integration/tests/limit-concurrency/limit-concurrency.service.spec.ts
Due: yarn prettier --write, yarn eslint --fix

ci: update Angular
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update Angular
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add isIterable function & mergeCssClasses pipe
  packages/common/docs/object.md
  packages/common/docs/pipes.md
  packages/common/integration/tests/object/object.spec.ts
  packages/common/integration/tests/pipes/merge-css-clases-pipe.spec.ts
  packages/common/object/src/is-iterable.ts
  packages/common/object/src/public_api.ts
  packages/common/pipes/src/merge-css-classes/merge-css-classes-pipe.module.ts
  packages/common/pipes/src/merge-css-classes/merge-css-classes.pipe.ts
  packages/common/pipes/src/public_api.ts
  packages/ng-table-builder/integration/app/src/app-routing.module.ts
  packages/ng-table-builder/integration/app/src/app.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-eighteen/sample-eighteen.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-eighteen/sample-eighteen.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-eighteen/sample-eighteen.module.ts
  packages/ng-table-builder/integration/app/src/samples/sample-thirteen/sample-twelve.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-thirteen/sample-twelve.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-thirteen/sample-twelve.module.ts
  packages/ng-table-builder/src/components/table-tbody/table-tbody.component.html
  packages/ng-table-builder/src/table-builder.module.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): add isIterable function & mergeCssClasses pipe
  packages/common/pipes/src/merge-css-classes/merge-css-classes.pipe.ts
  packages/ng-table-builder/integration/app/src/samples/sample-thirteen/sample-twelve.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-thirteen/sample-twelve.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-thirteen/sample-twelve.module.ts
Due: yarn prettier --write, yarn eslint --fix

feat: added unsubscribe tests for LimitConcurrencyService
  packages/http/integration/tests/limit-concurrency/http-client.spec.ts
  packages/http/integration/tests/limit-concurrency/unsubscribe.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-table-builder): add row-css-classes input into TableBuilder (#420)
  packages/common/docs/object.md
  packages/common/docs/pipes.md
  packages/common/integration/tests/object/object.spec.ts
  packages/common/integration/tests/pipes/merge-css-clases-pipe.spec.ts
  packages/common/object/src/is-iterable.ts
  packages/common/object/src/public_api.ts
  packages/common/pipes/src/merge-css-classes/merge-css-classes-pipe.module.ts
  packages/common/pipes/src/merge-css-classes/merge-css-classes.pipe.ts
  packages/common/pipes/src/public_api.ts
  packages/ng-table-builder/integration/app/src/app-routing.module.ts
  packages/ng-table-builder/integration/app/src/app.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-eighteen/sample-eighteen.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-eighteen/sample-eighteen.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-eighteen/sample-eighteen.module.ts
  packages/ng-table-builder/src/components/table-tbody/table-tbody.component.html
  packages/ng-table-builder/src/components/table-tbody/table-tbody.component.ts
  packages/ng-table-builder/src/table-builder.api.ts
  packages/ng-table-builder/src/table-builder.component.html
  packages/ng-table-builder/src/table-builder.module.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/node to v14.14.29
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/node to v14.14.30
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: added integration app for testing LimitConcurrency option
  packages/http/README.md
  packages/http/angular.json
  packages/http/docs/limit-concurrency-5.jpg
  packages/http/docs/limit-concurrency-5.png
  packages/http/docs/limit-concurrency-none.jpg
  packages/http/docs/limit-concurrency-none.png
  packages/http/integration/app/assets/.gitkeep
  packages/http/integration/app/assets/favicon.ico
  packages/http/integration/app/assets/img/angular.svg
  packages/http/integration/app/environments/environment.prod.ts
  packages/http/integration/app/environments/environment.ts
  packages/http/integration/app/favicon.ico
  packages/http/integration/app/index.html
  packages/http/integration/app/main.ts
  packages/http/integration/app/polyfills.ts
  packages/http/integration/app/src/app-routing.module.ts
  packages/http/integration/app/src/app.component.html
  packages/http/integration/app/src/app.component.ts
  packages/http/integration/app/src/app.module.ts
  packages/http/integration/app/src/samples/guide/guide.component.html
  packages/http/integration/app/src/samples/guide/guide.component.ts
  packages/http/integration/app/src/samples/guide/guide.module.ts
  packages/http/integration/app/src/services/clients/api.client.ts
  packages/http/integration/app/styles.scss
  packages/http/integration/app/tsconfig.app.json
  packages/http/integration/app/tsconfig.spec.json
  packages/http/integration/tests/limit-concurrency/http-client.spec.ts
  packages/http/src/configs/data-request-options.config.ts
  packages/http/src/services/limit-concurency.service.ts
  packages/http/typings/src/interfaces/data-client-request-options.ts
Due: yarn prettier --write, yarn eslint --fix

fix: changed test for 'Limit Concurrency Service', option: 'Infinity'
  packages/http/README.md
  packages/http/integration/tests/limit-concurrency/http-client.spec.ts
  packages/http/integration/tests/limit-concurrency/limit-concurrency.service.spec.ts
  packages/http/integration/tests/limit-concurrency/unsubscribe.spec.ts
  packages/http/src/services/limit-concurency.service.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: files have been formatted by 'prettier'
  packages/http/README.md
  packages/http/integration/app/src/samples/guide/guide.component.html
  packages/http/integration/tests/limit-concurrency/http-client.spec.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: changed step for checking value: 'Infinity'
  packages/http/src/services/limit-concurency.service.ts
Due: yarn prettier --write, yarn eslint --fix

ci(common): upgrade husky
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  package.json
  packages/commitlint-config/README.md
Due: yarn prettier --write, yarn sort-package-json

fixup! ci(common): upgrade husky
  packages/build-tools/README.md
Due: yarn prettier --write
