Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(eslint-config-enterprise): added no-unnecessary-type-assertion rule
  dev-infra/eslint-config-enterprise/index.js
  packages/cdk/class-transformer/src/transform-to-number.ts
  packages/cdk/date/src/to-unix.ts
  packages/cdk/directives/src/split-string/split-string.directive.ts
  packages/cdk/http/decorators/src/path-variable.decorator.ts
  packages/cdk/http/decorators/src/request-body.decorator.ts
  packages/cdk/http/decorators/src/request-param.decorator.ts
  packages/cdk/integration/tests/jest/directives/filter/filter-config.spec.ts
  packages/cdk/integration/tests/jest/directives/filter/filter-dynamic.spec.ts
  packages/cdk/integration/tests/jest/directives/filter/filter-input.spec.ts
  packages/cdk/integration/tests/jest/directives/filter/filter-simple-input.spec.ts
  packages/cdk/integration/tests/jest/directives/trim/dynamic-trim-input.spec.ts
  packages/cdk/integration/tests/jest/object/object.spec.ts
  packages/cdk/integration/tests/karma/jwt/jwt.spec.ts
  packages/cdk/ivy/src/utils/use-injector.ts
  packages/cdk/logger/src/decorators/timer.decorator.ts
  packages/cdk/logger/src/services/css-factory.service.ts
  packages/cdk/object/src/is-plain-object.ts
  packages/cdk/pipes/src/format-date/format-date.pipe.ts
  packages/cdk/pipes/src/http-replacer/http-replacer.pipe.ts
  packages/cdk/stream/jwt/src/decode-jwt.ts
  packages/cdk/string/src/filter.ts
  packages/cdk/table-utils/src/plain-table-composer/plain-table-composer.service.ts
  packages/cdk/tooltip/src/services/ngx-tooltip-text.interceptor.ts
  packages/cdk/utils/src/check-value-is-empty.ts
  packages/cdk/validators/src/every-array-item.validator.ts
  packages/cdk/virtual-table/src/operators/get-valid-html-boolean-attribute.ts
  packages/cdk/virtual-table/src/services/filterable/filterable.service.ts
  packages/ngxs/storage/src/ngxs-data-storage-plugin.service.ts
  packages/ngxs/storage/src/utils/create-ttl-interval.ts
Due: yarn prettier --write, yarn eslint --fix

Merge 1f894b204ad3716af69b6d39b9e0e1a4f7768177 into 501b96aa549953f5751627e55bce13e613ce0541
  dev-infra/eslint-config-enterprise/integration/tests/test.spec.ts
  packages/cdk/utils/src/$any.ts
Due: yarn prettier --write, yarn eslint --fix

feat(eslint-config-enterprise): added test for no-unnecessary-type-assertion rule
  dev-infra/eslint-config-enterprise/integration/tests/file-suites/typescript.bad.ts.lint.template
  dev-infra/eslint-config-enterprise/integration/tests/test.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/jest/package.json
  dev-infra/typescript/package.json
  packages/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(eslint-config-enterprise): added no-unnecessary-type-assertion rule (#1150)
  dev-infra/eslint-config-enterprise/index.js
  dev-infra/eslint-config-enterprise/integration/tests/file-suites/typescript.bad.ts.lint.template
  dev-infra/eslint-config-enterprise/integration/tests/test.spec.ts
  packages/cdk/class-transformer/src/transform-to-number.ts
  packages/cdk/date/src/to-unix.ts
  packages/cdk/directives/src/split-string/split-string.directive.ts
  packages/cdk/http/decorators/src/path-variable.decorator.ts
  packages/cdk/http/decorators/src/request-body.decorator.ts
  packages/cdk/http/decorators/src/request-param.decorator.ts
  packages/cdk/integration/tests/jest/directives/filter/filter-config.spec.ts
  packages/cdk/integration/tests/jest/directives/filter/filter-dynamic.spec.ts
  packages/cdk/integration/tests/jest/directives/filter/filter-input.spec.ts
  packages/cdk/integration/tests/jest/directives/filter/filter-simple-input.spec.ts
  packages/cdk/integration/tests/jest/directives/trim/dynamic-trim-input.spec.ts
  packages/cdk/integration/tests/jest/object/object.spec.ts
  packages/cdk/integration/tests/karma/jwt/jwt.spec.ts
  packages/cdk/ivy/src/utils/use-injector.ts
  packages/cdk/logger/src/decorators/timer.decorator.ts
  packages/cdk/logger/src/services/css-factory.service.ts
  packages/cdk/object/src/is-plain-object.ts
  packages/cdk/pipes/src/format-date/format-date.pipe.ts
  packages/cdk/pipes/src/http-replacer/http-replacer.pipe.ts
  packages/cdk/stream/jwt/src/decode-jwt.ts
  packages/cdk/string/src/filter.ts
  packages/cdk/table-utils/src/plain-table-composer/plain-table-composer.service.ts
  packages/cdk/tooltip/src/services/ngx-tooltip-text.interceptor.ts
  packages/cdk/utils/src/$any.ts
  packages/cdk/utils/src/check-value-is-empty.ts
  packages/cdk/validators/src/every-array-item.validator.ts
  packages/cdk/virtual-table/src/operators/get-valid-html-boolean-attribute.ts
  packages/cdk/virtual-table/src/services/filterable/filterable.service.ts
  packages/ngxs/storage/src/ngxs-data-storage-plugin.service.ts
  packages/ngxs/storage/src/utils/create-ttl-interval.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency jest to v27.4.4
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies to v5.7.0
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint-plugin-deprecation to v1.3.0
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

fix: selection service pulled out to public api
  packages/cdk/virtual-table/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fix: selection service pulled out to public api (#1161)
  packages/cdk/virtual-table/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  packages/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update angular dependencies to v12.2.15
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lint-staged to v12.1.3
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v17
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(cdk): unexpected `&nbsp;` after marking & refactor
  packages/cdk/integration/tests/jest/pipes/mark-by-filter-pipe.spec.ts
  packages/cdk/pipes/src/mark-by-filter/mark-by-filter.pipe.ts
Due: yarn prettier --write, yarn eslint --fix

fix(cdk): unexpected `&nbsp;` after marking & refactor (#1163)
  packages/cdk/integration/tests/jest/pipes/mark-by-filter-pipe.spec.ts
  packages/cdk/pipes/src/mark-by-filter/mark-by-filter.pipe.ts
Due: yarn prettier --write, yarn eslint --fix

build: update dependency chalk to v5
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint-plugin-deprecation to v1.3.2
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update jest dependencies
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies to v5.8.0
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(typescript): enable noImplicitOverride
  dev-infra/typescript/tsconfig.json
  packages/cdk/integration/tests/jest/ivy/helpers/test-extending.ts
  packages/cdk/integration/tests/jest/websocket/websocket-client.spec.ts
  packages/cdk/virtual-table/src/components/ngx-column/ngx-column.component.ts
  packages/cdk/virtual-table/src/components/ngx-context-menu/ngx-context-menu.component.ts
  packages/cdk/virtual-table/src/components/ngx-filter/ngx-filter.component.ts
  packages/cdk/virtual-table/src/directives/abstract-modal-view-layer.directive.ts
  packages/cdk/virtual-table/src/directives/rows/template-body-td.directive.ts
  packages/cdk/virtual-table/src/directives/rows/template-head-th.directive.ts
  packages/ngxs/integration/app/src/article/article-entities.state.ts
  packages/ngxs/integration/tests/common-extensions/action-decorator.spec.ts
  packages/ngxs/integration/tests/common-extensions/computed.spec.ts
  packages/ngxs/integration/tests/common-extensions/counter-lifecycle.spec.ts
  packages/ngxs/integration/tests/entity/primary-key-or-unique-id.spec.ts
  packages/ngxs/integration/tests/testing/testing-v1.spec.ts
  packages/ngxs/integration/tests/testing/testing-v2.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: refactor documentation
  packages/cdk/integration/apps/cdk/src/app-routing.module.ts
  packages/cdk/integration/apps/cdk/src/app.component.html
  packages/cdk/integration/apps/cdk/src/samples/amount-format/amount-format-page.module.ts
  packages/cdk/integration/apps/cdk/src/samples/amount-format/amount-format.component.html
  packages/cdk/integration/apps/cdk/src/samples/amount-format/amount-format.component.scss
  packages/cdk/integration/apps/cdk/src/samples/amount-format/amount-format.component.ts
  packages/cdk/integration/apps/cdk/src/samples/input-filter/input-filter-page.module.ts
  packages/cdk/integration/apps/cdk/src/samples/input-filter/input-filter.component.html
  packages/cdk/integration/apps/cdk/src/samples/input-filter/input-filter.component.scss
  packages/cdk/integration/apps/cdk/src/samples/input-filter/input-filter.component.ts
  packages/cdk/integration/apps/cdk/src/samples/input-filter/properties/constants.ts
  packages/cdk/integration/apps/cdk/styles.scss
Due: yarn prettier --write, yarn eslint --fix

Merge 75bf17e121d36940d38fc6fac544fc34c0aba0ab into 35a802a6d64884c59a95201ab70c6c537befac29
  dev-infra/typescript/tsconfig.json
  package.json
  packages/cdk/integration/apps/cdk/src/app-routing.module.ts
  packages/cdk/integration/apps/cdk/src/app.component.html
  packages/cdk/integration/apps/cdk/src/samples/worker/worker-page.component.html
  packages/cdk/integration/apps/cdk/src/samples/worker/worker-page.component.scss
  packages/cdk/integration/apps/cdk/src/samples/worker/worker-page.component.ts
  packages/cdk/integration/apps/cdk/src/samples/worker/worker.module.ts
  packages/cdk/table-utils/src/plain-table-composer/plain-table-composer.service.ts
  packages/cdk/webworker/src/public_api.ts
  packages/cdk/webworker/src/typings/web-worker-thread.ts
  packages/cdk/webworker/src/typings/worker-data.ts
  packages/cdk/webworker/src/typings/worker-resolver.ts
  packages/cdk/webworker/src/utils/create-worker-url.ts
  packages/cdk/webworker/src/utils/parse-worker-as-resolver-function.ts
  packages/cdk/webworker/src/worker-thread.service.ts
  packages/cdk/webworker/src/worker-thread.ts
  packages/cdk/webworker/src/worker.decorator.ts
  packages/ngxs/decorators/src/debounce/debounce.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/typescript/package.json
  packages/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(typescript): enable exactOptionalPropertyTypes
  dev-infra/jest/src/utils/create-ts-jest-config.ts
  dev-infra/typescript/tsconfig.json
  packages/cdk/integration/apps/virtual-table/src/samples/sample-second/sample-second.component.html
  packages/cdk/integration/tests/jest/class-transformer/class-transformer.spec.ts
  packages/cdk/logger/src/decorators/debug.decorator.ts
  packages/cdk/logger/src/decorators/groups/group-collapsed.decorator.ts
  packages/cdk/logger/src/decorators/groups/group.decorator.ts
  packages/cdk/logger/src/decorators/timer.decorator.ts
  packages/cdk/package.json
  packages/cdk/table-utils/src/plain-table-composer/interfaces/input-descriptor.ts
  packages/cdk/table-utils/src/plain-table-composer/plain-table-composer.service.ts
  packages/cdk/typings/src/decorator-method.ts
  packages/cdk/virtual-table/src/directives/virtual-for.directive.ts
  packages/cdk/virtual-table/src/interfaces/table-builder.external.ts
  packages/ngxs/decorators/src/data-action/data-action.ts
  packages/ngxs/internals/src/utils/action/action-name-creator.ts
  packages/ngxs/storage/src/utils/validate-path-in-provider.ts
  packages/ngxs/testing/src/platform/ngxs-platform.ts
  packages/ngxs/typings/src/storage/storage.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/jest/package.json
  dev-infra/typescript/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(typescript): enable exactOptionalPropertyTypes
  packages/cdk/typings/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

build: update dependency @types/node to v17.0.2
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v17.0.4
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @prettier/plugin-xml to v1.2.0
  dev-infra/prettier/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
