Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

build: lock file maintenance
  yarn.lock
Due: none

feat(@angular-ru/websocket): implement serializer
  packages/common/docs/utils.md
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/utils/src/public_api.ts
  packages/common/utils/src/try-parse-json.ts
  packages/websocket/integration/tests/clients/websocket-client.spec.ts
  packages/websocket/src/abstract-websocket.client.ts
  packages/websocket/src/public_api.ts
  packages/websocket/src/websocket.config.ts
Due: yarn prettier --write, yarn eslint --fix

fix: prettier changes
  BREAKING_CHANGES.md
Due: yarn prettier --write

fixup! feat(@angular-ru/websocket): implement serializer
  packages/common/utils/src/try-parse-json.ts
  packages/websocket/src/abstract-websocket.client.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/websocket): implement serializer (#582)
  packages/common/docs/utils.md
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/utils/src/public_api.ts
  packages/common/utils/src/try-parse-json.ts
  packages/websocket/integration/tests/clients/websocket-client.spec.ts
  packages/websocket/src/abstract-websocket.client.ts
  packages/websocket/src/public_api.ts
  packages/websocket/src/websocket.config.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/jasmine to v3.7.0
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update Angular
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/jasminewd2 to v2.0.9
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build(@angular-ru/common): refactoring tsconfig.json
  packages/common/docs/pipes.md
  packages/common/integration/tests/nodejs/ts-utils.spec.ts
  packages/common/integration/tests/pipes/number-format.spec.ts
  packages/common/pipes/src/number-format/number-format.pipe.ts
  packages/common/tsconfig.base.json
  packages/common/tsconfig.json
  packages/common/tsconfig.lib.json
  packages/common/tsconfig.spec.json
Due: yarn prettier --write, yarn eslint --fix

build(@angular-ru/common): refactoring tsconfig.json (#583)
  packages/common/docs/pipes.md
  packages/common/integration/tests/nodejs/ts-utils.spec.ts
  packages/common/integration/tests/pipes/number-format.spec.ts
  packages/common/pipes/src/number-format/number-format.pipe.ts
  packages/common/tsconfig.base.json
  packages/common/tsconfig.json
  packages/common/tsconfig.lib.json
  packages/common/tsconfig.spec.json
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): refactoring NumberFormatPipe
  BREAKING_CHANGES.md
  packages/common/docs/number.md
  packages/common/integration/tests/number/number.spec.ts
  packages/common/integration/tests/pipes/number-format.spec.ts
  packages/common/number/src/number-format/number-format-options.ts
  packages/common/number/src/number-format/number-format.ts
  packages/common/number/src/public_api.ts
  packages/common/pipes/src/number-format/number-format.interfaces.ts
  packages/common/pipes/src/number-format/number-format.pipe.ts
  packages/common/pipes/src/public_api.ts
  packages/common/tsconfig.base.json
  packages/common/tsconfig.lib.json
  packages/common/tsconfig.spec.json
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): refactoring NumberFormatPipe (#585)
  BREAKING_CHANGES.md
  packages/common/docs/number.md
  packages/common/integration/tests/number/number.spec.ts
  packages/common/integration/tests/pipes/number-format.spec.ts
  packages/common/number/src/number-format/number-format-options.ts
  packages/common/number/src/number-format/number-format.ts
  packages/common/number/src/public_api.ts
  packages/common/pipes/src/number-format/number-format.interfaces.ts
  packages/common/pipes/src/number-format/number-format.pipe.ts
  packages/common/pipes/src/public_api.ts
  packages/common/tsconfig.base.json
  packages/common/tsconfig.lib.json
  packages/common/tsconfig.spec.json
Due: yarn prettier --write, yarn eslint --fix

ci: update devDependencies
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

test(@angular-ru/websocket): fix build test
  packages/websocket/tsconfig.spec.json
Due: yarn prettier --write

fix(@angular-ru/ng-table-builder): remove spread from mock generator
  packages/ng-table-builder/integration/tests/helpers/utils/mocks-generator.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/ng-table-builder): remove spread from mock generator (#586)
  packages/ng-table-builder/integration/tests/helpers/utils/mocks-generator.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-table-builder): add scrolling buffer
  packages/ng-table-builder/src/directives/observer-view.directive.ts
  packages/ng-table-builder/src/table-builder.component.html
Due: yarn prettier --write, yarn eslint --fix

fix: build after upgrade to TypeScript 4.2.4
  packages/common/integration/tests/pipes/display-item-pipe.spec.ts
  packages/common/integration/tests/pipes/mutable-pipe.spec.ts
  packages/common/integration/tests/validators/ordered-interval-validator.spec.ts
  packages/common/integration/tests/validators/required-some-value-by-keys-validator.spec.ts
  packages/common/pipes/src/display-item/display-item.pipe.ts
  packages/common/pipes/src/mark-by-filter/mark-by-filter.pipe.ts
  packages/http/tsconfig.spec.json
  packages/jest-utils/integration/tests/simple.spec.ts
  packages/jest-utils/jest.config.js
  packages/jest-utils/tsconfig.json
  packages/jest-utils/tsconfig.spec.json
  packages/logger/tsconfig.spec.json
  packages/ng-table-builder/tsconfig.spec.json
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/renovate-config): add jasmine / karma sections
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/renovate-config): add jasmine / karma sections (#588)
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn sort-package-json

build: enable preserveConstEnums for tests
  packages/common/tsconfig.spec.json
  packages/stream/tsconfig.spec.json
Due: yarn prettier --write

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-table-builder/package.json
  packages/stream/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency prettier to v2.3.0
  packages/prettier-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/prettier-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update Jasmine
  packages/build-tools/package.json
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint to v7.26.0
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

build(@angular-ru/eslint): separate tsconfig files
  .gitignore
  package.json
  packages/eslint-config/integration/tests/file-suites/module/a1.ts
  packages/eslint-config/integration/tests/file-suites/module/b1.ts
  packages/eslint-config/integration/tests/file-suites/module/c1.ts
  packages/eslint-config/integration/tests/file-suites/module/deep/deep/deep/deep/deep/deep/deeeeeeeeeeeeeeeeeeep/deeeeeeeeeeeeeeeeeeep/deeeeeeeeeeeeeeeeeeep/example-deep.ts
  packages/eslint-config/integration/tests/file-suites/typescript.bad.ts
  packages/eslint-config/integration/tests/file-suites/typescript.good.ts
  packages/eslint-config/integration/tests/test.spec.ts
  packages/eslint-config/jest.config.js
  packages/eslint-config/package.json
  packages/eslint-config/setup-jest.ts
  packages/eslint-config/test.sh
  packages/eslint-config/tsconfig.base.json
  packages/eslint-config/tsconfig.json
  packages/eslint-config/tsconfig.spec.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(@angular-ru/renovate-config): fix regexp
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/prettier-config): fix $schema
  packages/prettier-config/prettier.config.js
Due: yarn prettier --write

feat(@angular-ru/renovate-config): fix regexp (#596)
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/prettier-config): fix $schema (#597)
  packages/prettier-config/prettier.config.js
Due: yarn prettier --write
