Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore: fix formatting
  libs/ngxs/repositories/src/ngxs-data/ngxs-data.repository.ts
Due: yarn prettier --write, yarn eslint --fix

build: update dependency lint-staged to v13.2.1 (#1465)
  libs/dev-dependencies/package.json
  libs/ngxs/repositories/src/ngxs-data/ngxs-data.repository.ts
  package-lock.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/dev-dependencies/CHANGELOG.md
  libs/dev-dependencies/package.json
  libs/ngxs/CHANGELOG.md
  libs/ngxs/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency rimraf to v5
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency rimraf to v5 (#1469)
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update actions/checkout action to v3.5.1
  .github/workflows/renovate.yml
Due: none

build: update actions/checkout action to v3.5.1 (#1471)
  .github/workflows/renovate.yml
Due: none

build: update actions/checkout action to v3.5.2
  .github/workflows/renovate.yml
Due: none

build: update commitlint dependencies to v17.6.0
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update actions/checkout action to v3.5.2 (#1472)
  .github/workflows/renovate.yml
Due: none

build: update commitlint dependencies to v17.6.0 (minor) (#1473)
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/commitlint/CHANGELOG.md
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

fix: remove preserveConstEnums property
  libs/typescript/tsconfig.json
Due: yarn prettier --write

chore(release): update CHANGELOG.md [ci skip]
  libs/typescript/CHANGELOG.md
  libs/typescript/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update commitlint dependencies to v17.6.1
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update commitlint dependencies to v17.6.1 (patch) (#1474)
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v18.15.13
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency prettier to v2.8.8
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v18.16.0
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v18.16.0 (#1478)
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency prettier to v2.8.8 (#1477)
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/dev-dependencies/CHANGELOG.md
  libs/dev-dependencies/package.json
  libs/prettier/CHANGELOG.md
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

refactor: remove deprecated `accessibility-label-for` rule
  libs/eslint-config-enterprise/modules/angular-eslint.js
Due: yarn prettier --write

chore(release): update CHANGELOG.md [ci skip]
  libs/eslint-config-enterprise/CHANGELOG.md
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v18.16.1
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v18.16.1 (#1479)
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/dev-dependencies/CHANGELOG.md
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency rxjs to v7.8.1
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency rxjs to v7.8.1 (#1480)
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v18.16.2
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v18.16.2 (#1481)
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v18.16.3
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v20
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v20 (#1485)
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ngx-toastr to v16
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

fix: use object for data state type agument
  libs/ngxs/typings/src/common/data-state-class.ts
Due: yarn prettier --write, yarn eslint --fix

fix: test and use record any any
  libs/ngxs/decorators/src/named/named.ts
  libs/ngxs/decorators/src/payload/payload.ts
  libs/ngxs/typings/src/common/data-state-class.ts
Due: yarn prettier --write, yarn eslint --fix

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
