Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

fix(prettier): disable bracketSameLine (#1050)
  dev-infra/prettier/prettier.config.js
  packages/cdk/docs/decorators.md
  packages/cdk/docs/pipes.md
  packages/cdk/integration/apps/tooltip/src/samples/guide/guide.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-eight/sample-eight.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-eleven/sample-eleven.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-five/sample-five.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-fourteen/context-menu-sample/context-menu-sample.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-fourteen/sample-fourteen.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-night/sample-night.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-second/sample-second.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-seventeen/sample-seventeen.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-six/sample-six.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-sixteen/sample-sixteen.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-third/sample-third.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-thirteen/sample-thirteen.component.html
  packages/cdk/integration/tests/jest/directives/split-string.spec.ts
  packages/cdk/integration/tests/jest/virtual-table/components/table-builder.component.spec.ts
  packages/cdk/virtual-table/src/components/drag-icon/drag-icon.component.html
  packages/cdk/virtual-table/src/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.html
  packages/cdk/virtual-table/src/components/ngx-context-menu/ngx-context-menu.component.html
  packages/cdk/virtual-table/src/components/ngx-filter/ngx-filter.component.html
  packages/cdk/virtual-table/src/components/ngx-footer/ngx-footer.component.html
  packages/cdk/virtual-table/src/components/ngx-header/ngx-header.component.html
  packages/cdk/virtual-table/src/components/table-cell/table-cell.component.html
  packages/cdk/virtual-table/src/components/table-tbody/table-tbody.component.html
  packages/cdk/virtual-table/src/components/table-thead/table-thead.component.html
  packages/cdk/virtual-table/src/table-builder.component.html
  packages/ngxs/integration/app/src/article/article.component.html
  packages/ngxs/integration/app/src/count/count.component.html
  packages/ngxs/integration/app/src/person/person.component.html
  packages/ngxs/integration/app/src/todo/todo.component.html
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/prettier/package.json
  packages/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ts-node to v10.3.1
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/eslint to v7.28.2
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v16.11.3
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update all dependencies (minor/patch)
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update jasmine dependencies to v3.10.1
  dev-infra/dev-dependencies/package.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lint-staged to v11.2.4
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/prettier/package.json
  packages/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(cdk): added shallowFlat
  packages/cdk/array/src/public_api.ts
  packages/cdk/array/src/shallow-flat.ts
  packages/cdk/integration/tests/jest/array/shallow-flat.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(cdk): added doc for shallowFlat
  packages/cdk/docs/array.md
Due: yarn prettier --write

build: update eslint dependencies to v12.6.0
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(cdk): added everyArrayItemValidator
  packages/cdk/integration/tests/jest/validators/every-array-item-validator.spec.ts
  packages/cdk/validators/src/every-array-item.validator.ts
Due: yarn prettier --write, yarn eslint --fix

feat(cdk): added doc
  packages/cdk/docs/validators.md
  packages/cdk/validators/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(cdk): added merge the errors
  packages/cdk/integration/tests/jest/validators/every-array-item-validator.spec.ts
  packages/cdk/validators/src/every-array-item.validator.ts
Due: yarn prettier --write, yarn eslint --fix

feat(cdk): added everyArrayItemValidator (#1060)
  packages/cdk/docs/validators.md
  packages/cdk/integration/tests/jest/validators/every-array-item-validator.spec.ts
  packages/cdk/validators/src/every-array-item.validator.ts
  packages/cdk/validators/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  packages/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update angular dependencies
  dev-infra/dev-dependencies/package.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update all dependencies (minor/patch)
  dev-infra/dev-dependencies/package.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency karma to v6.3.6
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v16.11.6
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency jest-preset-angular to v10.1.0
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lint-staged to v11.2.5
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies to v12.6.1
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lint-staged to v11.2.6
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json
