Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency prettier to v2.5.1
  dev-infra/prettier/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ts-jest to v27.1.0
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: has pipe module
  packages/cdk/pipes/src/has/has-pipe.module.ts
  packages/cdk/pipes/src/has/has.pipe.ts
  packages/cdk/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat: has pipe doc
  packages/cdk/docs/pipes.md
Due: yarn prettier --write

feat: has pipe test
  packages/cdk/integration/tests/jest/pipes/has-pipe.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: includes pipe test description fix
  packages/cdk/integration/tests/jest/pipes/includes-pipe.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat/has-pipe (#1134)
  packages/cdk/docs/pipes.md
  packages/cdk/integration/tests/jest/pipes/has-pipe.spec.ts
  packages/cdk/integration/tests/jest/pipes/includes-pipe.spec.ts
  packages/cdk/pipes/src/has/has-pipe.module.ts
  packages/cdk/pipes/src/has/has.pipe.ts
  packages/cdk/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  packages/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies to v5.6.0
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v16.11.12
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update angular dependencies to v12.2.14
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ts-jest to v27.1.1
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ng-packagr to v12.2.6
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: trim disabling parameter
  packages/cdk/directives/src/trim-input/trim-input.directive.ts
Due: yarn prettier --write, yarn eslint --fix

feat: trim directive test with the disabled input set to true
  packages/cdk/integration/tests/jest/directives/trim/disabled-trim-input.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: trim directive doc update
  packages/cdk/docs/directives.md
Due: yarn prettier --write

trim directive: disabling input (#1144)
  packages/cdk/directives/src/trim-input/trim-input.directive.ts
  packages/cdk/docs/directives.md
  packages/cdk/integration/tests/jest/directives/trim/disabled-trim-input.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: input filter directive disabling parameter
  packages/cdk/directives/src/input-filter/input-filter.directive.ts
Due: yarn prettier --write, yarn eslint --fix

feat: input filter directive doc updated
  packages/cdk/docs/directives.md
Due: yarn prettier --write

feat: input filter disabling test
  packages/cdk/integration/tests/jest/directives/filter/filter-simple-input.spec.ts
Due: yarn prettier --write, yarn eslint --fix

ci: delete detect-confilicts.yml
  .github/workflows/detect-confilcts.yml
Due: none

feat: add worker decorator
  dev-infra/typescript/tsconfig.json
  package.json
  packages/cdk/integration/apps/cdk/src/app-routing.module.ts
  packages/cdk/integration/apps/cdk/src/app.component.html
  packages/cdk/integration/apps/cdk/src/samples/worker/worker-page.component.html
  packages/cdk/integration/apps/cdk/src/samples/worker/worker-page.component.scss
  packages/cdk/integration/apps/cdk/src/samples/worker/worker-page.component.ts
  packages/cdk/integration/apps/cdk/src/samples/worker/worker.module.ts
  packages/cdk/table-utils/src/plain-table-composer/plain-table-composer.service.ts
  packages/cdk/webworker/src/public_api.ts
  packages/cdk/webworker/src/typings/web-worker-thread.ts
  packages/cdk/webworker/src/typings/worker-data.ts
  packages/cdk/webworker/src/typings/worker-resolver.ts
  packages/cdk/webworker/src/utils/create-worker-url.ts
  packages/cdk/webworker/src/utils/parse-worker-as-resolver-function.ts
  packages/cdk/webworker/src/worker-thread.service.ts
  packages/cdk/webworker/src/worker-thread.ts
  packages/cdk/webworker/src/worker.decorator.ts
  packages/ngxs/decorators/src/debounce/debounce.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat: redundant removed
  packages/cdk/integration/tests/jest/directives/filter/filter-simple-input.spec.ts
Due: yarn prettier --write, yarn eslint --fix

input-filter disabling param (#1146)
  packages/cdk/directives/src/input-filter/input-filter.directive.ts
  packages/cdk/docs/directives.md
  packages/cdk/integration/tests/jest/directives/filter/filter-simple-input.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: refactor documentation
  packages/cdk/integration/apps/cdk/src/app-routing.module.ts
  packages/cdk/integration/apps/cdk/src/app.component.html
  packages/cdk/integration/apps/cdk/src/samples/amount-format/amount-format-page.module.ts
  packages/cdk/integration/apps/cdk/src/samples/amount-format/amount-format.component.html
  packages/cdk/integration/apps/cdk/src/samples/amount-format/amount-format.component.scss
  packages/cdk/integration/apps/cdk/src/samples/amount-format/amount-format.component.ts
  packages/cdk/integration/apps/cdk/src/samples/input-filter/input-filter-page.module.ts
  packages/cdk/integration/apps/cdk/src/samples/input-filter/input-filter.component.html
  packages/cdk/integration/apps/cdk/src/samples/input-filter/input-filter.component.scss
  packages/cdk/integration/apps/cdk/src/samples/input-filter/input-filter.component.ts
  packages/cdk/integration/apps/cdk/src/samples/input-filter/properties/constants.ts
  packages/cdk/integration/apps/cdk/styles.scss
Due: yarn prettier --write, yarn eslint --fix

feat: initial focus disabling
  packages/cdk/directives/src/initial-focus/initial-focus.directive.ts
  packages/cdk/docs/directives.md
  packages/cdk/integration/tests/jest/directives/initial-focus.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: initial focus disabling (#1145)
  packages/cdk/directives/src/initial-focus/initial-focus.directive.ts
  packages/cdk/docs/directives.md
  packages/cdk/integration/tests/jest/directives/initial-focus.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(typescript): the noUnusedLocals parameter was set to false
  dev-infra/typescript/tsconfig.json
Due: yarn prettier --write

feat(typescript): enable noPropertyAccessFromIndexSignature
  dev-infra/jest/src/utils/create-ts-jest-config.ts
  dev-infra/typescript/tsconfig.json
  packages/cdk/integration/apps/cdk/environments/environment.prod.ts
  packages/cdk/integration/apps/http/environments/environment.prod.ts
  packages/cdk/integration/apps/tooltip/environments/environment.prod.ts
  packages/cdk/integration/apps/virtual-table/environments/environment.prod.ts
  packages/cdk/integration/apps/virtual-table/src/samples/sample-first-second/sample-first-second.component.ts
  packages/cdk/integration/apps/virtual-table/src/samples/sample-third/sample-third.component.ts
  packages/cdk/integration/tests/jest/validators/date-interval-validator.spec.ts
  packages/cdk/integration/tests/jest/validators/ordered-interval-validator.spec.ts
  packages/cdk/integration/tests/jest/validators/required-some-value-by-keys-validator.spec.ts
  packages/cdk/integration/tests/jest/validators/required-some-value-validator.spec.ts
  packages/cdk/typings/src/ng-environment.ts
  packages/cdk/typings/src/plain-object.ts
  packages/cdk/virtual-table/src/components/ngx-filter-viewer/ngx-filter-viewer.component.ts
Due: yarn prettier --write, yarn eslint --fix

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
