Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: update CHANGELOG.md
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn sort-package-json

docs(@angular-ru/common): update README.md
  packages/common/README.md
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/flex-layout/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/prettier-config/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: set lerna version as independent
  lerna.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

docs(@angular-ru/common): update README.md
  packages/common/README.md
Due: yarn prettier --write

docs(@angular-ru/jest-utils): update README.md
  packages/jest-utils/README.md
Due: yarn prettier --write

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/flex-layout/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/prettier-config/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update workflow
  .github/workflows/workflow.yml
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/README.md
Due: yarn prettier --write, yarn sort-package-json

docs(@angular-ru/common): update README.md
  CHANGELOG.md
  packages/common/README.md
Due: yarn prettier --write

ci: fix fetch
  .github/workflows/workflow.yml
Due: none

ci: update workflow.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
Due: yarn prettier --write

docs(@angular-ru/flex-layouts): update README.md
  packages/flex-layout/README.md
Due: yarn prettier --write

ci: update workflow.yml
  .github/workflows/workflow.yml
Due: none

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/flex-layout/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: use .npmrc for registry
  .github/workflows/workflow.yml
Due: none

update CHANGELOG.md [ci skip]
  CHANGELOG.md
Due: yarn prettier --write

feat(@angular-ru/common): add SafePipe
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/safe-pipe.spec.ts
  packages/common/pipes/src/public_api.ts
  packages/common/pipes/src/safe/safe-pipe.module.ts
  packages/common/pipes/src/safe/safe.interfaces.ts
  packages/common/pipes/src/safe/safe.pipe.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add NumberFormatPipe
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/number-format.spec.ts
  packages/common/pipes/src/number-format/number-format-pipe.module.ts
  packages/common/pipes/src/number-format/number-format.interfaces.ts
  packages/common/pipes/src/number-format/number-format.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update dependency prettier to v2.1.0
  packages/prettier-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/common): remove SafeValueType enum for correct resolve option in template
  packages/common/pipes/src/public_api.ts
  packages/common/pipes/src/safe/safe.interfaces.ts
  packages/common/pipes/src/safe/safe.pipe.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/prettier-config): support Prettier 2.1
  packages/logger/integration/app/src/app.component.html
  packages/ng-table-builder/README.md
  packages/ng-table-builder/integration/app/src/samples/sample-first/sample-first.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/sample-fourteen.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-night/sample-night.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-seventeen/sample-seventeen.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-third/sample-third.component.html
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

chore: fixup tests
  packages/common/integration/tests/pipes/safe-pipe.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-table-builder/package.json
  packages/prettier-config/package.json
Due: yarn prettier --write, yarn sort-package-json

refactor(@angular-ru/ng-table-builder): small fix with prettier
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): tree shakable date functions
  packages/common/date/src/date-string-to-date.ts
  packages/common/date/src/is-date-valid.ts
  packages/common/date/src/is-today.ts
  packages/common/date/src/public_api.ts
  packages/common/date/src/serial-date.ts
  packages/common/date/src/to-format-date-time.ts
  packages/common/date/src/to-format.ts
  packages/common/date/src/to-iso-string.ts
  packages/common/date/src/to-pretty-format.ts
  packages/common/date/src/to-timestamp.ts
  packages/common/date/src/to-unix.ts
  packages/common/date/src/to-utc.ts
  packages/common/date/src/utility/to-format-date-time.ts
  packages/common/date/src/utility/to-unix.ts
  packages/common/docs/date.md
  packages/common/integration/tests/date/serial-date.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-excel-builder): use only toFormatDateTime from @angular-ru/common
  packages/ng-excel-builder/src/excel-builder.service.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint to v3.10.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update angular-framework to v10.0.12
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
