Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update angular dependencies to v12.2.12
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency karma to v6.3.7
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @commitlint/config-conventional to v14
  dev-infra/commitlint/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/jasmine to v3.10.2
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update angular dependencies to v12.2.13
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency karma to v6.3.8
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v16.11.7
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: added util transformToNullableBoolean
  packages/cdk/class-transformer/src/public_api.ts
  packages/cdk/class-transformer/src/transform-to-boolean.ts
  packages/cdk/class-transformer/src/transform-to-nullable-boolean.ts
  packages/cdk/docs/class-transformer.md
  packages/cdk/integration/tests/jest/class-transformer/class-transformer.spec.ts
  packages/cdk/integration/tests/jest/class-transformer/transform-to-boolean.spec.ts
  packages/cdk/integration/tests/jest/class-transformer/transform-to-nullable-boolean.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: added util transformToNullableBoolean (#1082)
  packages/cdk/class-transformer/src/public_api.ts
  packages/cdk/class-transformer/src/transform-to-boolean.ts
  packages/cdk/class-transformer/src/transform-to-nullable-boolean.ts
  packages/cdk/docs/class-transformer.md
  packages/cdk/integration/tests/jest/class-transformer/class-transformer.spec.ts
  packages/cdk/integration/tests/jest/class-transformer/transform-to-boolean.spec.ts
  packages/cdk/integration/tests/jest/class-transformer/transform-to-nullable-boolean.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  packages/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint-plugin-import to v2.25.3
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: added package big-decimal
  packages/cdk/README.md
  packages/cdk/big-decimal/package.json
  packages/cdk/big-decimal/src/js-big-decimal/add.ts
  packages/cdk/big-decimal/src/js-big-decimal/big-decimal.ts
  packages/cdk/big-decimal/src/js-big-decimal/compare-to.ts
  packages/cdk/big-decimal/src/js-big-decimal/divide.ts
  packages/cdk/big-decimal/src/js-big-decimal/modulus.ts
  packages/cdk/big-decimal/src/js-big-decimal/multiply.ts
  packages/cdk/big-decimal/src/js-big-decimal/properties.ts
  packages/cdk/big-decimal/src/js-big-decimal/round.ts
  packages/cdk/big-decimal/src/js-big-decimal/rounding-modes.ts
  packages/cdk/big-decimal/src/js-big-decimal/subtract.ts
  packages/cdk/big-decimal/src/js-big-decimal/types.ts
  packages/cdk/big-decimal/src/public_api.ts
  packages/cdk/docs/big-decimal.md
  packages/cdk/integration/tests/jest/big-decimal/add.spec.ts
  packages/cdk/integration/tests/jest/big-decimal/big-decimal.spec.ts
  packages/cdk/integration/tests/jest/big-decimal/compare-to.spec.ts
  packages/cdk/integration/tests/jest/big-decimal/divide.spec.ts
  packages/cdk/integration/tests/jest/big-decimal/long-number.spec.ts
  packages/cdk/integration/tests/jest/big-decimal/modulus.spec.ts
  packages/cdk/integration/tests/jest/big-decimal/multiply.spec.ts
  packages/cdk/integration/tests/jest/big-decimal/round.spec.ts
  packages/cdk/integration/tests/jest/big-decimal/subtract.spec.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

refactor: changes on big-decimal
  packages/cdk/big-decimal/src/js-big-decimal/add.ts
Due: yarn prettier --write, yarn eslint --fix

build: update dependency sort-package-json to v1.53.0
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency sort-package-json to v1.53.1
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ngx-toastr to v14.2.0
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/eslint to v7.29.0
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency karma to v6.3.9
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @commitlint/cli to v14
  dev-infra/commitlint/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @commitlint/config-angular to v14
  dev-infra/commitlint/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(cdk): fix not-found display condition
  packages/cdk/virtual-table/src/table-builder.component.html
Due: yarn prettier --write

fix(cdk): fix not-found display condition (#1099)
  packages/cdk/virtual-table/src/table-builder.component.html
Due: yarn prettier --write

build: update dependency jest-preset-angular to v11
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(prettier): add xml plugin
  dev-infra/commitlint/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/prettier/prettier.config.js
  dev-infra/renovate/package.json
  dev-infra/typescript/package.json
  package.json
  packages/cdk/integration/apps/virtual-table/src/shared/dialog-template/dialog-template.template.html
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/commitlint/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/renovate/package.json
  dev-infra/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(renovate): add new groups
  dev-infra/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(eslint-config-enterprise): add html plugin
  .github/workflows/build.yml
  .scripts/lint.ts
  .yarnrc
  dev-infra/commitlint/package.json
  dev-infra/eslint-config-enterprise/index.js
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(dev-dependencies): upgrade lint-staged
  .husky/pre-commit
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(eslint-config-enterprise): restrict unbound methods
  dev-infra/eslint-config-enterprise/index.js
  packages/cdk/decorators/src/attribute-boolean.ts
  packages/cdk/integration/tests/jest/decorators/bound-class.spec.ts
  packages/cdk/integration/tests/jest/logger/logger.module.spec.ts
  packages/cdk/integration/tests/jest/utils/utils.spec.ts
  packages/cdk/object/src/deep-freeze.ts
  packages/cdk/object/src/is-getter.ts
  packages/ngxs/storage/src/ngxs-data-storage-plugin.service.ts
  packages/ngxs/storage/src/utils/can-be-pull-from-storage.ts
  packages/ngxs/storage/src/utils/fire-state-when-expired.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/commitlint/package.json
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/renovate/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
