Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

fix(ng-table-builder): fixed bug with rows rendering
  packages/ng-table-builder/src/table-builder.component.html
Due: yarn prettier --write

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(common): added regexp for charactersDirective
  packages/common/directives/src/filter-characters/filter-characters.directive.ts
  packages/common/docs/directives.md
  packages/common/docs/utils.md
  packages/common/integration/tests/directives/filter-characters/filter-characters-dynamic.spec.ts
  packages/common/integration/tests/directives/filter-characters/filter-characters-form.spec.ts
  packages/common/integration/tests/directives/filter-characters/filter-characters-input.spec.ts
  packages/common/string/src/filter.ts
  packages/common/string/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add ToBoolean pipe
  packages/common/docs/pipes.md
  packages/common/pipes/src/public_api.ts
  packages/common/pipes/src/to-boolean/to-boolean-pipe.module.ts
  packages/common/pipes/src/to-boolean/to-boolean.pipe.ts
Due: yarn prettier --write, yarn eslint --fix

refactor(common): changed name on filterDirective
  packages/common/directives/src/filter-characters/filter-characters.module.ts
  packages/common/directives/src/filter/filter.directive.ts
  packages/common/directives/src/filter/filter.module.ts
  packages/common/directives/src/public_api.ts
  packages/common/docs/directives.md
  packages/common/integration/tests/directives/filter/filter-dynamic.spec.ts
  packages/common/integration/tests/directives/filter/filter-form.spec.ts
  packages/common/integration/tests/directives/filter/filter-input.spec.ts
Due: yarn prettier --write, yarn eslint --fix

docs: add ROADMAP.md (#648)
  ROADMAP.md
Due: yarn prettier --write

feat(@angular-ru/common): add CoerceBoolean pipe
  packages/common/docs/pipes.md
  packages/common/pipes/src/coerce-boolean/coerce-boolean-pipe.module.ts
  packages/common/pipes/src/coerce-boolean/coerce-boolean.pipe.ts
  packages/common/pipes/src/public_api.ts
  packages/common/pipes/src/to-boolean/to-boolean-pipe.module.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/common): correct export CoerceBoolean
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add CoerceBoolean pipe (#652)
  packages/common/docs/pipes.md
  packages/common/pipes/src/coerce-boolean/coerce-boolean-pipe.module.ts
  packages/common/pipes/src/coerce-boolean/coerce-boolean.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fix(ng-table-builder): added change handler
  packages/ng-table-builder/src/config/table-global-options.ts
  packages/ng-table-builder/src/table-builder.component.html
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

feat(common): added guide for filter directive
  packages/common/integration/app/src/samples/guide/guide.component.html
  packages/common/integration/app/src/samples/guide/guide.component.ts
  packages/common/integration/app/src/samples/guide/guide.module.ts
  packages/common/string/src/filter.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: use isString in utils
  packages/common/class-transformer/src/transform-to-number.ts
  packages/common/coercion/src/coerce-boolean.ts
  packages/common/date/src/to-unix.ts
  packages/common/ivy/src/utils/use-injector.ts
  packages/common/object/src/paths-of-object.ts
  packages/common/object/src/replace-with-null.ts
  packages/common/object/src/utils.ts
  packages/common/pipes/src/display-item/display-item.pipe.ts
  packages/common/pipes/src/format-date/format-date.pipe.ts
  packages/common/pipes/src/http-replacer/http-replacer.pipe.ts
  packages/common/pipes/src/merge-css-classes/merge-css-classes.pipe.ts
  packages/common/string/src/is-string.ts
  packages/common/string/src/trim.ts
  packages/common/typings/src/class-descriptor.ts
  packages/common/typings/src/public_api.ts
  packages/common/utils/src/check-value-is-empty.ts
  packages/logger/src/decorators/groups/group.common.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-table-builder/src/operators/get-valid-html-boolean-attribute.ts
  packages/ng-table-builder/src/services/filterable/filter.worker.ts
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
  packages/ng-table-builder/src/services/sortable/sort.worker.ts
  packages/stream/jwt/src/decode-jwt.ts
  packages/tooltip/src/services/ngx-tooltip-text.interceptor.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/stream/package.json
  packages/tooltip/package.json
Due: yarn prettier --write, yarn sort-package-json

refactor(ng-table-builder): added timeout for prerendering
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add isFalsy, isTruthy
  packages/common/docs/utils.md
  packages/common/utils/src/is-falsy.ts
  packages/common/utils/src/is-truthy.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add isFalsy, isTruthy (#656)
  packages/common/docs/utils.md
  packages/common/utils/src/is-falsy.ts
  packages/common/utils/src/is-truthy.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add fallbackIfEmpty function
  packages/common/docs/utils.md
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/typings/src/empty-value.ts
  packages/common/utils/src/fallback-if-empty.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add fallbackIfEmpty function (#657)
  packages/common/docs/utils.md
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/typings/src/empty-value.ts
  packages/common/utils/src/fallback-if-empty.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(common): changes in directive filter
  packages/common/directives/src/filter/filter.directive.ts
  packages/common/integration/app/src/samples/guide/guide.component.html
  packages/common/integration/app/src/samples/guide/guide.component.scss
  packages/common/integration/app/src/samples/guide/guide.component.ts
  packages/common/integration/tests/directives/filter/filter-simple-input.spec.ts
Due: yarn prettier --write, yarn eslint --fix

refactor(common): changes with refactoring
  packages/common/directives/src/filter/filter.directive.ts
Due: yarn prettier --write, yarn eslint --fix

refactor(common): changes after review
  packages/common/directives/src/filter/filter.directive.ts
  packages/common/docs/directives.md
  packages/common/integration/app/src/samples/guide/guide.component.html
  packages/common/integration/tests/directives/filter/filter-dynamic.spec.ts
  packages/common/integration/tests/directives/filter/filter-input.spec.ts
  packages/common/integration/tests/directives/filter/filter-simple-input.spec.ts
  packages/common/string/src/filter.ts
  packages/common/string/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fix(ng-table-buider): removed last changes
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

refactor(common): changes after review
  packages/common/directives/src/filter/filter.directive.ts
  packages/common/integration/tests/directives/filter/filter-form.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(eslint-config): added test for eslint-i18n-json
  packages/eslint-config/integration/tests/file-suites/i18n/a/bad.json
  packages/eslint-config/integration/tests/file-suites/i18n/a/bad.txt
  packages/eslint-config/integration/tests/file-suites/i18n/bad.json
  packages/eslint-config/integration/tests/file-suites/i18n/good.json
  packages/eslint-config/integration/tests/test-i18n.spec.ts
  packages/eslint-config/integration/tests/test.spec.ts
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

fix(eslint-config): changed script
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(eslint-config): changed tests
  packages/eslint-config/integration/tests/test-i18n.spec.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/common): preserve invalid date time
  packages/common/date/src/to-iso-string.ts
  packages/common/integration/tests/date/serial-date.spec.ts
Due: yarn prettier --write, yarn eslint --fix

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
