Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: update jest dependencies
  libs/jest/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update typescript dependencies
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

feat: added virtual table feature to be used as non-virtual
  libs/cdk/virtual-table/src/abstract-table-builder-api.directive.ts
  libs/cdk/virtual-table/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

feat: added virtual table feature to be used as non-virtual (#1281)
  libs/cdk/virtual-table/src/abstract-table-builder-api.directive.ts
  libs/cdk/virtual-table/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

build: added @nrwl/devkit for build
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

build: added @nrwl/devkit for build (#1282)
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

build: change package-lock
  package-lock.json
Due: yarn prettier --write

build: change package-lock (#1283)
  package-lock.json
Due: yarn prettier --write

chore(eslint-config-enterprise): release version 13.0.5 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 13.0.1 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(commitlint): release version 13.0.1 [ci skip]
  libs/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(prettier): release version 13.0.1 [ci skip]
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(jest): release version 13.0.2 [ci skip]
  libs/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(cdk): release version 13.1.0 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: updated RELEASE_NOTES.md [ci skip]
  RELEASE_NOTES.md
Due: yarn prettier --write

build: update angular dependencies
  libs/dev-dependencies/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update nrwl dependencies
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore: fix formatting
  libs/cdk/package.json
  libs/commitlint/package.json
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/package.json
  libs/jest/package.json
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

style: formatting
  libs/cdk/package.json
  libs/commitlint/package.json
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/package.json
  libs/jest/package.json
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

style: formatting (#1285)
  libs/cdk/package.json
  libs/commitlint/package.json
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/package.json
  libs/jest/package.json
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-config-enterprise): release version 13.0.6 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 13.0.2 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(commitlint): release version 13.0.2 [ci skip]
  libs/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(prettier): release version 13.0.2 [ci skip]
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(jest): release version 13.0.3 [ci skip]
  libs/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(cdk): release version 13.1.1 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

fix: virtual table feature for non-virtual functionality from start
  libs/cdk/virtual-table/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

fix: virtual table feature for non-virtual functionality from start (#1284)
  libs/cdk/package.json
  libs/cdk/virtual-table/src/table-builder.component.ts
  libs/commitlint/package.json
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/package.json
  libs/jest/package.json
  libs/prettier/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(eslint-config-enterprise): release version 13.0.7 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 13.0.3 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(commitlint): release version 13.0.3 [ci skip]
  libs/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(prettier): release version 13.0.3 [ci skip]
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(jest): release version 13.0.4 [ci skip]
  libs/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
