Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

build: refactor scripts
  .github/labeler.yml
  .github/workflows/build.yml
  dev-infra/dev-dependencies/README.md
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/README.md
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/renovate/package.json
  dev-infra/typescript/package.json
  package.json
  packages/common/integration/apps/flex-layout/index.html
  scripts/build.ts
  scripts/clean.ts
  scripts/format.ts
  scripts/integration.ts
  scripts/lint.ts
  scripts/release-version.ts
  scripts/symlink.ts
  scripts/test.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: refactor release script
  package.json
  scripts/release-version.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: refactor scripts (#852)
  .github/labeler.yml
  .github/workflows/build.yml
  dev-infra/dev-dependencies/README.md
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/README.md
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/renovate/package.json
  dev-infra/typescript/package.json
  package.json
  packages/common/integration/apps/flex-layout/index.html
  scripts/build.ts
  scripts/clean.ts
  scripts/format.ts
  scripts/integration.ts
  scripts/lint.ts
  scripts/release-version.ts
  scripts/symlink.ts
  scripts/test.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/renovate/package.json
  dev-infra/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v16
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/jest/package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

build: use ts-node instead zx
  dev-infra/dev-dependencies/package.json
  package.json
  packages/common/integration/tests/jest/websocket/websocket-client.spec.ts
  packages/common/virtual-table/src/abstract-table-builder-api.directive.ts
  scripts/build.ts
  scripts/clean.ts
  scripts/format.ts
  scripts/integration.ts
  scripts/lint.ts
  scripts/release-version.ts
  scripts/symlink.ts
  scripts/test.ts
  scripts/utils/async-exec.ts
  scripts/utils/error-handler.ts
  scripts/utils/get-packages.ts
  scripts/utils/is-error.ts
  scripts/utils/log.ts
  scripts/utils/no-throw.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: support TS 4.4
  dev-infra/renovate/package.json
  packages/common/integration/tests/jest/logger/console-group-api.spec.ts
  packages/common/integration/tests/jest/logger/decorators.spec.ts
  packages/common/integration/tests/jest/logger/injector.spec.ts
  packages/common/integration/tests/jest/object/object.spec.ts
  packages/common/integration/tests/jest/virtual-table/services/selection.service.spec.ts
  packages/common/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: use ts-node instead zx (#855)
  dev-infra/dev-dependencies/package.json
  dev-infra/renovate/package.json
  package.json
  packages/common/integration/tests/jest/logger/console-group-api.spec.ts
  packages/common/integration/tests/jest/logger/decorators.spec.ts
  packages/common/integration/tests/jest/logger/injector.spec.ts
  packages/common/integration/tests/jest/object/object.spec.ts
  packages/common/integration/tests/jest/virtual-table/services/selection.service.spec.ts
  packages/common/integration/tests/jest/websocket/websocket-client.spec.ts
  packages/common/package.json
  packages/common/virtual-table/src/abstract-table-builder-api.directive.ts
  scripts/build.ts
  scripts/clean.ts
  scripts/format.ts
  scripts/integration.ts
  scripts/lint.ts
  scripts/release-version.ts
  scripts/symlink.ts
  scripts/test.ts
  scripts/utils/async-exec.ts
  scripts/utils/error-handler.ts
  scripts/utils/get-packages.ts
  scripts/utils/is-error.ts
  scripts/utils/log.ts
  scripts/utils/no-throw.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  dev-infra/dev-dependencies/package.json
  dev-infra/renovate/package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: added support of Map and Set
  packages/common/array/src/has-at-most-one-item.ts
  packages/common/array/src/has-items.ts
  packages/common/array/src/has-many-items.ts
  packages/common/array/src/has-no-items.ts
  packages/common/array/src/has-one-item.ts
  packages/common/array/src/types.ts
  packages/common/docs/array.md
  packages/common/integration/tests/jest/array/utility-arrays.spec.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  packages/common/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(cdk): align versions with cdk package
  .scripts/build.ts
  .scripts/clean.ts
  .scripts/format.ts
  .scripts/integration.ts
  .scripts/lint.ts
  .scripts/release-version.ts
  .scripts/symlink.ts
  .scripts/test.ts
  .scripts/utils/async-exec.ts
  .scripts/utils/error-handler.ts
  .scripts/utils/get-packages.ts
  .scripts/utils/is-error.ts
  .scripts/utils/log.ts
  .scripts/utils/no-throw.ts
  commitlint.config.js
  dev-infra/commitlint/package.json
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/renovate/package.json
  dev-infra/typescript/package.json
  lerna.json
  package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(cdk): align versions with cdk package (#859)
  .scripts/build.ts
  .scripts/clean.ts
  .scripts/format.ts
  .scripts/integration.ts
  .scripts/lint.ts
  .scripts/release-version.ts
  .scripts/symlink.ts
  .scripts/test.ts
  .scripts/utils/async-exec.ts
  .scripts/utils/error-handler.ts
  .scripts/utils/get-packages.ts
  .scripts/utils/is-error.ts
  .scripts/utils/log.ts
  .scripts/utils/no-throw.ts
  commitlint.config.js
  dev-infra/commitlint/package.json
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/renovate/package.json
  dev-infra/typescript/package.json
  lerna.json
  package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): %s [ci skip]
  CHANGELOG.md
  dev-infra/commitlint/package.json
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/renovate/package.json
  dev-infra/typescript/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

build(cdk): update lerna.json
  lerna.json
Due: yarn prettier --write

build(cdk): update lerna.json (#860)
  lerna.json
Due: yarn prettier --write

docs(ngxs): update README.md
  packages/ngxs/README.md
Due: yarn prettier --write

docs(ngxs): update README.md (#870)
  packages/ngxs/README.md
Due: yarn prettier --write

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

docs(ngxs): update README.md (#871)
  packages/ngxs/README.md
Due: yarn prettier --write

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

ci(cdk): use parallel jobs
  .github/workflows/build.yml
  .github/workflows/pipeline.yml
Due: none

feat(cdk): improve signature for updateArray function
  packages/cdk/array/src/update-array.ts
Due: yarn prettier --write, yarn eslint --fix

feat(cdk): improve signature for updateArray function
  packages/cdk/docs/array.md
Due: yarn prettier --write

refactor(cdk): improve signature for updateArray function (#874)
  packages/cdk/array/src/update-array.ts
  packages/cdk/docs/array.md
Due: yarn prettier --write, yarn eslint --fix

test(cdk): fix updateArray tests
  packages/cdk/integration/tests/jest/array/update-array.spec.ts
Due: yarn prettier --write, yarn eslint --fix

Revert "refactor(cdk): improve signature for updateArray function (#874)"
  packages/cdk/array/src/update-array.ts
  packages/cdk/docs/array.md
Due: yarn prettier --write, yarn eslint --fix

test(cdk): fix updateArray tests
  .github/workflows/build.yml
Due: none

Revert "test(cdk): fix updateArray tests"
  .github/workflows/build.yml
Due: none
