Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: support correct package.json format
  .github/workflows/lint.yml
  .github/workflows/release.yml
  libs/prettier/package.json
  libs/prettier/prettier.config.js
  package.json
  workspace.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(cdk): release version 12.57.2 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(prettier): release version 12.57.1 [ci skip]
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(cdk): release version 12.57.3 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update release.yml
  .github/workflows/release.yml
Due: none

build: update eslint dependencies to v5.9.1
  libs/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update nrwl dependencies to v13.4.4
  libs/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency rxjs to v7.5.2
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: bump versions #4 [ci skip]
  libs/cdk/package.json
  libs/cdk/project.json
  libs/commitlint/package.json
  libs/commitlint/project.json
  libs/dev-dependencies/project.json
  libs/eslint-config-enterprise/package.json
  libs/eslint-config-enterprise/project.json
  libs/eslint-plugin-enterprise/package.json
  libs/eslint-plugin-enterprise/project.json
  libs/jest/package.json
  libs/jest/project.json
  libs/ngxs/package.json
  libs/ngxs/project.json
  libs/prettier/package.json
  libs/prettier/project.json
  libs/renovate/package.json
  libs/renovate/project.json
  libs/typescript/package.json
  libs/typescript/project.json
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 12.58.1 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(commitlint): release version 12.58.1 [ci skip]
  libs/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(typescript): release version 12.58.1 [ci skip]
  libs/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(prettier): release version 12.58.1 [ci skip]
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(renovate): release version 12.58.1 [ci skip]
  libs/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(cdk): release version 12.58.1 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-plugin-enterprise): release version 12.58.1 [ci skip]
  libs/eslint-plugin-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(jest): release version 12.58.1 [ci skip]
  libs/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(ngxs): release version 12.58.1 [ci skip]
  libs/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-config-enterprise): release version 12.58.1 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update all workflows [ci skip]
  .github/workflows/build.yml
  .github/workflows/integrations.yml
  .github/workflows/label-when-approved.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-ng.yml
Due: none

ci: add npmrc [ci skip]
  .github/workflows/release.yml
  .gitignore
  .npmrc
  workspace.json
Due: yarn prettier --write

ci: changes in project.json [ci skip]
  libs/cdk/project.json
  libs/commitlint/project.json
  libs/dev-dependencies/project.json
  libs/eslint-config-enterprise/project.json
  libs/eslint-plugin-enterprise/project.json
  libs/jest/project.json
  libs/ngxs/project.json
  libs/prettier/project.json
  libs/renovate/project.json
  libs/typescript/project.json
Due: yarn prettier --write

chore(cdk): release version 12.58.2 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 12.58.2 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(commitlint): release version 12.58.2 [ci skip]
  libs/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(typescript): release version 12.58.2 [ci skip]
  libs/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(prettier): release version 12.58.2 [ci skip]
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(renovate): release version 12.58.2 [ci skip]
  libs/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-plugin-enterprise): release version 12.58.2 [ci skip]
  libs/eslint-plugin-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(jest): release version 12.58.2 [ci skip]
  libs/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(ngxs): release version 12.58.2 [ci skip]
  libs/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: changes in release.yml [ci skip]
  .github/workflows/release.yml
Due: none

ci: changes in release.yml #1
  .github/workflows/release.yml
Due: none

chore(eslint-config-enterprise): release version 12.58.2 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: update files
  .github/workflows/release.yml
  libs/eslint-config-enterprise/integration/tests/test.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore(eslint-config-enterprise): release version 12.58.3 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update nx.json
  nx.json
Due: yarn prettier --write

ci: remove npmrc
  .github/workflows/release.yml
  .npmrc
Due: none

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
