Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(@angular-ru/common): add DeclinationOfNumberPipe
  packages/common/pipes/src/declination-of-number/declination-of-number-pipe.module.ts
  packages/common/pipes/src/declination-of-number/declination-of-number.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

docs(@angular-ru/common): add DeclinationOfNumberPipe
  packages/common/docs/pipes.md
Due: yarn prettier --write

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/http/package.json
  packages/logger/package.json
  packages/ng-table-builder/package.json
  packages/tooltip/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add DeclinationOfNumberPipe (#705)
  packages/common/docs/pipes.md
  packages/common/pipes/src/declination-of-number/declination-of-number-pipe.module.ts
  packages/common/pipes/src/declination-of-number/declination-of-number.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): remove deprecated utils from */zone.js
  packages/common/zone.js/src/_noop.ts
  packages/common/zone.js/src/public_api.ts
  packages/common/zone.js/src/unpatch-events.ts
  packages/common/zone.js/unpatch-zone/src/unpatch-events.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): remove deprecated utils from */zone.js (#706)
  packages/common/zone.js/src/_noop.ts
  packages/common/zone.js/src/public_api.ts
  packages/common/zone.js/src/unpatch-events.ts
  packages/common/zone.js/unpatch-zone/src/unpatch-events.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/http): support passing explicit variables in path
  packages/http/decorators/src/internal/ensure-descriptor-by-type.ts
  packages/http/decorators/src/internal/mutate-path-by-path-variables.ts
  packages/http/integration/tests/decorators/without-decorators.spec.ts
  packages/http/src/configs/data-request-options.config.ts
  packages/http/typings/src/interfaces/data-client-request-options.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/http): support passing explicit variables in path (#707)
  packages/http/decorators/src/internal/ensure-descriptor-by-type.ts
  packages/http/decorators/src/internal/mutate-path-by-path-variables.ts
  packages/http/integration/tests/decorators/without-decorators.spec.ts
  packages/http/src/configs/data-request-options.config.ts
  packages/http/typings/src/interfaces/data-client-request-options.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/http/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): improved tryParseJson
  packages/common/utils/src/try-parse-json.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): improved tryParseJson (#708)
  packages/common/utils/src/try-parse-json.ts
Due: yarn prettier --write, yarn eslint --fix

feat(common): add mapObject function
  packages/common/docs/object.md
  packages/common/integration/tests/object/object.spec.ts
  packages/common/object/src/map-object.ts
  packages/common/object/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(common): add mapObject function
  packages/common/docs/object.md
  packages/common/integration/tests/object/object.spec.ts
  packages/common/object/src/public_api.ts
  packages/common/object/src/shallow-map-object.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): remove 'null' as empty value
  BREAKING_CHANGES.md
  packages/common/docs/utils.md
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/typings/src/empty-value.ts
  packages/common/utils/src/check-value-is-empty.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-table-builder/src/services/sortable/sort.worker.ts
Due: yarn prettier --write, yarn eslint --fix

docs: fix BREAKING_CHANGES.md
  BREAKING_CHANGES.md
Due: yarn prettier --write

feat(@angular-ru/common): remove 'null' as empty value (#710)
  BREAKING_CHANGES.md
  packages/common/docs/utils.md
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/typings/src/empty-value.ts
  packages/common/utils/src/check-value-is-empty.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-table-builder/src/services/sortable/sort.worker.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add mapObject function (#709)
  packages/common/docs/object.md
  packages/common/integration/tests/object/object.spec.ts
  packages/common/object/src/public_api.ts
  packages/common/object/src/shallow-map-object.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/ng-table-builder): set async stub for trigger onChanges
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/ng-table-builder): set async stub for trigger onChanges (#713)
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/eslint-config): required new line after import
  packages/common/array/src/unique-array-of.ts
  packages/common/number/src/number-format/number-format.ts
  packages/common/pipes/src/deep-path/deep-path.pipe.ts
  packages/common/pipes/src/includes/includes.pipe.ts
  packages/eslint-config/index.js
  packages/flex-layout/src/directives/flex-bottom-indent.directive.ts
  packages/http/src/services/limit-concurency.service.ts
  packages/logger/src/logger.injector.ts
  packages/ng-excel-builder/setup-jest.ts
  packages/ng-table-builder/setup-jest.ts
  packages/websocket/setup-jest.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/eslint-config): required new line after import (#714)
  packages/common/array/src/unique-array-of.ts
  packages/common/number/src/number-format/number-format.ts
  packages/common/pipes/src/deep-path/deep-path.pipe.ts
  packages/common/pipes/src/includes/includes.pipe.ts
  packages/eslint-config/index.js
  packages/flex-layout/src/directives/flex-bottom-indent.directive.ts
  packages/http/src/services/limit-concurency.service.ts
  packages/logger/src/logger.injector.ts
  packages/ng-excel-builder/setup-jest.ts
  packages/ng-table-builder/setup-jest.ts
  packages/websocket/setup-jest.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: added empty array as no value for the form
  packages/common/integration/tests/validators/required-some-value-by-keys-validator.spec.ts
  packages/common/validators/src/required-some-value-by-keys.validator.ts
Due: yarn prettier --write, yarn eslint --fix

feat: added regexp REG_EXP_INTEGERS_SEPARATED_BY_COMMA
  packages/common/docs/regexp.md
  packages/common/integration/tests/regexp/regexp-constants.spec.ts
  packages/common/regexp/src/constants.ts
  packages/common/regexp/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fix(ng-table-builder): intersect explicit keys with model
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/sample-fourteen.component.ts
  packages/ng-table-builder/src/components/table-thead/table-thead.component.html
  packages/ng-table-builder/src/services/template-parser/template-parser.service.ts
  packages/ng-table-builder/src/styles/cell.scss
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): correct to-number signature
  packages/common/docs/number.md
  packages/common/integration/tests/number/number.spec.ts
  packages/common/number/src/to-number.ts
  packages/ng-table-builder/src/components/table-thead/table-thead.component.html
  packages/ng-table-builder/src/services/template-parser/template-parser.service.ts
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

feat(common): support nullable types for excel builder & table builder
  packages/common/table-utils/src/interfaces/rules-descriptor.ts
  packages/ng-excel-builder/src/domain/column-parameters.ts
  packages/ng-excel-builder/src/domain/excel-workbook.ts
  packages/ng-excel-builder/src/domain/excel-worksheet.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-table-builder/src/interfaces/table-builder.external.ts
  packages/ng-table-builder/src/services/template-parser/template-parser.service.ts
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): correct to-number signature
  packages/common/docs/number.md
  packages/common/integration/tests/number/number.spec.ts
  packages/common/number/src/to-number.ts
Due: yarn prettier --write, yarn eslint --fix

build: remove redundant
  packages/eslint-config/integration/assets/i18n/a/ru.txt
  packages/eslint-config/integration/tests/file-suites/i18n/a/bad.txt
Due: none

build: remove redundant (#715)
  packages/eslint-config/integration/assets/i18n/a/ru.txt
  packages/eslint-config/integration/tests/file-suites/i18n/a/bad.txt
Due: none

build(@angular-ru/flex-layout): correct resolve paths
  packages/flex-layout/tsconfig.app.json
  packages/flex-layout/tsconfig.base.json
  packages/flex-layout/tsconfig.json
  packages/flex-layout/tsconfig.lib.json
Due: yarn prettier --write

build(@angular-ru/tsconfig): root empty types
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write

build(@angular-ru/flex-layout): correct resolve paths (#716)
  packages/flex-layout/tsconfig.app.json
  packages/flex-layout/tsconfig.base.json
  packages/flex-layout/tsconfig.json
  packages/flex-layout/tsconfig.lib.json
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/flex-layout/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
