Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

chore: update yarn.lock
  yarn.lock
Due: none

feat(@angular-ru/build-tools): remove instanbul as deprecated
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
Due: yarn prettier --write, yarn sort-package-json

build(deps): update dependency eslint to v7.23.0
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependencies
  packages/build-tools/package.json
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/tooltip): add ngx-tooltip-text.interceptor.ts
  packages/tooltip/ng-package.json
  packages/tooltip/src/ngx-tooltip-text.interceptor.ts
  packages/tooltip/src/public_api.ts
  packages/tooltip/src/tooltip.properties.ts
Due: yarn prettier --write, yarn eslint --fix

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/tooltip/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: added date converters
  packages/common/date/src/end-of-day.ts
  packages/common/date/src/public_api.ts
  packages/common/date/src/shift-date/interval.interface.ts
  packages/common/date/src/shift-date/shift-date.ts
  packages/common/date/src/start-of-day.ts
  packages/common/integration/tests/date/end-of-day.spec.ts
  packages/common/integration/tests/date/shift-date.spec.ts
  packages/common/integration/tests/date/start-of-day.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: changed documentation of date converters
  packages/common/docs/date.md
Due: yarn prettier --write

fix: changed tests for date converters
  packages/common/integration/tests/date/end-of-day.spec.ts
  packages/common/integration/tests/date/serial-date.spec.ts
  packages/common/integration/tests/date/shift-date.spec.ts
  packages/common/integration/tests/date/start-of-day.spec.ts
Due: yarn prettier --write, yarn eslint --fix

refactor(common/date): changes after review
  packages/common/date/src/public_api.ts
  packages/common/date/src/shift-date/date-shift-descriptor.interface.ts
  packages/common/date/src/shift-date/shift-date.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update dependency husky to v6
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix: uncommitted tests
  packages/common/integration/tests/date/serial-date.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update ESLint to v4.20.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common/pipes): add brace pipe
  packages/common/integration/tests/pipes/brace.pipe.spec.ts
  packages/common/pipes/src/brace/brace-pipe.module.ts
  packages/common/pipes/src/brace/brace.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! (@angular-ru/common/pipes): add docs
  packages/common/docs/pipes.md
Due: yarn prettier --write

feat(@angular-ru/common/pipes): add brace pipe
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/brace.pipe.spec.ts
  packages/common/pipes/src/brace/brace-pipe.module.ts
  packages/common/pipes/src/brace/brace.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

fix: fixed a bug in the context menu for Chrome v.67
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu.component.scss
Due: yarn prettier --write

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/tooltip): add half number function
  packages/common/docs/number.md
  packages/common/integration/tests/number/number.spec.ts
  packages/common/number/src/half.ts
  packages/common/number/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/tooltip): add half number function
  packages/common/integration/tests/number/number.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: added tests for date converters
  packages/common/date/src/public_api.ts
  packages/common/date/src/to-iso-string-without-timezone.ts
  packages/common/integration/tests/date/end-of-day.spec.ts
  packages/common/integration/tests/date/shift-date.spec.ts
  packages/common/integration/tests/date/start-of-day.spec.ts
  packages/common/integration/tests/date/to-iso-string-without-timezone.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fix: added documentation for date parser 'toISOStringWithoutTimezone'
  packages/common/docs/date.md
  packages/common/integration/tests/date/end-of-day.spec.ts
  packages/common/integration/tests/date/shift-date.spec.ts
  packages/common/integration/tests/date/start-of-day.spec.ts
  packages/common/integration/tests/date/to-iso-string-without-timezone.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update dependency @types/eslint to v7.2.8
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: skip non selected files for commit
  .husky/pre-commit
  package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add directiveInject, inject to @angular-ru/common/ivy
  packages/common/integration/tests/ivy/injection-utils.spec.ts
  packages/common/ivy/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

docs: updated release notes and package versions [ci skip]
  lerna.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add DateRange interface
  packages/common/date/src/date-range.interface.ts
  packages/common/date/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/common): don't throw error when use InjectFlags.Optional in directiveInject, inject utils
  packages/common/integration/tests/ivy/injection-utils.spec.ts
  packages/common/ivy/src/public_api.ts
  packages/common/ivy/src/utils/injection-utils.ts
Due: yarn prettier --write, yarn eslint --fix

Revert "ci: skip non selected files for commit"
  .husky/pre-commit
  package.json
Due: yarn prettier --write, yarn sort-package-json

!fixup update lerna.json
  lerna.json
Due: yarn prettier --write
