Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(@angular-ru/common/utils): add downloadFile utility (#517)
  packages/common/docs/utils.md
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/utils/src/download-file.ts
  packages/common/utils/src/public_api.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/ng-excel-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint to v4.22.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: added pipe 'nameByPath', util 'getNameByPath'
  packages/common/docs/object.md
  packages/common/docs/pipes.md
  packages/common/integration/tests/object/object.spec.ts
  packages/common/integration/tests/pipes/entity-name-pipe.spec.ts
  packages/common/object/src/get-name-by-path.ts
  packages/common/object/src/public_api.ts
  packages/common/pipes/src/name-by-path/name-by-path-pipe.module.ts
  packages/common/pipes/src/name-by-path/name-by-path.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add NgCssClasses
  packages/common/docs/typings.md
  packages/common/typings/src/ng-css-classes.ts
  packages/common/typings/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

refactor: fix typings.md
  packages/common/docs/typings.md
Due: yarn prettier --write

feat(@angular-ru/common): add NgCssClasses (#529)
  packages/common/docs/typings.md
  packages/common/typings/src/ng-css-classes.ts
  packages/common/typings/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

refactor(@angular-ru/common): changes after review
  packages/common/docs/object.md
  packages/common/docs/pipes.md
  packages/common/integration/tests/object/object.spec.ts
  packages/common/integration/tests/pipes/display-item-pipe.spec.ts
  packages/common/integration/tests/pipes/entity-name-pipe.spec.ts
  packages/common/object/src/get-name-by-path.ts
  packages/common/object/src/public_api.ts
  packages/common/pipes/src/display-item/display-item-pipe.module.ts
  packages/common/pipes/src/display-item/display-item.pipe.ts
  packages/common/pipes/src/name-by-path/name-by-path-pipe.module.ts
  packages/common/pipes/src/name-by-path/name-by-path.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

refactor(@angular-ru/common): changes after review
  packages/common/pipes/src/display-item/display-item.pipe.ts
Due: yarn prettier --write, yarn eslint --fix

ci: add stale.yml
  .github/stale.yml
Due: none

fix(@angular-ru/common): fix exclude typings
  packages/common/array/src/exclude.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/common): fix exclude typings (#530)
  packages/common/array/src/exclude.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update dependency @types/eslint to v7.2.10
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependencies
  packages/build-tools/package.json
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

refactor(@angular-ru/ng-table-builder): disassemble UtilsService
  packages/common/integration/tests/object/object.spec.ts
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/object/src/paths-of-object.ts
  packages/common/object/src/public_api.ts
  packages/ng-table-builder/integration/tests/samples/lifecycle/lifecycle.spec.ts
  packages/ng-table-builder/integration/tests/services/utils.service.spec.ts
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/components/common/abstract-modal-view-layer.directive.ts
  packages/ng-table-builder/src/services/utils/utils.interface.ts
  packages/ng-table-builder/src/services/utils/utils.service.ts
  packages/ng-table-builder/src/table-builder.component.ts
  packages/ng-table-builder/src/table-builder.module.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

refactor(@angular-ru/ng-table-builder): disassemble UtilsService (#514)
  packages/common/integration/tests/object/object.spec.ts
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/object/src/paths-of-object.ts
  packages/common/object/src/public_api.ts
  packages/ng-table-builder/integration/tests/samples/lifecycle/lifecycle.spec.ts
  packages/ng-table-builder/integration/tests/services/utils.service.spec.ts
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/components/common/abstract-modal-view-layer.directive.ts
  packages/ng-table-builder/src/services/utils/utils.interface.ts
  packages/ng-table-builder/src/services/utils/utils.service.ts
  packages/ng-table-builder/src/table-builder.component.ts
  packages/ng-table-builder/src/table-builder.module.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependencies
  packages/build-tools/package.json
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/node to v14.14.41
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/eslint-plugin): add custom eslint rules for projects
  .gitignore
  package.json
  packages/common/symlink.sh
  packages/common/typings/src/keyboard.ts
  packages/common/typings/src/public_api.ts
  packages/eslint-config/index.js
  packages/eslint-config/integration/tests/file-suities/file-pattern/my/my-correct.ts
  packages/eslint-config/integration/tests/file-suities/file-pattern/my/my.model.ts
  packages/eslint-config/integration/tests/file-suities/file-pattern/own/own-correct.ts
  packages/eslint-config/integration/tests/file-suities/file-pattern/own/own.enum.ts
  packages/eslint-config/integration/tests/file-suities/module/a1.ts
  packages/eslint-config/integration/tests/file-suities/module/b1.ts
  packages/eslint-config/integration/tests/file-suities/module/c1.ts
  packages/eslint-config/integration/tests/file-suities/module/deep/deep/deep/deep/deep/deep/deeeeeeeeeeeeeeeeeeep/deeeeeeeeeeeeeeeeeeep/deeeeeeeeeeeeeeeeeeep/example-deep.ts
  packages/eslint-config/integration/tests/file-suities/typescript.bad.ts
  packages/eslint-config/integration/tests/file-suities/typescript.good.ts
  packages/eslint-config/integration/tests/test.spec.ts
  packages/eslint-config/package.json
  packages/eslint-config/test.sh
  packages/eslint-plugin/README.md
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/interfaces/eslint-rule.ts
  packages/eslint-plugin/src/rules/no-enum-suffix-rule.ts
  packages/eslint-plugin/src/rules/no-model-suffix-rule.ts
  packages/eslint-plugin/src/utils/file-ends-with.ts
  packages/eslint-plugin/symlink.sh
  packages/eslint-plugin/tsconfig.json
  packages/http/typings/src/enums/http-method.ts
  packages/http/typings/src/enums/http-status-code.ts
  packages/http/typings/src/enums/request-type.ts
  packages/http/typings/src/interfaces/internal/ensure-decorator-options.ts
  packages/http/typings/src/public_api.ts
  packages/logger/integration/tests/console-format-api.spec.ts
  packages/logger/integration/tests/console-group-api.spec.ts
  packages/logger/integration/tests/helpers/custom-colors.ts
  packages/stream/src/compress.ts
  packages/stream/src/decompress.ts
  packages/stream/src/encoding-type.ts
  packages/stream/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

docs: update README.md
  README.md
  packages/eslint-plugin/README.md
Due: yarn prettier --write

feat: update ESLint to v3
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix: update test file
  packages/eslint-config/integration/tests/test.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update ESLint to v4
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add TypeAs pipe
  packages/common/docs/pipes.md
  packages/common/pipes/src/public_api.ts
  packages/common/pipes/src/type-as/type-as-pipe.module.ts
  packages/common/pipes/src/type-as/type-as.pipe.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add DateIntervalDescriptor
  packages/common/typings/src/date-interval-descriptor.ts
  packages/common/typings/src/public_api.ts
  packages/common/validators/src/date-interval.validator.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): add DateIntervalDescriptor
  packages/common/docs/typings.md
Due: yarn prettier --write

feat(@angular-ru/common): add TypeAs pipe (#539)
  packages/common/docs/pipes.md
  packages/common/pipes/src/public_api.ts
  packages/common/pipes/src/type-as/type-as-pipe.module.ts
  packages/common/pipes/src/type-as/type-as.pipe.ts
Due: yarn prettier --write, yarn eslint --fix

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
