Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: update Angular to v11.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: update devDependencies
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency karma to v6
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

!fixup
  packages/tooltip/integration/app/src/samples/guide/guide.component.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/tooltip): improved api and performance (#378)
  packages/tooltip/angular.json
  packages/tooltip/integration/app/assets/.gitkeep
  packages/tooltip/integration/app/assets/github.min.css
  packages/tooltip/integration/app/assets/img/angular.svg
  packages/tooltip/integration/app/assets/img/pipeline.png
  packages/tooltip/integration/app/custom-theme.scss
  packages/tooltip/integration/app/environments/environment.prod.ts
  packages/tooltip/integration/app/environments/environment.ts
  packages/tooltip/integration/app/favicon.ico
  packages/tooltip/integration/app/index.html
  packages/tooltip/integration/app/main.ts
  packages/tooltip/integration/app/polyfills.ts
  packages/tooltip/integration/app/src/app-routing.module.ts
  packages/tooltip/integration/app/src/app.component.html
  packages/tooltip/integration/app/src/app.component.ts
  packages/tooltip/integration/app/src/app.module.ts
  packages/tooltip/integration/app/src/samples/guide/guide.component.html
  packages/tooltip/integration/app/src/samples/guide/guide.component.ts
  packages/tooltip/integration/app/src/samples/guide/guide.module.ts
  packages/tooltip/integration/app/styles.scss
  packages/tooltip/integration/app/tsconfig.app.json
  packages/tooltip/integration/app/tsconfig.spec.json
  packages/tooltip/ng-package.json
  packages/tooltip/package.json
  packages/tooltip/src/public_api.ts
  packages/tooltip/src/tooltip-default-text.interceptor.ts
  packages/tooltip/src/tooltip-dom-leak.service.ts
  packages/tooltip/src/tooltip.directive.ts
  packages/tooltip/src/tooltip.interface.ts
  packages/tooltip/src/tooltip.interfaces.ts
  packages/tooltip/src/tooltip.module.ts
  packages/tooltip/src/tooltip.properties.ts
  packages/tooltip/src/tooltip.tokens.ts
  packages/tooltip/styles/index.scss
  packages/tooltip/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/tooltip/package.json
Due: yarn prettier --write, yarn sort-package-json

docs(@angular-ru/tooltip): update integration app
  packages/tooltip/README.md
  packages/tooltip/integration/app/assets/github.min.css
  packages/tooltip/integration/app/custom-theme.scss
  packages/tooltip/integration/app/index.html
  packages/tooltip/integration/app/styles.scss
  packages/tooltip/package.json
  packages/tooltip/styles/index.scss
Due: yarn prettier --write, yarn sort-package-json

docs(@angular-ru/ng-table-builder): update integration app
  packages/flex-layout/integration/app/assets/github.min.css
  packages/flex-layout/integration/app/assets/hljs.js
  packages/flex-layout/integration/app/custom-theme.scss
  packages/flex-layout/integration/app/index.html
  packages/flex-layout/integration/app/styles.scss
  packages/ng-table-builder/README.md
  packages/ng-table-builder/angular.json
  packages/ng-table-builder/integration/app/assets/favicon.ico
  packages/ng-table-builder/integration/app/assets/github.min.css
  packages/ng-table-builder/integration/app/assets/hljs.js
  packages/ng-table-builder/integration/app/index.html
  packages/ng-table-builder/integration/app/src/app.component.html
  packages/ng-table-builder/integration/app/styles.scss
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

docs: update integration app
  packages/flex-layout/angular.json
  packages/flex-layout/integration/app/index.html
  packages/flex-layout/integration/app/src/app.component.html
  packages/flex-layout/integration/app/src/samples/guide/guide.component.html
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.component.html
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.component.scss
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.component.ts
  packages/flex-layout/integration/app/styles.scss
  packages/flex-layout/package.json
  packages/logger/integration/app/index.html
  packages/ng-excel-builder/integration/app/index.html
  packages/ng-table-builder/angular.json
  packages/ng-table-builder/integration/app/custom-theme.scss
  packages/ng-table-builder/integration/app/environments/environment.prod.ts
  packages/ng-table-builder/integration/app/environments/environment.ts
  packages/ng-table-builder/integration/app/index.html
  packages/ng-table-builder/integration/app/src/app.component.html
  packages/ng-table-builder/integration/app/src/shared/symbol.ts
  packages/ng-table-builder/integration/app/styles.scss
  packages/stream/integration/app/index.html
  packages/tooltip/angular.json
  packages/tooltip/integration/app/assets/favicon.ico
  packages/tooltip/integration/app/assets/img/pipeline.png
  packages/tooltip/integration/app/index.html
  packages/tooltip/integration/app/src/app.component.html
  packages/tooltip/integration/app/styles.scss
  styles/integration-app.style.scss
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(@angular-ru/build-tools): add @types/karma, @types/jasmine, @types/jasminewd2
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

docs: update email in package.json
  package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.component.html
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/prettier-config/package.json
  packages/stream/package.json
  packages/tooltip/package.json
  packages/tsconfig/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

docs(@angular-ru/tooltip): update README.md
  packages/tooltip/README.md
Due: yarn prettier --write

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/flex-layout/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/prettier-config/package.json
  packages/stream/package.json
  packages/tooltip/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: added optional param limitConcurrency
  package.json
  packages/http/src/data-http-client.module.ts
  packages/http/src/services/data-http.client.ts
  packages/http/src/services/limit-concurency.service.ts
  packages/http/typings/src/interfaces/data-client-request-options.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(@angular-ru/common): support class-transformer 0.3.2
  package.json
  packages/common/README.md
  packages/common/class-transformer/package.json
  packages/common/class-transformer/src/public_api.ts
  packages/common/class-transformer/src/transform-as-prepare-fields-from-class.ts
  packages/common/class-transformer/src/transform-options.ts
  packages/common/class-transformer/src/transform-parse-float.ts
  packages/common/class-transformer/src/transform-parse-int.ts
  packages/common/class-transformer/src/transform-to-class.ts
  packages/common/class-transformer/src/transform-to-format-date-time.ts
  packages/common/class-transformer/src/transform-to-number.ts
  packages/common/class-transformer/src/transform-to-pretty-format.ts
  packages/common/class-transformer/src/transform-to-string-val.ts
  packages/common/class-transformer/src/transform-to-trim.ts
  packages/common/class-transformer/src/transform-to-unix.ts
  packages/common/docs/class-transformer.md
  packages/common/integration/tests/class-transformer/class-transformer.spec.ts
  packages/common/integration/tests/tsconfig.spec.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

!fixup feat(@angular-ru/common): support class-transformer 0.3.2
  packages/common/integration/tests/class-transformer/class-transformer.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

build(@angular-ru/tooltip): forgot add @import '~@angular-ru/tooltip/styles';
  packages/tooltip/integration/app/styles.scss
Due: yarn prettier --write

fix(@angular-ru/common): sync modelView with model in ngControl for amount-format, convertCase, maxLength, trimInput directives
  packages/common/form/src/directives/amount-format/amount-format.directive.ts
  packages/common/form/src/directives/convert-case/convert-case.directive.ts
  packages/common/form/src/directives/disable-control/disable-control.directive.ts
  packages/common/form/src/directives/max-length/max-length.directive.ts
  packages/common/form/src/directives/trim-input/trim-input.directive.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup fix(@angular-ru/common): sync modelView with model in ngControl for amount-format, convertCase, maxLength, trimInput directives
  packages/common/form/src/directives/amount-format/amount-format.directive.ts
  packages/common/form/src/directives/trim-input/trim-input.directive.ts
Due: yarn prettier --write, yarn eslint --fix

ci: update dependency karma to v6.0.4
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/ng-table-builder): use ngx-empty after filtering if data list is empty
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/not-found.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/sample-fourteen.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/sample-fourteen.module.ts
  packages/ng-table-builder/src/styles/common.scss
  packages/ng-table-builder/src/table-builder.api.ts
  packages/ng-table-builder/src/table-builder.component.html
  packages/ng-table-builder/src/table-builder.module.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency ng-packagr to v11.1.3
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/common): remove form secondary package, also fix trimInput regression
  package.json
  packages/common/directives/src/amount-format/amount-format.directive.ts
  packages/common/directives/src/amount-format/amount-format.module.ts
  packages/common/directives/src/convert-case/convert-case.directive.ts
  packages/common/directives/src/convert-case/convert-case.module.ts
  packages/common/directives/src/disable-control/disable-control.directive.ts
  packages/common/directives/src/disable-control/disable-control.module.ts
  packages/common/directives/src/max-length/max-length.directive.ts
  packages/common/directives/src/max-length/max-length.module.ts
  packages/common/directives/src/public_api.ts
  packages/common/directives/src/trim-input/trim-input.directive.ts
  packages/common/directives/src/trim-input/trim-input.module.ts
  packages/common/form/src/public_api.ts
  packages/common/integration/tests/directives/amount-format.spec.ts
  packages/common/integration/tests/directives/trim-input.spec.ts
  packages/common/integration/tests/validators/empty-validator.spec.ts
  packages/common/validators/package.json
  packages/common/validators/src/empty.validator.ts
  packages/common/validators/src/public_api.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/common/package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

docs(@angular-ru/common): update directives.md and validators.md
  packages/common/README.md
  packages/common/docs/directives.md
  packages/common/docs/validators.md
Due: yarn prettier --write

fix(@angular-ru/ng-table-builder): correct mark is all selection when skip any element
  packages/ng-table-builder/src/services/selection/selection.service.ts
  packages/ng-table-builder/src/services/selection/selection.ts
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup fix(@angular-ru/ng-table-builder): correct mark is all selection when skip any element
  packages/ng-table-builder/integration/tests/services/selection.service.spec.ts
Due: yarn prettier --write, yarn eslint --fix

ci: update Angular to v11.1.2
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/node to v14.14.24
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
