Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

chore(jest): release version 12.64.0 [ci skip]
  libs/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(ngxs): release version 12.64.0 [ci skip]
  libs/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-config-enterprise): release version 12.64.0 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: updated RELEASE_NOTES.md [ci skip]
  RELEASE_NOTES.md
Due: yarn prettier --write

build: update dependency @types/eslint to v8.4.1
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update all dependencies (minor/patch)
  .github/workflows/release.yml
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @commitlint/cli to v16.1.0
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update jest dependencies
  libs/jest/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 12.64.1 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(commitlint): release version 12.64.1 [ci skip]
  libs/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(jest): release version 12.64.1 [ci skip]
  libs/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-config-enterprise): release version 12.64.1 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(eslint-config-enterprise): add additional
  .github/workflows/build.yml
  .github/workflows/integrations.yml
  .github/workflows/release.yml
  RELEASE_NOTES.md
  apps/virtual-table-demo/src/mocks-generator.ts
  apps/virtual-table-demo/src/samples/sample-first-second/sample-first-second.component.ts
  libs/cdk/big-decimal/src/js-big-decimal/big-decimal.ts
  libs/cdk/directives/src/split-string/split-string.directive.ts
  libs/cdk/excel/src/excel-builder.service.ts
  libs/cdk/http/decorators/src/internal/ensure-query-params.ts
  libs/cdk/http/src/utils/rest-template.ts
  libs/cdk/http/utils/src/build-url.ts
  libs/cdk/logger/src/services/css-factory.service.ts
  libs/cdk/string/src/filter.ts
  libs/cdk/table-utils/src/table-clipboard/table-clipboard.service.ts
  libs/cdk/tests/array/unique.spec.ts
  libs/cdk/tests/function/function.spec.ts
  libs/cdk/tests/logger/helpers/console-fake.ts
  libs/cdk/tests/object/object.spec.ts
  libs/cdk/tests/table-utils/table-utils.spec.ts
  libs/cdk/utils/src/check-every-value-is-empty.ts
  libs/cdk/utils/src/check-every-value-is-false.ts
  libs/cdk/utils/src/check-every-value-is-filled.ts
  libs/cdk/utils/src/check-every-value-is-true.ts
  libs/cdk/utils/src/check-some-value-is-empty.ts
  libs/cdk/utils/src/check-some-value-is-false.ts
  libs/cdk/utils/src/check-some-value-is-true.ts
  libs/cdk/utils/src/replace-units/replace-units.ts
  libs/cdk/validators/src/every-array-item.validator.ts
  libs/cdk/virtual-table/src/abstract-table-builder-api.directive.ts
  libs/cdk/virtual-table/src/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.ts
  libs/cdk/virtual-table/src/pipes/map-to-table-entries.pipe.ts
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
  libs/cdk/virtual-table/src/table-builder.component.ts
  libs/eslint-config-enterprise/modules/unicorn.js
  libs/eslint-config-enterprise/tests/test-i18n.spec.ts
  libs/eslint-config-enterprise/tests/test.spec.ts
  libs/ngxs/internals/src/utils/common/build-defaults-graph.ts
  libs/ngxs/repositories/src/ngxs-data-entity-collections/ngxs-data-entity-collections.repository.ts
  libs/ngxs/tests/storage-extensions/storage.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(eslint-config-enterprise): support new rules
  libs/cdk/date/src/to-format-date-time.ts
  libs/cdk/stream/src/array-buffer-to-base64.ts
  libs/cdk/stream/src/base64-to-array-buffer.ts
  libs/cdk/stream/src/decode-base64-to-unicode.ts
  libs/cdk/stream/src/encode-unicode-to-base64.ts
  libs/cdk/tests/directives/initial-focus.spec.ts
  libs/cdk/tests/logger/helpers/test.component.ts
  libs/eslint-config-enterprise/modules/unicorn.js
Due: yarn prettier --write, yarn eslint --fix

chore(cdk): release version 12.65.0 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(ngxs): release version 12.65.0 [ci skip]
  libs/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-config-enterprise): release version 12.65.0 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: cleanup package.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore: remove redundant
  RELEASE_NOTES.md
Due: yarn prettier --write

chore: remove redundant (#1226)
  RELEASE_NOTES.md
Due: yarn prettier --write

chore: update RELEASE_NOTE
  RELEASE_NOTES.md
Due: yarn prettier --write

chore(cdk): release version 12.66.0 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(ngxs): release version 12.66.0 [ci skip]
  libs/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-config-enterprise): release version 12.66.0 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(eslint-config-enterprise): support no-for-loop
  libs/cdk/array/src/update-array.ts
  libs/cdk/big-decimal/src/js-big-decimal/add.ts
  libs/cdk/big-decimal/src/js-big-decimal/compare-to.ts
  libs/cdk/virtual-table/src/table-builder.component.ts
  libs/eslint-config-enterprise/modules/unicorn.js
  libs/ngxs/internals/src/services/ngxs-data-factory.service.ts
Due: yarn prettier --write, yarn eslint --fix

feat(eslint-config-enterprise): support no-array-push-push
  libs/cdk/logger/src/services/json-factory.service.ts
  libs/eslint-config-enterprise/modules/unicorn.js
  libs/ngxs/tests/common-extensions/computed-observable.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore(cdk): release version 12.67.0 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(ngxs): release version 12.67.0 [ci skip]
  libs/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-config-enterprise): release version 12.67.0 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(cdk): table filter type IS_FILLED
  apps/virtual-table-demo/src/samples/sample-fourteen/context-menu-sample/context-menu-sample.component.html
  apps/virtual-table-demo/src/samples/sample-fourteen/context-menu-sample/context-menu-sample.component.ts
  apps/virtual-table-demo/src/samples/sample-fourteen/sample-fourteen.module.ts
  libs/cdk/pipes/src/is-filled/is-filled-pipe.module.ts
  libs/cdk/pipes/src/is-filled/is-filled.pipe.ts
  libs/cdk/pipes/src/public_api.ts
  libs/cdk/tests/virtual-table/components/table-builder.component.spec.ts
  libs/cdk/virtual-table/src/components/table-thead/table-thead.component.html
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
  libs/cdk/virtual-table/src/services/filterable/table-filter-type.ts
  libs/cdk/virtual-table/src/table-builder.module.ts
Due: yarn prettier --write, yarn eslint --fix

feat(cdk): table filter type IS_FILLED
  apps/virtual-table-demo/src/samples/sample-fourteen/context-menu-sample/context-menu-sample.component.ts
Due: yarn prettier --write, yarn eslint --fix

feat(cdk): table filter type IS_FILLED (#1232)
  apps/virtual-table-demo/src/samples/sample-fourteen/context-menu-sample/context-menu-sample.component.html
  apps/virtual-table-demo/src/samples/sample-fourteen/context-menu-sample/context-menu-sample.component.ts
  apps/virtual-table-demo/src/samples/sample-fourteen/sample-fourteen.module.ts
  libs/cdk/pipes/src/is-filled/is-filled-pipe.module.ts
  libs/cdk/pipes/src/is-filled/is-filled.pipe.ts
  libs/cdk/pipes/src/public_api.ts
  libs/cdk/tests/virtual-table/components/table-builder.component.spec.ts
  libs/cdk/virtual-table/src/components/table-thead/table-thead.component.html
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
  libs/cdk/virtual-table/src/services/filterable/table-filter-type.ts
  libs/cdk/virtual-table/src/table-builder.module.ts
Due: yarn prettier --write, yarn eslint --fix

chore(cdk): release version 12.68.0 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v17.0.17
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json
