Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

build: update dependency ng-packagr to v12.1.2
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: added property that return selected keys
  packages/ng-table-builder/src/services/selection/selection.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: changes after review
  packages/ng-table-builder/src/services/selection/selection.ts
Due: yarn prettier --write, yarn eslint --fix

feat: added property that return selected keys (#761)
  packages/ng-table-builder/src/services/selection/selection.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

build: set independent version in lerna.json
  lerna.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: set independent version in lerna.json (#762)
  lerna.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

test: fix failed tests
  packages/eslint-config/integration/tests/test.spec.ts
Due: yarn prettier --write, yarn eslint --fix

ci: force update
  lerna.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

ci: force update (#763)
  lerna.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(tsconfig.json): flat version with Angular 12
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write, yarn sort-package-json

feat(tsconfig.json): flat version with Angular 12 (#765)
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(typescript): add @angular-ru/typescript package
  BREAKING_CHANGES.md
  README.md
  packages/tsconfig/README.md
  packages/typescript/README.md
  packages/typescript/package.json
  packages/typescript/tsconfig.json
  tsconfig.json
Due: yarn prettier --write, yarn sort-package-json

fix: incorrect extends
  tsconfig.json
Due: yarn prettier --write

feat(typescript): add @angular-ru/typescript package (#767)
  BREAKING_CHANGES.md
  README.md
  packages/tsconfig/README.md
  packages/typescript/README.md
  packages/typescript/package.json
  packages/typescript/tsconfig.json
  tsconfig.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  packages/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: rename to dev-dependencies
  BREAKING_CHANGES.md
  README.md
  packages/build-tools/README.md
  packages/dev-dependencies/README.md
  packages/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: rename to dev-dependencies (#768)
  BREAKING_CHANGES.md
  README.md
  packages/build-tools/README.md
  packages/dev-dependencies/README.md
  packages/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  packages/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: rename packages
  BREAKING_CHANGES.md
  README.md
  packages/commitlint-config/README.md
  packages/commitlint-config/package.json
  packages/dev-dependencies/package.json
  packages/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

Ci/dev (#769)
  BREAKING_CHANGES.md
  README.md
  packages/commitlint-config/README.md
  packages/commitlint-config/package.json
  packages/dev-dependencies/package.json
  packages/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update angular to v12.1.2
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lint-staged to v11.0.1
  packages/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

docs: update BREAKING_CHANGES.md
  BREAKING_CHANGES.md
Due: yarn prettier --write

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  packages/commitlint/package.json
  packages/common/package.json
  packages/dev-dependencies/package.json
  packages/eslint-plugin/package.json
  packages/eslint/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/jest/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/prettier/package.json
  packages/renovate/package.json
  packages/stream/package.json
  packages/tooltip/package.json
  packages/typescript/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

docs: update
  .editorconfig
  .github/labeler.yml
  packages/eslint/README.md
  packages/jest/README.md
  packages/prettier/README.md
  packages/renovate/README.md
  renovate.json
Due: yarn prettier --write

docs: update (#771)
  .editorconfig
  .github/labeler.yml
  packages/eslint/README.md
  packages/jest/README.md
  packages/prettier/README.md
  packages/renovate/README.md
  renovate.json
Due: yarn prettier --write

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  packages/eslint/package.json
  packages/jest/package.json
  packages/prettier/package.json
  packages/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: renovate-approve support
  .github/CODEOWNERS
Due: none

ci: renovate-approve support (#775)
  .github/CODEOWNERS
Due: none

feat(@angular-ru/eslint-config-enterprise): add enterprise config package
  .github/labeler.yml
  BREAKING_CHANGES.md
  README.md
  package.json
  packages/eslint-config-enterprise/README.md
  packages/eslint-config-enterprise/index.js
  packages/eslint-config-enterprise/integration/assets/i18n/a/ru.json
  packages/eslint-config-enterprise/integration/assets/i18n/ru.json
  packages/eslint-config-enterprise/integration/assets/ru.json
  packages/eslint-config-enterprise/integration/tests/file-suites/file-pattern/my-interface/my-all.interfaces.ts
  packages/eslint-config-enterprise/integration/tests/file-suites/file-pattern/my-interface/my.interface.ts
  packages/eslint-config-enterprise/integration/tests/file-suites/file-pattern/my/my-correct.ts
  packages/eslint-config-enterprise/integration/tests/file-suites/file-pattern/my/my.model.ts
  packages/eslint-config-enterprise/integration/tests/file-suites/file-pattern/own/own-correct.ts
  packages/eslint-config-enterprise/integration/tests/file-suites/file-pattern/own/own.enum.ts
  packages/eslint-config-enterprise/integration/tests/file-suites/i18n/a/bad.json
  packages/eslint-config-enterprise/integration/tests/file-suites/i18n/bad.json
  packages/eslint-config-enterprise/integration/tests/file-suites/i18n/good.json
  packages/eslint-config-enterprise/integration/tests/file-suites/module/a1.ts
  packages/eslint-config-enterprise/integration/tests/file-suites/module/b1.ts
  packages/eslint-config-enterprise/integration/tests/file-suites/module/c1.ts
  packages/eslint-config-enterprise/integration/tests/file-suites/module/deep/deep/deep/deep/deep/deep/deeeeeeeeeeeeeeeeeeep/deeeeeeeeeeeeeeeeeeep/deeeeeeeeeeeeeeeeeeep/example-deep.ts
  packages/eslint-config-enterprise/integration/tests/file-suites/typescript.bad.ts
  packages/eslint-config-enterprise/integration/tests/file-suites/typescript.good.ts
  packages/eslint-config-enterprise/integration/tests/test-i18n.spec.ts
  packages/eslint-config-enterprise/integration/tests/test.spec.ts
  packages/eslint-config-enterprise/jest.config.js
  packages/eslint-config-enterprise/package.json
  packages/eslint-config-enterprise/setup-jest.ts
  packages/eslint-config-enterprise/tsconfig.base.json
  packages/eslint-config-enterprise/tsconfig.json
  packages/eslint-config-enterprise/tsconfig.spec.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

fix: rename package in README.md
  .github/workflows/autoupdate.yml
  .github/workflows/labeler.yml
  README.md
Due: yarn prettier --write

feat(@angular-ru/eslint-config-enterprise): add enterprise config package
  .github/labeler.yml
  .github/workflows/autoupdate.yml
  .github/workflows/labeler.yml
  BREAKING_CHANGES.md
  README.md
  package.json
  packages/eslint-config-enterprise/README.md
  packages/eslint-config-enterprise/index.js
  packages/eslint-config-enterprise/integration/assets/i18n/a/ru.json
  packages/eslint-config-enterprise/integration/assets/i18n/ru.json
  packages/eslint-config-enterprise/integration/assets/ru.json
  packages/eslint-config-enterprise/integration/tests/file-suites/file-pattern/my-interface/my-all.interfaces.ts
  packages/eslint-config-enterprise/integration/tests/file-suites/file-pattern/my-interface/my.interface.ts
  packages/eslint-config-enterprise/integration/tests/file-suites/file-pattern/my/my-correct.ts
  packages/eslint-config-enterprise/integration/tests/file-suites/file-pattern/my/my.model.ts
  packages/eslint-config-enterprise/integration/tests/file-suites/file-pattern/own/own-correct.ts
  packages/eslint-config-enterprise/integration/tests/file-suites/file-pattern/own/own.enum.ts
  packages/eslint-config-enterprise/integration/tests/file-suites/i18n/a/bad.json
  packages/eslint-config-enterprise/integration/tests/file-suites/i18n/bad.json
  packages/eslint-config-enterprise/integration/tests/file-suites/i18n/good.json
  packages/eslint-config-enterprise/integration/tests/file-suites/module/a1.ts
  packages/eslint-config-enterprise/integration/tests/file-suites/module/b1.ts
  packages/eslint-config-enterprise/integration/tests/file-suites/module/c1.ts
  packages/eslint-config-enterprise/integration/tests/file-suites/module/deep/deep/deep/deep/deep/deep/deeeeeeeeeeeeeeeeeeep/deeeeeeeeeeeeeeeeeeep/deeeeeeeeeeeeeeeeeeep/example-deep.ts
  packages/eslint-config-enterprise/integration/tests/file-suites/typescript.bad.ts
  packages/eslint-config-enterprise/integration/tests/file-suites/typescript.good.ts
  packages/eslint-config-enterprise/integration/tests/test-i18n.spec.ts
  packages/eslint-config-enterprise/integration/tests/test.spec.ts
  packages/eslint-config-enterprise/jest.config.js
  packages/eslint-config-enterprise/package.json
  packages/eslint-config-enterprise/setup-jest.ts
  packages/eslint-config-enterprise/tsconfig.base.json
  packages/eslint-config-enterprise/tsconfig.json
  packages/eslint-config-enterprise/tsconfig.spec.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  packages/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json
