Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["npx prettier --write", "npx eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["npx prettier --write"],
    "package.json": ["npx prettier --write", "npx sort-package-json"]
}

chore(release): publish v12.19.0 [ci skip]
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
Due: npx prettier --write, npx sort-package-json

docs: update README.md
  .prettierignore
  README.md
  lerna.json
  package.json
  packages/prettier-config/README.md
  yarn.lock
Due: npx prettier --write, npx sort-package-json

change
  CHANGELOG.md
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/jest-utils/CHANGELOG.md
Due: npx prettier --write, npx sort-package-json

chore: update keywords
  README.md
  packages/prettier-config/package.json
  packages/tsconfig/package.json
Due: npx prettier --write, npx sort-package-json

chore(release): publish v12.19.1 [ci skip]
  CHANGELOG.md
  lerna.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: npx prettier --write, npx sort-package-json

chore(deps): update feat: only dependencies to v7.2.0
  packages/eslint-config/package.json
  yarn.lock
Due: npx prettier --write, npx sort-package-json

chore(release): publish v12.19.2 [ci skip]
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: npx prettier --write, npx sort-package-json

chore(deps): update feat: only dependencies to v2.21.0
  packages/eslint-config/package.json
  yarn.lock
Due: npx prettier --write, npx sort-package-json

chore(release): publish v12.19.3 [ci skip]
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: npx prettier --write, npx sort-package-json

chore(deps): update feat: only dependencies to v2.21.1
  packages/eslint-config/package.json
  yarn.lock
Due: npx prettier --write, npx sort-package-json

chore(release): publish v12.19.4 [ci skip]
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: npx prettier --write, npx sort-package-json

chore(deps): update ci: only devdependencies to v14.0.12
  package.json
  yarn.lock
Due: npx prettier --write, npx sort-package-json

chore(deps): update ci: only devdependencies to v3.22.1
  package.json
  yarn.lock
Due: npx prettier --write, npx sort-package-json

chore(deps): update ci: only devdependencies to v14.0.13
  package.json
  yarn.lock
Due: npx prettier --write, npx sort-package-json

chore(deps): update feat: only dependencies to v2.21.2
  packages/eslint-config/package.json
  yarn.lock
Due: npx prettier --write, npx sort-package-json

chore(release): publish v12.19.5 [ci skip]
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: npx prettier --write, npx sort-package-json

chore(deps): update ci: only devdependencies to v10.2.10
  package.json
  yarn.lock
Due: npx prettier --write, npx sort-package-json

chore: update renovate.json
  renovate.json
Due: npx prettier --write

feat Update only dependencies to v3.1.4
  packages/eslint-config/package.json
  yarn.lock
Due: npx prettier --write, npx sort-package-json

chore(release): publish v12.19.6 [ci skip]
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: npx prettier --write, npx sort-package-json

Update renovate.json
  renovate.json
Due: npx prettier --write

ci: Update only devDependencies to v10.2.11
  package.json
  yarn.lock
Due: npx prettier --write, npx sort-package-json

feat: space before never named and anonymous function
  .prettierignore
  packages/eslint-config/__tests__/test.spec.ts
  packages/eslint-config/__tests__/typescript.bad.ts
  packages/eslint-config/index.js
Due: npx prettier --write, npx eslint --fix

chore(release): publish v12.20.0 [ci skip]
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: npx prettier --write, npx sort-package-json

fix(eslint-config): ignore anonymous space before
  packages/eslint-config/index.js
Due: npx prettier --write

chore(release): publish v12.20.1 [ci skip]
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: npx prettier --write, npx sort-package-json

docs: update README.md
  README.md
Due: npx prettier --write

!fixup
  yarn.lock
Due: none

chore: correct visible favicon.ico in integration app
  README.md
  packages/logger/angular.json
  packages/logger/integration/app/assets/favicon.ico
  packages/logger/integration/app/index.html
  packages/logger/integration/app/styles.css
Due: npx prettier --write
