Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency jest to v26.4.0
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/common): splitOnUniqueValues support multiline
  packages/common/integration/tests/string/string.spec.ts
  packages/common/string/src/split-on-unique-values.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add isGetter util
  packages/common/docs/object.md
  packages/common/integration/tests/object/object.spec.ts
  packages/common/object/src/is-getter.ts
  packages/common/object/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/common): correct handle converter in toStringVal
  packages/common/README.md
  packages/common/array/src/update-array.ts
  packages/common/docs/function.md
  packages/common/docs/utils.md
  packages/common/function/package.json
  packages/common/function/src/is-function-like.ts
  packages/common/function/src/public_api.ts
  packages/common/integration/tests/function/function.spec.ts
  packages/common/integration/tests/string/string.spec.ts
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/string/src/to-string-val.ts
  packages/common/utils/src/common-utils.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/ng-table-builder): remove selectedItems pipe because it working with incorrect behaviour
  packages/ng-table-builder/integration/app/src/samples/sample-eleven/sample-eleven.component.html
  packages/ng-table-builder/src/pipes/selected-items.pipe.ts
  packages/ng-table-builder/src/public-api.ts
  packages/ng-table-builder/src/table-builder.module.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add typeofType
  packages/common/docs/function.md
  packages/common/function/src/public_api.ts
  packages/common/function/src/typeof-type.ts
  packages/common/integration/tests/function/function.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add KeyboardKeys
  packages/common/typings/src/keyboard.enum.ts
  packages/common/typings/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): move isString to @angular-ru/common/string
  packages/common/string/src/is-string.ts
  packages/common/string/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): move isNumber to @angular-ru/common/number
  packages/common/number/package.json
  packages/common/number/src/is-number.ts
  packages/common/number/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(@angular-ru/common): update docs, tests
  packages/common/README.md
  packages/common/docs/number.md
  packages/common/docs/string.md
  packages/common/docs/utils.md
  packages/common/integration/tests/number/number.spec.ts
  packages/common/integration/tests/string/string.spec.ts
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/utils/src/check-value-is-empty.ts
  packages/common/utils/src/common-utils.ts
  packages/common/utils/src/is-nil.ts
  packages/common/utils/src/is-not-nil.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/common): correct handle getter properties in object
  packages/common/integration/tests/object/object.spec.ts
  packages/common/object/src/is-getter.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add $args
  packages/common/docs/function.md
  packages/common/function/src/$args.ts
  packages/common/function/src/public_api.ts
  packages/common/integration/tests/function/function.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add deepClone
  packages/common/integration/tests/object/object.spec.ts
  packages/common/object/src/deep-clone.ts
  packages/common/object/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add deepFreeze
  packages/common/docs/object.md
  packages/common/integration/tests/object/object.spec.ts
  packages/common/object/src/deep-freeze.ts
  packages/common/object/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update dependency eslint-import-resolver-typescript to v2.2.1
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency eslint to v7.7.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/jest to v26.0.10
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add mutable type pipe
  packages/common/docs/object.md
  packages/common/docs/pipes.md
  packages/common/pipes/package.json
  packages/common/pipes/src/mutable-type.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(@angular-ru/common): add mutable pipe, sort order type, entity collection
  packages/common/docs/pipes.md
  packages/common/entity/package.json
  packages/common/entity/src/public_api.ts
  packages/common/entity/src/typings/entity-collections.ts
  packages/common/entity/src/typings/entity-sort-by.ts
  packages/common/entity/src/typings/entity-types.ts
  packages/common/entity/src/typings/entity-update.ts
  packages/common/entity/src/utils/create-entity-collections.ts
  packages/common/pipes/src/mutable/index.ts
  packages/common/pipes/src/mutable/mutable-type.module.ts
  packages/common/pipes/src/mutable/mutable-type.pipe.ts
  packages/common/pipes/src/public_api.ts
  packages/common/typings/src/public_api.ts
  packages/common/typings/src/sort-order-type.ts
  packages/ng-table-builder/src/services/sortable/sortable.interfaces.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

!fixup
  packages/common/integration/tests/entity/entity.spec.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup
  packages/ng-table-builder/src/services/sortable/sortable.service.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup
  README.md
Due: yarn prettier --write

!fixup
  packages/ng-table-builder/ng-package.json
  packages/ng-table-builder/src/components/table-thead/table-thead.component.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/common): EntityCollection as public api
  packages/common/entity/src/public_api.ts
  packages/common/integration/tests/object/object.spec.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup
  packages/common/integration/tests/object/object.spec.ts
Due: yarn prettier --write, yarn eslint --fix

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
