Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(flex-layout): change integration app
  packages/flex-layout/integration/app/custom-theme.scss
  packages/flex-layout/integration/app/index.html
  packages/flex-layout/integration/app/src/app-routing.module.ts
  packages/flex-layout/integration/app/src/app.component.html
  packages/flex-layout/integration/app/src/app.module.ts
  packages/flex-layout/integration/app/src/samples/guide/guide.component.html
  packages/flex-layout/integration/app/src/samples/guide/guide.component.ts
  packages/flex-layout/integration/app/src/samples/guide/guide.module.ts
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.component.html
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.component.ts
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.module.ts
  packages/flex-layout/integration/app/styles.scss
  packages/flex-layout/styles/shared.scss
Due: yarn prettier --write, yarn eslint --fix

feat(flex-layout): change integration app
  packages/flex-layout/integration/app/custom-theme.scss
  packages/flex-layout/integration/app/src/samples/guide/guide.component.html
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.component.html
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.component.scss
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.component.ts
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.module.ts
  packages/flex-layout/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

!fixup
  packages/flex-layout/integration/app/assets/github.min.css
  packages/flex-layout/integration/app/assets/hljs.js
  packages/flex-layout/integration/app/index.html
  packages/flex-layout/integration/app/src/samples/guide/guide.component.html
  packages/flex-layout/integration/app/src/samples/guide/guide.component.ts
  packages/flex-layout/integration/app/styles.scss
Due: yarn prettier --write, yarn eslint --fix

feat(flex-layout): change integration app
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.component.html
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.module.ts
Due: yarn prettier --write, yarn eslint --fix

fix(flex-layout): fix lint
  packages/flex-layout/integration/app/src/samples/guide/guide.component.html
Due: yarn prettier --write

Flex layouts/app (#142)
  packages/flex-layout/integration/app/assets/github.min.css
  packages/flex-layout/integration/app/assets/hljs.js
  packages/flex-layout/integration/app/custom-theme.scss
  packages/flex-layout/integration/app/index.html
  packages/flex-layout/integration/app/src/app-routing.module.ts
  packages/flex-layout/integration/app/src/app.component.html
  packages/flex-layout/integration/app/src/app.module.ts
  packages/flex-layout/integration/app/src/samples/guide/guide.component.html
  packages/flex-layout/integration/app/src/samples/guide/guide.component.ts
  packages/flex-layout/integration/app/src/samples/guide/guide.module.ts
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.component.html
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.component.scss
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.component.ts
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.module.ts
  packages/flex-layout/integration/app/styles.scss
  packages/flex-layout/package.json
  packages/flex-layout/styles/shared.scss
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/flex-layout/package.json
Due: yarn prettier --write, yarn sort-package-json

fixup
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.component.html
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.component.scss
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.component.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/flex-layout): update integration
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.component.html
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.component.scss
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.component.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/flex-layout): fix flex
  packages/flex-layout/styles/shared.scss
Due: yarn prettier --write

fix(@angular-ru/flex-layout): fix sample
  packages/flex-layout/integration/app/src/samples/sample-first/sample-first.component.html
Due: yarn prettier --write

feat(@angular-ru/stream): compress, decompress, base64 api
  README.md
  lerna.json
  packages/stream/README.md
  packages/stream/angular.json
  packages/stream/integration/app/.browserslistrc
  packages/stream/integration/app/assets/.gitkeep
  packages/stream/integration/app/environments/environment.prod.ts
  packages/stream/integration/app/environments/environment.ts
  packages/stream/integration/app/favicon.ico
  packages/stream/integration/app/index.html
  packages/stream/integration/app/main.ts
  packages/stream/integration/app/polyfills.ts
  packages/stream/integration/app/src/app.component.css
  packages/stream/integration/app/src/app.component.html
  packages/stream/integration/app/src/app.component.ts
  packages/stream/integration/app/src/app.module.ts
  packages/stream/integration/app/styles.css
  packages/stream/integration/app/tsconfig.app.json
  packages/stream/integration/tests/browser/stream-api.spec.ts
  packages/stream/integration/tests/test.ts
  packages/stream/integration/tests/tsconfig.spec.json
  packages/stream/karma.conf.js
  packages/stream/ng-package.json
  packages/stream/package.json
  packages/stream/src/array-buffer-to-base64.ts
  packages/stream/src/base64-to-array-buffer.ts
  packages/stream/src/compress.ts
  packages/stream/src/decompress.ts
  packages/stream/src/encoding-type.enum.ts
  packages/stream/src/public_api.ts
  packages/stream/tsconfig.base.json
  packages/stream/tsconfig.json
  packages/stream/tsconfig.lib.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(@angular-ru/stream): compress, decompress, base64 api (#145)
  README.md
  lerna.json
  packages/stream/README.md
  packages/stream/angular.json
  packages/stream/integration/app/.browserslistrc
  packages/stream/integration/app/assets/.gitkeep
  packages/stream/integration/app/environments/environment.prod.ts
  packages/stream/integration/app/environments/environment.ts
  packages/stream/integration/app/favicon.ico
  packages/stream/integration/app/index.html
  packages/stream/integration/app/main.ts
  packages/stream/integration/app/polyfills.ts
  packages/stream/integration/app/src/app.component.css
  packages/stream/integration/app/src/app.component.html
  packages/stream/integration/app/src/app.component.ts
  packages/stream/integration/app/src/app.module.ts
  packages/stream/integration/app/styles.css
  packages/stream/integration/app/tsconfig.app.json
  packages/stream/integration/tests/browser/stream-api.spec.ts
  packages/stream/integration/tests/test.ts
  packages/stream/integration/tests/tsconfig.spec.json
  packages/stream/karma.conf.js
  packages/stream/ng-package.json
  packages/stream/package.json
  packages/stream/src/array-buffer-to-base64.ts
  packages/stream/src/base64-to-array-buffer.ts
  packages/stream/src/compress.ts
  packages/stream/src/decompress.ts
  packages/stream/src/encoding-type.enum.ts
  packages/stream/src/public_api.ts
  packages/stream/tsconfig.base.json
  packages/stream/tsconfig.json
  packages/stream/tsconfig.lib.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: update devDependencies
  packages/stream/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/stream/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency @types/node to v14.6.3
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/jest to v26.0.13
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add parseXmlFromString
  packages/common/docs/utils.md
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/utils/src/parse-xml-from-string.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add serializeXmlToString
  packages/common/docs/utils.md
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/utils/src/public_api.ts
  packages/common/utils/src/serialize-xml-to-string.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/common): support TypeScript 4
  package.json
  packages/common/utils/src/parse-xml-from-string.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

refactor(@angular-ru/stream): remove tsconfig.base.json
  packages/stream/integration/app/tsconfig.app.json
  packages/stream/integration/tests/tsconfig.spec.json
  packages/stream/karma.conf.js
  packages/stream/package.json
  packages/stream/tsconfig.json
  packages/stream/tsconfig.lib.json
Due: yarn prettier --write, yarn sort-package-json

!fixup
  packages/common/integration/tests/string/string.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/stream/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency @types/node to v14.6.4
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency rxjs to v6.6.3
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency husky to v4.3.0
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/stream): add decodeJwt, toBase64
  packages/stream/README.md
  packages/stream/integration/tests/browser/jwt.spec.ts
  packages/stream/jwt/package.json
  packages/stream/jwt/src/decode-jwt.ts
  packages/stream/jwt/src/public_api.ts
  packages/stream/jwt/src/to-base64.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
