Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

fix: make selection in table work on command key on Mac
  libs/cdk/tests/utils/utils.spec.ts
  libs/cdk/utils/src/is-mac-os.ts
  libs/cdk/utils/src/public_api.ts
  libs/cdk/virtual-table/src/services/selection/selection.service.ts
Due: yarn prettier --write, yarn eslint --fix

fix: make selection in table work on command key on Mac
  libs/cdk/virtual-table/src/services/selection/selection.service.ts
Due: yarn prettier --write, yarn eslint --fix

fix: make selection in table work on command key on Mac (#1411)
  libs/cdk/tests/utils/utils.spec.ts
  libs/cdk/utils/src/is-mac-os.ts
  libs/cdk/utils/src/public_api.ts
  libs/cdk/virtual-table/src/services/selection/selection.service.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

fix: change default configuration for serving demo projects
  apps/cdk-demo/project.json
  apps/excel-demo/project.json
  apps/flex-layout-demo/project.json
  apps/http-demo/project.json
  apps/logger-demo/project.json
  apps/ngxs-demo/project.json
  apps/tooltip-demo/project.json
  apps/virtual-table-demo/project.json
Due: yarn prettier --write

fix: change default configuration for serving demo projects (#1423)
  apps/cdk-demo/project.json
  apps/excel-demo/project.json
  apps/flex-layout-demo/project.json
  apps/http-demo/project.json
  apps/logger-demo/project.json
  apps/ngxs-demo/project.json
  apps/tooltip-demo/project.json
  apps/virtual-table-demo/project.json
Due: yarn prettier --write

fix: make it possible to use column headers with dots
  libs/cdk/virtual-table/src/abstract-table-builder-api.directive.ts
  libs/cdk/virtual-table/src/components/table-cell/table-cell.component.html
  libs/cdk/virtual-table/src/components/table-cell/table-cell.component.ts
  libs/cdk/virtual-table/src/components/table-tbody/table-tbody.component.html
  libs/cdk/virtual-table/src/components/table-tbody/table-tbody.component.ts
  libs/cdk/virtual-table/src/table-builder.component.html
Due: yarn prettier --write, yarn eslint --fix

chore: fix formatting
  libs/cdk/virtual-table/src/components/table-cell/table-cell.component.html
  libs/cdk/virtual-table/src/components/table-tbody/table-tbody.component.html
  libs/cdk/virtual-table/src/table-builder.component.html
Due: yarn prettier --write

feat: make it possible to use column headers with dots (#1424)
  libs/cdk/virtual-table/src/abstract-table-builder-api.directive.ts
  libs/cdk/virtual-table/src/components/table-cell/table-cell.component.html
  libs/cdk/virtual-table/src/components/table-cell/table-cell.component.ts
  libs/cdk/virtual-table/src/components/table-tbody/table-tbody.component.html
  libs/cdk/virtual-table/src/components/table-tbody/table-tbody.component.ts
  libs/cdk/virtual-table/src/table-builder.component.html
Due: yarn prettier --write, yarn eslint --fix

build: update all dependencies (minor/patch)
  .github/workflows/autorebase.yml
  libs/dev-dependencies/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency prettier to v2.8.3
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency prettier to v2.8.3 (#1413)
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update all dependencies (minor/patch) (patch) (#1412)
  .github/workflows/autorebase.yml
  libs/dev-dependencies/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/dev-dependencies/CHANGELOG.md
  libs/dev-dependencies/package.json
  libs/prettier/CHANGELOG.md
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

fix: make table rerender when table keys change
  libs/cdk/virtual-table/src/abstract-table-builder-api.directive.ts
  libs/cdk/virtual-table/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

fix: make table rerender when table keys change (#1425)
  libs/cdk/virtual-table/src/abstract-table-builder-api.directive.ts
  libs/cdk/virtual-table/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

build: update dependency prettier-plugin-packagejson to v2.4.2
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v18.11.19
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v18.11.19 (#1426)
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency prettier-plugin-packagejson to v2.4.0 (#1416)
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update prettier dependencies
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lint-staged to v13.1.2
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update jest dependencies
  libs/jest/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update angular dependencies
  libs/dev-dependencies/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update commitlint dependencies to v17.4.4
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update all dependencies (minor/patch)
  .github/workflows/renovate.yml
  apps/flex-layout-demo/index.html
  apps/virtual-table-demo/index.html
  libs/dev-dependencies/package.json
  libs/prettier/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v18.14.0
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update nrwl dependencies
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update commitlint dependencies to v17.4.3 (patch) (#1430)
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v18.13.0 (#1428)
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency prettier to v2.8.4 (#1429)
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lint-staged to v13.1.1 (#1427)
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update ngxs dependencies to v3.7.6
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update typescript dependencies
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ngx-toastr to v16
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/commitlint/CHANGELOG.md
  libs/commitlint/package.json
  libs/dev-dependencies/CHANGELOG.md
  libs/dev-dependencies/package.json
  libs/prettier/CHANGELOG.md
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json
