Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

build: update dependency prettier-plugin-organize-attributes to v0.0.5
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency rxjs to v7.5.4
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update commitlint dependencies to v16.2.1
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies to v5.11.0
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update jest dependencies
  libs/jest/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 12.64.2 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(commitlint): release version 12.64.2 [ci skip]
  libs/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(prettier): release version 12.64.1 [ci skip]
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(jest): release version 12.64.2 [ci skip]
  libs/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-config-enterprise): release version 12.67.1 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: updated RELEASE_NOTES.md [ci skip]
  RELEASE_NOTES.md
Due: yarn prettier --write

build: update all dependencies (minor/patch)
  libs/dev-dependencies/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 12.64.3 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: force-model parameter
  libs/cdk/virtual-table/src/components/table-thead/table-thead.component.html
  libs/cdk/virtual-table/src/directives/column-options.directive.ts
  libs/cdk/virtual-table/src/interfaces/table-builder.external.ts
  libs/cdk/virtual-table/src/services/template-parser/template-parser.service.ts
Due: yarn prettier --write, yarn eslint --fix

fix: resizable fix
  libs/cdk/virtual-table/src/services/template-parser/template-parser.service.ts
Due: yarn prettier --write, yarn eslint --fix

feat: forceModel forces isModel
  libs/cdk/virtual-table/src/components/table-thead/table-thead.component.html
  libs/cdk/virtual-table/src/directives/column-options.directive.ts
  libs/cdk/virtual-table/src/interfaces/table-builder.external.ts
  libs/cdk/virtual-table/src/services/template-parser/template-parser.service.ts
Due: yarn prettier --write, yarn eslint --fix

fix: force model moved to ngx-column.component.ts
  libs/cdk/virtual-table/src/components/ngx-column/ngx-column.component.ts
Due: yarn prettier --write, yarn eslint --fix

feat: force-model parameter (#1243)
  libs/cdk/virtual-table/src/components/ngx-column/ngx-column.component.ts
  libs/cdk/virtual-table/src/components/table-thead/table-thead.component.html
  libs/cdk/virtual-table/src/services/template-parser/template-parser.service.ts
Due: yarn prettier --write, yarn eslint --fix

chore(cdk): release version 12.69.0 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/jest to v27.4.1
  libs/jest/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update actions/setup-node action to v3
  .github/actions/nodejs/action.yml
Due: none

chore(jest): release version 12.64.3 [ci skip]
  libs/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v17.0.21
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 12.64.4 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @jscutlery/semver to v2.19.4
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 12.64.5 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency prettier-plugin-packagejson to v2.2.16
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update actions/checkout action to v3
  .github/actions/git/action.yml
  .github/workflows/build.yml
  .github/workflows/integrations.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

build: update actions/labeler action to v4
  .github/workflows/labeler.yml
Due: none

chore(prettier): release version 12.64.2 [ci skip]
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency rxjs to v7.5.5
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 12.64.6 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json
