Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: update eslint dependencies to v14
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore: fix formatting
  docs/ngxs/data-action.md
  libs/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency rxjs to v7.5.6
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency rxjs to v7.5.6 (#1316)
  docs/ngxs/data-action.md
  libs/renovate/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies to v14 (major) (#1315)
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

fix: non-disappearing tooltip
  libs/cdk/virtual-table/src/components/table-cell/table-cell.component.ts
Due: yarn prettier --write, yarn eslint --fix

fix: non-disappearing tooltip (#1319)
  libs/cdk/virtual-table/src/components/table-cell/table-cell.component.ts
Due: yarn prettier --write, yarn eslint --fix

chore(eslint-config-enterprise): release version 13.1.0 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-plugin-enterprise): release version 13.1.0 [ci skip]
  libs/eslint-plugin-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 13.1.0 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(commitlint): release version 13.1.0 [ci skip]
  libs/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(typescript): release version 13.1.0 [ci skip]
  libs/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(prettier): release version 13.1.0 [ci skip]
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(renovate): release version 13.1.0 [ci skip]
  libs/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(jest): release version 13.1.0 [ci skip]
  libs/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(cdk): release version 13.2.0 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: fixup
  libs/cdk/package.json
  libs/commitlint/package.json
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/package.json
  libs/eslint-plugin-enterprise/package.json
  libs/jest/package.json
  libs/ngxs/package.json
  libs/prettier/package.json
  libs/renovate/package.json
  libs/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore: fix formatting
  libs/cdk/package.json
  libs/commitlint/package.json
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/package.json
  libs/eslint-plugin-enterprise/package.json
  libs/jest/package.json
  libs/prettier/package.json
  libs/renovate/package.json
  libs/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

fix: filter descriptor to contain one of several values
  libs/cdk/tests/virtual-table/components/table-builder.component.spec.ts
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
  libs/cdk/virtual-table/src/services/filterable/table-filter-type.ts
Due: yarn prettier --write, yarn eslint --fix

ci: fix semver not pushing git tags on empty commit
  .github/workflows/release.yml
Due: none

ci: fix semver not pushing git tags on empty commit (#1322)
  .github/workflows/release.yml
  libs/cdk/package.json
  libs/commitlint/package.json
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/package.json
  libs/eslint-plugin-enterprise/package.json
  libs/jest/package.json
  libs/prettier/package.json
  libs/renovate/package.json
  libs/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: fix release
  libs/commitlint/project.json
  libs/dev-dependencies/project.json
  libs/eslint-config-enterprise/project.json
  libs/eslint-plugin-enterprise/project.json
  libs/jest/project.json
  libs/prettier/project.json
  libs/renovate/project.json
  libs/typescript/project.json
Due: yarn prettier --write

ci: fix release (#1323)
  libs/commitlint/project.json
  libs/dev-dependencies/project.json
  libs/eslint-config-enterprise/project.json
  libs/eslint-plugin-enterprise/project.json
  libs/jest/project.json
  libs/prettier/project.json
  libs/renovate/project.json
  libs/typescript/project.json
Due: yarn prettier --write

fix: bump versions
  libs/cdk/package.json
  libs/commitlint/package.json
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/package.json
  libs/eslint-plugin-enterprise/package.json
  libs/jest/package.json
  libs/ngxs/package.json
  libs/prettier/package.json
  libs/renovate/package.json
  libs/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency typescript to v4.7.4
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update angular dependencies to v14
  libs/dev-dependencies/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

fix: filter descriptor to contain one of several values (#1324)
  libs/cdk/tests/virtual-table/components/table-builder.component.spec.ts
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
  libs/cdk/virtual-table/src/services/filterable/table-filter-type.ts
Due: yarn prettier --write, yarn eslint --fix

chore(eslint-config-enterprise): release version 13.1.1 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-plugin-enterprise): release version 13.1.1 [ci skip]
  libs/eslint-plugin-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 13.1.1 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(commitlint): release version 13.1.1 [ci skip]
  libs/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(typescript): release version 13.1.1 [ci skip]
  libs/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(prettier): release version 13.1.1 [ci skip]
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(renovate): release version 13.1.1 [ci skip]
  libs/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
