Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: update dependency jest to v27.2.2
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: refactor workflow
  dev-infra/jest/src/constants/configurations.ts
Due: yarn prettier --write, yarn eslint --fix

ci: refactor workflow
  dev-infra/jest/src/constants/configurations.ts
  packages/cdk/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: refactor workflow
  packages/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: refactor workflow
  .github/workflows/build.yml
  dev-infra/eslint-config-enterprise/tsconfig.base.json
  dev-infra/eslint-plugin-enterprise/tsconfig.json
  dev-infra/jest/tsconfig.base.json
  packages/cdk/integration/apps/cdk/assets/.gitkeep
  packages/cdk/integration/apps/excel/tsconfig.app.json
  packages/cdk/integration/apps/flex-layout/styles.scss
  packages/cdk/integration/apps/flex-layout/tsconfig.app.json
  packages/cdk/integration/apps/http/assets/.gitkeep
  packages/cdk/integration/apps/http/src/services/clients/api.client.ts
  packages/cdk/integration/apps/http/styles.scss
  packages/cdk/integration/apps/http/tsconfig.app.json
  packages/cdk/integration/apps/logger/tsconfig.app.json
  packages/cdk/integration/apps/tooltip/styles.scss
  packages/cdk/integration/apps/tooltip/tsconfig.app.json
  packages/cdk/integration/apps/virtual-table/assets/.gitkeep
  packages/cdk/integration/apps/virtual-table/tsconfig.app.json
  packages/cdk/tsconfig.base.json
  packages/ngxs/integration/app/tsconfig.app.json
  packages/ngxs/tsconfig.base.json
Due: yarn prettier --write, yarn eslint --fix

ci: refactor workflow (#974)
  .github/workflows/build.yml
  dev-infra/eslint-config-enterprise/tsconfig.base.json
  dev-infra/eslint-plugin-enterprise/tsconfig.json
  dev-infra/jest/tsconfig.base.json
  packages/cdk/integration/apps/cdk/assets/.gitkeep
  packages/cdk/integration/apps/excel/tsconfig.app.json
  packages/cdk/integration/apps/flex-layout/styles.scss
  packages/cdk/integration/apps/flex-layout/tsconfig.app.json
  packages/cdk/integration/apps/http/assets/.gitkeep
  packages/cdk/integration/apps/http/src/services/clients/api.client.ts
  packages/cdk/integration/apps/http/styles.scss
  packages/cdk/integration/apps/http/tsconfig.app.json
  packages/cdk/integration/apps/logger/tsconfig.app.json
  packages/cdk/integration/apps/tooltip/styles.scss
  packages/cdk/integration/apps/tooltip/tsconfig.app.json
  packages/cdk/integration/apps/virtual-table/assets/.gitkeep
  packages/cdk/integration/apps/virtual-table/tsconfig.app.json
  packages/cdk/tsconfig.base.json
  packages/ngxs/integration/app/tsconfig.app.json
  packages/ngxs/tsconfig.base.json
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update angular dependencies
  dev-infra/dev-dependencies/package.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(cdk): add 'isBoolean' utility
  packages/cdk/docs/utils.md
  packages/cdk/integration/tests/jest/utils/utils.spec.ts
  packages/cdk/utils/src/is-boolean.ts
  packages/cdk/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(cdk): fix path to typings
  packages/cdk/utils/src/is-boolean.ts
Due: yarn prettier --write, yarn eslint --fix

feat(cdk): add 'isBoolean' utility (#975)
  packages/cdk/docs/utils.md
  packages/cdk/integration/tests/jest/utils/utils.spec.ts
  packages/cdk/utils/src/is-boolean.ts
  packages/cdk/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  packages/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency jest-preset-angular to v10.0.1
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

Update autorebase.yml
  .github/workflows/autorebase.yml
Due: none

chore: update autorebase.yml
  .github/workflows/autorebase.yml
Due: none

chore: update REAMDE.md
  README.md
Due: yarn prettier --write

build: update eslint dependencies to v4.32.0
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency jest to v27.2.3
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies to v4
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update all dependencies (minor/patch) to v13.2.0
  dev-infra/commitlint/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint-plugin-jest to v24.4.3
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency jest to v27.2.4
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v16.10.2
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update angular dependencies to v12.2.8
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint-plugin-decorator-position to v4.0.1
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: refactor workflow
  .github/ISSUE_TEMPLATE/3-docs-bug.yml
Due: none

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
