Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx sort-package-json

ci: checking that package.json are sorted
  .travis.yml
  package.json
  packages/jest-utils/package.json
  packages/logger/README.md
  packages/logger/angular.json
  packages/logger/package.json
Due: npx prettier --write, npx sort-package-json

chore: remove from dependency gh-pages
  package.json
  packages/logger/package.json
  yarn.lock
Due: npx prettier --write, npx sort-package-json

ci: remove __test__ directories, use integration dirs
  package.json
  packages/eslint-config/integration/tests/module/a1.ts
  packages/eslint-config/integration/tests/module/b1.ts
  packages/eslint-config/integration/tests/module/c1.ts
  packages/eslint-config/integration/tests/test.spec.ts
  packages/eslint-config/integration/tests/typescript.bad.ts
  packages/eslint-config/integration/tests/typescript.good.ts
  packages/eslint-config/test.sh
  packages/jest-utils/integration/tests/helpers/hello.ts
  packages/jest-utils/integration/tests/simple.spec.ts
  packages/jest-utils/jest.config.js
  packages/jest-utils/tsconfig.json
Due: npx prettier --write, npx eslint --fix, npx sort-package-json

!fixup
  packages/jest-utils/tsconfig.json
Due: npx prettier --write

chore(deps): update dependency @angular/common to v9
  packages/logger/package.json
Due: npx prettier --write, npx sort-package-json

chore(deps): update dependency @angular/core to v9
  packages/logger/package.json
Due: npx prettier --write, npx sort-package-json

chore(release): publish v12.21.0 [ci skip]
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
Due: npx prettier --write, npx sort-package-json

fix(logger): change dist publish
  packages/logger/package.json
  packages/logger/src/logger.config.ts
Due: npx prettier --write, npx eslint --fix, npx sort-package-json

chore(release): publish v12.21.1 [ci skip]
  CHANGELOG.md
  lerna.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
Due: npx prettier --write, npx sort-package-json

fix(logger): change api export
  packages/logger/src/public-api.ts
Due: npx prettier --write, npx eslint --fix

chore(release): publish v12.21.2 [ci skip]
  CHANGELOG.md
  lerna.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
Due: npx prettier --write, npx sort-package-json

fix(logger): change exports enum
  packages/logger/src/logger.config.ts
Due: npx prettier --write, npx eslint --fix

ci: use postversion
  package.json
  packages/logger/package.json
  yarn.lock
Due: npx prettier --write, npx sort-package-json

chore(release): publish v12.21.3 [ci skip]
  CHANGELOG.md
  lerna.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
Due: npx prettier --write, npx sort-package-json

chore(release): publish v12.21.4 [ci skip]
  CHANGELOG.md
  lerna.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
Due: npx prettier --write, npx sort-package-json

ci: correct peer dependencies
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/tsconfig/package.json
  renovate.json
Due: npx prettier --write, npx sort-package-json

chore(release): publish v12.21.5 [ci skip]
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: npx prettier --write, npx sort-package-json

fix(logger): resolve base url in integration app
  packages/logger/integration/app/index.html
Due: npx prettier --write

ci: Update angular-cli
  package.json
  yarn.lock
Due: npx prettier --write, npx sort-package-json

feat: Update only dependencies to v8.2.1
  packages/jest-utils/package.json
  yarn.lock
Due: npx prettier --write, npx sort-package-json

chore(release): publish v12.22.0 [ci skip]
  CHANGELOG.md
  lerna.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
Due: npx prettier --write, npx sort-package-json

!fixup
  .travis.yml
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/---bug---.md
  .github/ISSUE_TEMPLATE/---feature---.md
Due: npx prettier --write

Create PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: npx prettier --write

Update ---bug---.md
  .github/ISSUE_TEMPLATE/---bug---.md
Due: npx prettier --write

Update ---feature---.md
  .github/ISSUE_TEMPLATE/---feature---.md
Due: npx prettier --write

ci: correct github templates
  .github/ISSUE_TEMPLATE/---bug---.md
  .github/ISSUE_TEMPLATE/---feature---.md
  .github/PULL_REQUEST_TEMPLATE.md
  packages/ng-table-builder/package.json
Due: npx prettier --write, npx sort-package-json

ci: remove redundant yarn install
  packages/eslint-config/package.json
  packages/ng-table-builder/package.json
  yarn.lock
Due: npx prettier --write, npx sort-package-json

ci: remove cpx
  package.json
  packages/eslint-config/package.json
  packages/ng-table-builder/package.json
  yarn.lock
Due: npx prettier --write, npx sort-package-json

!fixup
  packages/eslint-config/package.json
Due: npx prettier --write, npx sort-package-json

ci: refactor CHANGELOG.md
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/jest-utils/CHANGELOG.md
  packages/logger/CHANGELOG.md
  packages/prettier-config/CHANGELOG.md
  packages/tsconfig/CHANGELOG.md
Due: npx prettier --write

ci: show logs when running build
  .lintstagedrc.json
  .travis.yml
  lerna.json
  package.json
  packages/eslint-config/package.json
  packages/eslint-config/prepare.sh
  packages/eslint-config/test.sh
  packages/jest-utils/package.json
  packages/logger/angular.json
  packages/logger/ng-package.json
  packages/logger/package.json
  packages/logger/tsconfig.json
  packages/ng-table-builder/package.json
  packages/ng-table-builder/prepare.sh
  yarn.lock
Due: npx prettier --write, npx sort-package-json

ci: update angular-cli
  package.json
  packages/ng-table-builder/package.json
  yarn.lock
Due: npx prettier --write, npx sort-package-json

feat: update dependency ts-jest to v26.1.1
  packages/jest-utils/package.json
  yarn.lock
Due: npx prettier --write, npx sort-package-json

Path conditions:
  npx prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  npx eslint --fix: any of: *.ts
  npx sort-package-json: any of: package.json
