Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

ci: refactor workflow
  .github/ISSUE_TEMPLATE/3-docs-bug.yml
  .github/workflows/issue.yml
Due: none

ci: refactor workflow
  .github/workflows/issue.yml
Due: none

ci: refactor workflow
  .github/ISSUE_TEMPLATE/3-docs-bug.yml
  .github/workflows/assign-project.yml
  .github/workflows/issue.yml
Due: none

ci: refactor workflow
  .github/workflows/assign-project.yml
Due: none

build: update srggrs/assign-one-project-github-action action to v1.3.0
  .github/workflows/assign-project.yml
Due: none

ci: refactor workflow
  .github/ISSUE_TEMPLATE/1-bug-report.yml
Due: none

ci: refactor workflow
  .github/ISSUE_TEMPLATE/---bug---.md
Due: yarn prettier --write

ci: refactor workflow
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/workflows/assign-project.yml
Due: none

ci: refactor workflow
  .github/ISSUE_TEMPLATE/---feature---.md
  .github/ISSUE_TEMPLATE/2-feature-request.yml
Due: yarn prettier --write

chore: update
  .github/ISSUE_TEMPLATE/2-feature-request.yml
Due: none

ci: refactor workflow
  .github/workflows/build.yml
  .github/workflows/skip-workflow.yml
Due: none

ci: refactor workflow
  .github/PULL_REQUEST_TEMPLATE.md
Due: yarn prettier --write

ci: refactor workflow
  .github/workflows/skip-workflow.yml
Due: none

ci: refactor workflow
  .github/workflows/autorebase.yml
  .github/workflows/build.yml
Due: none

ci: refactor workflow
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/3-docs-bug.yml
Due: none

build: update dependency rxjs to v7.3.1
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint-plugin-jest to v24.5.2
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update srggrs/assign-one-project-github-action action to v1.3.1
  .github/workflows/assign-project.yml
Due: none

build: update dependency lint-staged to v11.2.0
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies to v4.33.0
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: check bot access
  .github/workflows/assign-project.yml
  .github/workflows/autorebase.yml
  .github/workflows/build.yml
  .github/workflows/labeler.yml
  .github/workflows/skip-workflow.yml
  dev-infra/commitlint/package.json
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/renovate/package.json
  dev-infra/typescript/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: check access
  README.md
Due: yarn prettier --write

ci: check bot access (#1011)
  .github/workflows/assign-project.yml
  .github/workflows/autorebase.yml
  .github/workflows/build.yml
  .github/workflows/labeler.yml
  .github/workflows/skip-workflow.yml
  dev-infra/commitlint/package.json
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/renovate/package.json
  dev-infra/typescript/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/commitlint/package.json
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/renovate/package.json
  dev-infra/typescript/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v16.10.3
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency jest-junit to v13
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json
