Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

build: update dependency @commitlint/cli to v12.1.3
  packages/commitlint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @commitlint/config-conventional to v12.1.3
  packages/commitlint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/jasmine to v3.7.2
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/commitlint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @commitlint/config-angular to v12.1.3
  packages/commitlint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/common): after format we have incorrect fraction
  packages/common/angular.json
  packages/common/directives/src/amount-format/amount-format.directive.ts
  packages/common/integration/app/assets/.gitkeep
  packages/common/integration/app/assets/favicon.ico
  packages/common/integration/app/assets/img/angular.svg
  packages/common/integration/app/environments/environment.prod.ts
  packages/common/integration/app/environments/environment.ts
  packages/common/integration/app/favicon.ico
  packages/common/integration/app/index.html
  packages/common/integration/app/main.ts
  packages/common/integration/app/polyfills.ts
  packages/common/integration/app/src/app-routing.module.ts
  packages/common/integration/app/src/app.component.html
  packages/common/integration/app/src/app.component.ts
  packages/common/integration/app/src/app.module.ts
  packages/common/integration/app/src/samples/guide/guide.component.html
  packages/common/integration/app/src/samples/guide/guide.component.ts
  packages/common/integration/app/src/samples/guide/guide.module.ts
  packages/common/integration/app/styles.scss
  packages/common/integration/tests/directives/amount-format.spec.ts
  packages/common/package.json
  packages/common/tsconfig.app.json
  packages/common/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

fix: fixup tests
  packages/common/integration/tests/directives/amount-format.spec.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/commitlint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/common): after format we have incorrect fraction (#611)
  packages/common/angular.json
  packages/common/directives/src/amount-format/amount-format.directive.ts
  packages/common/integration/app/assets/.gitkeep
  packages/common/integration/app/assets/favicon.ico
  packages/common/integration/app/assets/img/angular.svg
  packages/common/integration/app/environments/environment.prod.ts
  packages/common/integration/app/environments/environment.ts
  packages/common/integration/app/favicon.ico
  packages/common/integration/app/index.html
  packages/common/integration/app/main.ts
  packages/common/integration/app/polyfills.ts
  packages/common/integration/app/src/app-routing.module.ts
  packages/common/integration/app/src/app.component.html
  packages/common/integration/app/src/app.component.ts
  packages/common/integration/app/src/app.module.ts
  packages/common/integration/app/src/samples/guide/guide.component.html
  packages/common/integration/app/src/samples/guide/guide.component.ts
  packages/common/integration/app/src/samples/guide/guide.module.ts
  packages/common/integration/app/styles.scss
  packages/common/integration/tests/directives/amount-format.spec.ts
  packages/common/package.json
  packages/common/tsconfig.app.json
  packages/common/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/eslint-config): add decorated fields order (#600)
  packages/eslint-config/index.js
  packages/ng-table-builder/src/components/table-tbody/table-tbody.component.ts
  packages/ng-table-builder/src/directives/abstract-modal-view-layer.directive.ts
  packages/ng-table-builder/src/directives/rows/abstract-template-cell-common.directive.ts
  packages/ng-table-builder/src/services/sortable/sort.worker.ts
  packages/ng-table-builder/src/table-builder.component.ts
  packages/tooltip/src/tooltip.directive.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
  packages/ng-table-builder/package.json
  packages/tooltip/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/eslint-config): add no-dupe-class-members
  packages/eslint-config/index.js
Due: yarn prettier --write

feat(@angular-ru/eslint-config): add no-dupe-class-members (#613)
  packages/eslint-config/index.js
Due: yarn prettier --write

feat(@angular-ru/renovate-config): disable separateMinorPatch
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/renovate-config): disable separateMinorPatch (#616)
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update eslint to v4.2.1
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update eslint
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v15.0.3
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lint-staged to v11
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add unpatch events third party package
  packages/common/docs/zone.js.md
  packages/common/integration/app/polyfills.ts
  packages/common/tsconfig.app.json
  packages/common/zone.js/src/unpatch-events.ts
  packages/common/zone.js/unpatch-zone/package.json
  packages/common/zone.js/unpatch-zone/src/public_api.ts
  packages/common/zone.js/unpatch-zone/src/unpatch-events.ts
  packages/http/integration/app/polyfills.ts
  packages/ng-table-builder/integration/app/polyfills.ts
  packages/tooltip/integration/app/polyfills.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add unpatch events third party package (#620)
  packages/common/docs/zone.js.md
  packages/common/integration/app/polyfills.ts
  packages/common/tsconfig.app.json
  packages/common/zone.js/src/unpatch-events.ts
  packages/common/zone.js/unpatch-zone/package.json
  packages/common/zone.js/unpatch-zone/src/public_api.ts
  packages/common/zone.js/unpatch-zone/src/unpatch-events.ts
  packages/http/integration/app/polyfills.ts
  packages/ng-table-builder/integration/app/polyfills.ts
  packages/tooltip/integration/app/polyfills.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat: add labeler.yml
  .github/labeler.yml
  .github/workflows/labeler.yml
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: add labeler.yml (#621)
  .github/labeler.yml
  .github/workflows/labeler.yml
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @angular/cli to v11.2.13
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @commitlint/cli to v12.1.4
  packages/commitlint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @commitlint/config-angular to v12.1.4
  packages/commitlint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @commitlint/config-conventional to v12.1.4
  packages/commitlint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/jasmine to v3.7.4
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: lock file maintenance
  yarn.lock
Due: none

feat: update labeler.yml
  .github/labeler.yml
Due: none

feat: add labeler.yml (#629)
  .github/labeler.yml
Due: none

ci: add lock.yml
  .github/workflows/lock.yml
Due: none

ci: add lock.yml (#630)
  .github/workflows/lock.yml
Due: none
