Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

build: update dependency @nrwl/devkit to v15.3.3 (#1378)
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ngx-mask to v15 (#1383)
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update typescript dependencies
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

feat: upgrade ngx-mask
  libs/cdk/tests/directives/trim/disabled-trim-input.spec.ts
  libs/cdk/tests/directives/trim/dynamic-trim-input.spec.ts
  libs/cdk/tests/directives/trim/ng-model.spec.ts
  libs/cdk/tests/directives/trim/trim-input.spec.ts
  libs/cdk/tsconfig.spec.json
  package-lock.json
  package.json
  renovate.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore: fix
  libs/cdk/tsconfig.spec.json
Due: yarn prettier --write

fix: use compilationMode `partial` for libraries #1409
  libs/cdk/tsconfig.lib.json
  libs/ngxs/tsconfig.lib.json
Due: yarn prettier --write

fix: use compilationMode `partial` for libraries #1409 (#1410)
  libs/cdk/tsconfig.lib.json
  libs/ngxs/tsconfig.lib.json
Due: yarn prettier --write

build: update dependency @nrwl/devkit to v15.5.1
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

fix: downgrade @nrwl/devkit to version 15.3.0
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
  libs/ngxs/CHANGELOG.md
  libs/ngxs/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update all dependencies (minor/patch)
  .github/workflows/autorebase.yml
  libs/dev-dependencies/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lint-staged to v13
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ngx-toastr to v16
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update angular dependencies
  libs/dev-dependencies/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update all dependencies (minor/patch)
  .github/workflows/renovate.yml
  apps/flex-layout-demo/index.html
  apps/virtual-table-demo/index.html
  libs/dev-dependencies/package.json
  libs/prettier/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency rxjs to v7.8.0
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update jest dependencies
  libs/jest/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update nrwl dependencies
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency rxjs to v7.8.0 (#1397)
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

feat: added table settings component
  libs/cdk/virtual-table/src/abstract-table-builder-api.directive.ts
  libs/cdk/virtual-table/src/components/ngx-settings/ngx-settings.component.html
  libs/cdk/virtual-table/src/components/ngx-settings/ngx-settings.component.scss
  libs/cdk/virtual-table/src/components/ngx-settings/ngx-settings.component.ts
  libs/cdk/virtual-table/src/public_api.ts
  libs/cdk/virtual-table/src/table-builder.module.ts
Due: yarn prettier --write, yarn eslint --fix

build: update dependency typescript to v4.9.4
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update actions/checkout action to v3
  .github/workflows/renovate.yml
Due: none

build: update dependency lint-staged to v13 (#1404)
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v18
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v18 (#1403)
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update actions/checkout action to v3 (#1400)
  .github/workflows/renovate.yml
Due: none

build: update dependency tslib to v2.4.1
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update ngxs dependencies to v3.7.6
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update prettier dependencies
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore: fix formatting
  apps/virtual-table-demo/src/samples/sample-fourteen/sample-fourteen.component.html
  apps/virtual-table-demo/src/samples/sample-fourth/sample-fourth.component.html
  docs/cdk/pipes.md
  docs/cdk/typings.md
  libs/cdk/virtual-table/src/components/table-cell/table-cell.component.html
  libs/cdk/virtual-table/src/components/table-tbody/table-tbody.component.html
  libs/cdk/virtual-table/src/table-builder.component.html
Due: yarn prettier --write

build: update commitlint dependencies to v17
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/dev-dependencies/CHANGELOG.md
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update prettier dependencies (minor) (#1399)
  apps/virtual-table-demo/src/samples/sample-fourteen/sample-fourteen.component.html
  apps/virtual-table-demo/src/samples/sample-fourth/sample-fourth.component.html
  docs/cdk/pipes.md
  docs/cdk/typings.md
  libs/cdk/virtual-table/src/components/table-cell/table-cell.component.html
  libs/cdk/virtual-table/src/components/table-tbody/table-tbody.component.html
  libs/cdk/virtual-table/src/table-builder.component.html
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update commitlint dependencies to v17 (#1402)
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency tslib to v2.4.1 (#1393)
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies (patch) (#1394)
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
  libs/commitlint/CHANGELOG.md
  libs/commitlint/package.json
  libs/eslint-config-enterprise/CHANGELOG.md
  libs/eslint-config-enterprise/package.json
  libs/prettier/CHANGELOG.md
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json
