Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: update dependency typescript to v4.4.3
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/commitlint/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency jest to v27.2.0
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint-import-resolver-typescript to v2.5.0
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: added requiredSomeValueValidator
  packages/cdk/docs/validators.md
  packages/cdk/integration/tests/jest/validators/required-some-value-validator.spec.ts
  packages/cdk/validators/src/public_api.ts
  packages/cdk/validators/src/required-some-value.validator.ts
Due: yarn prettier --write, yarn eslint --fix

feat: added requiredSomeValueValidator (#936)
  packages/cdk/docs/validators.md
  packages/cdk/integration/tests/jest/validators/required-some-value-validator.spec.ts
  packages/cdk/validators/src/public_api.ts
  packages/cdk/validators/src/required-some-value.validator.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  packages/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies to v4.31.1
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(eslint-config-enterprise): add jest rules
  dev-infra/eslint-config-enterprise/index.js
  dev-infra/eslint-config-enterprise/package.json
  packages/cdk/integration/tests/jest/date/date-suggestion-custom.spec.ts
  packages/cdk/integration/tests/jest/date/date-suggestion.spec.ts
  packages/cdk/integration/tests/jest/date/to-iso-string-without-timezone.spec.ts
  packages/cdk/integration/tests/jest/http/users/http-emits.spec.ts
  packages/cdk/integration/tests/jest/http/users/http-users-client.spec.ts
  packages/cdk/integration/tests/jest/logger/console-group-api.spec.ts
  packages/cdk/integration/tests/jest/logger/css-parcer.spec.ts
  packages/cdk/integration/tests/jest/utils/utils.spec.ts
  packages/cdk/integration/tests/jest/validators/required-some-value-by-keys-validator.spec.ts
  packages/cdk/integration/tests/jest/virtual-table/components/selection-mock.component.spec.ts
  packages/cdk/integration/tests/jest/virtual-table/components/table-builder.component.spec.ts
  packages/ngxs/integration/tests/storage-extensions/storage.spec.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(eslint-config-enterprise): add jest rules
  dev-infra/eslint-config-enterprise/index.js
  packages/cdk/integration/tests/jest/date/date-suggestion-custom.spec.ts
  packages/cdk/integration/tests/jest/date/date-suggestion.spec.ts
  packages/cdk/integration/tests/jest/date/to-iso-string-without-timezone.spec.ts
  packages/cdk/integration/tests/jest/http/users/http-emits.spec.ts
  packages/cdk/integration/tests/jest/http/users/http-users-client.spec.ts
  packages/cdk/integration/tests/jest/logger/console-group-api.spec.ts
  packages/cdk/integration/tests/jest/logger/css-parcer.spec.ts
  packages/cdk/integration/tests/jest/utils/utils.spec.ts
  packages/cdk/integration/tests/jest/validators/required-some-value-by-keys-validator.spec.ts
  packages/cdk/integration/tests/jest/virtual-table/components/selection-mock.component.spec.ts
  packages/cdk/integration/tests/jest/virtual-table/components/table-builder.component.spec.ts
  packages/ngxs/integration/tests/storage-extensions/storage.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(eslint-config-enterprise): add jest rules
  dev-infra/eslint-config-enterprise/index.js
  dev-infra/typescript/tsconfig.json
  yarn.lock
Due: yarn prettier --write

feat(eslint-config-enterprise): add jest rules
  dev-infra/eslint-config-enterprise/index.js
  dev-infra/eslint-config-enterprise/integration/tests/file-suites/typescript.good.ts.lint.template
  dev-infra/eslint-config-enterprise/integration/tests/test.spec.ts
  packages/cdk/integration/tests/jest/ivy/helpers/deep-inherit.spec.ts
  packages/cdk/integration/tests/jest/logger/decorators.spec.ts
  packages/cdk/integration/tests/jest/virtual-table/samples/lifecycle/lifecycle.spec.ts
  packages/cdk/pipes/src/safe/safe.pipe.ts
  packages/cdk/virtual-table/src/directives/abstract-modal-view-layer.directive.ts
  packages/cdk/virtual-table/src/directives/auto-height.directive.ts
  packages/ngxs/integration/tests/common-extensions/action-decorator.spec.ts
  packages/ngxs/integration/tests/common-extensions/argument-decorators.spec.ts
  packages/ngxs/integration/tests/common-extensions/computed.spec.ts
  packages/ngxs/integration/tests/common-extensions/counter-lifecycle.spec.ts
  packages/ngxs/integration/tests/common-extensions/counter.spec.ts
  packages/ngxs/integration/tests/common-extensions/debounce.spec.ts
  packages/ngxs/integration/tests/common-extensions/state-context.spec.ts
  packages/ngxs/integration/tests/immutability/immutable.spec.ts
  packages/ngxs/integration/tests/immutability/mutate-selectors.spec.ts
  packages/ngxs/integration/tests/immutability/ngxs-data.spec.ts
  packages/ngxs/integration/tests/inheritance-extensions/inheritance.spec.ts
  packages/ngxs/integration/tests/reset-extensions/reset.spec.ts
  packages/ngxs/integration/tests/storage-extensions/storage.spec.ts
  packages/ngxs/integration/tests/testing/testing-v3.spec.ts
  packages/ngxs/storage/src/ngxs-data-storage-plugin.service.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/typescript/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(cdk): added regexp for credit card
  packages/cdk/regexp/src/constants.ts
  packages/cdk/regexp/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(eslint-config-enterprise): avoid timers
  dev-infra/eslint-config-enterprise/index.js
  packages/cdk/directives/src/initial-focus/initial-focus.directive.ts
  packages/cdk/http/typings/src/enums/http-status-code.ts
  packages/cdk/integration/apps/tooltip/src/samples/guide/guide.component.ts
  packages/cdk/integration/apps/virtual-table/src/samples/sample-eight/sample-eight.component.ts
  packages/cdk/integration/apps/virtual-table/src/samples/sample-first-second/sample-first-second.component.ts
  packages/cdk/integration/apps/virtual-table/src/samples/sample-first/sample-first.component.ts
  packages/cdk/integration/apps/virtual-table/src/samples/sample-night/sample-night.component.ts
  packages/cdk/integration/apps/virtual-table/src/samples/sample-second/sample-second.component.ts
  packages/cdk/integration/tests/jest/excel/excel.service.spec.ts
  packages/cdk/integration/tests/jest/http/helpers/http-mock-interceptor.ts
  packages/cdk/integration/tests/jest/http/limit-concurrency/http-client.spec.ts
  packages/cdk/integration/tests/jest/virtual-table/components/table-builder.component.spec.ts
  packages/cdk/tooltip/src/tooltip.directive.ts
  packages/cdk/virtual-table/src/abstract-table-builder-api.directive.ts
  packages/cdk/virtual-table/src/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.ts
  packages/cdk/virtual-table/src/components/ngx-context-menu/ngx-context-menu.component.ts
  packages/cdk/virtual-table/src/components/ngx-filter-viewer/ngx-filter-viewer.component.ts
  packages/cdk/virtual-table/src/components/table-cell/table-cell.component.ts
  packages/cdk/virtual-table/src/components/table-tbody/table-tbody.component.ts
  packages/cdk/virtual-table/src/directives/abstract-modal-view-layer.directive.ts
  packages/cdk/virtual-table/src/directives/auto-height.directive.ts
  packages/cdk/virtual-table/src/services/sortable/sortable.service.ts
  packages/cdk/virtual-table/src/table-builder.component.ts
  packages/cdk/websocket/src/services/abstract-websocket.client.ts
  packages/ngxs/decorators/src/debounce/debounce.ts
Due: yarn prettier --write, yarn eslint --fix

feat(cdk): added regexp for credit card (#942)
  packages/cdk/regexp/src/constants.ts
  packages/cdk/regexp/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(eslint-config-enterprise): avoid timers
  .github/workflows/autoupdate.yml
Due: none

build: update dependency @types/jasmine to v3.9.1
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(eslint-config-enterprise): avoid timers
  dev-infra/eslint-config-enterprise/integration/tests/test.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(eslint-config-enterprise): avoid timers (#943)
  .github/workflows/autoupdate.yml
  dev-infra/eslint-config-enterprise/index.js
  dev-infra/eslint-config-enterprise/integration/tests/test.spec.ts
  packages/cdk/directives/src/initial-focus/initial-focus.directive.ts
  packages/cdk/http/typings/src/enums/http-status-code.ts
  packages/cdk/integration/apps/tooltip/src/samples/guide/guide.component.ts
  packages/cdk/integration/apps/virtual-table/src/samples/sample-eight/sample-eight.component.ts
  packages/cdk/integration/apps/virtual-table/src/samples/sample-first-second/sample-first-second.component.ts
  packages/cdk/integration/apps/virtual-table/src/samples/sample-first/sample-first.component.ts
  packages/cdk/integration/apps/virtual-table/src/samples/sample-night/sample-night.component.ts
  packages/cdk/integration/apps/virtual-table/src/samples/sample-second/sample-second.component.ts
  packages/cdk/integration/tests/jest/excel/excel.service.spec.ts
  packages/cdk/integration/tests/jest/http/helpers/http-mock-interceptor.ts
  packages/cdk/integration/tests/jest/http/limit-concurrency/http-client.spec.ts
  packages/cdk/integration/tests/jest/virtual-table/components/table-builder.component.spec.ts
  packages/cdk/tooltip/src/tooltip.directive.ts
  packages/cdk/virtual-table/src/abstract-table-builder-api.directive.ts
  packages/cdk/virtual-table/src/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.ts
  packages/cdk/virtual-table/src/components/ngx-context-menu/ngx-context-menu.component.ts
  packages/cdk/virtual-table/src/components/ngx-filter-viewer/ngx-filter-viewer.component.ts
  packages/cdk/virtual-table/src/components/table-cell/table-cell.component.ts
  packages/cdk/virtual-table/src/components/table-tbody/table-tbody.component.ts
  packages/cdk/virtual-table/src/directives/abstract-modal-view-layer.directive.ts
  packages/cdk/virtual-table/src/directives/auto-height.directive.ts
  packages/cdk/virtual-table/src/services/sortable/sortable.service.ts
  packages/cdk/virtual-table/src/table-builder.component.ts
  packages/cdk/websocket/src/services/abstract-websocket.client.ts
  packages/ngxs/decorators/src/debounce/debounce.ts
Due: yarn prettier --write, yarn eslint --fix

feat(cdk): rows copy feature and reworks
  packages/cdk/integration/tests/jest/excel/excel.service.spec.ts
  packages/cdk/integration/tests/jest/excel/file-suites/test-1-simple.xls
  packages/cdk/integration/tests/jest/excel/file-suites/test-2-by-keys.xls
  packages/cdk/integration/tests/jest/excel/file-suites/test-3-exclude-keys.xls
  packages/cdk/integration/tests/jest/excel/file-suites/test-4-options.xls
  packages/cdk/integration/tests/jest/excel/file-suites/test-5-translate.xls
  packages/cdk/integration/tests/jest/excel/file-suites/test-6-auto-width.xls
  packages/cdk/integration/tests/jest/excel/file-suites/test-7-auto-width-translate.xls
  packages/cdk/integration/tests/jest/excel/file-suites/test-8-auto-width.xls
  packages/cdk/integration/tests/jest/helpers/file-utils.ts
  packages/cdk/integration/tests/jest/helpers/table-mock-data.ts
  packages/cdk/integration/tests/jest/table-utils/file-suites/test-1-simple.html
  packages/cdk/integration/tests/jest/table-utils/file-suites/test-2-by-keys.html
  packages/cdk/integration/tests/jest/table-utils/file-suites/test-3-exclude-keys.html
  packages/cdk/integration/tests/jest/table-utils/file-suites/test-4-options.html
  packages/cdk/integration/tests/jest/table-utils/file-suites/test-5-translate.html
  packages/cdk/integration/tests/jest/table-utils/table-clipboard.spec.ts
  packages/cdk/table-utils/src/plain-table-composer/interfaces/input-descriptor.ts
  packages/cdk/table-utils/src/plain-table-composer/interfaces/rules-descriptor.ts
  packages/cdk/table-utils/src/plain-table-composer/plain-table-composer.module.ts
  packages/cdk/table-utils/src/plain-table-composer/plain-table-composer.service.ts
  packages/cdk/table-utils/src/public_api.ts
  packages/cdk/table-utils/src/table-clipboard/table-clipboard.module.ts
  packages/cdk/table-utils/src/table-clipboard/table-clipboard.service.ts
Due: yarn prettier --write, yarn eslint --fix

feat(eslint-config-enterprise): add rxjs rules
  dev-infra/eslint-config-enterprise/index.js
  packages/cdk/excel/src/excel.service.ts
  packages/cdk/forms/src/control-value-accessor-patcher.ts
  packages/cdk/forms/src/control-value-interceptor.ts
  packages/cdk/http/src/services/data-http.client.ts
  packages/cdk/http/src/services/limit-concurency.service.ts
  packages/cdk/http/src/utils/rest-template.ts
  packages/cdk/integration/apps/http/src/samples/guide/guide.component.ts
  packages/cdk/integration/apps/virtual-table/src/samples/sample-sixteen/sample-sixteen.component.ts
  packages/cdk/integration/tests/jest/http/limit-concurrency/http-client.spec.ts
  packages/cdk/integration/tests/jest/http/limit-concurrency/limit-concurrency.service.spec.ts
  packages/cdk/integration/tests/jest/http/limit-concurrency/unsubscribe.spec.ts
  packages/cdk/integration/tests/jest/http/users/http-events-client.spec.ts
  packages/cdk/integration/tests/jest/virtual-table/directives/auto-height.directive.spec.ts
  packages/cdk/integration/tests/jest/virtual-table/samples/lifecycle/lifecycle.spec.ts
  packages/cdk/virtual-table/src/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.ts
  packages/cdk/virtual-table/src/components/ngx-context-menu/ngx-context-menu.component.ts
  packages/cdk/virtual-table/src/components/ngx-filter-viewer/ngx-filter-viewer.component.ts
  packages/cdk/virtual-table/src/components/ngx-filter/ngx-filter.component.ts
  packages/cdk/virtual-table/src/directives/auto-height.directive.ts
  packages/cdk/virtual-table/src/services/context-menu/context-menu.service.ts
  packages/cdk/virtual-table/src/services/filterable/filterable.service.ts
  packages/cdk/virtual-table/src/services/selection/selection.service.ts
  packages/cdk/virtual-table/src/services/table-view-changes/ngx-table-view-changes.service.ts
  packages/cdk/virtual-table/src/table-builder.component.ts
  packages/cdk/websocket/src/services/abstract-websocket.client.ts
  packages/ngxs/decorators/src/data-action/data-action.ts
  packages/ngxs/integration/app/src/app.component.html
  packages/ngxs/integration/app/src/app.component.ts
  packages/ngxs/integration/tests/common-extensions/computed-observable.spec.ts
  packages/ngxs/integration/tests/common-extensions/computed.spec.ts
  packages/ngxs/integration/tests/common-extensions/two-state.spec.ts
  packages/ngxs/integration/tests/entity/primary-key-or-unique-id.spec.ts
  packages/ngxs/integration/tests/immutability/mutate-selectors.spec.ts
  packages/ngxs/integration/tests/immutability/ngxs-data.spec.ts
  packages/ngxs/integration/tests/inheritance-extensions/children.spec.ts
  packages/ngxs/internals/src/utils/common/combine-stream.ts
  packages/ngxs/storage/src/ngxs-data-storage-plugin.service.ts
Due: yarn prettier --write, yarn eslint --fix

feat(eslint-config-enterprise): add rxjs rules
  dev-infra/eslint-config-enterprise/index.js
  dev-infra/eslint-config-enterprise/package.json
  packages/cdk/integration/apps/virtual-table/src/samples/sample-eight/sample-eight.component.ts
  packages/cdk/integration/apps/virtual-table/src/samples/sample-eleven/sample-eleven.component.ts
  packages/cdk/integration/tests/jest/function/function.spec.ts
  packages/cdk/integration/tests/jest/ivy/helpers/deep-inherit.spec.ts
  packages/cdk/integration/tests/jest/virtual-table/helpers/utils/mocks-generator.ts
  packages/ngxs/integration/tests/common-extensions/action-decorator.spec.ts
  packages/ngxs/integration/tests/common-extensions/computed.spec.ts
  packages/ngxs/integration/tests/storage-extensions/storage.spec.ts
  packages/ngxs/internals/src/decorators/validate-computed-method.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(eslint-config-enterprise): add rxjs rules
  dev-infra/eslint-config-enterprise/integration/tests/file-suites/typescript.good.ts.lint.template
  dev-infra/eslint-config-enterprise/integration/tests/test.spec.ts
  packages/ngxs/integration/tests/entity/sort-by.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore: fix tests
  packages/cdk/integration/tests/jest/virtual-table/directives/auto-height.directive.spec.ts
  packages/cdk/integration/tests/jest/virtual-table/samples/lifecycle/lifecycle.spec.ts
  packages/cdk/virtual-table/src/directives/auto-height.directive.ts
  packages/cdk/virtual-table/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
