Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

build: use es2015 by default
  packages/common/integration/tests/nodejs/ts-utils.spec.ts
  packages/common/tsconfig.app.json
  packages/common/tsconfig.base.json
  packages/common/tsconfig.lib.json
  packages/common/tsconfig.spec.json
  packages/flex-layout/tsconfig.app.json
  packages/http/tsconfig.app.json
  packages/http/tsconfig.lib.json
  packages/logger/tsconfig.app.json
  packages/logger/tsconfig.lib.json
  packages/ng-excel-builder/tsconfig.app.json
  packages/ng-excel-builder/tsconfig.lib.json
  packages/ng-table-builder/tsconfig.app.json
  packages/ng-table-builder/tsconfig.lib.json
  packages/stream/tsconfig.app.json
  packages/stream/tsconfig.lib.json
  packages/tooltip/tsconfig.app.json
  packages/tooltip/tsconfig.lib.json
  packages/websocket/tsconfig.lib.json
Due: yarn prettier --write, yarn eslint --fix

build: use es2015 by default (#717)
  packages/common/integration/tests/nodejs/ts-utils.spec.ts
  packages/common/tsconfig.app.json
  packages/common/tsconfig.base.json
  packages/common/tsconfig.lib.json
  packages/common/tsconfig.spec.json
  packages/flex-layout/tsconfig.app.json
  packages/http/tsconfig.app.json
  packages/http/tsconfig.lib.json
  packages/logger/tsconfig.app.json
  packages/logger/tsconfig.lib.json
  packages/ng-excel-builder/tsconfig.app.json
  packages/ng-excel-builder/tsconfig.lib.json
  packages/ng-table-builder/tsconfig.app.json
  packages/ng-table-builder/tsconfig.lib.json
  packages/stream/tsconfig.app.json
  packages/stream/tsconfig.lib.json
  packages/tooltip/tsconfig.app.json
  packages/tooltip/tsconfig.lib.json
  packages/websocket/tsconfig.lib.json
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/stream/package.json
  packages/tooltip/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): update default date suggestion map
  packages/common/date/src/date-suggestion/domain/enums/default-date-interval-suggestion.ts
  packages/common/date/src/date-suggestion/properties/default-suggestion-strategy-map.ts
Due: yarn prettier --write, yarn eslint --fix

fix(ng-table-builder): table features and typings (#711)
  packages/common/docs/number.md
  packages/common/integration/tests/number/number.spec.ts
  packages/common/number/src/to-number.ts
  packages/common/table-utils/src/interfaces/rules-descriptor.ts
  packages/ng-excel-builder/src/domain/column-parameters.ts
  packages/ng-excel-builder/src/domain/excel-workbook.ts
  packages/ng-excel-builder/src/domain/excel-worksheet.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/sample-fourteen.component.ts
  packages/ng-table-builder/src/components/table-thead/table-thead.component.html
  packages/ng-table-builder/src/interfaces/table-builder.external.ts
  packages/ng-table-builder/src/services/template-parser/template-parser.service.ts
  packages/ng-table-builder/src/styles/cell.scss
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/ngx-table-builder): added extensibility and height not just numbers
  packages/ng-table-builder/integration/app/src/samples/sample-twelve/sample-twelve.component.html
  packages/ng-table-builder/integration/tests/directives/auto-height.directive.spec.ts
  packages/ng-table-builder/src/components/ngx-header/ngx-header.component.html
  packages/ng-table-builder/src/components/ngx-header/ngx-header.component.ts
  packages/ng-table-builder/src/components/table-thead/table-thead.component.html
  packages/ng-table-builder/src/components/table-thead/table-thead.component.ts
  packages/ng-table-builder/src/directives/auto-height.directive.ts
  packages/ng-table-builder/src/interfaces/table-builder.internal.ts
  packages/ng-table-builder/src/styles/common.scss
  packages/ng-table-builder/src/table-builder.component.html
  packages/ng-table-builder/src/table-builder.component.scss
  packages/ng-table-builder/src/table-builder.component.ts
  packages/ng-table-builder/src/table-builder.module.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ngx-table-builder): added extensibility and height not just numbers
  packages/ng-table-builder/integration/tests/pipes/get-client-height.pipe.spec.ts
  packages/ng-table-builder/integration/tests/pipes/get-free-size.pipe.spec.ts
  packages/ng-table-builder/src/components/ngx-header/ngx-header.component.ts
  packages/ng-table-builder/src/operators/get-client-height.ts
  packages/ng-table-builder/src/pipes/get-client-height.pipe.ts
  packages/ng-table-builder/src/pipes/get-free-size.pipe.ts
  packages/ng-table-builder/src/table-builder.component.html
  packages/ng-table-builder/src/table-builder.component.ts
  packages/ng-table-builder/src/table-builder.module.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): update default date suggestion map
  packages/common/docs/date-suggestion.md
  packages/common/integration/tests/date/date-suggestion.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ngx-table-builder): added extensibility and height not just numbers
  packages/ng-table-builder/src/components/ngx-header/ngx-header.component.ts
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ngx-table-builder): added extensibility and height not just numbers
  packages/ng-table-builder/src/directives/auto-height.directive.ts
  packages/ng-table-builder/src/interfaces/table-builder.internal.ts
  packages/ng-table-builder/src/table-builder.component.html
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ngx-table-builder): added extensibility and height not just numbers
  packages/ng-table-builder/integration/app/src/samples/sample-twelve/sample-twelve.component.html
  packages/ng-table-builder/src/components/ngx-header/ngx-header.component.html
  packages/ng-table-builder/src/components/ngx-header/ngx-header.component.ts
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ngx-table-builder): added extensibility and height not just numbers
  packages/ng-table-builder/integration/tests/pipes/get-free-size.pipe.spec.ts
  packages/ng-table-builder/src/pipes/get-client-height.pipe.ts
  packages/ng-table-builder/src/pipes/get-free-size.pipe.ts
  packages/ng-table-builder/src/table-builder.module.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ngx-table-builder): added extensibility and height not just numbers
  packages/ng-table-builder/integration/tests/directives/auto-height.directive.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): update default date suggestion map (#718)
  packages/common/date/src/date-suggestion/domain/enums/default-date-interval-suggestion.ts
  packages/common/date/src/date-suggestion/properties/default-suggestion-strategy-map.ts
  packages/common/docs/date-suggestion.md
  packages/common/integration/tests/date/date-suggestion.spec.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: added empty array as no value for the form (#719)
  packages/common/integration/tests/validators/required-some-value-by-keys-validator.spec.ts
  packages/common/validators/src/required-some-value-by-keys.validator.ts
Due: yarn prettier --write, yarn eslint --fix

feat: added regexp REG_EXP_INTEGERS_SEPARATED_BY_COMMA (#720)
  packages/common/docs/regexp.md
  packages/common/integration/tests/regexp/regexp-constants.spec.ts
  packages/common/regexp/src/constants.ts
  packages/common/regexp/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ngx-table-builder): added extensibility and height n… (#712)
  packages/ng-table-builder/integration/app/src/samples/sample-twelve/sample-twelve.component.html
  packages/ng-table-builder/integration/tests/directives/auto-height.directive.spec.ts
  packages/ng-table-builder/integration/tests/pipes/get-client-height.pipe.spec.ts
  packages/ng-table-builder/integration/tests/pipes/get-free-size.pipe.spec.ts
  packages/ng-table-builder/src/components/ngx-header/ngx-header.component.html
  packages/ng-table-builder/src/components/ngx-header/ngx-header.component.ts
  packages/ng-table-builder/src/components/table-thead/table-thead.component.html
  packages/ng-table-builder/src/components/table-thead/table-thead.component.ts
  packages/ng-table-builder/src/directives/auto-height.directive.ts
  packages/ng-table-builder/src/interfaces/table-builder.internal.ts
  packages/ng-table-builder/src/operators/get-client-height.ts
  packages/ng-table-builder/src/pipes/get-client-height.pipe.ts
  packages/ng-table-builder/src/pipes/get-free-size.pipe.ts
  packages/ng-table-builder/src/styles/common.scss
  packages/ng-table-builder/src/table-builder.component.html
  packages/ng-table-builder/src/table-builder.component.scss
  packages/ng-table-builder/src/table-builder.component.ts
  packages/ng-table-builder/src/table-builder.module.ts
Due: yarn prettier --write, yarn eslint --fix

build: force bump versions
  .prettierignore
  lerna.json
  packages/build-tools/package.json
  packages/commitlint-config/package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/not-found.component.ts
  packages/ng-table-builder/integration/tests/helpers/mocks/simple-mock.component.ts
  packages/ng-table-builder/integration/tests/helpers/mocks/template-mock.component.ts
  packages/ng-table-builder/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/stream/package.json
  packages/tooltip/package.json
  packages/tsconfig/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: force bump versions (#722)
  .prettierignore
  lerna.json
  packages/build-tools/package.json
  packages/commitlint-config/package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/not-found.component.ts
  packages/ng-table-builder/integration/tests/helpers/mocks/simple-mock.component.ts
  packages/ng-table-builder/integration/tests/helpers/mocks/template-mock.component.ts
  packages/ng-table-builder/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/stream/package.json
  packages/tooltip/package.json
  packages/tsconfig/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/commitlint-config/package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/stream/package.json
  packages/tooltip/package.json
  packages/tsconfig/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

refactor: remove rxjs-marbles
  package.json
  packages/http/integration/tests/limit-concurrency/limit-concurrency.service.spec.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

refactor: remove jasmine-marbles
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/ng-table-builder): fix styles of expand button
  packages/ng-table-builder/src/table-builder.component.scss
Due: yarn prettier --write

fix(@angular-ru/ng-table-builder): fix styles of expand button (#725)
  packages/ng-table-builder/src/table-builder.component.scss
Due: yarn prettier --write

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): item functions type (#684)
  packages/common/array/src/take-first-item.ts
  packages/common/array/src/take-last-item.ts
  packages/common/array/src/take-second-item.ts
  packages/common/array/src/take-third-item.ts
  packages/common/docs/typings.md
  packages/common/typings/src/infinite-tuple.ts
  packages/common/typings/src/last-of-tuple.ts
  packages/common/typings/src/public_api.ts
  packages/common/typings/src/tuple-item.ts
  packages/common/typings/src/tuple.ts
Due: yarn prettier --write, yarn eslint --fix

refactor(@angular-ru/ng-table-builder): extract css-variables (#664)
  packages/ng-table-builder/src/components/table-thead/table-thead.component.html
  packages/ng-table-builder/src/components/table-thead/table-thead.component.ts
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
  packages/ng-table-builder/src/styles/cell.scss
  packages/ng-table-builder/src/styles/columns.scss
  packages/ng-table-builder/src/styles/common.scss
  packages/ng-table-builder/src/styles/icon.scss
  packages/ng-table-builder/src/styles/scrollbar.scss
  packages/ng-table-builder/src/styles/variables.scss
  packages/ng-table-builder/src/table-builder.component.html
  packages/ng-table-builder/src/table-builder.component.scss
Due: yarn prettier --write, yarn eslint --fix

feat(common): added regexp constants (#665)
  packages/common/docs/regexp.md
  packages/common/integration/tests/regexp/regexp-constants.spec.ts
  packages/common/integration/tests/regexp/regexp-utils.spec.ts
  packages/common/regexp/src/constants.ts
  packages/common/regexp/src/matched-by-regexp.ts
  packages/common/regexp/src/public_api.ts
  packages/common/regexp/src/utils/ensure-regexp.ts
  packages/common/regexp/src/utils/is-regexp-str.ts
  packages/common/regexp/src/utils/matched-by-regexp.ts
Due: yarn prettier --write, yarn eslint --fix

fix(eslint-config): changed script
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/ng-table-builder): add numeric filters (#683)
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/sample-fourteen.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/sample-fourteen.component.ts
  packages/ng-table-builder/integration/tests/components/table-builder.component.spec.ts
  packages/ng-table-builder/integration/tests/helpers/utils/mocks-generator.ts
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/components/ngx-filter-viewer/ngx-filter-viewer.component.ts
  packages/ng-table-builder/src/components/ngx-filter-viewer/ngx-filter-viewer.properties.ts
  packages/ng-table-builder/src/services/filterable/filter-descriptor.ts
  packages/ng-table-builder/src/services/filterable/filter.worker.ts
  packages/ng-table-builder/src/services/filterable/filterable-message.ts
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
  packages/ng-table-builder/src/services/filterable/table-filter-type.ts
  packages/ng-table-builder/tsconfig.app.json
Due: yarn prettier --write, yarn eslint --fix
