Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

build: update dependency highlight.js to v11
  apps/flex-layout-demo/index.html
  apps/virtual-table-demo/index.html
Due: yarn prettier --write

build: update commitlint dependencies to v16.2.3
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update actions/cache action to v3
  .github/actions/nodejs/action.yml
Due: none

build: update peter-evans/rebase action to v2
  .github/workflows/autorebase.yml
Due: none

chore(commitlint): release version 12.64.3 [ci skip]
  libs/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: updated RELEASE_NOTES.md [ci skip]
  RELEASE_NOTES.md
Due: yarn prettier --write

build: update dependency @types/node to v17.0.23
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 12.64.7 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ts-jest to v27.1.4
  libs/jest/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(jest): release version 12.64.4 [ci skip]
  libs/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update prettier dependencies
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @prettier/plugin-xml to v2
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(prettier): release version 12.64.3 [ci skip]
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update angular dependencies
  libs/dev-dependencies/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

feat: angular version update
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

feat: angular version update and packagr
  libs/dev-dependencies/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

feat: lock file
  package-lock.json
Due: yarn prettier --write

feat: some rules are off
  libs/eslint-config-enterprise/modules/spec.js
Due: yarn prettier --write

feat: new angular plugin configuration
  libs/cdk/tests/setup-jest.ts
Due: yarn prettier --write, yarn eslint --fix

feat: resolve ts config path for jest
  libs/jest/src/utils/resolve-ts-config-path.ts
Due: yarn prettier --write, yarn eslint --fix

feat: idleResolve test fix
  libs/cdk/tests/virtual-table/components/selection-mock.component.spec.ts
  libs/cdk/tests/virtual-table/components/table-builder.component.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: ngxs tests fixes
  libs/ngxs/tests/common-extensions/action-decorator.spec.ts
  libs/ngxs/tests/common-extensions/argument-decorators.spec.ts
  libs/ngxs/tests/common-extensions/computed-observable.spec.ts
  libs/ngxs/tests/common-extensions/computed.spec.ts
  libs/ngxs/tests/common-extensions/counter-lifecycle.spec.ts
  libs/ngxs/tests/common-extensions/counter.spec.ts
  libs/ngxs/tests/common-extensions/debounce.spec.ts
  libs/ngxs/tests/common-extensions/deep-data-action-type.spec.ts
  libs/ngxs/tests/common-extensions/registration.spec.ts
  libs/ngxs/tests/common-extensions/state-context.spec.ts
  libs/ngxs/tests/common-extensions/two-state.spec.ts
  libs/ngxs/tests/immutability/immutable.spec.ts
  libs/ngxs/tests/immutability/mutate-selectors.spec.ts
  libs/ngxs/tests/immutability/ngxs-data.spec.ts
  libs/ngxs/tests/inheritance-extensions/children.spec.ts
  libs/ngxs/tests/inheritance-extensions/inheritance.spec.ts
  libs/ngxs/tests/reset-extensions/reset.spec.ts
  libs/ngxs/tests/setup-jest.ts
  libs/ngxs/tests/storage-extensions/storage.spec.ts
  libs/ngxs/tests/utils-extensions/mutable.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: explicit path to ngx-mask.mjs
  libs/cdk/tsconfig.spec.json
Due: yarn prettier --write

feat: unsupported decorator plugin is removed from export
  libs/eslint-config-enterprise/index.js
Due: yarn prettier --write

feat: eslint dependencies for angular v13 are updated, some required changes are applied
  libs/eslint-config-enterprise/modules/spell-check.js
  libs/eslint-config-enterprise/package.json
  libs/eslint-config-enterprise/tsconfig.spec.json
  libs/eslint-plugin-enterprise/tsconfig.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

feat: spec updated
  libs/jest/tests/simple.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: dependencies update
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

feat: test update
  libs/eslint-config-enterprise/tests/test.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: get rid of cdk dependence
  libs/eslint-plugin-enterprise/src/utils/get-options.ts
  libs/jest/src/utils/check-is-node-environment.ts
  libs/jest/src/utils/create-ts-jest-config.ts
  libs/jest/src/utils/expose-ts-compiler-options-by-ts-config.ts
  libs/jest/src/utils/extends-ts-jest-config.ts
  libs/jest/tests/helpers/hello.ts
Due: yarn prettier --write, yarn eslint --fix

feat: test fixes for the new jest version
  libs/cdk/tests/table-utils/table-clipboard.spec.ts
  libs/cdk/tests/utils/utils.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore(prettier): release version 12.64.4 [ci skip]
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: dependencies update
  libs/dev-dependencies/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

feat: lint fixes
  apps/http-demo/src/samples/guide/guide.component.ts
  apps/ngxs-demo/src/article/article.component.ts
  apps/virtual-table-demo/src/samples/sample-first-second/sample-first-second.component.ts
  apps/virtual-table-demo/src/samples/sample-sixteen/sample-sixteen.component.ts
  libs/cdk/directives/src/trim-input/trim-input.directive.ts
  libs/cdk/tests/http/limit-concurrency/http-client.spec.ts
  libs/cdk/tests/logger/injector.spec.ts
  libs/cdk/tests/logger/logger.module.spec.ts
  libs/cdk/tests/object/object.spec.ts
  libs/cdk/tests/pipes/brace.pipe.spec.ts
  libs/cdk/tests/string/string.spec.ts
  libs/cdk/tests/virtual-table/directives/auto-height.directive.spec.ts
  libs/cdk/virtual-table/src/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.ts
  libs/cdk/virtual-table/src/components/ngx-context-menu/ngx-context-menu.component.ts
  libs/cdk/virtual-table/src/components/ngx-filter-viewer/ngx-filter-viewer.component.ts
  libs/cdk/virtual-table/src/components/ngx-filter/ngx-filter.component.ts
  libs/cdk/virtual-table/src/components/table-cell/table-cell.component.ts
  libs/ngxs/testing/src/platform/ngxs-platform.ts
Due: yarn prettier --write, yarn eslint --fix

feat: outdated style import fix
  .global/integration-app.style.scss
Due: yarn prettier --write

feat: dependencies update
  package-lock.json
Due: yarn prettier --write
