Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

feat: update dependency jest to v26.4.2
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/flex-layout/CHANGELOG.md
  packages/flex-layout/package.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/ng-excel-builder/CHANGELOG.md
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency jest-preset-angular to v8.3.1
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

docs: update README.md
  packages/logger/README.md
Due: yarn prettier --write

fix(@angular-ru/flex-layout): correct resolve flex layout styles
  packages/flex-layout/README.md
  packages/flex-layout/angular.json
  packages/flex-layout/integration/app/src/app.component.ts
  packages/flex-layout/integration/app/src/app.module.ts
  packages/flex-layout/integration/app/styles.css
  packages/flex-layout/integration/app/styles.scss
  packages/flex-layout/ng-package.json
  packages/flex-layout/src/directives/abstract-flex-layout.directive.ts
  packages/flex-layout/src/directives/flex-column.directive.ts
  packages/flex-layout/src/directives/flex-container.directive.ts
  packages/flex-layout/src/directives/flex-end.directive.ts
  packages/flex-layout/src/directives/flex-full-width.directive.ts
  packages/flex-layout/src/directives/flex-inline.directive.ts
  packages/flex-layout/src/directives/flex-item.directive.ts
  packages/flex-layout/src/directives/flex-justify-normal.directive.ts
  packages/flex-layout/src/directives/flex-none.directive.ts
  packages/flex-layout/src/directives/flex-space-between.directive.ts
  packages/flex-layout/src/directives/flex-start.directive.ts
  packages/flex-layout/src/flex-layout.component.ts
  packages/flex-layout/src/flex-layout.module.ts
  packages/flex-layout/src/public-api.ts
  packages/flex-layout/styles/flex-column.scss
  packages/flex-layout/styles/flex-container.scss
  packages/flex-layout/styles/index.scss
  packages/flex-layout/styles/shared.scss
  packages/flex-layout/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix

chore: remove redundant changelog files
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/CHANGELOG.md
  packages/eslint-config/CHANGELOG.md
  packages/flex-layout/CHANGELOG.md
  packages/jest-utils/CHANGELOG.md
  packages/logger/CHANGELOG.md
  packages/ng-excel-builder/CHANGELOG.md
  packages/ng-table-builder/CHANGELOG.md
  packages/prettier-config/CHANGELOG.md
  packages/tsconfig/CHANGELOG.md
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

docs(@angular-ru/common): update README.md
  packages/common/README.md
Due: yarn prettier --write

chore(release): updated release notes and package versions [ci skip]
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: update workflow files
  .github/workflows/workflow.yml
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

docs(@angular-ru/common): update README.md
  README.md
  packages/common/README.md
Due: yarn prettier --write

chore(release): updated release notes and package versions [ci skip]
  lerna.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/flex-layout/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/prettier-config/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

docs(@angular-ru/flex-layouts): update README.md
  packages/flex-layout/README.md
Due: yarn prettier --write

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/flex-layout/package.json
Due: yarn prettier --write, yarn sort-package-json

docs(@angular-ru/common): update README.md
  CHANGELOG.md
  package.json
  packages/common/README.md
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  lerna.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/flex-layout/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/prettier-config/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: force publish
  .github/workflows/workflow.yml
Due: none

docs(@angular-ru/common): update README.md
  .github/workflows/workflow.yml
  CHANGELOG.md
  package.json
  packages/common/README.md
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update workflow
  .github/workflows/workflow.yml
  package.json
Due: yarn prettier --write, yarn sort-package-json

docs(@angular-ru/common): update README.md
  CHANGELOG.md
  packages/common/README.md
Due: yarn prettier --write

chore(release): updated changelog [ci skip]
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated changelog [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

docs(@angular-ru/common): update README.md
  package.json
  packages/common/README.md
Due: yarn prettier --write, yarn sort-package-json

ci: force publish
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json
