Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: update dependency jest to v27.4.6
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency jest to v27.4.7
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

Merge c747471427e01e0a79015b2d57c80f88a88ea68d into 6f40fb8ffc3243ac49a71394ba7d1b37214ff62b
  .github/actions/autopush/action.yml
  .github/actions/setup/action.yml
  .github/workflows/lint.yml
Due: none

Merge 47f1e22bc5a45b677f1a9a42d41348f00119f34e into 6f40fb8ffc3243ac49a71394ba7d1b37214ff62b
  .github/actions/autopush/action.yml
  .github/actions/git/action.yml
  .github/workflows/lint.yml
Due: none

ci: add lint code
  .github/actions/autopush/action.yml
  .github/actions/git/action.yml
  .github/actions/nodejs/action.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  dev-infra/eslint-plugin-enterprise/package.json
  package.json
  packages/ngxs/decorators/src/computed/computed.ts
  packages/ngxs/integration/tests/common-extensions/computed-observable.spec.ts
  packages/ngxs/storage/src/utils/expose-engine.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: add lint code (#1189)
  .github/actions/autopush/action.yml
  .github/actions/git/action.yml
  .github/actions/nodejs/action.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  dev-infra/eslint-plugin-enterprise/package.json
  package.json
  packages/ngxs/decorators/src/computed/computed.ts
  packages/ngxs/integration/tests/common-extensions/computed-observable.spec.ts
  packages/ngxs/storage/src/utils/expose-engine.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: decomposition actions
  .github/workflows/autorebase.yml
  .github/workflows/build.yml
  .github/workflows/integrations.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
Due: none

ci: decomposition actions (#1190)
  .github/workflows/autorebase.yml
  .github/workflows/build.yml
  .github/workflows/integrations.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
Due: none

ci: decomposition actions
  .github/workflows/autorebase.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/ng-check.yml
  .github/workflows/test.yml
  .scripts/utils/is-error.ts
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/jest/src/constants/configurations.ts
  dev-infra/jest/src/utils/create-ts-jest-config.ts
  package.json
  packages/cdk/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore: fix formatting
  package.json
Due: yarn prettier --write, yarn sort-package-json

ci: decomposition actions
  dev-infra/jest/src/constants/configurations.ts
Due: yarn prettier --write, yarn eslint --fix

ci: decomposition actions (#1191)
  .github/workflows/autorebase.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/ng-check.yml
  .github/workflows/test.yml
  .scripts/utils/is-error.ts
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/jest/src/constants/configurations.ts
  dev-infra/jest/src/utils/create-ts-jest-config.ts
  packages/cdk/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/jest/package.json
  packages/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: decomposition actions
  .github/actions/autopush/action.yml
  .github/actions/git/action.yml
Due: none

build: update dependency jasmine-core to v4
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lint-staged to v12.1.6
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore: fix formatting
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: decomposition actions
  package.json
Due: yarn prettier --write, yarn sort-package-json

ci: decomposition actions
  .github/actions/git/action.yml
  .github/workflows/autorebase.yml
  .github/workflows/verify-ng.yml
  .gitignore
  .scripts/clean.ts
  dev-infra/eslint-config-enterprise/jest.config.js
  dev-infra/jest/jest.config.js
  packages/cdk/integration/tests/jest/jest.config.js
  packages/cdk/integration/tests/karma/karma.conf.js
  packages/cdk/package.json
  packages/ngxs/integration/tests/jest.config.js
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

Ci/feat (#1194)
  .github/actions/git/action.yml
  .github/workflows/autorebase.yml
  .github/workflows/verify-ng.yml
  .gitignore
  .scripts/clean.ts
  dev-infra/eslint-config-enterprise/jest.config.js
  dev-infra/jest/jest.config.js
  packages/cdk/integration/tests/jest/jest.config.js
  packages/cdk/integration/tests/karma/karma.conf.js
  packages/cdk/package.json
  packages/ngxs/integration/tests/jest.config.js
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/commitlint/package.json
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/renovate/package.json
  dev-infra/typescript/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: decomposition actions
  .github/actions/autopush/action.yml
  .github/actions/git/action.yml
  .github/actions/nodejs/action.yml
  .github/workflows/test.yml
Due: none

ci: decomposition actions
  .github/actions/git/action.yml
  .github/actions/nodejs/action.yml
  .github/workflows/build.yml
  .github/workflows/test.yml
  dev-infra/eslint-config-enterprise/jest.config.js
  packages/cdk/integration/tests/jest/jest.config.js
Due: yarn prettier --write

ci: decomposition actions (#1196)
  .github/actions/git/action.yml
  .github/actions/nodejs/action.yml
  .github/workflows/build.yml
  .github/workflows/test.yml
  dev-infra/eslint-config-enterprise/jest.config.js
  packages/cdk/integration/tests/jest/jest.config.js
Due: yarn prettier --write

build: update actions/checkout action to v2
  .github/actions/git/action.yml
Due: none

ci: decomposition actions (#1196)
  .github/actions/git/action.yml
  .github/workflows/build.yml
  .github/workflows/labeler.yml
  .github/workflows/test.yml
  .scripts/postinstall.ts
  README.md
  codecov.yml
Due: yarn prettier --write, yarn eslint --fix

ci: decomposition actions (#1196) (#1198)
  .github/actions/git/action.yml
  .github/workflows/build.yml
  .github/workflows/labeler.yml
  .github/workflows/test.yml
  .scripts/postinstall.ts
  README.md
  codecov.yml
Due: yarn prettier --write, yarn eslint --fix

ci: decomposition actions (#1196) (#1198)
  .github/actions/autopush/action.yml
  .github/actions/git/action.yml
  .github/workflows/labeler.yml
  .github/workflows/test.yml
  dev-infra/commitlint/package.json
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/renovate/package.json
  dev-infra/typescript/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: decomposition actions (#1196) (#1198) (#1199)
  .github/actions/autopush/action.yml
  .github/actions/git/action.yml
  .github/workflows/labeler.yml
  .github/workflows/test.yml
  dev-infra/commitlint/package.json
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/renovate/package.json
  dev-infra/typescript/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: decomposition actions
  .github/actions/git/action.yml
  .github/workflows/lint.yml
Due: none

ci: decomposition actions (#1200)
  .github/actions/git/action.yml
  .github/workflows/lint.yml
Due: none

ci: decomposition actions (#1200)
  .github/actions/git/action.yml
Due: none

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
