Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(@angular-ru/ng-excel-builder): support nullable entries (#671)
  packages/common/docs/typings.md
  packages/common/typings/src/nullable.ts
  packages/common/typings/src/public_api.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-excel-builder/src/interfaces/excel-worksheet.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/ng-excel-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(eslint-config): changed tests
  packages/eslint-config/integration/tests/test-i18n.spec.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

revert: detect-changes.ts
  packages/common/utils/src/detect-changes.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update autoupdate.yml (#663)
  .github/workflows/autoupdate.yml
Due: none

feat(@angular-ru/common): support nullable values when update array (#673)
  packages/common/array/src/update-array.ts
  packages/common/integration/tests/array/update-array.spec.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/common): prevent invalid date time (#662)
  packages/common/date/src/to-iso-string.ts
  packages/common/integration/tests/date/serial-date.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: added eslint-plugin-i18n-json
  package.json
  packages/eslint-config/index.js
  packages/eslint-config/integration/assets/i18n/a/ru.json
  packages/eslint-config/integration/assets/i18n/a/ru.txt
  packages/eslint-config/integration/assets/i18n/ru.json
  packages/eslint-config/integration/assets/ru.json
  packages/eslint-config/package.json
  packages/ng-excel-builder/integration/app/assets/i18n/ru.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): support nullable for array utils (#682)
  packages/common/array/src/first-item.ts
  packages/common/array/src/public_api.ts
  packages/common/array/src/second-item.ts
  packages/common/array/src/take-first-item.ts
  packages/common/array/src/take-last-item.ts
  packages/common/array/src/take-second-item.ts
  packages/common/array/src/take-third-item.ts
  packages/common/array/src/third-item.ts
  packages/common/integration/tests/array/utility-arrays.spec.ts
  packages/common/pipes/src/mark-by-filter/mark-by-filter.pipe.ts
Due: yarn prettier --write, yarn eslint --fix

refactor(eslint-config): changes after review
  package.json
  packages/eslint-config/index.js
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/eslint-config): add strict-boolean-expressions
  packages/common/utils/src/detect-changes.ts
Due: yarn prettier --write, yarn eslint --fix

fix(eslint-config): changed script
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(eslint-config): added test for eslint-i18n-json
  packages/eslint-config/integration/tests/file-suites/i18n/a/bad.json
  packages/eslint-config/integration/tests/file-suites/i18n/a/bad.txt
  packages/eslint-config/integration/tests/file-suites/i18n/bad.json
  packages/eslint-config/integration/tests/file-suites/i18n/good.json
  packages/eslint-config/integration/tests/test-i18n.spec.ts
  packages/eslint-config/integration/tests/test.spec.ts
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/commitlint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add DeclinationOfNumberPipe (#705)
  packages/common/docs/pipes.md
  packages/common/pipes/src/declination-of-number/declination-of-number-pipe.module.ts
  packages/common/pipes/src/declination-of-number/declination-of-number.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/ng-table-builder): fix styles of expand button (#725)
  packages/ng-table-builder/src/table-builder.component.scss
Due: yarn prettier --write

build: use es2015 by default (#717)
  packages/common/integration/tests/nodejs/ts-utils.spec.ts
  packages/common/tsconfig.app.json
  packages/common/tsconfig.base.json
  packages/common/tsconfig.lib.json
  packages/common/tsconfig.spec.json
  packages/flex-layout/tsconfig.app.json
  packages/http/tsconfig.app.json
  packages/http/tsconfig.lib.json
  packages/logger/tsconfig.app.json
  packages/logger/tsconfig.lib.json
  packages/ng-excel-builder/tsconfig.app.json
  packages/ng-excel-builder/tsconfig.lib.json
  packages/ng-table-builder/tsconfig.app.json
  packages/ng-table-builder/tsconfig.lib.json
  packages/stream/tsconfig.app.json
  packages/stream/tsconfig.lib.json
  packages/tooltip/tsconfig.app.json
  packages/tooltip/tsconfig.lib.json
  packages/websocket/tsconfig.lib.json
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/ng-table-builder): fix null values filter errors (#696)
  packages/ng-table-builder/integration/tests/components/table-builder.component.spec.ts
  packages/ng-table-builder/integration/tests/helpers/utils/mocks-generator.ts
  packages/ng-table-builder/integration/tests/samples/lifecycle/lifecycle.spec.ts
  packages/ng-table-builder/src/services/filterable/filter.worker.ts
Due: yarn prettier --write, yarn eslint --fix

fix(ng-table-builder): table features and typings (#711)
  packages/common/docs/number.md
  packages/common/integration/tests/number/number.spec.ts
  packages/common/number/src/to-number.ts
  packages/common/table-utils/src/interfaces/rules-descriptor.ts
  packages/ng-excel-builder/src/domain/column-parameters.ts
  packages/ng-excel-builder/src/domain/excel-workbook.ts
  packages/ng-excel-builder/src/domain/excel-worksheet.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/sample-fourteen.component.ts
  packages/ng-table-builder/src/components/table-thead/table-thead.component.html
  packages/ng-table-builder/src/interfaces/table-builder.external.ts
  packages/ng-table-builder/src/services/template-parser/template-parser.service.ts
  packages/ng-table-builder/src/styles/cell.scss
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ngx-table-builder): added extensibility and height n… (#712)
  packages/ng-table-builder/integration/app/src/samples/sample-twelve/sample-twelve.component.html
  packages/ng-table-builder/integration/tests/directives/auto-height.directive.spec.ts
  packages/ng-table-builder/integration/tests/pipes/get-client-height.pipe.spec.ts
  packages/ng-table-builder/integration/tests/pipes/get-free-size.pipe.spec.ts
  packages/ng-table-builder/src/components/ngx-header/ngx-header.component.html
  packages/ng-table-builder/src/components/ngx-header/ngx-header.component.ts
  packages/ng-table-builder/src/components/table-thead/table-thead.component.html
  packages/ng-table-builder/src/components/table-thead/table-thead.component.ts
  packages/ng-table-builder/src/directives/auto-height.directive.ts
  packages/ng-table-builder/src/interfaces/table-builder.internal.ts
  packages/ng-table-builder/src/operators/get-client-height.ts
  packages/ng-table-builder/src/pipes/get-client-height.pipe.ts
  packages/ng-table-builder/src/pipes/get-free-size.pipe.ts
  packages/ng-table-builder/src/styles/common.scss
  packages/ng-table-builder/src/table-builder.component.html
  packages/ng-table-builder/src/table-builder.component.scss
  packages/ng-table-builder/src/table-builder.component.ts
  packages/ng-table-builder/src/table-builder.module.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/http/package.json
  packages/logger/package.json
  packages/ng-table-builder/package.json
  packages/tooltip/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/flex-layout/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

build: remove redundant (#715)
  packages/eslint-config/integration/assets/i18n/a/ru.txt
  packages/eslint-config/integration/tests/file-suites/i18n/a/bad.txt
Due: none

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
