Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: update dependency jasmine-core to v3.10.0
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ts-jest to v27.0.6
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v16.11.0
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(prettier): ignore htmlWhitespaceSensitivity
  dev-infra/eslint-config-enterprise/integration/tests/file-suites/typescript.good.ts.lint.template
Due: none

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/prettier/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/jasmine to v3.10.0
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ts-jest to v27.0.7
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies
  .github/workflows/assign-project.yml
  .github/workflows/autorebase.yml
  .github/workflows/build.yml
  .github/workflows/labeler.yml
  .github/workflows/skip-workflow.yml
  dev-infra/eslint-config-enterprise/package.json
  packages/cdk/integration/tests/jest/virtual-table/directives/auto-height.directive.spec.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: refactor concurrency
  .github/workflows/build.yml
Due: none

ci: refactor concurrency
  .github/workflows/autorebase.yml
  .github/workflows/build.yml
  .github/workflows/labeler.yml
  .github/workflows/skip-workflow.yml
Due: none

ci: refactor concurrency
  .github/workflows/skip-workflow.yml
Due: none

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: refactor concurrency
  .github/workflows/build.yml
  .github/workflows/skip-workflow.yml
Due: none

feat(typescript): improved performance build
  dev-infra/typescript/tsconfig.json
Due: yarn prettier --write

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update all dependencies (minor/patch)
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency jest to v27.3.0
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency jest to v27.3.1
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update angular dependencies
  dev-infra/dev-dependencies/package.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update angular dependencies to v12.2.11
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency karma to v6.3.5
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency husky to v7.0.4
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v16.11.2
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(prettier): replace deprecated property jsxBracketSameLine
  dev-infra/prettier/prettier.config.js
Due: yarn prettier --write

fix(prettier): disable bracketSameLine
  packages/cdk/docs/decorators.md
  packages/cdk/docs/pipes.md
  packages/cdk/integration/apps/tooltip/src/samples/guide/guide.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-eight/sample-eight.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-eleven/sample-eleven.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-five/sample-five.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-fourteen/context-menu-sample/context-menu-sample.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-fourteen/sample-fourteen.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-night/sample-night.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-second/sample-second.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-seventeen/sample-seventeen.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-six/sample-six.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-sixteen/sample-sixteen.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-third/sample-third.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-thirteen/sample-thirteen.component.html
  packages/cdk/integration/tests/jest/directives/split-string.spec.ts
  packages/cdk/integration/tests/jest/virtual-table/components/table-builder.component.spec.ts
  packages/cdk/virtual-table/src/components/drag-icon/drag-icon.component.html
  packages/cdk/virtual-table/src/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.html
  packages/cdk/virtual-table/src/components/ngx-context-menu/ngx-context-menu.component.html
  packages/cdk/virtual-table/src/components/ngx-filter/ngx-filter.component.html
  packages/cdk/virtual-table/src/components/ngx-footer/ngx-footer.component.html
  packages/cdk/virtual-table/src/components/ngx-header/ngx-header.component.html
  packages/cdk/virtual-table/src/components/table-cell/table-cell.component.html
  packages/cdk/virtual-table/src/components/table-tbody/table-tbody.component.html
  packages/cdk/virtual-table/src/components/table-thead/table-thead.component.html
  packages/cdk/virtual-table/src/table-builder.component.html
  packages/ngxs/integration/app/src/article/article.component.html
  packages/ngxs/integration/app/src/count/count.component.html
  packages/ngxs/integration/app/src/person/person.component.html
  packages/ngxs/integration/app/src/todo/todo.component.html
Due: yarn prettier --write, yarn eslint --fix

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
