Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/stream/package.json
  packages/tooltip/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(ng-excel-builder): add EntriesKeys to public api (#699)
  packages/ng-excel-builder/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-excel-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/eslint-config): required new line after import (#714)
  packages/common/array/src/unique-array-of.ts
  packages/common/number/src/number-format/number-format.ts
  packages/common/pipes/src/deep-path/deep-path.pipe.ts
  packages/common/pipes/src/includes/includes.pipe.ts
  packages/eslint-config/index.js
  packages/flex-layout/src/directives/flex-bottom-indent.directive.ts
  packages/http/src/services/limit-concurency.service.ts
  packages/logger/src/logger.injector.ts
  packages/ng-excel-builder/setup-jest.ts
  packages/ng-table-builder/setup-jest.ts
  packages/websocket/setup-jest.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

Update README.md
  README.md
Due: yarn prettier --write

feat: support jest 27
  packages/common/jest.config.js
  packages/eslint-config/jest.config.js
  packages/http/jest.config.js
  packages/jest-utils/integration/tests/simple.spec.ts
  packages/jest-utils/src/constants/configurations.ts
  packages/jest-utils/src/utils/create-ts-jest-config.ts
  packages/logger/jest.config.js
  packages/ng-excel-builder/jest.config.js
  packages/ng-table-builder/jest.config.js
  packages/websocket/jest.config.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

fix: revert excel.service.spec.ts
  packages/ng-excel-builder/integration/tests/excel.service.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fix: build failed
  packages/common/integration/tests/validators/required-some-value-by-keys-validator.spec.ts
  packages/logger/tsconfig.spec.json
  packages/ng-excel-builder/integration/tests/excel.service.spec.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/stream/package.json
  packages/tooltip/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/ng-table-builder): expand state to TableUpdateSchema
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/interfaces/table-builder.external.ts
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-table-builder): expand state to TableUpdateSchema
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-table-builder): expand state to TableUpdateSchema (#726)
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/interfaces/table-builder.external.ts
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

build: use global angular.json
  angular.json
  packages/common/angular.json
  packages/common/integration/tests/directives/filter/filter-simple-input.spec.ts
  packages/common/package.json
  packages/flex-layout/angular.json
  packages/flex-layout/package.json
  packages/http/angular.json
  packages/http/package.json
  packages/logger/angular.json
  packages/logger/package.json
  packages/ng-excel-builder/angular.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/angular.json
  packages/ng-table-builder/package.json
  packages/stream/angular.json
  packages/stream/package.json
  packages/tooltip/angular.json
  packages/tooltip/package.json
  packages/websocket/angular.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: use global angular.json (#727)
  angular.json
  packages/common/angular.json
  packages/common/integration/tests/directives/filter/filter-simple-input.spec.ts
  packages/common/package.json
  packages/flex-layout/angular.json
  packages/flex-layout/package.json
  packages/http/angular.json
  packages/http/package.json
  packages/logger/angular.json
  packages/logger/package.json
  packages/ng-excel-builder/angular.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/angular.json
  packages/ng-table-builder/package.json
  packages/stream/angular.json
  packages/stream/package.json
  packages/tooltip/angular.json
  packages/tooltip/package.json
  packages/websocket/angular.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: remove peer dependencies
  packages/common/package.json
  packages/eslint-config/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/prettier-config/package.json
  packages/tooltip/package.json
  packages/tsconfig/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

build: upgrade angular/cli 12
  angular.json
  package.json
  packages/common/integration/app/polyfills.ts
  packages/common/package.json
  packages/flex-layout/integration/app/polyfills.ts
  packages/flex-layout/package.json
  packages/http/integration/app/polyfills.ts
  packages/http/package.json
  packages/logger/integration/app/polyfills.ts
  packages/logger/package.json
  packages/ng-excel-builder/integration/app/polyfills.ts
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/integration/app/polyfills.ts
  packages/ng-table-builder/package.json
  packages/stream/integration/app/polyfills.ts
  packages/stream/integration/app/src/app.component.html
  packages/stream/package.json
  packages/stream/setup-karma.ts
  packages/tooltip/integration/app/polyfills.ts
  packages/tooltip/package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: upgrade angular/material 12
  .styles/integration-app.style.scss
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/ng-excel-builder): fixed automatic column width
  packages/ng-excel-builder/src/domain/prepared-excel-workbook.ts
  packages/ng-excel-builder/src/domain/width-of-symbols-map.json
  packages/ng-excel-builder/src/excel-builder.service.ts
Due: yarn prettier --write, yarn eslint --fix

feat: upgrade to Angular 12
  .github/workflows/workflow.yml
  angular.json
  package.json
  packages/build-tools/package.json
  packages/common/integration/app/polyfills.ts
  packages/http/integration/app/polyfills.ts
  packages/ng-excel-builder/setup-jest.ts
  packages/ng-table-builder/integration/app/polyfills.ts
  packages/ng-table-builder/setup-jest.ts
  packages/tooltip/integration/app/polyfills.ts
  packages/websocket/setup-jest.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat: upgrade to Angular 12
  packages/ng-table-builder/setup-jest.ts
  packages/ng-table-builder/src/directives/observer-view.directive.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/ng-excel-builder): fixed automatic column width
  packages/ng-excel-builder/src/excel-builder.service.ts
Due: yarn prettier --write, yarn eslint --fix

ci: add deploy.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  angular.json
  package.json
  packages/common/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/tooltip/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: fix angular.json
  angular.json
Due: yarn prettier --write

fix(@angular-ru/ng-excel-builder): fixed automatic column width
  packages/ng-excel-builder/integration/tests/excel.service.spec.ts
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-4-options.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-6-auto-width.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-7-auto-width-translate.xls
  packages/ng-excel-builder/src/domain/width-of-symbols-map.json
  packages/ng-excel-builder/src/excel-builder.service.ts
Due: yarn prettier --write, yarn eslint --fix

build: remove deploy app
  .github/workflows/workflow.yml
Due: none

build: remove deploy app (#731)
  .github/workflows/workflow.yml
Due: none

fix(@angular-ru/ng-excel-builder): fixed automatic column width
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-4-options.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-5-translate.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-6-auto-width.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-7-auto-width-translate.xls
Due: none

fix(@angular-ru/ng-excel-builder): fixed automatic column width (#729)
  packages/ng-excel-builder/integration/tests/excel.service.spec.ts
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-5-translate.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-6-auto-width.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-7-auto-width-translate.xls
  packages/ng-excel-builder/src/domain/prepared-excel-workbook.ts
  packages/ng-excel-builder/src/domain/width-of-symbols-map.json
  packages/ng-excel-builder/src/excel-builder.service.ts
Due: yarn prettier --write, yarn eslint --fix

ci: BREAKING CHANGES
  .github/CODEOWNERS
  .github/FUNDING.yml
  .github/auto_assign.yml
  .github/workflows/deploy.yml
  .github/workflows/labeler.yml
  .github/workflows/lock.yml
  CONTRIBUTING.md
Due: yarn prettier --write

feat: add Angular 12 (#730)
  .github/CODEOWNERS
  .github/FUNDING.yml
  .github/auto_assign.yml
  .github/workflows/build.yml
  .github/workflows/labeler.yml
  .github/workflows/lock.yml
  .styles/integration-app.style.scss
  CONTRIBUTING.md
  angular.json
  package.json
  packages/build-tools/package.json
  packages/common/integration/app/polyfills.ts
  packages/common/package.json
  packages/eslint-config/package.json
  packages/flex-layout/integration/app/polyfills.ts
  packages/flex-layout/package.json
  packages/http/integration/app/polyfills.ts
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/integration/app/polyfills.ts
  packages/logger/package.json
  packages/ng-excel-builder/integration/app/polyfills.ts
  packages/ng-excel-builder/package.json
  packages/ng-excel-builder/setup-jest.ts
  packages/ng-table-builder/integration/app/polyfills.ts
  packages/ng-table-builder/package.json
  packages/ng-table-builder/setup-jest.ts
  packages/ng-table-builder/src/directives/observer-view.directive.ts
  packages/prettier-config/package.json
  packages/stream/integration/app/polyfills.ts
  packages/stream/integration/app/src/app.component.html
  packages/stream/package.json
  packages/stream/setup-karma.ts
  packages/tooltip/integration/app/polyfills.ts
  packages/tooltip/package.json
  packages/tsconfig/package.json
  packages/websocket/package.json
  packages/websocket/setup-jest.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/prettier-config/package.json
  packages/stream/package.json
  packages/tooltip/package.json
  packages/tsconfig/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/renovate): update renovate
  ROADMAP.md
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn sort-package-json
