Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

feat(@angular-ru/common): support nullable for array utils (#682)
  packages/common/array/src/first-item.ts
  packages/common/array/src/public_api.ts
  packages/common/array/src/second-item.ts
  packages/common/array/src/take-first-item.ts
  packages/common/array/src/take-last-item.ts
  packages/common/array/src/take-second-item.ts
  packages/common/array/src/take-third-item.ts
  packages/common/array/src/third-item.ts
  packages/common/integration/tests/array/utility-arrays.spec.ts
  packages/common/pipes/src/mark-by-filter/mark-by-filter.pipe.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v15.12.3
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/ng-table-builder): add numeric filters (#683)
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/sample-fourteen.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/sample-fourteen.component.ts
  packages/ng-table-builder/integration/tests/components/table-builder.component.spec.ts
  packages/ng-table-builder/integration/tests/helpers/utils/mocks-generator.ts
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/components/ngx-filter-viewer/ngx-filter-viewer.component.ts
  packages/ng-table-builder/src/components/ngx-filter-viewer/ngx-filter-viewer.properties.ts
  packages/ng-table-builder/src/services/filterable/filter-descriptor.ts
  packages/ng-table-builder/src/services/filterable/filter.worker.ts
  packages/ng-table-builder/src/services/filterable/filterable-message.ts
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
  packages/ng-table-builder/src/services/filterable/table-filter-type.ts
  packages/ng-table-builder/tsconfig.app.json
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): item functions type
  packages/common/array/src/take-first-item.ts
  packages/common/array/src/take-last-item.ts
  packages/common/array/src/take-second-item.ts
  packages/common/array/src/take-third-item.ts
  packages/common/docs/typings.md
  packages/common/typings/src/infinite-tuple.ts
  packages/common/typings/src/last-of-tuple.ts
  packages/common/typings/src/public_api.ts
  packages/common/typings/src/tuple-item.ts
  packages/common/typings/src/tuple.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): item functions type
  packages/common/docs/typings.md
  packages/common/typings/src/last-of-tuple.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): item functions type
  packages/common/docs/typings.md
Due: yarn prettier --write

feat(@angular-ru/ng-table-builder): support nullable
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/components/table-cell/table-cell.component.ts
  packages/ng-table-builder/src/components/table-tbody/table-tbody.component.ts
  packages/ng-table-builder/src/interfaces/table-builder.external.ts
  packages/ng-table-builder/src/services/selection/selection.service.ts
  packages/ng-table-builder/src/table-builder.component.ts
  packages/ng-table-builder/src/types/table-sort-types.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ngx-toastr to v14
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ts-node to v10
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v15.12.4
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint to v7.29.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ngx-mask to v12
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): item functions type (#684)
  packages/common/array/src/take-first-item.ts
  packages/common/array/src/take-last-item.ts
  packages/common/array/src/take-second-item.ts
  packages/common/array/src/take-third-item.ts
  packages/common/docs/typings.md
  packages/common/typings/src/infinite-tuple.ts
  packages/common/typings/src/last-of-tuple.ts
  packages/common/typings/src/public_api.ts
  packages/common/typings/src/tuple-item.ts
  packages/common/typings/src/tuple.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/eslint-config): add prettier rule
  .prettierignore
  packages/eslint-config/index.js
  packages/eslint-config/integration/tests/file-suites/bad.component.html
  packages/eslint-config/integration/tests/file-suites/good.component.html
  packages/eslint-config/integration/tests/test.spec.ts
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

fix(@angular-ru/ng-table-builder): invalid check content init step
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-table-builder): support nullable (#685)
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/components/table-cell/table-cell.component.ts
  packages/ng-table-builder/src/components/table-tbody/table-tbody.component.ts
  packages/ng-table-builder/src/interfaces/table-builder.external.ts
  packages/ng-table-builder/src/services/selection/selection.service.ts
  packages/ng-table-builder/src/table-builder.component.ts
  packages/ng-table-builder/src/types/table-sort-types.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/stream/package.json
  packages/tooltip/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/ng-table-builder): fix scrollbar styles
  packages/ng-table-builder/src/styles/scrollbar.scss
Due: yarn prettier --write

fix(@angular-ru/ng-table-builder): fix scrollbar styles (#695)
  packages/ng-table-builder/src/styles/scrollbar.scss
Due: yarn prettier --write

fix(@angular-ru/ng-table-builder): fix null values filter errors
  packages/ng-table-builder/integration/tests/helpers/utils/mocks-generator.ts
  packages/ng-table-builder/src/services/filterable/filter.worker.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! fix(@angular-ru/ng-table-builder): fix null values filter errors
  packages/ng-table-builder/integration/tests/components/table-builder.component.spec.ts
  packages/ng-table-builder/integration/tests/samples/lifecycle/lifecycle.spec.ts
  packages/ng-table-builder/src/services/filterable/filter.worker.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! fix(@angular-ru/ng-table-builder): fix null values filter errors
  packages/ng-table-builder/src/services/filterable/filter.worker.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! fix(@angular-ru/ng-table-builder): fix null values filter errors
  packages/ng-table-builder/integration/tests/components/table-builder.component.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! fix(@angular-ru/ng-table-builder): fix null values filter errors
  packages/ng-table-builder/integration/tests/samples/lifecycle/lifecycle.spec.ts
Due: yarn prettier --write, yarn eslint --fix
