Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: update angular dependencies
  libs/dev-dependencies/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v17.0.35
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency prettier-plugin-packagejson to v2.2.18
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update jest dependencies
  libs/jest/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update all dependencies (minor/patch)
  .github/workflows/renovate.yml
  libs/dev-dependencies/package.json
  libs/prettier/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update commitlint dependencies to v16.3.0
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update nrwl dependencies
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update actions/checkout action to v3
  .github/workflows/renovate.yml
Due: none

build: update commitlint dependencies to v17
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update nrwl dependencies to v14
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore: fix formatting
  libs/cdk/package.json
  libs/commitlint/package.json
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/package.json
  libs/jest/package.json
  libs/prettier/package.json
  libs/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lint-staged to v13
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ngx-mask to v14
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

fix injector placement, fix tests
  libs/ngxs/decorators/src/data-action/data-action.ts
  libs/ngxs/internals/src/services/ngxs-data-injector.service.ts
  libs/ngxs/tests/setup-jest.ts
Due: yarn prettier --write, yarn eslint --fix

build after merge
  package-lock.json
Due: yarn prettier --write

workflow: remove commitlint hash range check
  .github/workflows/lint.yml
Due: none

remove commitlint check
  .github/workflows/lint.yml
Due: none

Update package.json
  libs/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(ngxs): data-actions without subscription requirement (#1294)
  .github/workflows/lint.yml
  apps/ngxs-demo/assets/user.json
  apps/ngxs-demo/src/app-routing.module.ts
  apps/ngxs-demo/src/app.component.html
  apps/ngxs-demo/src/user/user-model.ts
  apps/ngxs-demo/src/user/user.component.html
  apps/ngxs-demo/src/user/user.component.ts
  apps/ngxs-demo/src/user/user.module.ts
  apps/ngxs-demo/src/user/user.service.ts
  apps/ngxs-demo/src/user/user.state.ts
  docs/ngxs/data-action.md
  libs/cdk/package.json
  libs/commitlint/package.json
  libs/commitlint/project.json
  libs/dev-dependencies/package.json
  libs/dev-dependencies/project.json
  libs/eslint-config-enterprise/package.json
  libs/eslint-config-enterprise/project.json
  libs/eslint-plugin-enterprise/project.json
  libs/jest/package.json
  libs/jest/project.json
  libs/ngxs/decorators/src/data-action/data-action.config.ts
  libs/ngxs/decorators/src/data-action/data-action.ts
  libs/ngxs/internals/src/services/ngxs-data-injector.service.ts
  libs/ngxs/src/config/ngx-data.config.ts
  libs/ngxs/src/public_api.ts
  libs/ngxs/tests/setup-jest.ts
  libs/ngxs/typings/src/common/actions-properties.ts
  libs/prettier/package.json
  libs/prettier/project.json
  libs/renovate/project.json
  libs/typescript/project.json
  package-lock.json
  package.json
  workspace.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: update ngxs dependencies to v3.7.4
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore: fix formatting
  docs/ngxs/data-action.md
  libs/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v18
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ngx-toastr to v15
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
