Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/commitlint-config/package.json
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/build-tools): add cross-env package
  packages/build-tools/README.md
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/eslint-config): add @typescript-eslint/no-misused-promises
  packages/eslint-config/index.js
  packages/eslint-config/integration/tests/test.spec.ts
  packages/eslint-config/integration/tests/typescript.bad.ts
Due: yarn prettier --write, yarn eslint --fix

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/tsconfig): set isolatedModules as false for TS 4.2
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write

feat(@angular-ru/jest-utils): set isolatedModules as false for TS 4.2
  packages/jest-utils/integration/tests/simple.spec.ts
  packages/jest-utils/src/create-ts-jest-config.ts
  packages/jest-utils/src/jest-config.interface.ts
Due: yarn prettier --write, yarn eslint --fix

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
  packages/jest-utils/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependencies to v12.0.1
  packages/commitlint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/commitlint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency eslint to v7.21.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency husky to v5.1.2
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: deprecated max-length.module.ts
  packages/common/directives/src/max-length/max-length.module.ts
Due: yarn prettier --write, yarn eslint --fix

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint to v4.16.1
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency husky to v5.1.3
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/ng-table-builder): fix sort-types input works only once
  packages/ng-table-builder/integration/app/src/samples/sample-six/sample-six.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-six/sample-six.component.ts
  packages/ng-table-builder/src/interfaces/table-builder.internal.ts
  packages/ng-table-builder/src/services/sortable/sortable.service.ts
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! fix(@angular-ru/ng-table-builder): fix sort-types input works only once
  packages/ng-table-builder/integration/tests/components/table-builder.component.spec.ts
Due: yarn prettier --write, yarn eslint --fix

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/jest-utils): set onlyChanged as false
  packages/jest-utils/src/default.config.ts
Due: yarn prettier --write, yarn eslint --fix

build(@angular-ru/ng-table-builder): correct resolve modules by tsconfig
  packages/ng-table-builder/integration/app/tsconfig.app.json
  packages/ng-table-builder/integration/tests/tsconfig.spec.json
  packages/ng-table-builder/jest.config.js
  packages/ng-table-builder/tsconfig.json
Due: yarn prettier --write

feat(@angular-ru/common): add isFilledList method
  packages/common/array/src/is-filled-list.ts
  packages/common/array/src/public_api.ts
  packages/common/docs/array.md
  packages/common/integration/tests/array/utility-arrays.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): add isFilledList method
  packages/common/docs/array.md
Due: yarn prettier --write

feat(@angular-ru/common): add isFilledList method (#445)
  packages/common/array/src/is-filled-list.ts
  packages/common/array/src/public_api.ts
  packages/common/docs/array.md
  packages/common/integration/tests/array/utility-arrays.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add partition array method
  packages/common/array/src/partition.ts
  packages/common/array/src/public_api.ts
  packages/common/docs/array.md
  packages/common/integration/tests/array/utility-arrays.spec.ts
  packages/common/typings/src/couple.ts
  packages/common/typings/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): add partition array method
  packages/common/docs/typings.md
Due: yarn prettier --write

fixup! feat(@angular-ru/common): add partition array method
  packages/common/array/src/partition.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/jest-utils): skip isolatedModules from jest config
  packages/jest-utils/README.md
  packages/jest-utils/src/create-ts-jest-config.ts
Due: yarn prettier --write, yarn eslint --fix

build(@angular-ru/common): use isolatedModules as true for tests
  packages/common/integration/tests/setup-jest.ts
  packages/common/integration/tests/tsconfig.spec.json
  packages/common/jest.config.js
  packages/common/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix

build(@angular-ru/http): rename setupJest.ts to setup-jest.ts
  packages/http/integration/tests/setup-jest.ts
  packages/http/jest.config.js
Due: yarn prettier --write, yarn eslint --fix

build(@angular-ru/logger): rename setupJest.ts to setup-jest.ts
  packages/logger/integration/tests/setup-jest.ts
  packages/logger/jest.config.js
Due: yarn prettier --write, yarn eslint --fix

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
