Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

feat(@angular-ru/common): add JoinPipeModule
  packages/common/pipes/src/join/join-pipe.module.ts
  packages/common/pipes/src/join/join.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

docs: update pipes.md
  packages/common/docs/pipes.md
Due: yarn prettier --write

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add date & interval limit validators
  packages/common/docs/validators.md
  packages/common/integration/tests/validators/date-interval-validator.spec.ts
  packages/common/integration/tests/validators/date-limit-validator.spec.ts
  packages/common/validators/src/date-interval.validator.ts
  packages/common/validators/src/limit-date.validator.ts
  packages/common/validators/src/public_api.ts
  packages/common/validators/src/utils/assert-form-group.ts
  packages/common/validators/src/utils/get-date-interval.ts
Due: yarn prettier --write, yarn eslint --fix

refactor(flex-layout): support string type for flex-container
  packages/flex-layout/src/directives/flex-container.directive.ts
Due: yarn prettier --write, yarn eslint --fix

refactor(flex-layout): support string type for flex-container (#465)
  packages/flex-layout/src/directives/flex-container.directive.ts
Due: yarn prettier --write, yarn eslint --fix

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/flex-layout/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add options for JoinPipe
  CONTRIBUTING.md
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/join-pipe.spec.ts
  packages/common/integration/tests/tsconfig.spec.json
  packages/common/pipes/src/join/join-pipe.interface.ts
  packages/common/pipes/src/join/join.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add type guards for check-value-is-empty.ts, check-value-is-filled.ts
  packages/common/integration/tests/pipes/join-pipe.spec.ts
  packages/common/pipes/src/join/join.pipe.ts
  packages/common/typings/src/empty-value.ts
  packages/common/typings/src/public_api.ts
  packages/common/utils/src/check-value-is-empty.ts
  packages/common/utils/src/check-value-is-filled.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add type guards for check-value-is-empty.ts, check-value-is-filled.ts (#467)
  packages/common/integration/tests/pipes/join-pipe.spec.ts
  packages/common/pipes/src/join/join.pipe.ts
  packages/common/typings/src/empty-value.ts
  packages/common/typings/src/public_api.ts
  packages/common/utils/src/check-value-is-empty.ts
  packages/common/utils/src/check-value-is-filled.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add util functions
  .DS_Store
  packages/common/docs/utils.md
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/library
  packages/common/utils/src/check-every-value-is-empty.ts
  packages/common/utils/src/check-some-value-is-empty.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): delete .DS_Store
  .DS_Store
Due: none

fixup! feat(@angular-ru/common): delete library symlink
  packages/common/library
Due: none

fixup! feat(@angular-ru/common): fix circular dependency
  packages/common/utils/src/check-every-value-is-empty.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add util functions (#468)
  packages/common/docs/utils.md
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/utils/src/check-every-value-is-empty.ts
  packages/common/utils/src/check-some-value-is-empty.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: update .gitignore
  .gitignore
Due: none

refactor: update .gitignore (#469)
  .gitignore
Due: none

fix(@angular-ru/common): support undefined/null in isEmptyList argument
  packages/common/array/src/is-empty-list.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/common): support undefined/null in array utils
  packages/common/array/src/first-item.ts
  packages/common/array/src/is-filled-list.ts
  packages/common/array/src/is-multiple-list.ts
  packages/common/array/src/is-single-list.ts
  packages/common/array/src/second-item.ts
  packages/common/array/src/third-item.ts
  packages/common/integration/tests/array/utility-arrays.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update dependencies
  packages/build-tools/package.json
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint to v2
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency eslint-plugin-jsdoc to v32.3.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/http): correct resolve artifacts in tsconfig.json
  packages/http/tsconfig.json
Due: yarn prettier --write

fix(@angular-ru/http): correct resolve artifacts in tsconfig.json (#473)
  packages/http/tsconfig.json
Due: yarn prettier --write

build: use symlink only common package
  .github/workflows/workflow.yml
  package.json
  packages/common/package.json
  packages/common/symlink.sh
Due: yarn prettier --write, yarn sort-package-json

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/http/package.json
Due: yarn prettier --write, yarn sort-package-json

build: use symlink only common package (#474)
  .github/workflows/workflow.yml
  package.json
  packages/common/package.json
  packages/common/symlink.sh
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint to v4.18.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/ng-table-builder): add type for SortTypes input
  packages/ng-table-builder/src/services/sortable/sortable.service.ts
  packages/ng-table-builder/src/table-builder.api.ts
Due: yarn prettier --write, yarn eslint --fix

feat: added validator for ordered interval
  packages/common/integration/tests/validators/date-interval-validator.spec.ts
  packages/common/validators/src/date-interval.validator.ts
  packages/common/validators/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix
