Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

fix: virtual table contain several values fix
  libs/cdk/tests/virtual-table/components/table-builder.component.spec.ts
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
Due: yarn prettier --write, yarn eslint --fix

fix: virtual table contain several values fix (#1325)
  libs/cdk/tests/virtual-table/components/table-builder.component.spec.ts
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
Due: yarn prettier --write, yarn eslint --fix

build: update nrwl dependencies
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update nrwl dependencies (#1346)
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update nrwl dependencies to v14.5.4
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update nrwl dependencies to v14.5.4 (#1347)
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

fix: virtual-table cell overflow tooltip behaviour
  libs/cdk/virtual-table/src/components/table-cell/table-cell.component.ts
Due: yarn prettier --write, yarn eslint --fix

fix: virtual-table cell overflow tooltip behaviour (#1351)
  libs/cdk/virtual-table/src/components/table-cell/table-cell.component.ts
Due: yarn prettier --write, yarn eslint --fix

fix: changed icon rotation for ascending and descending sorting
  libs/cdk/virtual-table/src/styles/columns.scss
Due: yarn prettier --write

fix: changed icon rotation for ascending and descending sorting (#1352)
  libs/cdk/virtual-table/src/styles/columns.scss
Due: yarn prettier --write

build: update nrwl dependencies (#1350)
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-config-enterprise): release version 13.1.2 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(renovate): release version 13.1.2 [ci skip]
  libs/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(jest): release version 13.1.2 [ci skip]
  libs/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(ngxs): release version 13.1.2 [ci skip]
  libs/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(prettier): release version 13.1.2 [ci skip]
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(commitlint): release version 13.1.2 [ci skip]
  libs/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: fix release
  libs/cdk/project.json
  libs/commitlint/project.json
  libs/eslint-config-enterprise/project.json
  libs/eslint-plugin-enterprise/project.json
  libs/jest/project.json
  libs/ngxs/project.json
  libs/prettier/project.json
  libs/renovate/project.json
  libs/typescript/project.json
Due: yarn prettier --write

chore: fix formatting
  libs/commitlint/package.json
  libs/eslint-config-enterprise/package.json
  libs/jest/package.json
  libs/ngxs/package.json
  libs/prettier/package.json
  libs/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

Ci fix (#1353)
  libs/cdk/project.json
  libs/commitlint/package.json
  libs/commitlint/project.json
  libs/eslint-config-enterprise/package.json
  libs/eslint-config-enterprise/project.json
  libs/eslint-plugin-enterprise/project.json
  libs/jest/package.json
  libs/jest/project.json
  libs/ngxs/package.json
  libs/ngxs/project.json
  libs/prettier/package.json
  libs/prettier/project.json
  libs/renovate/package.json
  libs/renovate/project.json
  libs/typescript/project.json
Due: yarn prettier --write, yarn sort-package-json

fix: virtual table contain several values fix
  .github/workflows/release.yml
  apps/virtual-table-demo/project.json
  libs/cdk/virtual-table/src/components/ngx-filter-viewer/ngx-filter-viewer.component.ts
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
Due: yarn prettier --write, yarn eslint --fix

fix: virtual table contain several values fix (#1348)
  .github/workflows/release.yml
  apps/virtual-table-demo/project.json
  libs/cdk/virtual-table/src/components/ngx-filter-viewer/ngx-filter-viewer.component.ts
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
Due: yarn prettier --write, yarn eslint --fix

chore(cdk): release version 13.2.5 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 13.1.2 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-plugin-enterprise): release version 13.1.2 [ci skip]
  libs/eslint-plugin-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(typescript): release version 13.1.2 [ci skip]
  libs/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update nrwl dependencies to v14.7.6
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore: fix formatting
  libs/cdk/package.json
  libs/commitlint/package.json
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/package.json
  libs/eslint-plugin-enterprise/package.json
  libs/jest/package.json
  libs/ngxs/package.json
  libs/prettier/package.json
  libs/renovate/package.json
  libs/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

fix: virtual-table cell disable remove element when tooltip as related target
  libs/cdk/virtual-table/src/components/table-cell/table-cell.component.html
  libs/cdk/virtual-table/src/components/table-cell/table-cell.component.ts
Due: yarn prettier --write, yarn eslint --fix

fix: virtual-table cell disable remove element when tooltip as related target (#1356)
  libs/cdk/package.json
  libs/cdk/virtual-table/src/components/table-cell/table-cell.component.html
  libs/cdk/virtual-table/src/components/table-cell/table-cell.component.ts
  libs/commitlint/package.json
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/package.json
  libs/eslint-plugin-enterprise/package.json
  libs/jest/package.json
  libs/ngxs/package.json
  libs/prettier/package.json
  libs/renovate/package.json
  libs/typescript/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(cdk): release version 13.2.6 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(commitlint): release version 13.1.3 [ci skip]
  libs/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json
