Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

ci: decomposition actions (#1200)
  .github/actions/git/action.yml
  .github/workflows/build.yml
  dev-infra/commitlint/package.json
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/renovate/package.json
  dev-infra/typescript/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: decomposition actions (#1200)
  .github/workflows/build.yml
Due: none

ci: decomposition actions
  .github/actions/git/action.yml
Due: none

ci: decomposition actions
  .github/actions/git/action.yml
  .github/workflows/lint.yml
Due: none

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/commitlint/package.json
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/renovate/package.json
  dev-infra/typescript/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: decomposition actions
  .github/workflows/build.yml
  .github/workflows/release.yml
  dev-infra/commitlint/package.json
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/renovate/package.json
  dev-infra/typescript/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: decomposition actions
  .github/workflows/release.yml
Due: none

ci: bump versions
  CHANGELOG.md
  dev-infra/commitlint/package.json
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/renovate/package.json
  dev-infra/typescript/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: bump versions again
  .github/actions/git/action.yml
  .github/actions/nodejs/action.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  dev-infra/commitlint/package.json
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/renovate/package.json
  dev-infra/typescript/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: bump versions again
  .github/actions/git/action.yml
  .github/workflows/release.yml
  dev-infra/commitlint/package.json
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/renovate/package.json
  dev-infra/typescript/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: bump versions again
  .github/workflows/release.yml
Due: none

ci: bump versions again
  .github/actions/git/action.yml
  .github/workflows/release.yml
Due: none

ci: bump versions again
  dev-infra/commitlint/package.json
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/renovate/package.json
  dev-infra/typescript/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency karma to v6.3.10
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

Only remove all entities from the state
  packages/ngxs/repositories/src/ngxs-data-entity-collections/ngxs-data-entity-collections.repository.ts
Due: yarn prettier --write, yarn eslint --fix

build: update dependency lint-staged to v12.1.7
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore: fix formatting
  CHANGELOG.md
Due: yarn prettier --write

fix(ngxs): only remove all entities from the state (#1129)
  packages/ngxs/repositories/src/ngxs-data-entity-collections/ngxs-data-entity-collections.repository.ts
Due: yarn prettier --write, yarn eslint --fix

chore: research
  .github/workflows/release.yml
  .scripts/clean.ts
Due: yarn prettier --write, yarn eslint --fix

chore: research #2
  .github/workflows/release.yml
Due: none

chore: research #3
  .github/workflows/release.yml
Due: none

chore: research #4
  .github/workflows/release.yml
Due: none

chore: research #5
  .github/workflows/release.yml
Due: none

chore: research #6
  .github/workflows/release.yml
Due: none

chore: research #7
  .github/workflows/release.yml
Due: none

ci: detect uncommitted [ci skip]
  .github/workflows/release.yml
Due: none

chore: research #8
  .github/workflows/release.yml
Due: none

chore: research #9
  .github/actions/git/action.yml
  .github/workflows/build.yml
  .github/workflows/integrations.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-ng.yml
Due: none

chore: research #10
  .github/actions/git/action.yml
  .github/workflows/build.yml
  .github/workflows/integrations.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-ng.yml
Due: none

chore: research #11
  .github/actions/git/action.yml
  .github/workflows/build.yml
  .github/workflows/integrations.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-ng.yml
Due: none
