Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat: update dependency @types/node to v14.14.10
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency typescript to v4.1.2
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

update documentation commitlint-config
  package.json
  packages/commitlint-config/README.md
  packages/commitlint-config/index.js
  packages/commitlint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore: update documentation commitlint-config
  yarn.lock
Due: none

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/commitlint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/eslint-config): set allowExpressions: false, allowTypedFunctionExpressions: false
  package.json
  packages/eslint-config/index.js
  packages/eslint-config/integration/tests/module/deep/deep/deep/deep/deep/deep/deeeeeeeeeeeeeeeeeeep/deeeeeeeeeeeeeeeeeeep/deeeeeeeeeeeeeeeeeeep/example-deep.ts
  packages/eslint-config/integration/tests/test.spec.ts
  packages/eslint-config/integration/tests/typescript.bad.ts
  packages/eslint-config/integration/tests/typescript.good.ts
  packages/eslint-config/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

!fixup feat(@angular-ru/eslint-config): set allowExpressions: false, allowTypedFunctionExpressions: false
  package.json
  packages/eslint-config/integration/tests/typescript.bad.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/commitlint-config/package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency prettier to v2.2.1
  packages/prettier-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/prettier-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependencies to v0.8.0-beta.3
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

fix: remove resolve function
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
  packages/ng-table-builder/src/services/sortable/sortable.service.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/http): add HttpMethod enum
  packages/http/typings/src/enums/http-method.enum.ts
  packages/http/typings/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/http/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint to v4.9.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/jest to v26.0.16
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/eslint to v7.2.6
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add input focus
  packages/common/README.md
  packages/common/directives/package.json
  packages/common/directives/src/input-focus/initial-focus.directive.ts
  packages/common/directives/src/input-focus/initial-focus.module.ts
  packages/common/directives/src/public_api.ts
  packages/common/docs/directives.md
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add file size module
  packages/common/integration/tests/pipes/file-size.pipe.spec.ts
  packages/common/pipes/src/file-size/file-size-pipe.module.ts
  packages/common/pipes/src/file-size/file-size.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup feat(@angular-ru/common): add input focus
  packages/common/directives/src/initial-focus/initial-focus.directive.ts
  packages/common/directives/src/initial-focus/initial-focus.module.ts
  packages/common/directives/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update angular-framework to v11.0.3
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: update angular-cli
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency eslint-plugin-prettier to v3.2.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency ts-node to v9.1.0
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
