Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

build: update prettier dependencies
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update jest dependencies
  libs/jest/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v20.11.30
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update commitlint dependencies to v19
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update typescript dependencies
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update angular dependencies
  libs/dev-dependencies/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update nrwl dependencies
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

feat: allow to provide HttpParams in DataClientRequestOptions (#1522)
  libs/cdk/http/typings/src/interfaces/data-client-request-options.ts
  libs/cdk/http/utils/src/get-http-params.ts
Due: yarn prettier --write, yarn eslint --fix

feat: allow to provide HttpParams in DataClientRequestOptions (#1522) (#1523)
  libs/cdk/http/typings/src/interfaces/data-client-request-options.ts
  libs/cdk/http/utils/src/get-http-params.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @prettier/plugin-xml to v3
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update ngx-translate dependencies
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v20.14.9
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update angular dependencies
  libs/cdk/.npmrc
  libs/commitlint/.npmrc
  libs/dev-dependencies/.npmrc
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/.npmrc
  libs/eslint-plugin-enterprise/.npmrc
  libs/jest/.npmrc
  libs/ngxs/.npmrc
  libs/prettier/.npmrc
  libs/renovate/.npmrc
  libs/type-declarations/.npmrc
  libs/typescript/.npmrc
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v20.14.10
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

ci: add release it
  .github/workflows/release.yml
  .release-it.json
  lerna.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update
  .github/workflows/release.yml
Due: none

ci: update
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

ci: update
  libs/cdk/project.json
  libs/ngxs/project.json
  nx.json
Due: yarn prettier --write

ci: update
  .github/actions/nodejs/action.yml
Due: none

ci: update
  .global/commitlint.config.js
Due: yarn prettier --write

ci: update
  .github/workflows/build.yml
  .prettierignore
  .release-it.json
  apps/cdk-demo/project.json
  apps/excel-demo/project.json
  apps/flex-layout-demo/project.json
  apps/http-demo/project.json
  apps/logger-demo/project.json
  apps/ngxs-demo/project.json
  apps/tooltip-demo/project.json
  apps/virtual-table-demo/project.json
  libs/cdk/package.json
  libs/cdk/project.json
  libs/ngxs/package.json
  libs/ngxs/project.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

ci: update
  libs/cdk/package.json
  libs/ngxs/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update
  README.md
Due: yarn prettier --write
