Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  packages/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency prettier to v2.5.0
  dev-infra/prettier/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

refactor: changes in package big-decimal
  packages/cdk/big-decimal/src/js-big-decimal/add.ts
  packages/cdk/big-decimal/src/js-big-decimal/divide.ts
  packages/cdk/big-decimal/src/js-big-decimal/modulus.ts
  packages/cdk/big-decimal/src/js-big-decimal/properties.ts
  packages/cdk/integration/tests/jest/big-decimal/divide.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(cdk): add big-decimal secondary package (#1085)
  packages/cdk/README.md
  packages/cdk/big-decimal/package.json
  packages/cdk/big-decimal/src/js-big-decimal/add.ts
  packages/cdk/big-decimal/src/js-big-decimal/big-decimal.ts
  packages/cdk/big-decimal/src/js-big-decimal/compare-to.ts
  packages/cdk/big-decimal/src/js-big-decimal/divide.ts
  packages/cdk/big-decimal/src/js-big-decimal/modulus.ts
  packages/cdk/big-decimal/src/js-big-decimal/multiply.ts
  packages/cdk/big-decimal/src/js-big-decimal/properties.ts
  packages/cdk/big-decimal/src/js-big-decimal/round.ts
  packages/cdk/big-decimal/src/js-big-decimal/rounding-modes.ts
  packages/cdk/big-decimal/src/js-big-decimal/subtract.ts
  packages/cdk/big-decimal/src/js-big-decimal/types.ts
  packages/cdk/big-decimal/src/public_api.ts
  packages/cdk/docs/big-decimal.md
  packages/cdk/integration/tests/jest/big-decimal/add.spec.ts
  packages/cdk/integration/tests/jest/big-decimal/big-decimal.spec.ts
  packages/cdk/integration/tests/jest/big-decimal/compare-to.spec.ts
  packages/cdk/integration/tests/jest/big-decimal/divide.spec.ts
  packages/cdk/integration/tests/jest/big-decimal/long-number.spec.ts
  packages/cdk/integration/tests/jest/big-decimal/modulus.spec.ts
  packages/cdk/integration/tests/jest/big-decimal/multiply.spec.ts
  packages/cdk/integration/tests/jest/big-decimal/round.spec.ts
  packages/cdk/integration/tests/jest/big-decimal/subtract.spec.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: update dependency jest to v27.4.0
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies to v5.5.0
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v16.11.11
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(prettier): support yaml
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/3-docs-bug.yml
  .github/labels.yml
  .github/workflows/autorebase.yml
  .github/workflows/build.yml
  .github/workflows/labeler.yml
  dev-infra/prettier/prettier.config.js
Due: yarn prettier --write

build: update dependency jest to v27.4.2
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint-plugin-sonarjs to v0.11.0
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency jest to v27.4.3
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update angular dependencies
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(cdk): add byPropertyValue utility
  packages/cdk/array/src/by-property-value.ts
  packages/cdk/array/src/public_api.ts
  packages/cdk/docs/array.md
  packages/cdk/integration/tests/jest/array/by-property-value.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(cdk): add byPropertyValue utility
  packages/cdk/array/src/by-property-value.ts
Due: yarn prettier --write, yarn eslint --fix

feat(cdk): add byPropertyValue utility (#1084)
  packages/cdk/array/src/by-property-value.ts
  packages/cdk/array/src/public_api.ts
  packages/cdk/docs/array.md
  packages/cdk/integration/tests/jest/array/by-property-value.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fix(cdk): change todo
  packages/cdk/virtual-table/src/abstract-table-builder-api.directive.ts
Due: yarn prettier --write, yarn eslint --fix

fix(cdk): selectedItems refactor
  packages/cdk/virtual-table/src/abstract-table-builder-api.directive.ts
Due: yarn prettier --write, yarn eslint --fix

fix(cdk): removed blank line
  packages/cdk/virtual-table/src/abstract-table-builder-api.directive.ts
Due: yarn prettier --write, yarn eslint --fix

fix(cdk): selectedItems refactor (#1126)
  packages/cdk/virtual-table/src/abstract-table-builder-api.directive.ts
Due: yarn prettier --write, yarn eslint --fix

build: update ngxs dependencies to v3.7.3
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(eslint-config-enterprise): make spellchecker configurable on client
  dev-infra/eslint-config-enterprise/README.md
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-config-enterprise/scope/spell-check.js
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(eslint-config-enterprise): make spellchecker configurable on client (#1130)
  dev-infra/eslint-config-enterprise/README.md
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-config-enterprise/scope/spell-check.js
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: update.yml
  .github/workflows/build.yml
Due: none

ci: update labeler.yml
  .github/workflows/labeler.yml
Due: none

ci: add detect-changed.yml
  .github/workflows/detect-confilcts.yml
Due: none

ci: update spell-check.js
  dev-infra/eslint-config-enterprise/scope/spell-check.js
Due: yarn prettier --write

feat: refactor documentation
  packages/cdk/integration/apps/cdk/src/app-routing.module.ts
  packages/cdk/integration/apps/cdk/src/app.component.html
  packages/cdk/integration/apps/cdk/src/samples/amount-format/amount-format-page.module.ts
  packages/cdk/integration/apps/cdk/src/samples/amount-format/amount-format.component.html
  packages/cdk/integration/apps/cdk/src/samples/amount-format/amount-format.component.scss
  packages/cdk/integration/apps/cdk/src/samples/amount-format/amount-format.component.ts
  packages/cdk/integration/apps/cdk/src/samples/input-filter/input-filter-page.module.ts
  packages/cdk/integration/apps/cdk/src/samples/input-filter/input-filter.component.html
  packages/cdk/integration/apps/cdk/src/samples/input-filter/input-filter.component.scss
  packages/cdk/integration/apps/cdk/src/samples/input-filter/input-filter.component.ts
  packages/cdk/integration/apps/cdk/src/samples/input-filter/properties/constants.ts
  packages/cdk/integration/apps/cdk/styles.scss
Due: yarn prettier --write, yarn eslint --fix

ci: update build.yml
  .github/workflows/build.yml
Due: none
