Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

fix: add npx to every script in package.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
  libs/dev-dependencies/CHANGELOG.md
  libs/dev-dependencies/package.json
  libs/jest/CHANGELOG.md
  libs/jest/package.json
  libs/ngxs/CHANGELOG.md
  libs/ngxs/package.json
  libs/type-declarations/CHANGELOG.md
  libs/type-declarations/package.json
  libs/typescript/CHANGELOG.md
  libs/typescript/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lint-staged to v14
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency prettier-plugin-packagejson to v2.4.6
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency prettier-plugin-packagejson to v2.4.6 (#1506)
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/prettier/CHANGELOG.md
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency rimraf to v5.0.5
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency rimraf to v5.0.5 (#1507)
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update commitlint dependencies to v17.8.0
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update commitlint dependencies to v17.8.0 (minor) (#1508)
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/commitlint/CHANGELOG.md
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v20.8.6
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v20.8.6 (#1509)
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/dev-dependencies/CHANGELOG.md
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v20.8.7
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v20.8.7 (#1512)
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

fix: remove private-abstract token from member ordering rule in eslint (#1510)
  libs/eslint-config-enterprise/modules/member-ordering.js
Due: yarn prettier --write

chore(release): update CHANGELOG.md [ci skip]
  libs/eslint-config-enterprise/CHANGELOG.md
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency highlight.js to v11.9.0
  apps/flex-layout-demo/index.html
  apps/virtual-table-demo/index.html
Due: yarn prettier --write

build: update dependency highlight.js to v11.9.0 (#1514)
  apps/flex-layout-demo/index.html
  apps/virtual-table-demo/index.html
Due: yarn prettier --write

build: update actions/checkout action to v4
  .github/actions/git/action.yml
  .github/workflows/build.yml
  .github/workflows/integrations.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .github/workflows/test.yml
Due: none

build: update actions/checkout action to v4 (#1515)
  .github/actions/git/action.yml
  .github/workflows/build.yml
  .github/workflows/integrations.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .github/workflows/test.yml
Due: none

fix: some editings
  libs/cdk/src/_noop.ts
  libs/ngxs/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
  libs/ngxs/CHANGELOG.md
  libs/ngxs/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

fix: some edits to force version update and release (#1513)
  libs/cdk/src/_noop.ts
  libs/ngxs/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

build: update dependency ngx-toastr to v17
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

feat: use custom "FIRST_DAY_OF_WEEK" token instead of depending on "@angular/material" DateAdapter
  libs/cdk/date/src/date-suggestion/strategies/date-suggestion-calendar-week.strategy.ts
  libs/cdk/date/src/date-suggestion/tokens/first-day-of-week.ts
  libs/cdk/date/src/public_api.ts
  libs/cdk/tests/date/date-suggestion-custom.spec.ts
  libs/cdk/tests/date/date-suggestion.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fix: correct "element" property type in "convert case" directive
  libs/cdk/directives/src/convert-case/convert-case.directive.ts
Due: yarn prettier --write, yarn eslint --fix

feat: remove "mat-icon" component usage from "virtual table" header
  libs/cdk/virtual-table/src/components/ngx-header/ngx-header.component.html
  libs/cdk/virtual-table/src/table-builder.module.ts
Due: yarn prettier --write, yarn eslint --fix

chore: removed unused "@angular/material" imports from "cdk" tests
  libs/cdk/tests/directives/filter/filter-config.spec.ts
  libs/cdk/tests/directives/filter/filter-dynamic.spec.ts
  libs/cdk/tests/directives/filter/filter-form.spec.ts
  libs/cdk/tests/directives/filter/filter-input.spec.ts
  libs/cdk/tests/directives/filter/filter-simple-input.spec.ts
  libs/cdk/tests/directives/initial-focus.spec.ts
  libs/cdk/tests/directives/trim/disabled-trim-input.spec.ts
  libs/cdk/tests/directives/trim/dynamic-trim-input.spec.ts
  libs/cdk/tests/directives/trim/ng-model.spec.ts
  libs/cdk/tests/directives/trim/trim-input.spec.ts
  libs/cdk/tests/pipes/mutable-pipe.spec.ts
  libs/cdk/tests/virtual-table/components/selection-mock.component.spec.ts
  libs/cdk/tests/virtual-table/components/table-builder.component.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fix: specify peer dependencies for "cdk" library
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

Remove `@angular/material` dependency from `cdk` library (#1519)
  libs/cdk/date/src/date-suggestion/strategies/date-suggestion-calendar-week.strategy.ts
  libs/cdk/date/src/date-suggestion/tokens/first-day-of-week.ts
  libs/cdk/date/src/public_api.ts
  libs/cdk/directives/src/convert-case/convert-case.directive.ts
  libs/cdk/package.json
  libs/cdk/tests/date/date-suggestion-custom.spec.ts
  libs/cdk/tests/date/date-suggestion.spec.ts
  libs/cdk/tests/directives/filter/filter-config.spec.ts
  libs/cdk/tests/directives/filter/filter-dynamic.spec.ts
  libs/cdk/tests/directives/filter/filter-form.spec.ts
  libs/cdk/tests/directives/filter/filter-input.spec.ts
  libs/cdk/tests/directives/filter/filter-simple-input.spec.ts
  libs/cdk/tests/directives/initial-focus.spec.ts
  libs/cdk/tests/directives/trim/disabled-trim-input.spec.ts
  libs/cdk/tests/directives/trim/dynamic-trim-input.spec.ts
  libs/cdk/tests/directives/trim/ng-model.spec.ts
  libs/cdk/tests/directives/trim/trim-input.spec.ts
  libs/cdk/tests/pipes/mutable-pipe.spec.ts
  libs/cdk/tests/virtual-table/components/selection-mock.component.spec.ts
  libs/cdk/tests/virtual-table/components/table-builder.component.spec.ts
  libs/cdk/virtual-table/src/components/ngx-header/ngx-header.component.html
  libs/cdk/virtual-table/src/table-builder.module.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

feat: do not use rxjs >= 7 exclusive feature to not break backward compatibility (#1520)
  libs/cdk/excel/src/excel.service.ts
  libs/cdk/table-utils/src/table-clipboard/table-clipboard.service.ts
Due: yarn prettier --write, yarn eslint --fix

feat: do not use rxjs >= 7 exclusive feature to not break backward co… (#1521)
  libs/cdk/excel/src/excel.service.ts
  libs/cdk/table-utils/src/table-clipboard/table-clipboard.service.ts
Due: yarn prettier --write, yarn eslint --fix

build: update dependency @prettier/plugin-xml to v3
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update ngx-translate dependencies
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
