Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency typescript to v4.0.5
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency eslint to v7.12.1
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feature(@angular-ru/common): add form extensions
  packages/common/form/src/directives/amount-format/amount-format.directive.ts
  packages/common/form/src/directives/amount-format/amount-format.module.ts
  packages/common/form/src/directives/convert-case/convert-case.directive.ts
  packages/common/form/src/directives/convert-case/convert-case.module.ts
  packages/common/form/src/directives/max-length/max-length.directive.ts
  packages/common/form/src/directives/max-length/max-length.module.ts
  packages/common/form/src/directives/trim-input/trim-input.directive.ts
  packages/common/form/src/directives/trim-input/trim-input.module.ts
  packages/common/form/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

!fix lint
  packages/common/form/src/directives/amount-format/amount-format.module.ts
  packages/common/form/src/directives/convert-case/convert-case.module.ts
  packages/common/form/src/directives/max-length/max-length.module.ts
  packages/common/form/src/directives/trim-input/trim-input.module.ts
Due: yarn prettier --write, yarn eslint --fix

test(@angular-ru/common): add test form amount-format
  packages/common/integration/tests/form/amount-format.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

test(@angular-ru/common): add tooltip
  packages/common/tooltip/package.json
  packages/common/tooltip/src/public_api.ts
  packages/common/tooltip/src/tooltip.directive.ts
  packages/common/tooltip/src/tooltip.interface.ts
  packages/common/tooltip/src/tooltip.module.ts
  packages/common/tooltip/src/tooltip.properties.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

Update CHANGELOG.md
  CHANGELOG.md
Due: yarn prettier --write

test(@angular-ru/tooltip): add tooltips
  packages/common/tooltip/package.json
  packages/tooltip/README.md
  packages/tooltip/angular.json
  packages/tooltip/ng-package.json
  packages/tooltip/package.json
  packages/tooltip/src/public_api.ts
  packages/tooltip/src/tooltip.directive.ts
  packages/tooltip/src/tooltip.interface.ts
  packages/tooltip/src/tooltip.module.ts
  packages/tooltip/src/tooltip.properties.ts
  packages/tooltip/styles/index.scss
  packages/tooltip/tsconfig.json
  packages/tooltip/tsconfig.lib.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/tooltip/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(): fix changelog
  CHANGELOG.md
Due: yarn prettier --write

refactor(): fix package for export styles
  packages/tooltip/ng-package.json
Due: yarn prettier --write

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/tooltip/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update angular-components to v10.2.6
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/flex-layout): add flex-equal for set equal width flex items
  packages/flex-layout/src/directives/flex-item.directive.ts
  packages/flex-layout/styles/shared.scss
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/flex-layout/package.json
Due: yarn prettier --write, yarn sort-package-json

feature(@angular-ru/common): add disable-control directive
  packages/common/form/src/directives/disable-control/disable-control.directive.ts
  packages/common/form/src/directives/disable-control/disable-control.module.ts
  packages/common/form/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update dependency @types/node to v14.14.6
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: update angular-framework to v10.2.1
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency @types/karma to v5.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/http): restTemplate options is priority for emit options
  packages/http/src/utils/rest-template.ts
  packages/http/typings/src/interfaces/emit-options.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/http/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency lint-staged to v10.5.1
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency jest to v26.6.2
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint to v4.6.1
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json
