Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore: fix formatting
  libs/cdk/project.json
  libs/commitlint/project.json
  libs/dev-dependencies/project.json
  libs/eslint-config-enterprise/project.json
  libs/eslint-plugin-enterprise/project.json
  libs/jest/project.json
  libs/ngxs/project.json
  libs/prettier/project.json
  libs/renovate/project.json
  libs/typescript/project.json
Due: yarn prettier --write

build: update renovatebot/github-action action to v33
  .github/workflows/renovate.yml
Due: none

build: update nrwl dependencies
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lerna to v6
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lerna to v6 (#1362)
  libs/cdk/project.json
  libs/commitlint/project.json
  libs/dev-dependencies/project.json
  libs/eslint-config-enterprise/project.json
  libs/eslint-plugin-enterprise/project.json
  libs/jest/project.json
  libs/ngxs/project.json
  libs/prettier/project.json
  libs/renovate/project.json
  libs/typescript/project.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update nrwl dependencies (#1361)
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update renovatebot/github-action action to v33 (#1360)
  .github/workflows/renovate.yml
Due: none

chore(release): update CHANGELOG.md [ci skip]
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
  libs/commitlint/CHANGELOG.md
  libs/commitlint/package.json
  libs/dev-dependencies/CHANGELOG.md
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/CHANGELOG.md
  libs/eslint-config-enterprise/package.json
  libs/eslint-plugin-enterprise/CHANGELOG.md
  libs/eslint-plugin-enterprise/package.json
  libs/jest/CHANGELOG.md
  libs/jest/package.json
  libs/ngxs/CHANGELOG.md
  libs/ngxs/package.json
  libs/prettier/CHANGELOG.md
  libs/prettier/package.json
  libs/renovate/CHANGELOG.md
  libs/renovate/package.json
  libs/typescript/CHANGELOG.md
  libs/typescript/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update renovatebot/github-action action to v34
  .github/workflows/renovate.yml
Due: none

build: update renovatebot/github-action action to v34 (#1368)
  .github/workflows/renovate.yml
Due: none

build: update actions/checkout action to v3
  .github/workflows/renovate.yml
Due: none

build: update dependency lint-staged to v13
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ngx-mask to v14
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ngx-toastr to v15
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

refactor: path data in data entity collections repository
  libs/ngxs/repositories/src/ngxs-data-entity-collections/ngxs-data-entity-collections.repository.ts
Due: yarn prettier --write, yarn eslint --fix

feat: add interval filter virtual table
  apps/virtual-table-demo/src/mocks-generator.ts
  apps/virtual-table-demo/src/samples/sample-fourteen/context-menu-sample/context-menu-sample.component.html
  apps/virtual-table-demo/src/samples/sample-fourteen/context-menu-sample/context-menu-sample.component.ts
  apps/virtual-table-demo/src/samples/sample-fourteen/sample-fourteen.component.html
  apps/virtual-table-demo/src/samples/sample-fourteen/sample-fourteen.module.ts
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
  libs/cdk/virtual-table/src/services/filterable/table-filter-type.ts
Due: yarn prettier --write, yarn eslint --fix

feat: add interval filter virtual table (#1369)
  apps/virtual-table-demo/src/mocks-generator.ts
  apps/virtual-table-demo/src/samples/sample-fourteen/context-menu-sample/context-menu-sample.component.html
  apps/virtual-table-demo/src/samples/sample-fourteen/context-menu-sample/context-menu-sample.component.ts
  apps/virtual-table-demo/src/samples/sample-fourteen/sample-fourteen.component.html
  apps/virtual-table-demo/src/samples/sample-fourteen/sample-fourteen.module.ts
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
  libs/cdk/virtual-table/src/services/filterable/table-filter-type.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

ci: change steps
  .github/workflows/release.yml
Due: none

fix: fix worksheet name in excel builder service
  libs/cdk/excel/src/excel-builder.service.ts
Due: yarn prettier --write, yarn eslint --fix

fix: fix worksheet name in excel builder service (#1371)
  libs/cdk/excel/src/excel-builder.service.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: path data in data entity collections repository (#1370)
  libs/ngxs/repositories/src/ngxs-data-entity-collections/ngxs-data-entity-collections.repository.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  libs/ngxs/CHANGELOG.md
  libs/ngxs/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

fix: move const to inside in filter worker function
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
Due: yarn prettier --write, yarn eslint --fix

fix: move const to inside in filter worker function (#1372)
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
Due: yarn prettier --write, yarn eslint --fix

build: update dependency @nrwl/devkit to v15.2.1
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @nrwl/devkit to v15.0.3 (#1363)
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/dev-dependencies/CHANGELOG.md
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency cosmiconfig to v8
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency cosmiconfig to v8 (#1374)
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/eslint-config-enterprise/CHANGELOG.md
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

feat: add filter for equals dates without time
  apps/virtual-table-demo/src/samples/sample-fourteen/context-menu-sample/context-menu-sample.component.html
  apps/virtual-table-demo/src/samples/sample-fourteen/context-menu-sample/context-menu-sample.component.ts
  apps/virtual-table-demo/src/samples/sample-fourteen/sample-fourteen.component.html
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
  libs/cdk/virtual-table/src/services/filterable/table-filter-type.ts
Due: yarn prettier --write, yarn eslint --fix

feat: add filter for equals dates without time (#1376)
  apps/virtual-table-demo/src/samples/sample-fourteen/context-menu-sample/context-menu-sample.component.html
  apps/virtual-table-demo/src/samples/sample-fourteen/context-menu-sample/context-menu-sample.component.ts
  apps/virtual-table-demo/src/samples/sample-fourteen/sample-fourteen.component.html
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
  libs/cdk/virtual-table/src/services/filterable/table-filter-type.ts
Due: yarn prettier --write, yarn eslint --fix

fix: send next message in websocket client synchronously
  libs/cdk/websocket/src/services/abstract-websocket.client.ts
Due: yarn prettier --write, yarn eslint --fix

fix: send next message in websocket client synchronously bypass requestAnimationFrame (#1377)
  libs/cdk/websocket/src/services/abstract-websocket.client.ts
Due: yarn prettier --write, yarn eslint --fix

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
