Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: update dependency tslib to v2.0.3
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency jest to v26.5.3
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint to v4.4.1
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/websocket): add websocket client
  README.md
  packages/websocket/README.md
  packages/websocket/angular.json
  packages/websocket/ng-package.json
  packages/websocket/package.json
  packages/websocket/src/abstract-websocket.client.ts
  packages/websocket/src/public-api.ts
  packages/websocket/src/websocket.config.ts
  packages/websocket/src/websocket.interfaces.ts
  packages/websocket/src/websocket.module.ts
  packages/websocket/src/websocket.tokens.ts
  packages/websocket/tsconfig.json
  packages/websocket/tsconfig.lib.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

!fixup
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update angular-framework to v10.1.6
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: update angular-cli
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci(@angular-ru/websocket): remove redundant umd modules refs
  packages/websocket/ng-package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: use public_api.ts instead public-api.ts as entry point
  packages/common/README.md
  packages/flex-layout/ng-package.json
  packages/flex-layout/src/public_api.ts
  packages/logger/ng-package.json
  packages/logger/src/public_api.ts
  packages/ng-excel-builder/ng-package.json
  packages/ng-excel-builder/src/public_api.ts
  packages/ng-table-builder/ng-package.json
  packages/ng-table-builder/src/public_api.ts
  packages/ng-table-builder/tsconfig.json
  packages/stream/ng-package.json
  packages/websocket/ng-package.json
  packages/websocket/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/http): add http client
  packages/common/docs/http.md
  packages/common/http/src/public_api.ts
  packages/common/integration/tests/http/http.spec.ts
  packages/http/README.md
  packages/http/angular.json
  packages/http/docs/utils.md
  packages/http/integration/tests/http.utils.spec.ts
  packages/http/integration/tests/setupJest.ts
  packages/http/integration/tests/tsconfig.spec.json
  packages/http/jest.config.js
  packages/http/ng-package.json
  packages/http/package.json
  packages/http/src/data-http-client.module.ts
  packages/http/src/public_api.ts
  packages/http/src/services/client/abstract-http.client.ts
  packages/http/src/services/client/data-http.client.ts
  packages/http/src/services/data-configurator.service.ts
  packages/http/src/services/data-interceptor.service.ts
  packages/http/src/tokens/data-config-service.token.ts
  packages/http/tsconfig.json
  packages/http/tsconfig.lib.json
  packages/http/typings/package.json
  packages/http/typings/src/enums/data-request-type.enum.ts
  packages/http/typings/src/interfaces/data-request-options.ts
  packages/http/typings/src/interfaces/data-request-params.ts
  packages/http/typings/src/interfaces/data-url-path-segment.ts
  packages/http/typings/src/interfaces/meta-data-request.ts
  packages/http/typings/src/public_api.ts
  packages/http/utils/package.json
  packages/http/utils/src/get-http-header.ts
  packages/http/utils/src/get-http-params.ts
  packages/http/utils/src/get-path-without-params.ts
  packages/http/utils/src/get-url-segments.ts
  packages/http/utils/src/is-absolute-path.ts
  packages/http/utils/src/is-localhost.ts
  packages/http/utils/src/parse-query-params.ts
  packages/http/utils/src/public_api.ts
  packages/http/utils/src/replace-double-slash.ts
  packages/http/utils/src/url-parse.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

!fixup
  packages/common/docs/http.md
  packages/common/http/package.json
  packages/common/http/src/is-localhost.ts
  packages/common/http/src/public_api.ts
  packages/common/integration/tests/http/http.spec.ts
  packages/ng-excel-builder/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/flex-layout/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/stream/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update devDependencies
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependencies
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

test: add http user client
  packages/http/integration/tests/users/http-users-client.spec.ts
  packages/http/ng-package.json
  packages/http/src/configs/data-config-service.token.ts
  packages/http/src/configs/data-request-options.config.ts
  packages/http/src/data-http-client.module.ts
  packages/http/src/public_api.ts
  packages/http/src/services/data-configurator.service.ts
  packages/http/utils/package.json
  packages/http/utils/src/is-localhost.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(@angular-ru/http): expose new API for REST client
  packages/http/README.md
  packages/http/integration/tests/helpers/http-mock-interceptor.ts
  packages/http/integration/tests/users/http-users-client.spec.ts
  packages/http/src/configs/data-config-service.token.ts
  packages/http/src/configs/data-request-options.config.ts
  packages/http/src/data-http-client.module.ts
  packages/http/src/public_api.ts
  packages/http/src/services/abstract-http.client.ts
  packages/http/src/services/client/abstract-http.client.ts
  packages/http/src/services/client/data-http.client.ts
  packages/http/src/services/data-configurator.service.ts
  packages/http/src/services/data-http.client.ts
  packages/http/src/services/data-interceptor.service.ts
  packages/http/src/services/default-http-client-interceptor.ts
  packages/http/src/tokens/data-config-service.token.ts
  packages/http/src/tokens/data-http-client-interceptor.token.ts
  packages/http/typings/src/interfaces/data-before-request-options.ts
  packages/http/typings/src/interfaces/data-client-request-options.ts
  packages/http/typings/src/interfaces/data-http-client-events.ts
  packages/http/typings/src/interfaces/data-http-interceptor.ts
  packages/http/typings/src/interfaces/data-request-params.ts
  packages/http/typings/src/interfaces/meta-data-request.ts
  packages/http/typings/src/public_api.ts
  packages/http/utils/src/get-url-segments.ts
Due: yarn prettier --write, yarn eslint --fix

test(@angular-ru/http): add integration test
  README.md
  packages/http/README.md
  packages/http/integration/tests/users/http-events-client.spec.ts
  packages/http/integration/tests/users/http-users-client.spec.ts
  packages/http/src/data-http-client.module.ts
  packages/http/src/services/abstract-http.client.ts
  packages/http/src/services/data-http.client.ts
  packages/http/typings/src/interfaces/data-http-interceptor.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update dependency jest to v26.6.0
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint to v4.5.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency @types/node to v14.11.11
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update Jest
  packages/build-tools/package.json
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
