Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add getValueByPath, clean, replaceWithNull
  packages/common/README.md
  packages/common/docs/object.md
  packages/common/integration/tests/object/object.spec.ts
  packages/common/object/src/clean.ts
  packages/common/object/src/get-value-by-path.ts
  packages/common/object/src/internal/replace-undefined-or-null.ts
  packages/common/object/src/public_api.ts
  packages/common/object/src/replace-with-null.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update ESLint to v3.9.1
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add checkIsEmpty
  packages/common/object/src/check-is-empty.ts
  packages/common/object/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

chore(@angular-ru/common): rename checkIsEmpty to checkIsShallowEmpty
  packages/common/docs/object.md
  packages/common/integration/tests/object/object.spec.ts
  packages/common/object/src/check-is-empty.ts
  packages/common/object/src/check-is-shallow-empty.ts
  packages/common/object/src/get-value-by-path.ts
  packages/common/object/src/public_api.ts
  packages/common/utils/src/get-body-rect.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

chore(@angular-ru/common): update docs
  packages/common/docs/utils.md
Due: yarn prettier --write

feat(@angular-ru/ng-table-builder): use @angular-ru/common
  packages/ng-table-builder/integration/tests/services/utils.service.spec.ts
  packages/ng-table-builder/ng-package.json
  packages/ng-table-builder/src/components/common/abstract-modal-view-layer.directive.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.ts
  packages/ng-table-builder/src/components/table-tbody/table-tbody.component.ts
  packages/ng-table-builder/src/operators/check-value-is-empty.ts
  packages/ng-table-builder/src/operators/deep-value.ts
  packages/ng-table-builder/src/pipes/deep-path.pipe.ts
  packages/ng-table-builder/src/pipes/default-value.pipe.ts
  packages/ng-table-builder/src/services/context-menu/context-menu.service.ts
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
  packages/ng-table-builder/src/services/selection/selection.service.ts
  packages/ng-table-builder/src/services/utils/utils.interface.ts
  packages/ng-table-builder/src/services/utils/utils.service.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add defaultValue, deepPath pipe
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/pipes.spec.ts
  packages/common/pipes/src/deep-path/deep-path.module.ts
  packages/common/pipes/src/deep-path/deep-path.pipe.ts
  packages/common/pipes/src/deep-path/index.ts
  packages/common/pipes/src/default-value/default-value.module.ts
  packages/common/pipes/src/default-value/default-value.pipe.ts
  packages/common/pipes/src/default-value/index.ts
  packages/common/pipes/src/mutable/mutable-type.module.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/common): correct resolve pipes ng module
  packages/common/integration/tests/pipes/pipes.spec.ts
  packages/common/pipes/src/deep-path/index.ts
  packages/common/pipes/src/default-value/index.ts
  packages/common/pipes/src/mutable/index.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-table-builder): use pipes from @angular-ru/common/pipes
  packages/ng-table-builder/integration/tests/pipes/deep-path.pipe.spec.ts
  packages/ng-table-builder/ng-package.json
  packages/ng-table-builder/src/components/table-cell/table-cell.component.html
  packages/ng-table-builder/src/pipes/deep-path.pipe.ts
  packages/ng-table-builder/src/pipes/default-value.pipe.ts
  packages/ng-table-builder/src/table-builder.module.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/logger): support Angular 10 ModuleWithProviders<T>
  packages/logger/src/logger.module.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/logger): remove clipboard service (because deprecated)
  packages/logger/integration/app/src/app.component.html
  packages/logger/integration/app/src/app.component.ts
  packages/logger/integration/tests/clipboard.spec.ts
  packages/logger/src/logger.module.ts
  packages/logger/src/logger.service.ts
  packages/logger/src/services/clipboard-factory.service.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup
  packages/ng-table-builder/integration/tests/services/utils.service.spec.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup
  packages/common/integration/tests/pipes/pipes.spec.ts
  packages/common/pipes/src/deep-path/deep-path.pipe.ts
  packages/common/src/noop.ts
  packages/common/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup
  packages/ng-table-builder/src/styles/common.scss
  packages/ng-table-builder/src/table-builder.component.html
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

feat: support Angular 10
  .travis.yml
  README.md
  package.json
  packages/common/tsconfig.json
  packages/common/tsconfig.lib.json
  packages/logger/angular.json
  packages/logger/integration/app/.browserslistrc
  packages/logger/tsconfig.json
  packages/logger/tsconfig.lib.json
  packages/ng-excel-builder/angular.json
  packages/ng-excel-builder/integration/app/.browserslistrc
  packages/ng-excel-builder/ng-package.json
  packages/ng-excel-builder/tsconfig.json
  packages/ng-excel-builder/tsconfig.lib.json
  packages/ng-table-builder/angular.json
  packages/ng-table-builder/src/components/common/column-options.ts
  packages/ng-table-builder/src/components/common/table-content.ts
  packages/ng-table-builder/src/table-builder.api.ts
  packages/ng-table-builder/src/table-builder.component.ts
  packages/ng-table-builder/tsconfig.json
  packages/ng-table-builder/tsconfig.lib.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

docs: remove clipboard info
  packages/logger/README.md
  packages/logger/integration/app/polyfills.ts
  packages/logger/integration/app/src/app.component.html
  packages/logger/integration/app/src/app.component.ts
Due: yarn prettier --write, yarn eslint --fix

chore: fix peer dependencies
  packages/common/package.json
  packages/eslint-config/package.json
  packages/ng-table-builder/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/ng-excel-builder/CHANGELOG.md
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

BREAKING CHANGE: Angular 10 BREAKING CHANGES: Angular 10
  packages/common/array/src/public_api.ts
  packages/common/array/src/unique-array-of.ts
  packages/common/docs/array.md
  packages/common/integration/tests/array/unique-array-of.spec.ts
Due: yarn prettier --write, yarn eslint --fix

ci: update devDependencies
  package.json
  packages/ng-table-builder/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore: bump version
  lerna.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/prettier-config/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/ng-excel-builder/CHANGELOG.md
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

docs: fixup [ci skip]
  packages/common/docs/pipes.md
Due: yarn prettier --write

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency zone.js to v0.11.0
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add isNotNull
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/deep-path-pipe.spec.ts
  packages/common/integration/tests/pipes/default-value-pipe.spec.ts
  packages/common/integration/tests/pipes/is-not-null-pipe.spec.ts
  packages/common/integration/tests/pipes/mutable-pipe.spec.ts
  packages/common/integration/tests/pipes/pipes.spec.ts
  packages/common/pipes/src/is-not-null/is-not-null.module.ts
  packages/common/pipes/src/is-not-null/is-not-null.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): rename pipes module with postfix *PipeModule
  package.json
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/deep-path-pipe.spec.ts
  packages/common/integration/tests/pipes/default-value-pipe.spec.ts
  packages/common/integration/tests/pipes/is-not-null-pipe.spec.ts
  packages/common/integration/tests/pipes/is-object-pipe.spec.ts
  packages/common/integration/tests/pipes/mutable-pipe.spec.ts
  packages/common/object/src/is-simple-object.ts
  packages/common/pipes/src/deep-path/deep-path-pipe.module.ts
  packages/common/pipes/src/default-value/default-value-pipe.module.ts
  packages/common/pipes/src/is-not-null/is-not-null-pipe.module.ts
  packages/common/pipes/src/is-object/is-object-pipe.module.ts
  packages/common/pipes/src/is-object/is-object.pipe.ts
  packages/common/pipes/src/mutable/mutable-type-pipe.module.ts
  packages/common/pipes/src/public_api.ts
  packages/ng-table-builder/src/table-builder.module.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add detectBrowserPipe
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/detect-browser-pipe.spec.ts
  packages/common/pipes/src/detect-browser/detect-browser-pipe.interface.ts
  packages/common/pipes/src/detect-browser/detect-browser-pipe.module.ts
  packages/common/pipes/src/detect-browser/detect-browser.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add isStringPipe
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/is-string-pipe.spec.ts
  packages/common/pipes/src/is-string/is-string-pipe.module.ts
  packages/common/pipes/src/is-string/is-string.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add isArrayPipe
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/is-array-pipe.spec.ts
  packages/common/pipes/src/is-array/is-array-pipe.module.ts
  packages/common/pipes/src/is-array/is-array.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add toStringPipe
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/to-string-pipe.spec.ts
  packages/common/pipes/src/public_api.ts
  packages/common/pipes/src/to-string/to-string-pipe.module.ts
  packages/common/pipes/src/to-string/to-string.pipe.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add copyBuffer
  packages/common/docs/utils.md
  packages/common/utils/src/copy-buffer.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add toNumber
  packages/common/docs/number.md
  packages/common/integration/tests/number/number.spec.ts
  packages/common/number/src/public_api.ts
  packages/common/number/src/to-number.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add toNumberPipe
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/to-number-pipe.spec.ts
  packages/common/pipes/src/public_api.ts
  packages/common/pipes/src/to-number/to-number-pipe.module.ts
  packages/common/pipes/src/to-number/to-number.pipe.ts
Due: yarn prettier --write, yarn eslint --fix
