Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

fix(@angular-ru/common): add try catch for preserve invalid date
  packages/common/date/src/to-iso-string.ts
  packages/common/integration/tests/date/serial-date.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/common): prevent invalid date time (#662)
  packages/common/date/src/to-iso-string.ts
  packages/common/integration/tests/date/serial-date.spec.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update autoupdate.yml
  .github/workflows/autoupdate.yml
Due: none

ci: update autoupdate.yml (#663)
  .github/workflows/autoupdate.yml
Due: none

feat(common): added regexp constants
  packages/common/docs/regexp.md
  packages/common/integration/tests/regexp/regexp-constants.spec.ts
  packages/common/integration/tests/regexp/regexp-utils.spec.ts
  packages/common/regexp/src/constants.ts
  packages/common/regexp/src/matched-by-regexp.ts
  packages/common/regexp/src/public_api.ts
  packages/common/regexp/src/utils/ensure-regexp.ts
  packages/common/regexp/src/utils/is-regexp-str.ts
  packages/common/regexp/src/utils/matched-by-regexp.ts
Due: yarn prettier --write, yarn eslint --fix

refactor(@angular-ru/ng-table-builder): extract css-variables
  packages/ng-table-builder/integration/app/src/shared/shared.module.ts
  packages/ng-table-builder/src/components/table-thead/table-thead.component.html
  packages/ng-table-builder/src/components/table-thead/table-thead.component.ts
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
  packages/ng-table-builder/src/styles/cell.scss
  packages/ng-table-builder/src/styles/columns.scss
  packages/ng-table-builder/src/styles/common.scss
  packages/ng-table-builder/src/styles/icon.scss
  packages/ng-table-builder/src/styles/scrollbar.scss
  packages/ng-table-builder/src/styles/variables.scss
  packages/ng-table-builder/src/table-builder.component.html
  packages/ng-table-builder/src/table-builder.component.scss
Due: yarn prettier --write, yarn eslint --fix

fixup! refactor(@angular-ru/ng-table-builder): extract css-variables
  packages/ng-table-builder/integration/app/src/shared/shared.module.ts
  packages/ng-table-builder/src/components/table-thead/table-thead.component.ts
  packages/ng-table-builder/src/styles/icon.scss
Due: yarn prettier --write, yarn eslint --fix

feat(common): added regexp constants (#665)
  packages/common/docs/regexp.md
  packages/common/integration/tests/regexp/regexp-constants.spec.ts
  packages/common/integration/tests/regexp/regexp-utils.spec.ts
  packages/common/regexp/src/constants.ts
  packages/common/regexp/src/matched-by-regexp.ts
  packages/common/regexp/src/public_api.ts
  packages/common/regexp/src/utils/ensure-regexp.ts
  packages/common/regexp/src/utils/is-regexp-str.ts
  packages/common/regexp/src/utils/matched-by-regexp.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! refactor(@angular-ru/ng-table-builder): extract css-variables
  packages/ng-table-builder/src/components/table-thead/table-thead.component.html
  packages/ng-table-builder/src/styles/columns.scss
Due: yarn prettier --write

build: update dependency @types/node to v15.12.2
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency tsickle to v0.43.0
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency tslib to v2.3.0
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @commitlint/config-angular to v12.1.4
  packages/commitlint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/commitlint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

refactor(@angular-ru/ng-table-builder): extract css-variables (#664)
  packages/ng-table-builder/src/components/table-thead/table-thead.component.html
  packages/ng-table-builder/src/components/table-thead/table-thead.component.ts
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
  packages/ng-table-builder/src/styles/cell.scss
  packages/ng-table-builder/src/styles/columns.scss
  packages/ng-table-builder/src/styles/common.scss
  packages/ng-table-builder/src/styles/icon.scss
  packages/ng-table-builder/src/styles/scrollbar.scss
  packages/ng-table-builder/src/styles/variables.scss
  packages/ng-table-builder/src/table-builder.component.html
  packages/ng-table-builder/src/table-builder.component.scss
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/eslint-config): add strict-boolean-expressions
  packages/common/utils/src/detect-changes.ts
Due: yarn prettier --write, yarn eslint --fix

revert: detect-changes.ts
  packages/common/utils/src/detect-changes.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/ng-excel-builder): support nullable entries
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-excel-builder/src/interfaces/excel-worksheet.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add nullable
  packages/common/typings/src/nullable.ts
  packages/common/typings/src/public_api.ts
  packages/ng-excel-builder/src/interfaces/excel-worksheet.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/ng-excel-builder): fix nullable
  packages/ng-excel-builder/src/interfaces/excel-worksheet.ts
Due: yarn prettier --write, yarn eslint --fix

docs: add nullable
  packages/common/docs/typings.md
Due: yarn prettier --write

feat(@angular-ru/ng-excel-builder): support nullable entries (#671)
  packages/common/docs/typings.md
  packages/common/typings/src/nullable.ts
  packages/common/typings/src/public_api.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-excel-builder/src/interfaces/excel-worksheet.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): support nullable values when update array
  packages/common/array/src/update-array.ts
  packages/common/integration/tests/array/update-array.spec.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/ng-excel-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): support nullable values when update array (#673)
  packages/common/array/src/update-array.ts
  packages/common/integration/tests/array/update-array.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): support nullable for array utils
  packages/common/array/src/first-item.ts
  packages/common/array/src/public_api.ts
  packages/common/array/src/second-item.ts
  packages/common/array/src/take-first-item.ts
  packages/common/array/src/take-last-item.ts
  packages/common/array/src/take-second-item.ts
  packages/common/array/src/take-third-item.ts
  packages/common/array/src/third-item.ts
  packages/common/integration/tests/array/utility-arrays.spec.ts
  packages/common/pipes/src/mark-by-filter/mark-by-filter.pipe.ts
Due: yarn prettier --write, yarn eslint --fix

build: update dependency angular-cli-ghpages to v1.0.0-rc.2
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency karma to v6.3.4
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency npe to v1.1.4
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency prettier to v2.3.1
  packages/prettier-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update eslint
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update jasmine
  package.json
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency typescript to v4.3.4
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/ng-table-builder): add numeric filters
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/sample-fourteen.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/sample-fourteen.component.ts
  packages/ng-table-builder/integration/tests/components/table-builder.component.spec.ts
  packages/ng-table-builder/integration/tests/helpers/utils/mocks-generator.ts
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/components/ngx-filter-viewer/ngx-filter-viewer.component.ts
  packages/ng-table-builder/src/components/ngx-filter-viewer/ngx-filter-viewer.properties.ts
  packages/ng-table-builder/src/services/filterable/filter-descriptor.ts
  packages/ng-table-builder/src/services/filterable/filter.worker.ts
  packages/ng-table-builder/src/services/filterable/filterable-message.ts
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
  packages/ng-table-builder/src/services/filterable/table-filter-type.ts
  packages/ng-table-builder/tsconfig.app.json
Due: yarn prettier --write, yarn eslint --fix
