Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat: update dependency eslint-plugin-import to v2.22.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(ng-table-builder): prevent memory leak when leave elements
  packages/ng-table-builder/src/directives/virtual-for.directive.ts
Due: yarn prettier --write, yarn eslint --fix

feat(ng-table-builder): add animation for ngx-filter
  packages/ng-table-builder/src/components/ngx-filter/ngx-filter.component.html
  packages/ng-table-builder/src/components/ngx-filter/ngx-filter.component.ts
Due: yarn prettier --write, yarn eslint --fix

fix(ng-table-builder): correct update view in filter modal
  packages/ng-table-builder/package.json
  packages/ng-table-builder/src/components/common/modal-view-layer.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint to v3.5.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(ng-table-builder): add updateFilterTypeBy, updateFilterValueBy method for immutable filtering
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/sample-fourteen.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/sample-fourteen.component.ts
  packages/ng-table-builder/src/components/common/modal-view-layer.ts
  packages/ng-table-builder/src/components/ngx-filter/ngx-filter.component.html
  packages/ng-table-builder/src/config/table-global-options.ts
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
  packages/ng-table-builder/src/table-builder.api.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
Due: yarn prettier --write, yarn eslint --fix

docs: update changelog
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/jest-utils/CHANGELOG.md
  packages/logger/CHANGELOG.md
  packages/ng-table-builder/CHANGELOG.md
  packages/prettier-config/CHANGELOG.md
  packages/tsconfig/CHANGELOG.md
Due: yarn prettier --write

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency typescript to v3.9.6
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

docs: update README.md
  CONTRIBUTING.md
  README.md
Due: yarn prettier --write

ci: skip parallel building libraries and apps
  lerna.json
Due: yarn prettier --write

feat(ng-excel-builder): integrate with LernaJS
  packages/ng-excel-builder/README.md
  packages/ng-excel-builder/angular.json
  packages/ng-excel-builder/integration/app/assets/favicon.ico
  packages/ng-excel-builder/integration/app/browserslist
  packages/ng-excel-builder/integration/app/environments/environment.prod.ts
  packages/ng-excel-builder/integration/app/environments/environment.ts
  packages/ng-excel-builder/integration/app/index.html
  packages/ng-excel-builder/integration/app/main.ts
  packages/ng-excel-builder/integration/app/polyfills.ts
  packages/ng-excel-builder/integration/app/src/app.component.css
  packages/ng-excel-builder/integration/app/src/app.component.html
  packages/ng-excel-builder/integration/app/src/app.component.ts
  packages/ng-excel-builder/integration/app/src/app.module.ts
  packages/ng-excel-builder/integration/app/styles.css
  packages/ng-excel-builder/integration/app/tsconfig.app.json
  packages/ng-excel-builder/integration/app/tsconfig.spec.json
  packages/ng-excel-builder/ng-package.json
  packages/ng-excel-builder/package.json
  packages/ng-excel-builder/src/excel.ts
  packages/ng-excel-builder/src/public-api.ts
  packages/ng-excel-builder/tsconfig.json
  packages/ng-excel-builder/tsconfig.lib.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

fix: update peerDependencies
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(ng-table-builder): new color for selected item in context menu
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu.component.scss
Due: yarn prettier --write

chore: fixup lint
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc.js
  lerna.json
  package.json
  packages/ng-excel-builder/src/excel.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu.component.scss
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

!fixup
  lerna.json
Due: yarn prettier --write

docs: update README.md
  README.md
Due: yarn prettier --write

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/ng-excel-builder/CHANGELOG.md
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

docs: add comitizen cli
  .gitignore
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore: add commit script
  package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency devtools-detect to v3.0.1
  packages/logger/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency @types/node to v14.0.18
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/jest to v26.0.4
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency @types/node to v14.0.19
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency @types/node to v14.0.20
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
