Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore: update README.md
  CHANGELOG.md
Due: yarn prettier --write

docs: hello
  .DS_Store
  .husky/pre-push
  CHANGELOG.md
Due: yarn prettier --write

docs: update README.md
  .husky/pre-commit
  package.json
Due: yarn prettier --write, yarn sort-package-json

docs: update README.md
  .husky/pre-commit
Due: none

ci: cleanup
  .github/workflows/workflow.yml
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: yarn prettier --write, yarn sort-package-json

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/http/package.json
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: provide GH_TOKEN
  .github/FUNDING.yml
  .github/workflows/workflow.yml
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/commitlint-config/package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/prettier-config/package.json
  packages/stream/package.json
  packages/tooltip/package.json
  packages/tsconfig/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

docs: update FUNDING.yml
  .github/FUNDING.yml
Due: none

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/commitlint-config/package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/prettier-config/package.json
  packages/stream/package.json
  packages/tooltip/package.json
  packages/tsconfig/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update workflow.yml
  .github/workflows/workflow.yml
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/commitlint-config/package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/prettier-config/package.json
  packages/stream/package.json
  packages/tooltip/package.json
  packages/tsconfig/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update workflow.yml
  .github/workflows/workflow.yml
Due: none

feat(@angular-ru/renovate-config): add renovate preset package
  packages/renovate-config/README.md
  packages/renovate-config/package.json
  renovate.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/renovate-config): add renovate preset package (#457)
  packages/renovate-config/README.md
  packages/renovate-config/package.json
  renovate.json
Due: yarn prettier --write, yarn sort-package-json

ci: provide cache
  .github/workflows/workflow.yml
Due: none

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: access is public
  packages/prettier-config/package.json
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn sort-package-json

Delete .DS_Store
  .DS_Store
Due: none

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/eslint-config): remove codelyzer from dependency
  .github/workflows/workflow.yml
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/eslint-config): remove codelyzer from dependency (#459)
  .github/workflows/workflow.yml
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: cleanup
  .github/workflows/workflow.yml
  .styles/integration-app.style.scss
  README.md
  packages/flex-layout/angular.json
  packages/http/angular.json
  packages/ng-table-builder/angular.json
  packages/tooltip/angular.json
Due: yarn prettier --write

ci: cleanup workflow.yml
  .github/workflows/workflow.yml
  .yarnrc
Due: none

ci: cleanup workflow.yml
  .github/workflows/workflow.yml
  README.md
Due: yarn prettier --write

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/ng-table-builder/package.json
  packages/tooltip/package.json
Due: yarn prettier --write, yarn sort-package-json

docs: update lerna.json
  lerna.json
Due: yarn prettier --write

feat(@angular-ru/common): add ControlValueInterceptor service
  packages/common/docs/directives.md
  packages/common/docs/forms.md
  packages/common/forms/package.json
  packages/common/forms/src/control-value-accessor-patcher.ts
  packages/common/forms/src/control-value-interceptor-descriptor.interface.ts
  packages/common/forms/src/control-value-interceptor.ts
  packages/common/forms/src/public_api.ts
  packages/common/integration/tests/forms/helpers/sync-control-directives.ts
  packages/common/integration/tests/forms/sync-control-value-interceptor.spec.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

fixup! feat(@angular-ru/common): add ControlValueInterceptor service
  packages/common/forms/src/control-value-interceptor.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update ESLint to v4.17.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fixup! feat(@angular-ru/common): add ControlValueInterceptor service
  packages/common/integration/tests/forms/sync-control-value-interceptor.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): add ControlValueInterceptor service
  packages/common/forms/src/control-value-accessor-patcher.ts
  packages/common/integration/tests/forms/helpers/sync-control-directives.ts
  packages/common/integration/tests/forms/sync-control-value-interceptor.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): add ControlValueInterceptor service
  packages/common/forms/src/control-value-accessor-patcher.ts
  packages/common/forms/src/control-value-interceptor.ts
Due: yarn prettier --write, yarn eslint --fix

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/node to v14.14.33
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
