Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat: css url import whitespaces fix BREAKING CHANGE
  apps/logger-demo/styles.css
Due: yarn prettier --write

feat: support Angular 13 BREAKING CHANGES
  .github/actions/nodejs/action.yml
Due: none

Revert "feat: support Angular 13"
  .github/actions/nodejs/action.yml
Due: none

feat: attempts to beat cache
  .github/actions/nodejs/action.yml
Due: none

feat(eslint-config-enterprise): support no-invalid-remove-event-listener
  libs/cdk/tooltip/src/tooltip.directive.ts
  libs/cdk/virtual-table/src/services/sortable/sort.worker.ts
  libs/eslint-config-enterprise/modules/unicorn.js
Due: yarn prettier --write, yarn eslint --fix

feat(eslint-config-enterprise): support no-instanceof-array
  libs/cdk/virtual-table/src/operators/get-client-height.ts
  libs/eslint-config-enterprise/jest.config.js
  libs/eslint-config-enterprise/modules/unicorn.js
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(eslint-config-enterprise): support no-new-array
  apps/tooltip-demo/src/samples/guide/guide.component.ts
  apps/virtual-table-demo/src/mocks-generator.ts
  apps/virtual-table-demo/src/samples/sample-eight/sample-eight.component.ts
  libs/cdk/big-decimal/src/js-big-decimal/big-decimal.ts
  libs/cdk/big-decimal/src/js-big-decimal/divide.ts
  libs/cdk/tests/table-utils/table-utils.spec.ts
  libs/eslint-config-enterprise/modules/unicorn.js
Due: yarn prettier --write, yarn eslint --fix

ci: add cache-location
  .github/actions/nodejs/action.yml
  workspace.json
Due: yarn prettier --write

build: update dependency ngx-mask to v13
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore: some changes
  .github/actions/autopush/action.yml
  .github/workflows/lint.yml
  workspace.json
Due: yarn prettier --write

chore: add cache flag
  .github/actions/nodejs/action.yml
  .gitignore
  workspace.json
Due: yarn prettier --write

chore: provide token
  .github/actions/autopush/action.yml
  .github/workflows/lint.yml
Due: none

chore: skip step
  .github/actions/nodejs/action.yml
Due: none

chore: fix formatting
  .github/workflows/build.yml
  .github/workflows/integrations.yml
  libs/cdk/CHANGELOG.md
Due: yarn prettier --write

chore: remove redundant file
  libs/cdk/CHANGELOG.md
Due: yarn prettier --write

build: update dependency typescript to v4.6.3
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

ci: bump versions
  libs/cdk/package.json
  libs/commitlint/package.json
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/package.json
  libs/eslint-plugin-enterprise/package.json
  libs/jest/package.json
  libs/ngxs/package.json
  libs/prettier/package.json
  libs/renovate/package.json
  libs/typescript/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

feat: dependencies update
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

feat: tests import fix
  libs/cdk/tests/directives/trim/disabled-trim-input.spec.ts
  libs/cdk/tests/directives/trim/dynamic-trim-input.spec.ts
  libs/cdk/tests/directives/trim/ng-model.spec.ts
  libs/cdk/tests/directives/trim/trim-input.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: rm symlinks before build
  libs/commitlint/project.json
  libs/dev-dependencies/project.json
  libs/eslint-config-enterprise/project.json
  libs/eslint-plugin-enterprise/project.json
  libs/jest/project.json
  libs/prettier/project.json
  libs/renovate/project.json
  libs/typescript/project.json
Due: yarn prettier --write

feat: redundant from tsconfig is removed
  libs/jest/tsconfig.lib.json
Due: yarn prettier --write

ci: experimental jobs update
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  workspace.json
Due: yarn prettier --write

feat: dummy change
  libs/cdk/node.js/src/node/check-is-node-environment.ts
Due: yarn prettier --write, yarn eslint --fix

feat: back to nx 13.4
  apps/cdk-demo/project.json
  apps/excel-demo/project.json
  apps/flex-layout-demo/project.json
  apps/http-demo/project.json
  apps/logger-demo/project.json
  apps/ngxs-demo/project.json
  apps/tooltip-demo/project.json
  apps/virtual-table-demo/project.json
  libs/cdk/project.json
  libs/commitlint/project.json
  libs/dev-dependencies/package.json
  libs/dev-dependencies/project.json
  libs/eslint-config-enterprise/project.json
  libs/eslint-plugin-enterprise/project.json
  libs/jest/project.json
  libs/ngxs/project.json
  libs/prettier/project.json
  libs/renovate/project.json
  libs/typescript/project.json
  package-lock.json
  package.json
  workspace.json
Due: yarn prettier --write, yarn sort-package-json

ci: temp fixes
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

feat: dev dependencies
  package-lock.json
Due: yarn prettier --write

feat: cat report
  libs/eslint-config-enterprise/project.json
Due: yarn prettier --write

feat: redundant removed
  libs/eslint-config-enterprise/project.json
Due: yarn prettier --write

feat: console log
  libs/eslint-config-enterprise/tests/test.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: build eslint before test
  .github/workflows/test.yml
Due: none

chore: fix formatting
  .github/workflows/build.yml
Due: none

fix-for-release (#1264)
  .github/workflows/test.yml
  apps/cdk-demo/project.json
  apps/excel-demo/project.json
  apps/flex-layout-demo/project.json
  apps/http-demo/project.json
  apps/logger-demo/project.json
  apps/ngxs-demo/project.json
  apps/tooltip-demo/project.json
  apps/virtual-table-demo/project.json
  libs/cdk/node.js/src/node/check-is-node-environment.ts
  libs/cdk/project.json
  libs/cdk/tests/directives/trim/disabled-trim-input.spec.ts
  libs/cdk/tests/directives/trim/dynamic-trim-input.spec.ts
  libs/cdk/tests/directives/trim/ng-model.spec.ts
  libs/cdk/tests/directives/trim/trim-input.spec.ts
  libs/commitlint/project.json
  libs/dev-dependencies/package.json
  libs/dev-dependencies/project.json
  libs/eslint-config-enterprise/project.json
  libs/eslint-config-enterprise/tests/test.spec.ts
  libs/eslint-plugin-enterprise/project.json
  libs/jest/project.json
  libs/jest/tsconfig.lib.json
  libs/ngxs/project.json
  libs/prettier/project.json
  libs/renovate/project.json
  libs/typescript/project.json
  package-lock.json
  workspace.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
