Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

chore: set dry-run for autoupdate (#963)
  .github/autorebase.yml
Due: none

chore: set dry-run for autoupdate
  .github/workflows/autorebase.yml
Due: none

chore: set dry-run for autoupdate (#964)
  .github/workflows/autorebase.yml
Due: none

chore: set dry-run for autoupdate
  .github/workflows/autoupdate.yml
Due: none

chore: set dry-run for autoupdate (#965)
  .github/workflows/autoupdate.yml
Due: none

chore: update autorebase.yml
  .github/workflows/autorebase.yml
Due: none

chore: update autorebase.yml #2
  .github/workflows/autorebase.yml
Due: none

chore: update autorebase.yml #3
  .github/workflows/autorebase.yml
Due: none

chore: remove redundant
  .github/labeler.yml
Due: none

fix: fixup
  .github/workflows/labeler.yml
Due: none

chore: remove redundant (#966)
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

ci: fixup labels
  .github/autorebase.yml
  .github/labels.yml
  .github/workflows/autorebase.yml
  .github/workflows/autoupdate.yml
  .github/workflows/build.yml
  .github/workflows/labeler.yml
Due: none

ci: fixup labels (#967)
  .github/autorebase.yml
  .github/labels.yml
  .github/workflows/autorebase.yml
  .github/workflows/autoupdate.yml
  .github/workflows/build.yml
  .github/workflows/labeler.yml
Due: none

ci: fix labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

ci: fix labeler
  .github/workflows/labeler.yml
Due: none

ci: debug
  .github/workflows/autorebase.yml
Due: none

ci: debug 2
  .github/workflows/autorebase.yml
Due: none

ci: refactor workflow
  .github/workflows/build.yml
  .scripts/postinstall.ts
Due: yarn prettier --write, yarn eslint --fix

ci: refactor workflow
  .github/workflows/build.yml
  .scripts/postinstall.ts
  dev-infra/jest/src/constants/configurations.ts
  package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: refactor workflow
  .github/workflows/build.yml
Due: none

ci: refactor workflow
  .github/workflows/build.yml
  .github/workflows/labeler.yml
Due: none

ci: refactor workflow
  .github/workflows/labeler.yml
Due: none

ci: refactor workflow
  .github/labeler.yml
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-plugin-enterprise/src/index.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: refactor workflow
  .github/labels.yml
  .github/workflows/labeler.yml
Due: none

ci: refactor workflow
  .github/workflows/build.yml
  dev-infra/jest/src/constants/configurations.ts
  packages/cdk/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: refactor workflow [ci skip]
  .github/workflows/build.yml
Due: none

ci: refactor workflow
  .scripts/build.ts
  .scripts/format.ts
  .scripts/integration.ts
  .scripts/lint.ts
  .scripts/symlink.ts
  .scripts/test.ts
  .scripts/utils/get-packages.ts
  .scripts/utils/packages-graph.ts
  .scripts/verify-ng-major.ts
  package.json
  packages/cdk/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: refactor workflow
  commitlint.config.js
Due: yarn prettier --write

ci: refactor workflow (#972)
  .github/labels.yml
  .github/workflows/build.yml
  .github/workflows/labeler.yml
  .scripts/build.ts
  .scripts/format.ts
  .scripts/integration.ts
  .scripts/lint.ts
  .scripts/postinstall.ts
  .scripts/symlink.ts
  .scripts/test.ts
  .scripts/utils/get-packages.ts
  .scripts/utils/packages-graph.ts
  .scripts/verify-ng-major.ts
  commitlint.config.js
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-plugin-enterprise/src/index.ts
  package.json
  packages/cdk/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json
