Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build(@angular-ru/ng-table-builder): rename setupJest.ts to setup-jest.ts
  packages/ng-table-builder/integration/app/tsconfig.spec.json
  packages/ng-table-builder/integration/tests/setup-jest.ts
  packages/ng-table-builder/jest.config.js
Due: yarn prettier --write, yarn eslint --fix

build: cleanup tsconfig.*.json
  packages/flex-layout/integration/app/tsconfig.app.json
  packages/flex-layout/integration/app/tsconfig.spec.json
  packages/flex-layout/tsconfig.json
  packages/http/README.md
  packages/http/angular.json
  packages/http/integration/app/tsconfig.app.json
  packages/http/integration/app/tsconfig.spec.json
  packages/http/integration/tests/tsconfig.spec.json
  packages/http/jest.config.js
  packages/http/package.json
  packages/http/tsconfig.json
  packages/logger/integration/app/tsconfig.app.json
  packages/logger/jest.config.js
  packages/logger/tsconfig.json
  packages/ng-excel-builder/integration/app/tsconfig.app.json
  packages/ng-excel-builder/integration/app/tsconfig.spec.json
  packages/ng-excel-builder/tsconfig.json
  packages/ng-table-builder/integration/app/tsconfig.app.json
  packages/ng-table-builder/tsconfig.json
  packages/stream/integration/tests/tsconfig.spec.json
  packages/stream/tsconfig.base.json
  packages/stream/tsconfig.json
  packages/tooltip/integration/app/tsconfig.app.json
  packages/tooltip/integration/app/tsconfig.spec.json
  packages/tooltip/tsconfig.json
  packages/websocket/tsconfig.json
Due: yarn prettier --write, yarn sort-package-json

ci(@angular-ru/jest-utils): update spec file
  packages/jest-utils/integration/tests/simple.spec.ts
Due: yarn prettier --write, yarn eslint --fix

ci: update dependency lerna to v4
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/stream/package.json
  packages/tooltip/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency ts-jest to v26.5.3
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency jest-preset-angular to v8.4.0
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/jest-utils): refactor configuration, support recursive extends paths
  packages/jest-utils/integration/tests/simple.spec.ts
  packages/jest-utils/integration/tests/tsconfig.test.json
  packages/jest-utils/jest.config.js
  packages/jest-utils/src/common.ts
  packages/jest-utils/src/create-ts-jest-config.ts
  packages/jest-utils/src/default.config.ts
  packages/jest-utils/src/expose-ts-config-extended-compiler-options.ts
  packages/jest-utils/src/jest-config.interface.ts
  packages/jest-utils/tsconfig.json
  packages/jest-utils/tsconfig.spec.json
Due: yarn prettier --write, yarn eslint --fix

build: support new jest config
  packages/common/jest.config.js
  packages/http/jest.config.js
  packages/logger/jest.config.js
  packages/ng-table-builder/jest.config.js
Due: yarn prettier --write

Feat/jest utils (#449)
  packages/common/jest.config.js
  packages/http/jest.config.js
  packages/jest-utils/integration/tests/simple.spec.ts
  packages/jest-utils/integration/tests/tsconfig.test.json
  packages/jest-utils/jest.config.js
  packages/jest-utils/src/common.ts
  packages/jest-utils/src/create-ts-jest-config.ts
  packages/jest-utils/src/default.config.ts
  packages/jest-utils/src/expose-ts-config-extended-compiler-options.ts
  packages/jest-utils/src/jest-config.interface.ts
  packages/jest-utils/tsconfig.json
  packages/jest-utils/tsconfig.spec.json
  packages/logger/jest.config.js
  packages/ng-table-builder/jest.config.js
Due: yarn prettier --write, yarn eslint --fix

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add exclude array function
  packages/common/array/src/exclude.ts
  packages/common/array/src/public_api.ts
  packages/common/docs/array.md
  packages/common/integration/tests/array/utility-arrays.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): add exclude array function
  packages/common/docs/array.md
  packages/common/integration/tests/array/utility-arrays.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): add exclude array function
  packages/common/array/src/exclude.ts
  packages/common/docs/array.md
  packages/common/integration/tests/array/utility-arrays.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): add exclude array function
  packages/common/integration/tests/array/utility-arrays.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): add exclude array function
  packages/common/docs/array.md
Due: yarn prettier --write

ci: use parallel for improved build
  .github/workflows/workflow.yml
  package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add secondary package @angular-ru/common/node.js
  packages/common/README.md
  packages/common/after-setup.sh
  packages/common/docs/node.js.md
  packages/common/integration/tests/nodejs/node-utils.spec.ts
  packages/common/integration/tests/nodejs/ts-utils.spec.ts
  packages/common/integration/tests/setup-jest.ts
  packages/common/jest.config.js
  packages/common/node.js/package.json
  packages/common/node.js/src/node/check-is-node-environment.ts
  packages/common/node.js/src/public_api.ts
  packages/common/node.js/src/typescript/expose-ts-compiler-options-by-ts-config.ts
  packages/common/node.js/src/typescript/resolve-ts-config-path.ts
  packages/common/package.json
  packages/common/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore: remove deprecated imports for jest presets
  packages/eslint-config/tsconfig.json
  packages/http/integration/tests/setup-jest.ts
  packages/http/integration/tests/tsconfig.spec.json
  packages/http/jest.config.js
  packages/logger/integration/tests/setup-jest.ts
  packages/ng-table-builder/integration/tests/setup-jest.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/jest-utils): refactor configuration
  packages/jest-utils/README.md
  packages/jest-utils/integration/tests/simple.spec.ts
  packages/jest-utils/jest.config.js
  packages/jest-utils/package.json
  packages/jest-utils/src/combine-with-jest-config.ts
  packages/jest-utils/src/constants/configurations.ts
  packages/jest-utils/src/expose-ts-config-extended-compiler-options.ts
  packages/jest-utils/src/index.ts
  packages/jest-utils/src/interfaces/jest-combiner-options.interface.ts
  packages/jest-utils/src/interfaces/jest-config.interface.ts
  packages/jest-utils/src/interfaces/jest-module-mapper.interface.ts
  packages/jest-utils/src/jest-config.interface.ts
  packages/jest-utils/src/utils/create-ts-jest-config.ts
  packages/jest-utils/src/utils/extends-ts-jest-config.ts
  packages/jest-utils/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

!fixup feat(@angular-ru/jest-utils): refactor configuration
  packages/jest-utils/src/utils/create-ts-jest-config.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/common): circular dependency: dist/library/esm2015/array/public_api.js
  packages/common/array/src/is-filled-list.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update ESLint
  packages/build-tools/package.json
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore: fixup docs
  packages/common/README.md
Due: yarn prettier --write

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/jasmine to v3.6.5
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/jasmine to v3.6.6
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

chore: fixup FUNDING.yml
  .github/FUNDING.yml
Due: none

chore: add CODEOWNERS
  .github/CODEOWNERS
Due: none

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
