Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: update eslint
  packages/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  packages/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  packages/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update eslint to v4.28.4
  packages/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint-plugin-jsdoc to v35.5.0
  packages/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): move websocket to common
  BREAKING_CHANGES.md
  README.md
  packages/common/integration/tests/websocket/websocket-client.spec.ts
  packages/common/websocket/package.json
  packages/common/websocket/src/interfaces/websocket-handler.ts
  packages/common/websocket/src/interfaces/websocket-message.ts
  packages/common/websocket/src/public_api.ts
  packages/common/websocket/src/services/abstract-websocket.client.ts
  packages/common/websocket/src/services/websocket-config.ts
  packages/common/websocket/src/tokens/websocket-configs.ts
  packages/common/websocket/src/websocket.module.ts
  packages/websocket/README.md
  packages/websocket/jest.config.js
  packages/websocket/ng-package.json
  packages/websocket/package.json
  packages/websocket/setup-jest.ts
  packages/websocket/tsconfig.base.json
  packages/websocket/tsconfig.json
  packages/websocket/tsconfig.lib.json
  packages/websocket/tsconfig.spec.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(@angular-ru/common): move websocket to common (#779)
  BREAKING_CHANGES.md
  README.md
  packages/common/integration/tests/websocket/websocket-client.spec.ts
  packages/common/websocket/package.json
  packages/common/websocket/src/interfaces/websocket-handler.ts
  packages/common/websocket/src/interfaces/websocket-message.ts
  packages/common/websocket/src/public_api.ts
  packages/common/websocket/src/services/abstract-websocket.client.ts
  packages/common/websocket/src/services/websocket-config.ts
  packages/common/websocket/src/tokens/websocket-configs.ts
  packages/common/websocket/src/websocket.module.ts
  packages/websocket/README.md
  packages/websocket/jest.config.js
  packages/websocket/ng-package.json
  packages/websocket/package.json
  packages/websocket/setup-jest.ts
  packages/websocket/tsconfig.base.json
  packages/websocket/tsconfig.json
  packages/websocket/tsconfig.lib.json
  packages/websocket/tsconfig.spec.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency rxjs to v7
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

refactor: changed name on inputFilter
  packages/common/directives/src/filter/filter.module.ts
  packages/common/directives/src/input-filter/input-filter.config.ts
  packages/common/directives/src/input-filter/input-filter.directive.ts
  packages/common/directives/src/input-filter/input-filter.module.ts
  packages/common/directives/src/public_api.ts
  packages/common/docs/directives.md
  packages/common/integration/app/src/samples/guide/guide.component.html
  packages/common/integration/app/src/samples/guide/guide.module.ts
  packages/common/integration/tests/directives/filter/filter-dynamic.spec.ts
  packages/common/integration/tests/directives/filter/filter-form.spec.ts
  packages/common/integration/tests/directives/filter/filter-input.spec.ts
  packages/common/integration/tests/directives/filter/filter-simple-input.spec.ts
Due: yarn prettier --write, yarn eslint --fix

build: update dependency @types/node to v16
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: added for child
  packages/common/directives/src/input-filter/input-filter.module.ts
Due: yarn prettier --write, yarn eslint --fix

refactor(@angular-ru/common): changed name on inputFilter (#780)
  packages/common/directives/src/filter/filter.module.ts
  packages/common/directives/src/input-filter/input-filter.config.ts
  packages/common/directives/src/input-filter/input-filter.directive.ts
  packages/common/directives/src/input-filter/input-filter.module.ts
  packages/common/directives/src/public_api.ts
  packages/common/docs/directives.md
  packages/common/integration/app/src/samples/guide/guide.component.html
  packages/common/integration/app/src/samples/guide/guide.module.ts
  packages/common/integration/tests/directives/filter/filter-dynamic.spec.ts
  packages/common/integration/tests/directives/filter/filter-form.spec.ts
  packages/common/integration/tests/directives/filter/filter-input.spec.ts
  packages/common/integration/tests/directives/filter/filter-simple-input.spec.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: added tests
  packages/common/directives/src/input-filter/input-filter.directive.ts
  packages/common/integration/app/src/samples/guide/guide.component.html
  packages/common/integration/app/src/samples/guide/guide.component.ts
  packages/common/integration/app/src/samples/guide/guide.module.ts
  packages/common/integration/app/src/samples/guide/properties/constants.ts
  packages/common/integration/tests/directives/filter/filter-config.spec.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: changed in inputFilterDirective
  packages/common/directives/src/input-filter/input-filter.directive.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: changed config type
  packages/common/directives/src/input-filter/input-filter.directive.ts
  packages/common/directives/src/input-filter/input-filter.module.ts
Due: yarn prettier --write, yarn eslint --fix

Refactor/filter (#783)
  packages/common/directives/src/input-filter/input-filter.directive.ts
  packages/common/directives/src/input-filter/input-filter.module.ts
  packages/common/integration/app/src/samples/guide/guide.component.html
  packages/common/integration/app/src/samples/guide/guide.component.scss
  packages/common/integration/app/src/samples/guide/guide.component.ts
  packages/common/integration/app/src/samples/guide/guide.module.ts
  packages/common/integration/app/src/samples/guide/properties/constants.ts
  packages/common/integration/tests/directives/filter/filter-config.spec.ts
Due: yarn prettier --write, yarn eslint --fix

build: update dependency ts-jest to v27.0.4
  packages/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  packages/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update angular to v12.1.3
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint-plugin-jsdoc to v35.5.1
  packages/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lint-staged to v11.1.0
  packages/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency jest-preset-angular to v9.0.5
  packages/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lint-staged to v11.1.1
  packages/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v15.14.3
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @commitlint/config-conventional to v13
  packages/commitlint/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint-plugin-jsdoc to v36
  packages/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  packages/commitlint/package.json
  packages/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update eslint to v4.28.5
  packages/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint-plugin-jsdoc to v36.0.3
  packages/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
