Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

Revert "Revert "test(cdk): fix updateArray tests""
  .github/workflows/build.yml
Due: none

ci(cdk): remove tests from pipeline
  .github/workflows/build.yml
Due: none

ci(cdk): remove build section
  .github/workflows/build.yml
Due: none

ci: remove build & temporary test & fix tests for updateArray (#876)
  .github/workflows/build.yml
  packages/cdk/integration/tests/jest/array/update-array.spec.ts
Due: yarn prettier --write, yarn eslint --fix

docs(cdk): update README.md
  README.md
Due: yarn prettier --write

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  packages/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(cdk): fix updateArray id type
  packages/cdk/array/src/update-array.ts
Due: yarn prettier --write, yarn eslint --fix

fix(cdk): fix updateArray id type (#880)
  packages/cdk/array/src/update-array.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(renovate): remove packageFiles
  dev-infra/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(renovate): add new rules
  commitlint.config.js
  dev-infra/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(renovate): add new rules
  dev-infra/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(renovate): add new rules (#892)
  commitlint.config.js
  dev-infra/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update angular to v12.2.5
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ngx-toastr to v14.1.3
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/jasmine to v3.9.0
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v16.9.1
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency highlight.js to v10.7.3
  packages/cdk/integration/apps/flex-layout/index.html
  packages/cdk/integration/apps/virtual-table/index.html
Due: yarn prettier --write

build: update dependency jest to v27.1.1
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency prettier to v2.4.0
  dev-infra/prettier/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update eslint
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint-plugin-prettier to v4
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency highlight.js to v11
  packages/cdk/integration/apps/flex-layout/index.html
  packages/cdk/integration/apps/virtual-table/index.html
Due: yarn prettier --write

feat(renovate): add new rules (#895)
  dev-infra/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update all [dependencies - minor/patch]
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update all [dependencies - major]
  dev-infra/commitlint/package.json
  dev-infra/eslint-config-enterprise/package.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update actions/setup-node action to v2
  .github/workflows/build.yml
Due: none

fix(renovate): remove all slug
  dev-infra/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(renovate): remove all slug (#902)
  dev-infra/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
