Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: update dependency eslint-plugin-mocha to v10
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

fix(cdk): call onBeforeRequest after request is subscribed
  libs/cdk/http/src/services/data-http.client.ts
Due: yarn prettier --write, yarn eslint --fix

feat: publishing fix BREAKING CHANGES: v13
  libs/cdk/project.json
Due: yarn prettier --write

feat: publishing fix (#1265)
  libs/cdk/project.json
Due: yarn prettier --write

feat: dependencies fix BREAKING CHANGE: Angular 13 BREAKING CHANGES: Angular 13
  libs/cdk/package.json
  libs/commitlint/package.json
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/package.json
  libs/eslint-plugin-enterprise/package.json
  libs/jest/package.json
  libs/ngxs/package.json
  libs/prettier/package.json
  libs/renovate/package.json
  libs/typescript/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

BREAKING CHANGE: Angular 13
  libs/cdk/package.json
  libs/commitlint/package.json
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/package.json
  libs/eslint-plugin-enterprise/package.json
  libs/jest/package.json
  libs/ngxs/package.json
  libs/prettier/package.json
  libs/renovate/package.json
  libs/typescript/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-config-enterprise): release version 13.0.0 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-plugin-enterprise): release version 13.0.0 [ci skip]
  libs/eslint-plugin-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 13.0.0 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(commitlint): release version 13.0.0 [ci skip]
  libs/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(typescript): release version 13.0.0 [ci skip]
  libs/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(prettier): release version 13.0.0 [ci skip]
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(renovate): release version 13.0.0 [ci skip]
  libs/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(jest): release version 13.0.0 [ci skip]
  libs/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(cdk): release version 13.0.0 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(ngxs): release version 13.0.0 [ci skip]
  libs/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: updated RELEASE_NOTES.md [ci skip]
  RELEASE_NOTES.md
Due: yarn prettier --write

build: update dependency eslint-plugin-import to v2.26.0
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-config-enterprise): release version 13.0.1 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-config-enterprise): release version 13.0.2 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency jest-junit to v13.1.0
  libs/jest/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update codecov/codecov-action action to v3
  .github/workflows/test.yml
Due: none

build: update dependency eslint-plugin-jsdoc to v39
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-config-enterprise): release version 13.0.3 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(jest): release version 13.0.1 [ci skip]
  libs/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update angular dependencies to v13.3.2
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-config-enterprise): release version 13.0.4 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(cdk): fix hooks ordering in tests
  libs/cdk/tests/http/users/http-events-client.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fix(cdk): call onBeforeRequest after request is subscribed (#1266)
  libs/cdk/http/src/services/data-http.client.ts
  libs/cdk/tests/http/users/http-events-client.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore(cdk): release version 13.0.1 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update all dependencies (minor/patch)
  apps/flex-layout-demo/index.html
  apps/virtual-table-demo/index.html
  libs/dev-dependencies/package.json
  libs/prettier/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update commitlint dependencies to v16.2.4
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v17.0.31
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
