Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

feat(@angular-ru/common): add DateIntervalDescriptor (#540)
  packages/common/docs/typings.md
  packages/common/typings/src/date-interval-descriptor.ts
  packages/common/typings/src/public_api.ts
  packages/common/validators/src/date-interval.validator.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/ng-excel-builder): add keys param to options
  packages/ng-excel-builder/README.md
  packages/ng-excel-builder/integration/app/assets/i18n/ru.json
  packages/ng-excel-builder/integration/app/src/app.component.ts
  packages/ng-excel-builder/src/excel-builder-default-text-column-interceptor.service.ts
  packages/ng-excel-builder/src/excel-builder.interfaces.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-excel-builder/src/excel-interceptor-text.token.ts
  packages/ng-excel-builder/src/excel.service.ts
  packages/ng-excel-builder/src/interfaces/entries-keys.ts
  packages/ng-excel-builder/src/interfaces/excel-builder-text-column-interceptor.ts
  packages/ng-excel-builder/src/interfaces/excel-key-deep-size.ts
  packages/ng-excel-builder/src/interfaces/excel-workbook.ts
  packages/ng-excel-builder/src/interfaces/excel-worksheet.ts
  packages/ng-excel-builder/src/interfaces/export-excel-by-entries.ts
  packages/ng-excel-builder/src/ngx-translate/excel-ngx-translate.interceptor.ts
  packages/ng-excel-builder/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-excel-builder): add keys param to options (#541)
  packages/ng-excel-builder/README.md
  packages/ng-excel-builder/integration/app/assets/i18n/ru.json
  packages/ng-excel-builder/integration/app/src/app.component.ts
  packages/ng-excel-builder/src/excel-builder-default-text-column-interceptor.service.ts
  packages/ng-excel-builder/src/excel-builder.interfaces.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-excel-builder/src/excel-interceptor-text.token.ts
  packages/ng-excel-builder/src/excel.service.ts
  packages/ng-excel-builder/src/interfaces/entries-keys.ts
  packages/ng-excel-builder/src/interfaces/excel-builder-text-column-interceptor.ts
  packages/ng-excel-builder/src/interfaces/excel-key-deep-size.ts
  packages/ng-excel-builder/src/interfaces/excel-workbook.ts
  packages/ng-excel-builder/src/interfaces/excel-worksheet.ts
  packages/ng-excel-builder/src/interfaces/export-excel-by-entries.ts
  packages/ng-excel-builder/src/ngx-translate/excel-ngx-translate.interceptor.ts
  packages/ng-excel-builder/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-excel-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: added common utils
  packages/common/docs/utils.md
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/utils/src/check-every-value-is-false.ts
  packages/common/utils/src/check-every-value-is-true.ts
  packages/common/utils/src/check-some-value-is-false.ts
  packages/common/utils/src/check-some-value-is-true.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: changes after review
  packages/common/utils/src/check-some-value-is-false.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: changes after review
  packages/common/utils/src/check-every-value-is-true.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: changes after review
  packages/common/utils/src/check-every-value-is-false.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update ESLint
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/ng-table-builder): fix selection items with shift key
  packages/ng-table-builder/integration/app/tsconfig.app.json
  packages/ng-table-builder/integration/tests/components/selection-mock.component.spec.ts
  packages/ng-table-builder/integration/tests/helpers/mock-web-worker.service.ts
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/services/selection/selection.service.ts
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/ng-table-builder): fix selection items with shift key (#544)
  packages/ng-table-builder/integration/app/tsconfig.app.json
  packages/ng-table-builder/integration/tests/components/selection-mock.component.spec.ts
  packages/ng-table-builder/integration/tests/helpers/mock-web-worker.service.ts
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/services/selection/selection.service.ts
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

build(deps): update dependency eslint to v7.25.0
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency eslint to v7.25.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: added util 'include'
  packages/common/array/src/include.ts
  packages/common/array/src/public_api.ts
  packages/common/docs/array.md
  packages/common/integration/tests/array/include.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: added util 'include' (#548)
  packages/common/array/src/include.ts
  packages/common/array/src/public_api.ts
  packages/common/docs/array.md
  packages/common/integration/tests/array/include.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update dependencies
  packages/build-tools/package.json
  packages/eslint-config/package.json
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

Update workflow.yml
  .github/workflows/workflow.yml
Due: none

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: added common util 'checkEveryValueIsFilled'
  packages/common/docs/utils.md
  packages/common/integration/tests/utils/check-every-value-is-filled.spec.ts
  packages/common/utils/src/check-every-value-is-filled.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add has-items array utils
  packages/common/array/src/has-at-most-one-item.ts
  packages/common/array/src/has-items.ts
  packages/common/array/src/has-many-items.ts
  packages/common/array/src/has-no-items.ts
  packages/common/array/src/has-one-item.ts
  packages/common/array/src/is-empty-list.ts
  packages/common/array/src/is-filled-list.ts
  packages/common/array/src/is-multiple-list.ts
  packages/common/array/src/is-single-list.ts
  packages/common/array/src/public_api.ts
  packages/common/docs/array.md
  packages/common/docs/pipes.md
  packages/common/integration/tests/array/utility-arrays.spec.ts
  packages/common/pipes/src/has-at-most-one-item/has-at-most-one-item-pipe.module.ts
  packages/common/pipes/src/has-at-most-one-item/has-at-most-one-item.pipe.ts
  packages/common/pipes/src/has-items/has-items-pipe.module.ts
  packages/common/pipes/src/has-items/has-items.pipe.ts
  packages/common/pipes/src/has-many-items/has-many-items-pipe.module.ts
  packages/common/pipes/src/has-many-items/has-many-items.pipe.ts
  packages/common/pipes/src/has-no-items/has-no-items-pipe.module.ts
  packages/common/pipes/src/has-no-items/has-no-items.pipe.ts
  packages/common/pipes/src/has-one-item/has-one-item-pipe.module.ts
  packages/common/pipes/src/has-one-item/has-one-item.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): add has-items array utils
  packages/common/docs/pipes.md
Due: yarn prettier --write

feat: update dependency @types/node to v15
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add at array pipe
  packages/common/array/src/is-empty-list.ts
  packages/common/array/src/is-filled-list.ts
  packages/common/array/src/is-multiple-list.ts
  packages/common/array/src/is-single-list.ts
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/at-pipe.spec.ts
  packages/common/pipes/src/at/at-pipe.module.ts
  packages/common/pipes/src/at/at.pipe.ts
  packages/common/pipes/src/has-at-most-one-item/has-at-most-one-item-pipe.module.ts
  packages/common/pipes/src/has-items/has-items-pipe.module.ts
  packages/common/pipes/src/has-many-items/has-many-items-pipe.module.ts
  packages/common/pipes/src/has-no-items/has-no-items-pipe.module.ts
  packages/common/pipes/src/has-one-item/has-one-item-pipe.module.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update ESLint
  packages/build-tools/package.json
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add string utils for slicing
  packages/common/directives/src/amount-format/amount-format-segments.ts
  packages/common/directives/src/amount-format/amount-format.directive.ts
  packages/common/directives/src/public_api.ts
  packages/common/docs/string.md
  packages/common/integration/tests/directives/amount-format.spec.ts
  packages/common/integration/tests/string/string.spec.ts
  packages/common/string/src/get-first-symbol.ts
  packages/common/string/src/get-last-symbol.ts
  packages/common/string/src/public_api.ts
  packages/common/string/src/remove-last-symbol.ts
Due: yarn prettier --write, yarn eslint --fix

ci: skip non selected file for commit
  .husky/pre-commit
  package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): refactor amountFormat
  packages/common/directives/src/amount-format/amount-format.directive.ts
  packages/common/directives/src/amount-format/amount-options.ts
  packages/common/directives/src/public_api.ts
  packages/common/docs/string.md
  packages/common/integration/tests/directives/amount-format.spec.ts
  packages/common/integration/tests/string/string.spec.ts
  packages/common/string/src/get-count-spaces-on-string.ts
  packages/common/string/src/public_api.ts
  packages/common/string/src/remove-non-numeric-symbols.ts
  packages/common/string/src/replace-every-comma-on-dot.ts
Due: yarn prettier --write, yarn eslint --fix

test(@angular-ru/common): refactor amountFormat spec file
  packages/common/integration/tests/directives/amount-format.spec.ts
Due: yarn prettier --write, yarn eslint --fix

docs(@angular-ru/common): update BREAKING_CHANGES.md
  BREAKING_CHANGES.md
  packages/common/directives/src/amount-format/amount-format-directive.module.ts
  packages/common/directives/src/amount-format/amount-format.directive.ts
  packages/common/directives/src/public_api.ts
  packages/common/docs/directives.md
  packages/common/integration/tests/directives/amount-format.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add has-items and at array utils (#553)
  packages/common/array/src/has-at-most-one-item.ts
  packages/common/array/src/has-items.ts
  packages/common/array/src/has-many-items.ts
  packages/common/array/src/has-no-items.ts
  packages/common/array/src/has-one-item.ts
  packages/common/array/src/is-empty-list.ts
  packages/common/array/src/is-filled-list.ts
  packages/common/array/src/is-multiple-list.ts
  packages/common/array/src/is-single-list.ts
  packages/common/array/src/public_api.ts
  packages/common/docs/array.md
  packages/common/docs/pipes.md
  packages/common/integration/tests/array/utility-arrays.spec.ts
  packages/common/integration/tests/pipes/at-pipe.spec.ts
  packages/common/pipes/src/at/at-pipe.module.ts
  packages/common/pipes/src/at/at.pipe.ts
  packages/common/pipes/src/has-at-most-one-item/has-at-most-one-item-pipe.module.ts
  packages/common/pipes/src/has-at-most-one-item/has-at-most-one-item.pipe.ts
  packages/common/pipes/src/has-items/has-items-pipe.module.ts
  packages/common/pipes/src/has-items/has-items.pipe.ts
  packages/common/pipes/src/has-many-items/has-many-items-pipe.module.ts
  packages/common/pipes/src/has-many-items/has-many-items.pipe.ts
  packages/common/pipes/src/has-no-items/has-no-items-pipe.module.ts
  packages/common/pipes/src/has-no-items/has-no-items.pipe.ts
  packages/common/pipes/src/has-one-item/has-one-item-pipe.module.ts
  packages/common/pipes/src/has-one-item/has-one-item.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update ESLint to v4.2.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json
