Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(cdk): add `copyHtml` feature, rename `copyBuffer`
  packages/cdk/docs/utils.md
  packages/cdk/integration/tests/jest/table-utils/table-clipboard.spec.ts
  packages/cdk/table-utils/src/table-clipboard/table-clipboard.service.ts
  packages/cdk/utils/src/copy-html.ts
  packages/cdk/utils/src/copy-string.ts
  packages/cdk/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(cdk): add `copyHtml` feature, rename `copyBuffer` (#1167)
  packages/cdk/docs/utils.md
  packages/cdk/integration/tests/jest/table-utils/table-clipboard.spec.ts
  packages/cdk/table-utils/src/table-clipboard/table-clipboard.service.ts
  packages/cdk/utils/src/copy-html.ts
  packages/cdk/utils/src/copy-string.ts
  packages/cdk/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  packages/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lint-staged to v12.1.4
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies to v5.8.1
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: added util longValidator
  packages/cdk/docs/validators.md
  packages/cdk/integration/tests/jest/validators/long-validator.spec.ts
  packages/cdk/validators/src/empty.validator.ts
  packages/cdk/validators/src/long.validator.ts
  packages/cdk/validators/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fix: lint errors
  packages/cdk/integration/tests/jest/validators/empty-validator.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: added util longValidator (#1173)
  packages/cdk/docs/validators.md
  packages/cdk/integration/tests/jest/validators/empty-validator.spec.ts
  packages/cdk/integration/tests/jest/validators/long-validator.spec.ts
  packages/cdk/validators/src/empty.validator.ts
  packages/cdk/validators/src/long.validator.ts
  packages/cdk/validators/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

build: update dependency @types/node to v17.0.5
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency rxjs to v7.5.1
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update commitlint dependencies
  dev-infra/commitlint/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: beginning of filtering doc
  packages/cdk/docs/virtual-table/README.md
Due: yarn prettier --write

feat: removing exception
  packages/cdk/virtual-table/src/abstract-table-builder-api.directive.ts
Due: yarn prettier --write, yarn eslint --fix

feat: set filter without filtering, set a filter by default functions
  packages/cdk/integration/tests/jest/virtual-table/components/table-builder.component.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

feat/external-filtering (#1175)
  packages/cdk/docs/virtual-table/README.md
  packages/cdk/integration/tests/jest/virtual-table/components/table-builder.component.spec.ts
  packages/cdk/virtual-table/src/abstract-table-builder-api.directive.ts
Due: yarn prettier --write, yarn eslint --fix

build: update dependency @types/jest to v27.4.0
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v17.0.6
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency jasmine-core to v3.99.0
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/jasmine to v3.10.3
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lint-staged to v12.1.5
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint-plugin-import to v2.25.4
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v17.0.7
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies to v5.9.0
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: add lint code
  .github/workflows/lint.yml
  dev-infra/eslint-plugin-enterprise/package.json
  packages/ngxs/decorators/src/computed/computed.ts
  packages/ngxs/integration/tests/common-extensions/computed-observable.spec.ts
  packages/ngxs/storage/src/utils/expose-engine.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: update dependency @types/node to v17.0.8
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json
