Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(@angular-ru/common): add HttpReplacer pipe
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/http-replacer-pipe.spec.ts
  packages/common/pipes/src/http-replacer/http-replacer-pipe.module.ts
  packages/common/pipes/src/http-replacer/http-replacer.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add TakeFirstItemPipe
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/take-first-item-pipe.spec.ts
  packages/common/pipes/src/public_api.ts
  packages/common/pipes/src/take-first-item/take-first-item-pipe.module.ts
  packages/common/pipes/src/take-first-item/take-first-item.pipe.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add TakeSecondItemPipe
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/take-second-item-pipe.spec.ts
  packages/common/pipes/src/public_api.ts
  packages/common/pipes/src/take-second-item/take-second-item-pipe.module.ts
  packages/common/pipes/src/take-second-item/take-second-item.pipe.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add DateToNativePipe
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/date-to-native-pipe.spec.ts
  packages/common/pipes/src/date-to-native/date-to-native-pipe.module.ts
  packages/common/pipes/src/date-to-native/date-to-native.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update ESLint to v3.10.1
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add EntrySingleSet
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/entry-single-set-pipe.spec.ts
  packages/common/pipes/src/entry-single-set/entry-single-set-pipe.module.ts
  packages/common/pipes/src/entry-single-set/entry-single-set.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency lint-staged to v10.2.12
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add MarkByFilter
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/mark-by-filter-pipe.spec.ts
  packages/common/pipes/src/mark-by-filter/mark-by-filter-pipe.module.ts
  packages/common/pipes/src/mark-by-filter/mark-by-filter.interfaces.ts
  packages/common/pipes/src/mark-by-filter/mark-by-filter.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add emptyValidator
  packages/common/README.md
  packages/common/docs/form.md
  packages/common/form/package.json
  packages/common/form/src/public_api.ts
  packages/common/form/src/validators/empty.validator.ts
  packages/common/integration/tests/form/empty-validator.spec.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

!fixup
  .github/workflows/workflow.yml
  packages/common/integration/tests/pipes/http-replacer-pipe.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: remove ansible color
  .github/workflows/workflow.yml
Due: none

ci: update dependency lint-staged to v10.2.13
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency prettier to v2.1.1
  packages/prettier-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/prettier-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency ts-jest to v26.3.0
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): remove unused module AngularRuCommonModule
  packages/common/src/_noop.ts
  packages/common/src/common.module.ts
  packages/common/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/jest-utils/package.json
  packages/prettier-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/tsconfig): remove tslib, you need install explicit tslib for your project now
  package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/jest-utils/package.json
  packages/prettier-config/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update workspace
  .github/workflows/workflow.yml
  package.json
  packages/common/README.md
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update angular-framework to v10.0.14
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: update angular-cli
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency @types/node to v14.6.1
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/eslint to v7.2.2
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency @types/node to v14.6.2
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
