Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/ng-excel-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): remove deprecated utils from */zone.js (#706)
  packages/common/zone.js/src/_noop.ts
  packages/common/zone.js/src/public_api.ts
  packages/common/zone.js/src/unpatch-events.ts
  packages/common/zone.js/unpatch-zone/src/unpatch-events.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add mapObject function (#709)
  packages/common/docs/object.md
  packages/common/integration/tests/object/object.spec.ts
  packages/common/object/src/public_api.ts
  packages/common/object/src/shallow-map-object.ts
Due: yarn prettier --write, yarn eslint --fix

build(@angular-ru/flex-layout): correct resolve paths (#716)
  packages/flex-layout/tsconfig.app.json
  packages/flex-layout/tsconfig.base.json
  packages/flex-layout/tsconfig.json
  packages/flex-layout/tsconfig.lib.json
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write

docs: fixup README.md
  README.md
Due: yarn prettier --write

feat(@angular-ru/common): update default date suggestion map (#718)
  packages/common/date/src/date-suggestion/domain/enums/default-date-interval-suggestion.ts
  packages/common/date/src/date-suggestion/properties/default-suggestion-strategy-map.ts
  packages/common/docs/date-suggestion.md
  packages/common/integration/tests/date/date-suggestion.spec.ts
Due: yarn prettier --write, yarn eslint --fix

ci: commitlint head-max-length 100 (#698)
  packages/commitlint-config/index.js
Due: yarn prettier --write

feat(@angular-ru/ng-excel-builder): add column width feature & refactor (#700)
  packages/common/integration/tests/table-utils/table-utils.spec.ts
  packages/common/table-utils/package.json
  packages/common/table-utils/src/interfaces/input-descriptor.ts
  packages/common/table-utils/src/interfaces/rules-descriptor.ts
  packages/common/table-utils/src/plain-table-composer.module.ts
  packages/common/table-utils/src/plain-table-composer.service.ts
  packages/common/table-utils/src/public_api.ts
  packages/ng-excel-builder/integration/tests/excel.service.spec.ts
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-1-simple.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-2-by-keys.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-3-exclude-keys.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-4-options.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-5-translate.xls
  packages/ng-excel-builder/integration/tests/helpers/file-utils.ts
  packages/ng-excel-builder/jest.config.js
  packages/ng-excel-builder/package.json
  packages/ng-excel-builder/setup-jest.ts
  packages/ng-excel-builder/src/domain/column-parameters.ts
  packages/ng-excel-builder/src/domain/column-width.ts
  packages/ng-excel-builder/src/domain/entries-keys.ts
  packages/ng-excel-builder/src/domain/excel-builder-text-column-interceptor.ts
  packages/ng-excel-builder/src/domain/excel-key-deep-size.ts
  packages/ng-excel-builder/src/domain/excel-workbook.ts
  packages/ng-excel-builder/src/domain/excel-worksheet.ts
  packages/ng-excel-builder/src/domain/export-excel-by-entries.ts
  packages/ng-excel-builder/src/domain/prepared-excel-workbook.ts
  packages/ng-excel-builder/src/domain/prepared-excel-worksheet.ts
  packages/ng-excel-builder/src/excel-builder-default-text-column-interceptor.service.ts
  packages/ng-excel-builder/src/excel-builder.module.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-excel-builder/src/excel-interceptor-text.token.ts
  packages/ng-excel-builder/src/excel.service.ts
  packages/ng-excel-builder/src/ngx-translate/excel-ngx-translate.interceptor.ts
  packages/ng-excel-builder/src/public_api.ts
  packages/ng-excel-builder/tsconfig.app.json
  packages/ng-excel-builder/tsconfig.spec.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: force bump versions (#722)
  .prettierignore
  lerna.json
  packages/build-tools/package.json
  packages/commitlint-config/package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/not-found.component.ts
  packages/ng-table-builder/integration/tests/helpers/mocks/simple-mock.component.ts
  packages/ng-table-builder/integration/tests/helpers/mocks/template-mock.component.ts
  packages/ng-table-builder/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/stream/package.json
  packages/tooltip/package.json
  packages/tsconfig/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/http/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/ng-table-builder): fix scrollbar styles (#695)
  packages/ng-table-builder/src/styles/scrollbar.scss
Due: yarn prettier --write

fix(@angular-ru/ng-table-builder): emit clear filter event only on disable (#703)
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add declinationOfNumber (#701)
  packages/common/integration/tests/utils/declination.spec.ts
  packages/common/utils/src/declination-of-number/declination-dictionary.ts
  packages/common/utils/src/declination-of-number/declination-of-number.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fix(ng-table-builder): added update view on changes (#697)
  packages/ng-table-builder/src/config/table-global-options.ts
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-table-builder): support nullable (#685)
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/components/table-cell/table-cell.component.ts
  packages/ng-table-builder/src/components/table-tbody/table-tbody.component.ts
  packages/ng-table-builder/src/interfaces/table-builder.external.ts
  packages/ng-table-builder/src/services/selection/selection.service.ts
  packages/ng-table-builder/src/table-builder.component.ts
  packages/ng-table-builder/src/types/table-sort-types.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/http): support passing explicit variables in path (#707)
  packages/http/decorators/src/internal/ensure-descriptor-by-type.ts
  packages/http/decorators/src/internal/mutate-path-by-path-variables.ts
  packages/http/integration/tests/decorators/without-decorators.spec.ts
  packages/http/src/configs/data-request-options.config.ts
  packages/http/typings/src/interfaces/data-client-request-options.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): improved tryParseJson (#708)
  packages/common/utils/src/try-parse-json.ts
Due: yarn prettier --write, yarn eslint --fix

feat: added empty array as no value for the form (#719)
  packages/common/integration/tests/validators/required-some-value-by-keys-validator.spec.ts
  packages/common/validators/src/required-some-value-by-keys.validator.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): remove 'null' as empty value (#710)
  BREAKING_CHANGES.md
  packages/common/docs/utils.md
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/typings/src/empty-value.ts
  packages/common/utils/src/check-value-is-empty.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-table-builder/src/services/sortable/sort.worker.ts
Due: yarn prettier --write, yarn eslint --fix

feat: added regexp REG_EXP_INTEGERS_SEPARATED_BY_COMMA (#720)
  packages/common/docs/regexp.md
  packages/common/integration/tests/regexp/regexp-constants.spec.ts
  packages/common/regexp/src/constants.ts
  packages/common/regexp/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

ci: add autocommit (#702)
  .github/workflows/workflow.yml
  package.json
  packages/common/array/src/is-empty-list.ts
  packages/common/array/src/is-multiple-list.ts
  packages/common/array/src/is-single-list.ts
  packages/common/directives/src/trim-input/trim-input.directive.ts
  packages/common/ivy/src/utils/use-injector.ts
  packages/common/node.js/src/typescript/expose-ts-compiler-options-by-ts-config.ts
  packages/common/webworker/src/worker-thread.service.ts
  packages/http/decorators/src/internal/ensure-method-args-registry.ts
  packages/http/src/services/limit-concurency.service.ts
  packages/logger/src/logger.service.ts
  packages/logger/src/services/group-factory.service.ts
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.ts
  packages/ng-table-builder/src/components/table-tbody/table-tbody.component.ts
  packages/ng-table-builder/src/directives/observer-view.directive.ts
  packages/ng-table-builder/src/directives/virtual-for.directive.ts
  packages/ng-table-builder/src/pipes/disable-row.pipe.ts
  packages/ng-table-builder/src/services/context-menu/context-menu-state.ts
  packages/ng-table-builder/src/services/draggable/draggable.service.ts
  packages/ng-table-builder/src/services/selection/selection.ts
  packages/ng-table-builder/src/services/sortable/sort.worker.ts
  packages/ng-table-builder/src/services/sortable/sortable.service.ts
  packages/ng-table-builder/src/services/template-parser/template-parser.service.ts
  packages/ng-table-builder/src/table-builder.component.ts
  packages/tooltip/src/tooltip.directive.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/stream/package.json
  packages/tooltip/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/commitlint-config/package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/stream/package.json
  packages/tooltip/package.json
  packages/tsconfig/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/ng-table-builder): set async stub for trigger onChanges (#713)
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
Due: yarn prettier --write, yarn eslint --fix

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
