Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

fix(@angular-ru/ng-table-builder): fix null values filter errors (#696)
  packages/ng-table-builder/integration/tests/components/table-builder.component.spec.ts
  packages/ng-table-builder/integration/tests/helpers/utils/mocks-generator.ts
  packages/ng-table-builder/integration/tests/samples/lifecycle/lifecycle.spec.ts
  packages/ng-table-builder/src/services/filterable/filter.worker.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(ng-table-builder): added update view on changes
  packages/ng-table-builder/src/config/table-global-options.ts
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

fix(ng-table-builder): added update view on changes (#697)
  packages/ng-table-builder/src/config/table-global-options.ts
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

ci: commitlint head-max-length 100
  packages/commitlint-config/index.js
Due: yarn prettier --write

ci: commitlint head-max-length 100
  packages/commitlint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(ng-excel-builder): add EntriesKeys to public api
  packages/ng-excel-builder/package.json
  packages/ng-excel-builder/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

Revert "ci: commitlint head-max-length 100"
  packages/commitlint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(ng-excel-builder): add EntriesKeys to public api
  packages/ng-excel-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: commitlint head-max-length 100 (#698)
  packages/commitlint-config/index.js
Due: yarn prettier --write

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/commitlint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(ng-excel-builder): add EntriesKeys to public api (#699)
  packages/ng-excel-builder/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-excel-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add declinationOfNumber
  packages/common/integration/tests/utils/declination.spec.ts
  packages/common/utils/src/declination-of-number/declination-dictionary.ts
  packages/common/utils/src/declination-of-number/declination-of-number.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

Update README.md
  README.md
Due: yarn prettier --write

refactor(@angular-ru/ng-excel-builder): refactor builder service
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-excel-builder/src/excel.service.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/ng-excel-builder): add column width feature
  packages/common/integration/tests/table-utils/table-utils.spec.ts
  packages/ng-excel-builder/integration/tests/excel.service.spec.ts
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-1-simple.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-2-by-keys.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-3-exclude-keys.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-4-options.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-5-translate.xls
  packages/ng-excel-builder/integration/tests/helpers/file-utils.ts
  packages/ng-excel-builder/jest.config.js
  packages/ng-excel-builder/package.json
  packages/ng-excel-builder/setup-jest.ts
  packages/ng-excel-builder/src/domain/column-parameters.ts
  packages/ng-excel-builder/src/domain/column-width.ts
  packages/ng-excel-builder/src/domain/entries-keys.ts
  packages/ng-excel-builder/src/domain/excel-builder-text-column-interceptor.ts
  packages/ng-excel-builder/src/domain/excel-key-deep-size.ts
  packages/ng-excel-builder/src/domain/excel-workbook.ts
  packages/ng-excel-builder/src/domain/excel-worksheet.ts
  packages/ng-excel-builder/src/domain/export-excel-by-entries.ts
  packages/ng-excel-builder/src/domain/prepared-excel-workbook.ts
  packages/ng-excel-builder/src/domain/prepared-excel-worksheet.ts
  packages/ng-excel-builder/src/excel-builder-default-text-column-interceptor.service.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-excel-builder/src/excel-interceptor-text.token.ts
  packages/ng-excel-builder/src/excel.service.ts
  packages/ng-excel-builder/src/ngx-translate/excel-ngx-translate.interceptor.ts
  packages/ng-excel-builder/src/public_api.ts
  packages/ng-excel-builder/tsconfig.spec.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

fixup! fix(@angular-ru/ng-table-builder): fix selectedItems pipe
  packages/common/table-utils/src/interfaces/input-descriptor.ts
  packages/common/table-utils/src/interfaces/rules-descriptor.ts
  packages/common/table-utils/src/plain-table-composer.service.ts
  packages/common/table-utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-excel-builder): add column width feature
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-excel-builder/src/interfaces/column-parameters.ts
  packages/ng-excel-builder/src/interfaces/column-width.ts
  packages/ng-excel-builder/src/interfaces/excel-workbook.ts
  packages/ng-excel-builder/src/interfaces/excel-worksheet.ts
  packages/ng-excel-builder/src/interfaces/prepared-excel-workbook.ts
  packages/ng-excel-builder/src/interfaces/prepared-excel-worksheet.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! fix(@angular-ru/ng-table-builder): fix selectedItems pipe
  packages/common/table-utils/package.json
  packages/common/table-utils/src/plain-table-composer.module.ts
  packages/common/table-utils/src/plain-table-composer.service.ts
  packages/common/table-utils/src/public_api.ts
  packages/ng-excel-builder/src/excel-builder.module.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-excel-builder/src/interfaces/excel-workbook.ts
  packages/ng-excel-builder/src/interfaces/excel-worksheet.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(@angular-ru/ng-excel-builder): add column width feature
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-excel-builder/src/interfaces/excel-worksheet.ts
  packages/ng-excel-builder/tsconfig.app.json
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/ng-excel-builder): add column width feature
  README.md
Due: yarn prettier --write

ci: add autocommit
  .github/workflows/workflow.yml
  package.json
Due: yarn prettier --write, yarn sort-package-json

ci: add autocommit
  .github/workflows/workflow.yml
Due: none

fix: eslint fixes
  package.json
  packages/common/array/src/is-empty-list.ts
  packages/common/array/src/is-multiple-list.ts
  packages/common/array/src/is-single-list.ts
  packages/common/directives/src/trim-input/trim-input.directive.ts
  packages/common/ivy/src/utils/use-injector.ts
  packages/common/node.js/src/typescript/expose-ts-compiler-options-by-ts-config.ts
  packages/common/webworker/src/worker-thread.service.ts
  packages/http/decorators/src/internal/ensure-method-args-registry.ts
  packages/http/src/services/limit-concurency.service.ts
  packages/logger/src/logger.service.ts
  packages/logger/src/services/group-factory.service.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.ts
  packages/ng-table-builder/src/components/table-tbody/table-tbody.component.ts
  packages/ng-table-builder/src/directives/observer-view.directive.ts
  packages/ng-table-builder/src/directives/virtual-for.directive.ts
  packages/ng-table-builder/src/pipes/disable-row.pipe.ts
  packages/ng-table-builder/src/services/context-menu/context-menu-state.ts
  packages/ng-table-builder/src/services/draggable/draggable.service.ts
  packages/ng-table-builder/src/services/selection/selection.ts
  packages/ng-table-builder/src/services/sortable/sort.worker.ts
  packages/ng-table-builder/src/services/sortable/sortable.service.ts
  packages/ng-table-builder/src/services/template-parser/template-parser.service.ts
  packages/ng-table-builder/src/table-builder.component.ts
  packages/tooltip/src/tooltip.directive.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

fix: fix null pointer
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
Due: yarn prettier --write, yarn eslint --fix

fix: fix null pointer
  .github/workflows/workflow.yml
Due: none

fix(@angular-ru/ng-table-builder): emit clear filter event only on disable
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
Due: yarn prettier --write, yarn eslint --fix

docs: fixup README.md
  README.md
Due: yarn prettier --write

style(common): format README.md
  README.md
Due: yarn prettier --write

ci: prepare git before
  .github/workflows/workflow.yml
Due: none

fix(@angular-ru/ng-table-builder): emit clear filter event only on disable (#703)
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-excel-builder): add column width feature & refactor (#700)
  packages/common/integration/tests/table-utils/table-utils.spec.ts
  packages/common/table-utils/package.json
  packages/common/table-utils/src/interfaces/input-descriptor.ts
  packages/common/table-utils/src/interfaces/rules-descriptor.ts
  packages/common/table-utils/src/plain-table-composer.module.ts
  packages/common/table-utils/src/plain-table-composer.service.ts
  packages/common/table-utils/src/public_api.ts
  packages/ng-excel-builder/integration/tests/excel.service.spec.ts
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-1-simple.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-2-by-keys.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-3-exclude-keys.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-4-options.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-5-translate.xls
  packages/ng-excel-builder/integration/tests/helpers/file-utils.ts
  packages/ng-excel-builder/jest.config.js
  packages/ng-excel-builder/package.json
  packages/ng-excel-builder/setup-jest.ts
  packages/ng-excel-builder/src/domain/column-parameters.ts
  packages/ng-excel-builder/src/domain/column-width.ts
  packages/ng-excel-builder/src/domain/entries-keys.ts
  packages/ng-excel-builder/src/domain/excel-builder-text-column-interceptor.ts
  packages/ng-excel-builder/src/domain/excel-key-deep-size.ts
  packages/ng-excel-builder/src/domain/excel-workbook.ts
  packages/ng-excel-builder/src/domain/excel-worksheet.ts
  packages/ng-excel-builder/src/domain/export-excel-by-entries.ts
  packages/ng-excel-builder/src/domain/prepared-excel-workbook.ts
  packages/ng-excel-builder/src/domain/prepared-excel-worksheet.ts
  packages/ng-excel-builder/src/excel-builder-default-text-column-interceptor.service.ts
  packages/ng-excel-builder/src/excel-builder.module.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-excel-builder/src/excel-interceptor-text.token.ts
  packages/ng-excel-builder/src/excel.service.ts
  packages/ng-excel-builder/src/ngx-translate/excel-ngx-translate.interceptor.ts
  packages/ng-excel-builder/src/public_api.ts
  packages/ng-excel-builder/tsconfig.app.json
  packages/ng-excel-builder/tsconfig.spec.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/ng-excel-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add declinationOfNumber (#701)
  packages/common/integration/tests/utils/declination.spec.ts
  packages/common/utils/src/declination-of-number/declination-dictionary.ts
  packages/common/utils/src/declination-of-number/declination-of-number.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

build: renamed package json commands
  package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: add autocommit (#702)
  .github/workflows/workflow.yml
  package.json
  packages/common/array/src/is-empty-list.ts
  packages/common/array/src/is-multiple-list.ts
  packages/common/array/src/is-single-list.ts
  packages/common/directives/src/trim-input/trim-input.directive.ts
  packages/common/ivy/src/utils/use-injector.ts
  packages/common/node.js/src/typescript/expose-ts-compiler-options-by-ts-config.ts
  packages/common/webworker/src/worker-thread.service.ts
  packages/http/decorators/src/internal/ensure-method-args-registry.ts
  packages/http/src/services/limit-concurency.service.ts
  packages/logger/src/logger.service.ts
  packages/logger/src/services/group-factory.service.ts
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.ts
  packages/ng-table-builder/src/components/table-tbody/table-tbody.component.ts
  packages/ng-table-builder/src/directives/observer-view.directive.ts
  packages/ng-table-builder/src/directives/virtual-for.directive.ts
  packages/ng-table-builder/src/pipes/disable-row.pipe.ts
  packages/ng-table-builder/src/services/context-menu/context-menu-state.ts
  packages/ng-table-builder/src/services/draggable/draggable.service.ts
  packages/ng-table-builder/src/services/selection/selection.ts
  packages/ng-table-builder/src/services/sortable/sort.worker.ts
  packages/ng-table-builder/src/services/sortable/sortable.service.ts
  packages/ng-table-builder/src/services/template-parser/template-parser.service.ts
  packages/ng-table-builder/src/table-builder.component.ts
  packages/tooltip/src/tooltip.directive.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
