Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

feat(@angular-ru/flex-layout): add flex-bottom-indent directive
  packages/flex-layout/src/directives/flex-bottom-indent.directive.ts
  packages/flex-layout/src/flex-layout.module.ts
  packages/flex-layout/src/public_api.ts
  packages/flex-layout/styles/flex-container.scss
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/flex-layout/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(commitlint-config): disable subject-case rule
  packages/commitlint-config/index.js
Due: yarn prettier --write

fix(commitlint-config): disable subject-case rule (#271)
  packages/commitlint-config/index.js
Due: yarn prettier --write

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/commitlint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

BREAKING CHANGE: upgrade to Angular 11
  packages/flex-layout/angular.json
  packages/http/angular.json
  packages/logger/angular.json
  packages/ng-excel-builder/angular.json
  packages/ng-table-builder/angular.json
  packages/ng-table-builder/integration/app/src/shared/dialog-template/dialog-template.template.html
  packages/stream/angular.json
  packages/tooltip/angular.json
  packages/websocket/angular.json
Due: yarn prettier --write

fix(@angular-ru/flex-layout): support string type for flex-bottom-indent
  packages/flex-layout/src/directives/flex-bottom-indent.directive.ts
Due: yarn prettier --write, yarn eslint --fix

feat(eslint-config): add @angular-eslint plugin
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

Revert "ci: update angular-cli (minor) (#269)"
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: update angular-cli
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: skip deploy until fix https://github.com/angular-schule/angular-cli-ghpages/pull/118
  packages/flex-layout/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

!fixup ci: skip deploy until fix https://github.com/angular-schule/angular-cli-ghpages/pull/118
  lerna.json
  packages/commitlint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/commitlint-config/package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/prettier-config/package.json
  packages/stream/package.json
  packages/tooltip/package.json
  packages/tsconfig/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

docs: aligned with Angular 11
  README.md
Due: yarn prettier --write

feat: update dependency @types/eslint to v7.2.5
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build(eslint-config): remove build:prepare script due to tslint deletion
  .github/workflows/workflow.yml
  package.json
  packages/common/object/src/is-plain-object.ts
  packages/eslint-config/index.js
  packages/eslint-config/integration/tests/test.spec.ts
  packages/eslint-config/integration/tests/typescript.bad.ts
  packages/eslint-config/package.json
  packages/eslint-config/prepare.sh
  packages/http/decorators/src/internal/ensure-descriptor-by-type.ts
  packages/http/decorators/src/internal/get-method-args-registry.ts
  packages/http/decorators/src/path-variable.decorator.ts
  packages/http/decorators/src/request-body.decorator.ts
  packages/http/decorators/src/request-param.decorator.ts
  packages/jest-utils/src/create-ts-jest-config.ts
  packages/logger/integration/app/src/app.component.ts
  packages/logger/src/logger.config.ts
  packages/logger/src/services/group-factory.service.ts
  packages/logger/src/services/timer-factory.service.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-table-builder/integration/app/src/samples/sample-eight/sample-eight.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-eleven/sample-eleven.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/sample-fourteen.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-second/sample-second.component.ts
  packages/ng-table-builder/integration/tests/helpers/mocks/template-mock.component.ts
  packages/ng-table-builder/integration/tests/helpers/utils/mocks-generator.ts
  packages/ng-table-builder/src/components/common/column-options.ts
  packages/ng-table-builder/src/components/common/table-content.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.ts
  packages/ng-table-builder/src/components/table-cell/table-cell.component.ts
  packages/ng-table-builder/src/directives/auto-height.directive.ts
  packages/ng-table-builder/src/directives/rows/abstract-template-cell-common.directive.ts
  packages/ng-table-builder/src/interfaces/table-builder.external.ts
  packages/ng-table-builder/src/services/filterable/filter.worker.ts
  packages/ng-table-builder/src/services/sortable/sort.worker.ts
  packages/ng-table-builder/src/services/template-parser/template-parser.service.ts
  packages/ng-table-builder/src/table-builder.api.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

fixup! build(eslint-config): remove build:prepare script due to tslint deletion
  packages/eslint-config/index.js
  packages/eslint-config/integration/tests/test.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! build(eslint-config): remove build:prepare script due to tslint deletion
  packages/eslint-config/integration/tests/typescript.good.ts
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(eslint-config): replace deprecated tslint with eslint plugins (#275)
  .github/workflows/workflow.yml
  package.json
  packages/common/object/src/is-plain-object.ts
  packages/eslint-config/index.js
  packages/eslint-config/integration/tests/test.spec.ts
  packages/eslint-config/integration/tests/typescript.bad.ts
  packages/eslint-config/integration/tests/typescript.good.ts
  packages/eslint-config/package.json
  packages/eslint-config/prepare.sh
  packages/http/decorators/src/internal/ensure-descriptor-by-type.ts
  packages/http/decorators/src/internal/get-method-args-registry.ts
  packages/http/decorators/src/path-variable.decorator.ts
  packages/http/decorators/src/request-body.decorator.ts
  packages/http/decorators/src/request-param.decorator.ts
  packages/jest-utils/src/create-ts-jest-config.ts
  packages/logger/integration/app/src/app.component.ts
  packages/logger/src/logger.config.ts
  packages/logger/src/services/group-factory.service.ts
  packages/logger/src/services/timer-factory.service.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-table-builder/integration/app/src/samples/sample-eight/sample-eight.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-eleven/sample-eleven.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/sample-fourteen.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-second/sample-second.component.ts
  packages/ng-table-builder/integration/tests/helpers/mocks/template-mock.component.ts
  packages/ng-table-builder/integration/tests/helpers/utils/mocks-generator.ts
  packages/ng-table-builder/src/components/common/column-options.ts
  packages/ng-table-builder/src/components/common/table-content.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.ts
  packages/ng-table-builder/src/components/table-cell/table-cell.component.ts
  packages/ng-table-builder/src/directives/auto-height.directive.ts
  packages/ng-table-builder/src/directives/rows/abstract-template-cell-common.directive.ts
  packages/ng-table-builder/src/interfaces/table-builder.external.ts
  packages/ng-table-builder/src/services/filterable/filter.worker.ts
  packages/ng-table-builder/src/services/sortable/sort.worker.ts
  packages/ng-table-builder/src/services/template-parser/template-parser.service.ts
  packages/ng-table-builder/src/table-builder.api.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

fixup! feat: update ESLint
  packages/eslint-config/index.js
Due: yarn prettier --write

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/stream/package.json
  packages/tooltip/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint to v4.8.1
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependencies to v0.8.0-beta.1
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/node to v14.14.8
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update angular-framework to v11.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json
