Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(@angular-ru/common): add new number utils
  BREAKING_CHANGES.md
  packages/common/docs/number.md
  packages/common/integration/tests/number/number.spec.ts
  packages/common/integration/tests/pipes/to-number-pipe.spec.ts
  packages/common/number/src/gauss-round.ts
  packages/common/number/src/get-fraction-separator/expect-fraction-helper.ts
  packages/common/number/src/get-fraction-separator/fraction-separator.ts
  packages/common/number/src/get-fraction-separator/get-fraction-separator.ts
  packages/common/number/src/public_api.ts
  packages/common/number/src/to-number.ts
  packages/common/number/src/truncated.ts
  packages/common/pipes/src/to-number/to-number.pipe.ts
Due: yarn prettier --write, yarn eslint --fix

docs: update README.md
  README.md
Due: yarn prettier --write

docs: update README.md (#571)
  README.md
Due: yarn prettier --write

fix(@angular-ru/websocket): close connection on error
  packages/websocket/src/abstract-websocket.client.ts
Due: yarn prettier --write, yarn eslint --fix

test(@angular-ru/websocket): add tests to websocket package
  packages/websocket/integration/tests/clients/websocket-client.spec.ts
  packages/websocket/integration/tests/setup-jest.ts
  packages/websocket/integration/tests/tsconfig.spec.json
  packages/websocket/jest.config.js
  packages/websocket/package.json
  packages/websocket/src/abstract-websocket.client.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(@angular-ru/renovate-config): update group lists
  packages/renovate-config/package.json
  renovate.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/renovate-config): update group lists (#572)
  packages/renovate-config/package.json
  renovate.json
Due: yarn prettier --write, yarn sort-package-json

Update README.md
  README.md
Due: yarn prettier --write

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/websocket): close socket connection on error & serializers (#567)
  packages/websocket/integration/tests/clients/websocket-client.spec.ts
  packages/websocket/integration/tests/setup-jest.ts
  packages/websocket/integration/tests/tsconfig.spec.json
  packages/websocket/jest.config.js
  packages/websocket/package.json
  packages/websocket/src/abstract-websocket.client.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

build: bump version
  lerna.json
  packages/build-tools/package.json
  packages/commitlint-config/package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/flex-layout/package.json
  packages/flex-layout/tsconfig.app.json
  packages/http/package.json
  packages/http/tsconfig.app.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/logger/tsconfig.app.json
  packages/ng-excel-builder/package.json
  packages/ng-excel-builder/tsconfig.app.json
  packages/ng-table-builder/package.json
  packages/ng-table-builder/tsconfig.app.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/stream/package.json
  packages/stream/tsconfig.app.json
  packages/tooltip/package.json
  packages/tooltip/tsconfig.app.json
  packages/tsconfig/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/commitlint-config/package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/stream/package.json
  packages/tooltip/package.json
  packages/tsconfig/package.json
  packages/websocket/package.json
Due: yarn prettier --write, yarn sort-package-json

build: fix tsconfig.json
  BREAKING_CHANGES.md
  packages/common/tsconfig.json
Due: yarn prettier --write

build: you global browser list
  package.json
  packages/flex-layout/integration/app/.browserslistrc
  packages/logger/integration/app/.browserslistrc
  packages/ng-excel-builder/integration/app/.browserslistrc
  packages/stream/integration/app/.browserslistrc
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add new number utils (#570)
  BREAKING_CHANGES.md
  packages/common/docs/number.md
  packages/common/integration/tests/number/number.spec.ts
  packages/common/integration/tests/pipes/to-number-pipe.spec.ts
  packages/common/number/src/gauss-round.ts
  packages/common/number/src/get-fraction-separator/expect-fraction-helper.ts
  packages/common/number/src/get-fraction-separator/fraction-separator.ts
  packages/common/number/src/get-fraction-separator/get-fraction-separator.ts
  packages/common/number/src/public_api.ts
  packages/common/number/src/to-number.ts
  packages/common/number/src/truncated.ts
  packages/common/pipes/src/to-number/to-number.pipe.ts
  packages/common/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix

build: you global browser list (#574)
  package.json
  packages/flex-layout/integration/app/.browserslistrc
  packages/logger/integration/app/.browserslistrc
  packages/ng-excel-builder/integration/app/.browserslistrc
  packages/stream/integration/app/.browserslistrc
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add new number utils (#570)
  BREAKING_CHANGES.md
  packages/common/docs/number.md
Due: yarn prettier --write

feat(@angular-ru/common): add string utils for slicing
  packages/common/directives/src/amount-format/amount-format-segments.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): refactor amountFormat
  packages/common/directives/src/amount-format/amount-format.directive.ts
Due: yarn prettier --write, yarn eslint --fix

docs(@angular-ru/common): update BREAKING_CHANGES.md
  packages/common/directives/src/amount-format/amount-format-directive.module.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): refactor amountFormat and add new tests
  packages/common/directives/src/amount-format/amount-format-segments.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): change deepClone signature
  BREAKING_CHANGES.md
  packages/common/integration/tests/object/object.spec.ts
  packages/common/object/src/deep-clone.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): change deepClone signature (#576)
  BREAKING_CHANGES.md
  packages/common/integration/tests/object/object.spec.ts
  packages/common/object/src/deep-clone.ts
Due: yarn prettier --write, yarn eslint --fix

fix: build after merge into master
  packages/common/directives/src/amount-format/amount-format-directive.module.ts
  packages/common/directives/src/amount-format/amount-format.directive.ts
Due: yarn prettier --write, yarn eslint --fix

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
