Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

test(@angular-ru/common): fix test
  packages/common/integration/tests/directives/amount-format.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add date interval suggestion module
  packages/common/README.md
  packages/common/date-suggestion/package.json
  packages/common/date-suggestion/src/date-suggestion.composer.ts
  packages/common/date-suggestion/src/date-suggestion.module.ts
  packages/common/date-suggestion/src/domain/enums/default-date-interval-suggestion.ts
  packages/common/date-suggestion/src/domain/interfaces/date-suggestion-strategy.ts
  packages/common/date-suggestion/src/domain/interfaces/suggestion-strategy-descriptor.ts
  packages/common/date-suggestion/src/domain/types/suggestion-strategy-map.ts
  packages/common/date-suggestion/src/properties/default-suggestion-strategy-map.ts
  packages/common/date-suggestion/src/public_api.ts
  packages/common/date-suggestion/src/srategies/date-suggestion-calendar-week.strategy.ts
  packages/common/date-suggestion/src/srategies/date-suggestion-first-day-of-interval.strategy.ts
  packages/common/date-suggestion/src/srategies/date-suggestion-last-days-of-interval.strategy.ts
  packages/common/date-suggestion/src/srategies/date-suggestion-last-few-days.strategy.ts
  packages/common/date-suggestion/src/srategies/date-suggestion-some-day-ago.strategy.ts
  packages/common/date-suggestion/src/tokens/days-count.ts
  packages/common/date-suggestion/src/tokens/suggestion-strategy-map.ts
  packages/common/docs/date-suggestion.md
  packages/common/integration/tests/date-suggestion/date-suggestion-custom.spec.ts
  packages/common/integration/tests/date-suggestion/date-suggestion.spec.ts
  packages/common/integration/tests/date-suggestion/helpers/days-around-start-date.strategy.ts
  packages/common/integration/tests/date-suggestion/helpers/extended-date-interval-suggestion.ts
  packages/common/integration/tests/date-suggestion/helpers/extended-strategy-map.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

fixup! feat(@angular-ru/common): add date interval suggestion module
  packages/common/README.md
  packages/common/date-suggestion/package.json
  packages/common/date-suggestion/src/public_api.ts
  packages/common/date/src/date-suggestion/date-suggestion.composer.ts
  packages/common/date/src/date-suggestion/date-suggestion.module.ts
  packages/common/date/src/date-suggestion/domain/enums/default-date-interval-suggestion.ts
  packages/common/date/src/date-suggestion/domain/interfaces/date-suggestion-strategy.ts
  packages/common/date/src/date-suggestion/domain/interfaces/suggestion-strategy-descriptor.ts
  packages/common/date/src/date-suggestion/domain/types/suggestion-strategy-map.ts
  packages/common/date/src/date-suggestion/properties/default-suggestion-strategy-map.ts
  packages/common/date/src/date-suggestion/srategies/date-suggestion-calendar-week.strategy.ts
  packages/common/date/src/date-suggestion/srategies/date-suggestion-first-day-of-interval.strategy.ts
  packages/common/date/src/date-suggestion/srategies/date-suggestion-last-days-of-interval.strategy.ts
  packages/common/date/src/date-suggestion/srategies/date-suggestion-last-few-days.strategy.ts
  packages/common/date/src/date-suggestion/srategies/date-suggestion-some-day-ago.strategy.ts
  packages/common/date/src/date-suggestion/tokens/days-count.ts
  packages/common/date/src/date-suggestion/tokens/suggestion-strategy-map.ts
  packages/common/date/src/public_api.ts
  packages/common/docs/date-suggestion.md
  packages/common/integration/tests/date/date-suggestion-custom.spec.ts
  packages/common/integration/tests/date/date-suggestion.spec.ts
  packages/common/integration/tests/date/helpers/days-around-start-date.strategy.ts
  packages/common/integration/tests/date/helpers/extended-date-interval-suggestion.ts
  packages/common/integration/tests/date/helpers/extended-strategy-map.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat: update dependency eslint-plugin-jsdoc to v32.3.4
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependencies
  packages/build-tools/package.json
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

fixup! feat(@angular-ru/common): add date interval suggestion module
  packages/common/date/src/date-suggestion/date-suggestion.composer.ts
  packages/common/date/src/date-suggestion/domain/types/strategy-key.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): add date interval suggestion module
  packages/common/date/src/date-suggestion/domain/types/suggestion-strategy-map.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add date interval suggestion module (#556)
  packages/common/date/src/date-suggestion/date-suggestion.composer.ts
  packages/common/date/src/date-suggestion/date-suggestion.module.ts
  packages/common/date/src/date-suggestion/domain/enums/default-date-interval-suggestion.ts
  packages/common/date/src/date-suggestion/domain/interfaces/date-suggestion-strategy.ts
  packages/common/date/src/date-suggestion/domain/interfaces/suggestion-strategy-descriptor.ts
  packages/common/date/src/date-suggestion/domain/types/strategy-key.ts
  packages/common/date/src/date-suggestion/domain/types/suggestion-strategy-map.ts
  packages/common/date/src/date-suggestion/properties/default-suggestion-strategy-map.ts
  packages/common/date/src/date-suggestion/srategies/date-suggestion-calendar-week.strategy.ts
  packages/common/date/src/date-suggestion/srategies/date-suggestion-first-day-of-interval.strategy.ts
  packages/common/date/src/date-suggestion/srategies/date-suggestion-last-days-of-interval.strategy.ts
  packages/common/date/src/date-suggestion/srategies/date-suggestion-last-few-days.strategy.ts
  packages/common/date/src/date-suggestion/srategies/date-suggestion-some-day-ago.strategy.ts
  packages/common/date/src/date-suggestion/tokens/days-count.ts
  packages/common/date/src/date-suggestion/tokens/suggestion-strategy-map.ts
  packages/common/date/src/public_api.ts
  packages/common/docs/date-suggestion.md
  packages/common/integration/tests/date/date-suggestion-custom.spec.ts
  packages/common/integration/tests/date/date-suggestion.spec.ts
  packages/common/integration/tests/date/helpers/days-around-start-date.strategy.ts
  packages/common/integration/tests/date/helpers/extended-date-interval-suggestion.ts
  packages/common/integration/tests/date/helpers/extended-strategy-map.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint to v4.22.1
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add transformToBoolean function
  packages/common/class-transformer/src/public_api.ts
  packages/common/class-transformer/src/transform-to-boolean.ts
  packages/common/docs/class-transformer.md
  packages/common/integration/tests/class-transformer/class-transformer.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/common): fix test on max interval validator
  packages/common/integration/tests/validators/date-interval-validator.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/common): fix test on max interval validator (#564)
  packages/common/integration/tests/validators/date-interval-validator.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add transformToBoolean function (#563)
  packages/common/class-transformer/src/public_api.ts
  packages/common/class-transformer/src/transform-to-boolean.ts
  packages/common/docs/class-transformer.md
  packages/common/integration/tests/class-transformer/class-transformer.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update dependency ts-jest to v26.5.6
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): refactor amountFormat and add new tests
  packages/common/directives/src/amount-format/amount-format-directive.module.ts
  packages/common/directives/src/amount-format/amount-format-segments.ts
  packages/common/directives/src/amount-format/amount-format.directive.ts
  packages/common/directives/src/amount-format/amount-format.properties.ts
  packages/common/directives/src/amount-format/amount-options.ts
  packages/common/directives/src/public_api.ts
  packages/common/docs/number.md
  packages/common/integration/tests/directives/amount-format.spec.ts
  packages/common/integration/tests/number/number.spec.ts
  packages/common/integration/tests/object/object.spec.ts
  packages/common/integration/tests/pipes/to-number-pipe.spec.ts
  packages/common/number/src/gauss-round.ts
  packages/common/number/src/get-fraction-separator/expect-fraction-helper.ts
  packages/common/number/src/get-fraction-separator/fraction-separator.ts
  packages/common/number/src/get-fraction-separator/get-fraction-separator.ts
  packages/common/number/src/public_api.ts
  packages/common/number/src/to-number.ts
  packages/common/number/src/truncated.ts
  packages/common/object/src/deep-clone.ts
  packages/common/pipes/src/to-number/to-number.pipe.ts
  packages/common/string/src/remove-non-numeric-symbols.ts
  packages/common/tsconfig.json
  packages/common/tsconfig.lib.json
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix

ci: don't use `git add .` before commit files
  .husky/pre-commit
  package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: don't use `git add .` before commit files (#568)
  .husky/pre-commit
  package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add new string utils
  packages/common/docs/string.md
  packages/common/integration/tests/string/string.spec.ts
  packages/common/string/src/get-count-spaces-on-string.ts
  packages/common/string/src/get-first-symbol.ts
  packages/common/string/src/get-last-symbol.ts
  packages/common/string/src/public_api.ts
  packages/common/string/src/remove-last-symbol.ts
  packages/common/string/src/remove-non-numeric-symbols.ts
  packages/common/string/src/replace-every-comma-on-dot.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/common): revert removed line of code
  packages/common/string/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add new string utils (#569)
  packages/common/docs/string.md
  packages/common/integration/tests/string/string.spec.ts
  packages/common/string/src/get-count-spaces-on-string.ts
  packages/common/string/src/get-first-symbol.ts
  packages/common/string/src/get-last-symbol.ts
  packages/common/string/src/public_api.ts
  packages/common/string/src/remove-last-symbol.ts
  packages/common/string/src/remove-non-numeric-symbols.ts
  packages/common/string/src/replace-every-comma-on-dot.ts
Due: yarn prettier --write, yarn eslint --fix

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
