Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

feat(@angular-ru/renovate): update renovate (#734)
  ROADMAP.md
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn sort-package-json

docs: add LICENSE
  LICENSE
Due: none

docs: add LICENSE (#735)
  LICENSE
Due: none

build: update dependency @types/jest to v26.0.24
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency prettier to v2.3.2
  packages/prettier-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/jest-utils/package.json
  packages/prettier-config/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency husky to v7
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency typescript to v4.3.5
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/jasmine to v3.8.1
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ng-packagr to v12.1.1
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v15.14.1
  package.json
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update eslint
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/eslint-config): fix failed tests
  packages/eslint-config/integration/tests/test.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-table-builder): add public method filterBySubstring
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-table-builder): add public method filterBySubstring (#748)
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/renovate-config): set masterIssueApproval as false
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/renovate-config): set masterIssueApproval as false (#749)
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency karma-jasmine-html-reporter to v1.7.0
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v15.14.2
  package.json
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ts-node to v10.1.0
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/ng-table-builder): additional substring processing in filterBySubstring
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-excel-builder): added generalColumnParameters
  packages/ng-excel-builder/integration/tests/excel.service.spec.ts
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-8-auto-width.xls
  packages/ng-excel-builder/src/domain/excel-worksheet.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/ng-table-builder): additional substring processing in… (#755)
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-excel-builder): added generalColumnParameters (#756)
  packages/ng-excel-builder/integration/tests/excel.service.spec.ts
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-8-auto-width.xls
  packages/ng-excel-builder/src/domain/excel-worksheet.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-excel-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update eslint to v12.3.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json
