Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(cdk): release version 13.1.2 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: updated RELEASE_NOTES.md [ci skip]
  RELEASE_NOTES.md
Due: yarn prettier --write

build: update dependency @types/node to v17.0.35
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency prettier-plugin-packagejson to v2.2.18
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update jest dependencies
  libs/jest/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update all dependencies (minor/patch)
  libs/dev-dependencies/package.json
  libs/prettier/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update commitlint dependencies to v16.3.0
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update eslint dependencies
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update commitlint dependencies to v17
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency husky to v8
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore: fix formatting
  libs/cdk/package.json
  libs/commitlint/package.json
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/package.json
  libs/jest/package.json
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(ngxs): data-actions without subscription requirement
  apps/ngxs-demo/assets/user.json
  apps/ngxs-demo/src/app-routing.module.ts
  apps/ngxs-demo/src/app.component.html
  apps/ngxs-demo/src/user/user-model.ts
  apps/ngxs-demo/src/user/user.component.html
  apps/ngxs-demo/src/user/user.component.ts
  apps/ngxs-demo/src/user/user.module.ts
  apps/ngxs-demo/src/user/user.service.ts
  apps/ngxs-demo/src/user/user.state.ts
  docs/ngxs/data-action.md
  libs/eslint-config-enterprise/project.json
  libs/eslint-plugin-enterprise/project.json
  libs/ngxs/decorators/src/data-action/data-action.config.ts
  libs/ngxs/decorators/src/data-action/data-action.ts
  libs/ngxs/src/config/ngx-data.config.ts
  libs/ngxs/src/public_api.ts
  libs/ngxs/typings/src/common/actions-properties.ts
  package-lock.json
  package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

fix(ngxs): OS independent build commands
  libs/commitlint/project.json
  libs/dev-dependencies/project.json
  libs/eslint-config-enterprise/project.json
  libs/jest/project.json
  libs/prettier/project.json
  libs/renovate/project.json
  libs/typescript/project.json
  workspace.json
Due: yarn prettier --write

chore(eslint-config-enterprise): release version 13.0.8 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 13.0.4 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(commitlint): release version 13.0.4 [ci skip]
  libs/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(prettier): release version 13.0.4 [ci skip]
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(jest): release version 13.0.5 [ci skip]
  libs/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(cdk): release version 13.1.3 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: add renovate
  .github/workflows/renovate.yml
  package-lock.json
Due: yarn prettier --write

ci: add renovate
  .github/workflows/renovate.yml
Due: none

ci: add renovate
  .github/workflows/renovate.yml
  libs/renovate/renovate-config.js
Due: yarn prettier --write

chore(renovate): release version 13.0.1 [ci skip]
  libs/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: add renovate
  libs/renovate/renovate-config.js
Due: yarn prettier --write

ci: add renovate
  .github/workflows/renovate.yml
  libs/renovate/renovate.js
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: add renovate.json
  renovate.json
Due: yarn prettier --write

build: add renovate.json (#1295)
  renovate.json
Due: yarn prettier --write

ci: add renovate
  libs/renovate/renovate.js
  renovate.json
Due: yarn prettier --write

ci: add renovate
  libs/renovate/renovate.js
Due: yarn prettier --write

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
