Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

feat: update dependency jest to v26.4.1
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

!fixup
  packages/common/integration/tests/number/number.spec.ts
  packages/common/integration/tests/pipes/to-number-pipe.spec.ts
  packages/common/pipes/src/detect-browser/detect-browser-pipe.module.ts
  packages/common/pipes/src/is-array/is-array-pipe.module.ts
  packages/common/pipes/src/is-not-null/is-not-null-pipe.module.ts
  packages/common/pipes/src/is-string/is-string-pipe.module.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-excel-builder): add excel.service.ts
  package.json
  packages/ng-excel-builder/integration/app/src/app.component.ts
  packages/ng-excel-builder/ng-package.json
  packages/ng-excel-builder/package.json
  packages/ng-excel-builder/src/excel-builder.module.ts
  packages/ng-excel-builder/src/excel.service.ts
  packages/ng-excel-builder/src/public-api.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(@angular-ru/common): add formatDatePipe
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/format-date-pipe.spec.ts
  packages/common/pipes/src/format-date/format-date-pipe.module.ts
  packages/common/pipes/src/format-date/format-date.interfaces.ts
  packages/common/pipes/src/format-date/format-date.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/ng-excel-builder/CHANGELOG.md
  packages/ng-excel-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/ng-table-builder): fix invalid resolve translate module
  packages/ng-excel-builder/README.md
  packages/ng-excel-builder/integration/app/src/app.module.ts
  packages/ng-excel-builder/src/excel-builder.module.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup
  .travis.yml
  packages/ng-excel-builder/integration/app/src/app.module.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup
  .travis.yml
Due: none

feat(flex-layout): add flex-layout package
  packages/flex-layout/CHANGELOG.md
  packages/flex-layout/README.md
  packages/flex-layout/angular.json
  packages/flex-layout/ng-package.json
  packages/flex-layout/package.json
  packages/flex-layout/src/abstract-flex.container.ts
  packages/flex-layout/src/flex-column.directive.ts
  packages/flex-layout/src/flex-container.directive.ts
  packages/flex-layout/src/flex-end.directive.ts
  packages/flex-layout/src/flex-full-width.directive.ts
  packages/flex-layout/src/flex-inline.directive.ts
  packages/flex-layout/src/flex-item.directive.ts
  packages/flex-layout/src/flex-justify-normal.directive.ts
  packages/flex-layout/src/flex-layout.component.scss
  packages/flex-layout/src/flex-layout.component.ts
  packages/flex-layout/src/flex-layout.module.ts
  packages/flex-layout/src/flex-none.directive.ts
  packages/flex-layout/src/flex-space-between.directive.ts
  packages/flex-layout/src/flex-start.directive.ts
  packages/flex-layout/src/public-api.ts
  packages/flex-layout/tsconfig.json
  packages/flex-layout/tsconfig.lib.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(flex-layout): add flex-layout package
  packages/flex-layout/integration/app/.browserslistrc
  packages/flex-layout/integration/app/assets/favicon.ico
  packages/flex-layout/integration/app/environments/environment.prod.ts
  packages/flex-layout/integration/app/environments/environment.ts
  packages/flex-layout/integration/app/index.html
  packages/flex-layout/integration/app/main.ts
  packages/flex-layout/integration/app/polyfills.ts
  packages/flex-layout/integration/app/src/app.component.html
  packages/flex-layout/integration/app/src/app.component.ts
  packages/flex-layout/integration/app/src/app.module.ts
  packages/flex-layout/integration/app/styles.css
  packages/flex-layout/integration/app/tsconfig.app.json
  packages/flex-layout/integration/app/tsconfig.spec.json
  packages/flex-layout/src/public-api.ts
Due: yarn prettier --write, yarn eslint --fix

Create workflow.yml
  .github/workflows/workflow.yml
Due: none

Update workflow.yml
  .github/workflows/workflow.yml
Due: none

Create workflow.yml (#119)
  .github/workflows/workflow.yml
Due: none

ci: update angular-framework to v10.0.11
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: update angular-cli
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: move to Github Action
  .github/workflows/workflow.yml
  .travis.yml
Due: none

!fixup
  .github/workflows/workflow.yml
Due: none

feat(flex-layout): add flex-layout package
  README.md
  packages/flex-layout/README.md
  packages/flex-layout/integration/app/environments/environment.prod.ts
  packages/flex-layout/integration/app/environments/environment.ts
Due: yarn prettier --write, yarn eslint --fix

feat(flex-layout): add flex-layout package
  packages/flex-layout/integration/app/environments/environment.prod.ts
  packages/flex-layout/integration/app/environments/environment.ts
Due: yarn prettier --write, yarn eslint --fix

ci: move to Github Action (#121)
  .github/workflows/workflow.yml
  .travis.yml
Due: none

chore: fixup workflow.yml
  .github/workflows/workflow.yml
Due: none
