Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

fix(ngxs): use object for data state type agument (#1489)
  libs/ngxs/decorators/src/named/named.ts
  libs/ngxs/decorators/src/payload/payload.ts
  libs/ngxs/typings/src/common/data-state-class.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  libs/ngxs/CHANGELOG.md
  libs/ngxs/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v20.1.7
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore: update README.md
  README.md
Due: yarn prettier --write

build: update dependency eslint-plugin-rxjs-angular to v2.0.1
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update ngxs dependencies to v3.8.1
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update all dependencies (minor/patch)
  apps/flex-layout-demo/index.html
  apps/virtual-table-demo/index.html
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update all dependencies (minor/patch)
  .github/workflows/renovate.yml
  libs/dev-dependencies/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update commitlint dependencies to v17.6.7
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency prettier-plugin-packagejson to v2.4.5
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency prettier-plugin-packagejson to v2.4.5 (#1491)
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update ngxs dependencies to v3.8.1 (patch) (#1490)
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint-plugin-rxjs-angular to v2.0.1 (#1488)
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency highlight.js to v11.8.0 (#1483)
  apps/flex-layout-demo/index.html
  apps/virtual-table-demo/index.html
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update renovatebot/github-action action to v36.0.3 (#1476)
  .github/workflows/renovate.yml
  libs/dev-dependencies/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/dev-dependencies/CHANGELOG.md
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/CHANGELOG.md
  libs/eslint-config-enterprise/package.json
  libs/prettier/CHANGELOG.md
  libs/prettier/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update commitlint dependencies
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v20.4.9
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update commitlint dependencies (minor) (#1492)
  libs/commitlint/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v20.4.9 (#1493)
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/commitlint/CHANGELOG.md
  libs/commitlint/package.json
  libs/dev-dependencies/CHANGELOG.md
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v20.4.10
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v20.4.10 (#1494)
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/dev-dependencies/CHANGELOG.md
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency cosmiconfig to v8
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency cpy-cli to v5
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency cpy-cli to v5 (#1497)
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency cosmiconfig to v8 (#1496)
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/eslint-config-enterprise/CHANGELOG.md
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v20.5.0
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lerna to v7
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency lerna to v7 (#1499)
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v20.5.0 (#1498)
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ubuntu to v22
  .github/workflows/autorebase.yml
  .github/workflows/build.yml
  .github/workflows/integrations.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

build: update dependency ubuntu to v22 (#1502)
  .github/workflows/autorebase.yml
  .github/workflows/build.yml
  .github/workflows/integrations.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

feat: add `type-declarations` lib with `nil` type (1487)
  libs/cdk/utils/src/copy-html.ts
  libs/type-declarations/README.md
  libs/type-declarations/index.d.ts
  libs/type-declarations/package.json
  libs/type-declarations/project.json
  libs/typescript/tsconfig.json
  tsconfig.json
  workspace.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat: fixup! add `type-declarations` lib with `nil` type (1487)
  libs/cdk/tsconfig.spec.json
Due: yarn prettier --write

feat: fixup! add `type-declarations` lib with `nil` type (1487)
  libs/jest/tsconfig.spec.json
  libs/ngxs/tsconfig.spec.json
Due: yarn prettier --write

feat: add `type-declarations` lib with `nil` type (#1487) (#1505)
  libs/cdk/tsconfig.spec.json
  libs/cdk/utils/src/copy-html.ts
  libs/jest/tsconfig.spec.json
  libs/ngxs/tsconfig.spec.json
  libs/type-declarations/README.md
  libs/type-declarations/index.d.ts
  libs/type-declarations/package.json
  libs/type-declarations/project.json
  libs/typescript/tsconfig.json
  tsconfig.json
  workspace.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

fix: change lerna and nx versions for compatibility
  lerna.json
  libs/dev-dependencies/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json
