Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

chore(dev-dependencies): release version 13.1.3 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-config-enterprise): release version 13.1.3 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-plugin-enterprise): release version 13.1.3 [ci skip]
  libs/eslint-plugin-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(jest): release version 13.1.3 [ci skip]
  libs/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(ngxs): release version 13.1.3 [ci skip]
  libs/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(prettier): release version 13.1.3 [ci skip]
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(renovate): release version 13.1.3 [ci skip]
  libs/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(typescript): release version 13.1.3 [ci skip]
  libs/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(ngxs): persistence decorator in feature module
  libs/ngxs/decorators/src/persistence/persistence.ts
  libs/ngxs/internals/src/public_api.ts
  libs/ngxs/internals/src/storage/init-storage.ts
  libs/ngxs/storage/src/ngxs-data-storage-plugin.service.ts
  libs/ngxs/tests/storage-extensions/storage.spec.ts
  libs/ngxs/typings/src/storage/storage.ts
Due: yarn prettier --write, yarn eslint --fix

test(ngxs): persistence for feature module
  libs/ngxs/tests/storage-extensions/storage.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fix: persistence decorator in feature module fixed (#1349)
  libs/ngxs/decorators/src/persistence/persistence.ts
  libs/ngxs/internals/src/public_api.ts
  libs/ngxs/internals/src/storage/init-storage.ts
  libs/ngxs/storage/src/ngxs-data-storage-plugin.service.ts
  libs/ngxs/tests/storage-extensions/storage.spec.ts
  libs/ngxs/typings/src/storage/storage.ts
Due: yarn prettier --write, yarn eslint --fix

chore(cdk): release version 13.2.7 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(commitlint): release version 13.1.4 [ci skip]
  libs/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 13.1.4 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-config-enterprise): release version 13.1.4 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency rxjs to v7.5.7
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore: fix formatting
  libs/cdk/package.json
  libs/commitlint/package.json
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/package.json
  libs/eslint-plugin-enterprise/package.json
  libs/jest/package.json
  libs/ngxs/package.json
  libs/prettier/package.json
  libs/renovate/package.json
  libs/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-plugin-enterprise): release version 13.1.4 [ci skip]
  libs/eslint-plugin-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(jest): release version 13.1.4 [ci skip]
  libs/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(ngxs): release version 13.1.4 [ci skip]
  libs/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(prettier): release version 13.1.4 [ci skip]
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(renovate): release version 13.1.4 [ci skip]
  libs/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(typescript): release version 13.1.4 [ci skip]
  libs/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: fixup
  lerna.json
  libs/cdk/package.json
  libs/commitlint/package.json
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/modules/base-typescript.js
  libs/eslint-config-enterprise/package.json
  libs/eslint-plugin-enterprise/package.json
  libs/eslint-plugin-enterprise/project.json
  libs/jest/package.json
  libs/ngxs/decorators/src/persistence/persistence.ts
  libs/ngxs/internals/src/storage/init-storage.ts
  libs/ngxs/package.json
  libs/ngxs/tests/storage-extensions/storage.spec.ts
  libs/prettier/package.json
  libs/renovate/package.json
  libs/typescript/package.json
  nx.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore: fixup
  .github/workflows/release.yml
  libs/cdk/project.json
  libs/commitlint/project.json
  libs/eslint-config-enterprise/project.json
  libs/eslint-plugin-enterprise/project.json
  libs/jest/project.json
  libs/ngxs/project.json
  libs/prettier/project.json
  libs/renovate/project.json
  libs/typescript/project.json
Due: yarn prettier --write

feat: add lerna.json
  .github/workflows/release.yml
  RELEASE_NOTES.md
  lerna.json
  libs/dev-dependencies/package.json
  libs/dev-dependencies/project.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore: fixup
  .github/workflows/release.yml
  .husky/pre-commit
Due: none

chore(release): update CHANGELOG.md [ci skip]
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
  libs/commitlint/CHANGELOG.md
  libs/commitlint/package.json
  libs/dev-dependencies/CHANGELOG.md
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/CHANGELOG.md
  libs/eslint-config-enterprise/package.json
  libs/eslint-plugin-enterprise/CHANGELOG.md
  libs/eslint-plugin-enterprise/package.json
  libs/jest/CHANGELOG.md
  libs/jest/package.json
  libs/ngxs/CHANGELOG.md
  libs/ngxs/package.json
  libs/prettier/CHANGELOG.md
  libs/prettier/package.json
  libs/renovate/CHANGELOG.md
  libs/renovate/package.json
  libs/typescript/CHANGELOG.md
  libs/typescript/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore: fixup
  .github/workflows/release.yml
Due: none

chore: fixup
  libs/eslint-config-enterprise/tests/test.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  libs/eslint-config-enterprise/CHANGELOG.md
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

ci: fixup build
  libs/cdk/project.json
  libs/commitlint/project.json
  libs/dev-dependencies/project.json
  libs/eslint-config-enterprise/project.json
  libs/eslint-plugin-enterprise/project.json
  libs/jest/project.json
  libs/ngxs/project.json
  libs/prettier/project.json
  libs/renovate/project.json
  libs/typescript/project.json
Due: yarn prettier --write

fix: add column id info to context menu in table header
  apps/virtual-table-demo/src/samples/sample-eleven/sample-eleven.component.html
  apps/virtual-table-demo/src/samples/sample-eleven/sample-eleven.component.ts
  libs/cdk/virtual-table/src/components/table-thead/table-thead.component.ts
  libs/cdk/virtual-table/src/table-builder.component.html
  libs/cdk/virtual-table/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

build: update dependency lerna to v6
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore: fix formatting
  libs/cdk/project.json
  libs/commitlint/project.json
  libs/dev-dependencies/project.json
  libs/eslint-config-enterprise/project.json
  libs/eslint-plugin-enterprise/project.json
  libs/jest/project.json
  libs/ngxs/project.json
  libs/prettier/project.json
  libs/renovate/project.json
  libs/typescript/project.json
Due: yarn prettier --write

fix: add column id info to context menu in table header (#1358)
  apps/virtual-table-demo/src/samples/sample-eleven/sample-eleven.component.html
  apps/virtual-table-demo/src/samples/sample-eleven/sample-eleven.component.ts
  libs/cdk/virtual-table/src/components/table-thead/table-thead.component.ts
  libs/cdk/virtual-table/src/table-builder.component.html
  libs/cdk/virtual-table/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update nrwl dependencies to v15
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json
