Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

build: update dependency @nrwl/devkit to v15.3.0
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @nrwl/devkit to v15.2.3 (#1375)
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/dev-dependencies/CHANGELOG.md
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

feat: add datetime column excel export to table
  libs/cdk/excel/src/domain/column-parameters.ts
  libs/cdk/excel/src/excel-builder.service.ts
  libs/cdk/virtual-table/src/components/ngx-column/ngx-column.component.ts
  libs/cdk/virtual-table/src/interfaces/table-builder.external.ts
  libs/cdk/virtual-table/src/services/template-parser/template-parser.service.ts
Due: yarn prettier --write, yarn eslint --fix

fix: correct tests for excel export
  libs/cdk/tests/excel/file-suites/test-1-simple.xls
  libs/cdk/tests/excel/file-suites/test-2-by-keys.xls
  libs/cdk/tests/excel/file-suites/test-3-exclude-keys.xls
  libs/cdk/tests/excel/file-suites/test-4-options.xls
  libs/cdk/tests/excel/file-suites/test-5-translate.xls
  libs/cdk/tests/excel/file-suites/test-6-auto-width.xls
  libs/cdk/tests/excel/file-suites/test-7-auto-width-translate.xls
  libs/cdk/tests/excel/file-suites/test-8-auto-width.xls
Due: none

feat: add ExcelType to excel builder
  libs/cdk/excel/src/excel-builder.service.ts
Due: yarn prettier --write, yarn eslint --fix

feat: move excel type to separate file
  libs/cdk/excel/src/domain/column-parameters.ts
  libs/cdk/excel/src/domain/excel-type.ts
  libs/cdk/excel/src/excel-builder.service.ts
Due: yarn prettier --write, yarn eslint --fix

feat: add datetime column excel export to table (#1379)
  libs/cdk/excel/src/domain/column-parameters.ts
  libs/cdk/excel/src/domain/excel-type.ts
  libs/cdk/excel/src/excel-builder.service.ts
  libs/cdk/tests/excel/file-suites/test-1-simple.xls
  libs/cdk/tests/excel/file-suites/test-2-by-keys.xls
  libs/cdk/tests/excel/file-suites/test-3-exclude-keys.xls
  libs/cdk/tests/excel/file-suites/test-4-options.xls
  libs/cdk/tests/excel/file-suites/test-5-translate.xls
  libs/cdk/tests/excel/file-suites/test-6-auto-width.xls
  libs/cdk/tests/excel/file-suites/test-7-auto-width-translate.xls
  libs/cdk/tests/excel/file-suites/test-8-auto-width.xls
  libs/cdk/virtual-table/src/components/ngx-column/ngx-column.component.ts
  libs/cdk/virtual-table/src/interfaces/table-builder.external.ts
  libs/cdk/virtual-table/src/services/template-parser/template-parser.service.ts
Due: yarn prettier --write, yarn eslint --fix

feat: add excel type to column schema
  libs/cdk/excel/src/public_api.ts
  libs/cdk/virtual-table/src/components/ngx-column/ngx-column.component.ts
  libs/cdk/virtual-table/src/interfaces/table-builder.external.ts
Due: yarn prettier --write, yarn eslint --fix

feat: add excel type to column schema (#1380)
  libs/cdk/excel/src/public_api.ts
  libs/cdk/virtual-table/src/components/ngx-column/ngx-column.component.ts
  libs/cdk/virtual-table/src/interfaces/table-builder.external.ts
Due: yarn prettier --write, yarn eslint --fix

fix: remove usage of imported function in webworker
  libs/cdk/excel/src/excel-builder.service.ts
Due: yarn prettier --write, yarn eslint --fix

fix: remove usage of imported function in webworker (#1381)
  libs/cdk/excel/src/excel-builder.service.ts
Due: yarn prettier --write, yarn eslint --fix

ci: add npm whoami to release yml
  .github/workflows/release.yml
Due: none

ci: add npm whoami to release yml (#1382)
  .github/workflows/release.yml
Due: none

chore: force update
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: add support for array values in filter worker
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
Due: yarn prettier --write, yarn eslint --fix

feat: add filterable service to public api
  libs/cdk/virtual-table/src/public_api.ts
  libs/cdk/virtual-table/src/services/filterable/filterable.service.ts
Due: yarn prettier --write, yarn eslint --fix

feat: change type of plain types array in filter worker
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
Due: yarn prettier --write, yarn eslint --fix

feat: support for array values in filter and add it to public api (#1384)
  libs/cdk/virtual-table/src/public_api.ts
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
  libs/cdk/virtual-table/src/services/filterable/filterable.service.ts
Due: yarn prettier --write, yarn eslint --fix

fix: update eslint-plugin-mocha to version 10.1.0
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

fix: update eslint-plugin-mocha to version 10.1.0
  package-lock.json
Due: yarn prettier --write

fix: update eslint-plugin-mocha to version 10.1.0 (#1385)
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  libs/eslint-config-enterprise/CHANGELOG.md
  libs/eslint-config-enterprise/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

feat: virtual-table add array support to isFilled
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
Due: yarn prettier --write, yarn eslint --fix

feat: virtual-table add array support to isFilled (#1386)
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
Due: yarn prettier --write, yarn eslint --fix

feat: enable preserveConstEnums for buildable libs (#1387)
  libs/cdk/tsconfig.lib.json
  libs/ngxs/tsconfig.lib.json
Due: yarn prettier --write

feat: enable preserveConstEnums for buildable libs (#1387) (#1389)
  libs/cdk/tsconfig.lib.json
  libs/ngxs/tsconfig.lib.json
Due: yarn prettier --write

chore(release): update CHANGELOG.md [ci skip]
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
  libs/ngxs/CHANGELOG.md
  libs/ngxs/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @nrwl/devkit to v15.5.0
  libs/dev-dependencies/package.json
  package-lock.json
Due: yarn prettier --write, yarn sort-package-json

build: update angular dependencies to v15
  libs/dev-dependencies/package.json
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ngx-mask to v15
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ngx-toastr to v16
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency rimraf to v4
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency rimraf to v4 (#1390)
  package-lock.json
  package.json
Due: yarn prettier --write, yarn sort-package-json
