Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  packages/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @commitlint/config-angular to v13
  packages/commitlint/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

Revert "build: update dependency @commitlint/config-angular to v13 (#790)"
  packages/commitlint/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint-plugin-import to v2.24.0
  packages/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  packages/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ts-node to v10.2.0
  packages/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update eslint to v4.29.1
  packages/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint-plugin-jsdoc to v36.0.7
  packages/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/jest to v27
  packages/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/ng-table-builder): filter definition by input
  packages/ng-table-builder/integration/tests/components/table-builder.component.spec.ts
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/interfaces/table-builder.internal.ts
  packages/ng-table-builder/src/table-builder.component.html
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  packages/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update angular to v12.2.1
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency tslib to v2.3.1
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/ng-table-builder): filter definition by input (#822)
  packages/ng-table-builder/integration/tests/components/table-builder.component.spec.ts
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/interfaces/table-builder.internal.ts
  packages/ng-table-builder/src/table-builder.component.html
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: new selected items pipe (based on array)
  packages/ng-table-builder/integration/tests/samples/lifecycle/lifecycle.spec.ts
  packages/ng-table-builder/src/pipes/map-to-table-entries.pipe.ts
  packages/ng-table-builder/src/pipes/table-selected-items.pipe.ts
  packages/ng-table-builder/src/public_api.ts
  packages/ng-table-builder/src/services/selection/selection.ts
  packages/ng-table-builder/src/table-builder.component.ts
  packages/ng-table-builder/src/table-builder.module.ts
Due: yarn prettier --write, yarn eslint --fix

feat: support chore prefix
  packages/commitlint/index.js
Due: yarn prettier --write

feat: skip scope enum
  packages/commitlint/index.js
Due: yarn prettier --write

feat: support chore prefix (#826)
  packages/commitlint/index.js
Due: yarn prettier --write

feat: add standard-version
  packages/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: updated release notes and package versions [ci skip]
  CHANGELOG.md
  packages/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: add standard-version (#827)
  packages/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: new selected items pipe (based on array) (#825)
  packages/ng-table-builder/integration/tests/samples/lifecycle/lifecycle.spec.ts
  packages/ng-table-builder/src/pipes/map-to-table-entries.pipe.ts
  packages/ng-table-builder/src/pipes/table-selected-items.pipe.ts
  packages/ng-table-builder/src/public_api.ts
  packages/ng-table-builder/src/services/selection/selection.ts
  packages/ng-table-builder/src/table-builder.component.ts
  packages/ng-table-builder/src/table-builder.module.ts
Due: yarn prettier --write, yarn eslint --fix

build: update dependency @types/jest to v27.0.1
  packages/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint-plugin-sonarjs to v0.10.0
  packages/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update eslint to v4.29.2
  packages/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency ts-jest to v27.0.5
  packages/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency rxjs to v7
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: added REG_EXP_INTEGER
  packages/common/docs/regexp.md
  packages/common/integration/tests/regexp/regexp-constants.spec.ts
  packages/common/regexp/src/constants.ts
  packages/common/regexp/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: renamed on regexp_digits
  packages/common/docs/regexp.md
  packages/common/integration/tests/regexp/regexp-constants.spec.ts
  packages/common/regexp/src/constants.ts
  packages/common/regexp/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix
