Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

feat: update dependency @types/node to v14.14.24
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/common): fix null pointer when call trim method
  packages/common/directives/src/trim-input/trim-input.directive.ts
  packages/common/docs/directives.md
  packages/common/integration/tests/directives/trim-input.spec.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup fix(@angular-ru/common): fix null pointer when call trim method
  packages/common/integration/tests/directives/trim-input.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/common/package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/node to v14.14.25
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/common): support dynamic changes formControlName in trimInput
  packages/common/directives/src/trim-input/trim-input.directive.ts
  packages/common/integration/tests/directives/trim/dynamic-trim-input.spec.ts
  packages/common/integration/tests/directives/trim/ng-model.spec.ts
  packages/common/integration/tests/directives/trim/trim-input.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update dependency @types/karma to v6
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: update Angular
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/common): support dynamic changes formControlName in trimInput (#386)
  packages/common/directives/src/trim-input/trim-input.directive.ts
  packages/common/integration/tests/directives/trim/dynamic-trim-input.spec.ts
  packages/common/integration/tests/directives/trim/ng-model.spec.ts
  packages/common/integration/tests/directives/trim/trim-input.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency ng-packagr to v11.1.4
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: added option for http requests 'LimitConcurrency'
  package.json
  packages/http/integration/tests/services/limit-concurrency.service.spec.ts
  packages/http/src/services/data-http.client.ts
  packages/http/src/services/limit-concurency.service.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat: update dependency lint-staged to v10.5.4
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint
  packages/eslint-config/package.json
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/eslint-config): support new APIs
  packages/eslint-config/integration/tests/test.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/eslint-config): Enum Member name `worldName` must match one of the following formats: PascalCase, UPPER_CASE
  packages/eslint-config/index.js
  packages/eslint-config/integration/tests/test.spec.ts
  packages/eslint-config/integration/tests/typescript.bad.ts
Due: yarn prettier --write, yarn eslint --fix

ci: update devDependencies
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/eslint-config): support new APIs
  packages/eslint-config/index.js
  packages/eslint-config/integration/tests/test.spec.ts
  packages/eslint-config/integration/tests/typescript.bad.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/common): call the `setValue` method instead the `reset` method on form control
  packages/common/directives/src/trim-input/trim-input.directive.ts
  packages/common/directives/src/trim-input/trim-input.module.ts
  packages/common/integration/tests/directives/trim/trim-input.spec.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup fix(@angular-ru/common): call the `setValue` method instead the `reset` method on form control
  packages/common/integration/tests/directives/trim/dynamic-trim-input.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/common): call the `setValue` method instead the `rese… (#397)
  packages/common/directives/src/trim-input/trim-input.directive.ts
  packages/common/directives/src/trim-input/trim-input.module.ts
  packages/common/integration/tests/directives/trim/dynamic-trim-input.spec.ts
  packages/common/integration/tests/directives/trim/trim-input.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint to v4.15.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency husky to v5
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add ObjectSizePipe module
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/object-size-pipe.spec.ts
  packages/common/pipes/src/object-size/object-size-pipe.module.ts
  packages/common/pipes/src/object-size/object-size.pipe.ts
  packages/common/pipes/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json
