Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

build: mark target's dependencies in global config
  libs/cdk/jest.config.js
  libs/cdk/tests/date/shift-date.spec.ts
Due: yarn prettier --write, yarn eslint --fix

build: mark target's dependencies in global config
  .github/workflows/test.yml
  libs/cdk/jest.config.js
  libs/cdk/project.json
  libs/eslint-config-enterprise/jest.config.js
  libs/eslint-config-enterprise/project.json
  libs/eslint-plugin-enterprise/project.json
  libs/jest/project.json
  libs/jest/src/interfaces/jest-config-options.ts
  libs/jest/src/utils/create-ts-jest-config.ts
  nx.json
Due: yarn prettier --write, yarn eslint --fix

build: mark target's dependencies in global config (#1213)
  .github/workflows/test.yml
  libs/cdk/jest.config.js
  libs/cdk/project.json
  libs/cdk/tests/date/shift-date.spec.ts
  libs/eslint-config-enterprise/jest.config.js
  libs/eslint-config-enterprise/project.json
  libs/eslint-plugin-enterprise/project.json
  libs/jest/project.json
  libs/jest/src/interfaces/jest-config-options.ts
  libs/jest/src/utils/create-ts-jest-config.ts
Due: yarn prettier --write, yarn eslint --fix

feat: added pick
  libs/cdk/array/src/pick.ts
  libs/cdk/array/src/public_api.ts
  libs/cdk/docs/array.md
  libs/cdk/tests/array/pick.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: added pick (#1214)
  libs/cdk/array/src/pick.ts
  libs/cdk/array/src/public_api.ts
  libs/cdk/docs/array.md
  libs/cdk/tests/array/pick.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fix: changed table scroll
  libs/cdk/virtual-table/src/styles/common.scss
Due: yarn prettier --write

fix: changed table scroll (#1215)
  libs/cdk/virtual-table/src/styles/common.scss
Due: yarn prettier --write

refactor: changes on table-builder module
  libs/cdk/virtual-table/src/table-builder.module.ts
Due: yarn prettier --write, yarn eslint --fix

ci: added eslint rule
  libs/eslint-config-enterprise/index.js
Due: yarn prettier --write

fix: provide npm token via echo
  .github/workflows/release.yml
Due: none

fix: provide npm token via echo (#1217)
  .github/workflows/release.yml
Due: none

ci: removed eslint rule
  libs/eslint-config-enterprise/index.js
Due: yarn prettier --write

refactor: changes on table-builder module (#1216)
  libs/cdk/virtual-table/src/table-builder.module.ts
Due: yarn prettier --write, yarn eslint --fix

fix: provide npm registry directly to .npmrc
  .github/workflows/release.yml
Due: none

fix: provide npm registry directly to .npmrc (#1218)
  .github/workflows/release.yml
Due: none

chore: update README.md
  libs/eslint-config-enterprise/README.md
Due: yarn prettier --write

fix: run nx outside yarn environment
  .github/workflows/release.yml
Due: none

fix: run nx outside yarn environment (#1219)
  .github/workflows/release.yml
Due: none

fix: run nx via npx, set npm config via CLI
  .github/workflows/release.yml
Due: none

chore(cdk): release version 12.59.0 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(dev-dependencies): release version 12.59.0 [ci skip]
  libs/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(commitlint): release version 12.59.0 [ci skip]
  libs/commitlint/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(typescript): release version 12.59.0 [ci skip]
  libs/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(prettier): release version 12.59.0 [ci skip]
  libs/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(renovate): release version 12.59.0 [ci skip]
  libs/renovate/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-plugin-enterprise): release version 12.59.0 [ci skip]
  libs/eslint-plugin-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(jest): release version 12.59.0 [ci skip]
  libs/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(ngxs): release version 12.59.0 [ci skip]
  libs/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(eslint-config-enterprise): release version 12.59.0 [ci skip]
  libs/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

refactor: reorder module properties (viability check)
  libs/cdk/directives/src/amount-format/amount-format.module.ts
Due: yarn prettier --write, yarn eslint --fix

chore(cdk): release version 12.59.1 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: updated CHANGELOG.md [ci skip]
  CHANGELOG.md
Due: yarn prettier --write

fix(cdk): support numbers and booleans in table filter
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
Due: yarn prettier --write, yarn eslint --fix

fix(cdk): support numbers and booleans in table filter
  libs/cdk/tests/virtual-table/components/table-builder.component.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fix(cdk): support numbers and booleans in table filter (#1220)
  libs/cdk/tests/virtual-table/components/table-builder.component.spec.ts
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
Due: yarn prettier --write, yarn eslint --fix

chore(cdk): release version 12.59.2 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(cdk): correct `trim` function signature
  libs/cdk/string/src/trim.ts
Due: yarn prettier --write, yarn eslint --fix

feat(cdk): correct `trim` function signature (#1221)
  libs/cdk/string/src/trim.ts
Due: yarn prettier --write, yarn eslint --fix

chore(cdk): release version 12.60.0 [ci skip]
  libs/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json
