Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore: fixup workflow.yml
  .github/workflows/workflow.yml
Due: none

ci: update README.md [ci skip]
  README.md
Due: yarn prettier --write

Feat/GitHub (#122)
  .github/workflows/workflow.yml
  README.md
Due: yarn prettier --write

ci: add set noSilent as true
  packages/logger/angular.json
  packages/ng-excel-builder/angular.json
  packages/ng-table-builder/angular.json
Due: yarn prettier --write

fix: add username, email
  packages/logger/angular.json
  packages/ng-excel-builder/angular.json
  packages/ng-table-builder/angular.json
Due: yarn prettier --write

ci: fix add username, email
  .github/workflows/workflow.yml
Due: none

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/ng-excel-builder/CHANGELOG.md
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update create .npmrc
  .github/workflows/workflow.yml
Due: none

chore(release): updated release notes and package versions [ci skip]
  .npmrc
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/ng-excel-builder/CHANGELOG.md
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

delete [ci skip]
  .npmrc
Due: none

ci: update .npmrc
  .github/workflows/workflow.yml
  .npmrc
Due: none

ci: update .npmrc
  .npmrc
  lerna.json
  packages/common/README.md
Due: yarn prettier --write

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update .npmrc
  packages/common/README.md
Due: yarn prettier --write

chore: fixup
  packages/common/README.md
Due: yarn prettier --write

!fixup
  packages/common/README.md
Due: yarn prettier --write

!fixup
  packages/common/README.md
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

!fixup
  .github/workflows/workflow.yml
  .npmrc
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

!fixup
  .github/workflows/workflow.yml
Due: none

!fixup
  .gitignore
  .npmrc
Due: none

feat(flex-layout): add flex-layout package (#117)
  README.md
  packages/flex-layout/CHANGELOG.md
  packages/flex-layout/README.md
  packages/flex-layout/angular.json
  packages/flex-layout/integration/app/.browserslistrc
  packages/flex-layout/integration/app/assets/favicon.ico
  packages/flex-layout/integration/app/environments/environment.prod.ts
  packages/flex-layout/integration/app/environments/environment.ts
  packages/flex-layout/integration/app/index.html
  packages/flex-layout/integration/app/main.ts
  packages/flex-layout/integration/app/polyfills.ts
  packages/flex-layout/integration/app/src/app.component.html
  packages/flex-layout/integration/app/src/app.component.ts
  packages/flex-layout/integration/app/src/app.module.ts
  packages/flex-layout/integration/app/styles.css
  packages/flex-layout/integration/app/tsconfig.app.json
  packages/flex-layout/integration/app/tsconfig.spec.json
  packages/flex-layout/ng-package.json
  packages/flex-layout/package.json
  packages/flex-layout/src/abstract-flex.container.ts
  packages/flex-layout/src/flex-column.directive.ts
  packages/flex-layout/src/flex-container.directive.ts
  packages/flex-layout/src/flex-end.directive.ts
  packages/flex-layout/src/flex-full-width.directive.ts
  packages/flex-layout/src/flex-inline.directive.ts
  packages/flex-layout/src/flex-item.directive.ts
  packages/flex-layout/src/flex-justify-normal.directive.ts
  packages/flex-layout/src/flex-layout.component.scss
  packages/flex-layout/src/flex-layout.component.ts
  packages/flex-layout/src/flex-layout.module.ts
  packages/flex-layout/src/flex-none.directive.ts
  packages/flex-layout/src/flex-space-between.directive.ts
  packages/flex-layout/src/flex-start.directive.ts
  packages/flex-layout/src/public-api.ts
  packages/flex-layout/tsconfig.json
  packages/flex-layout/tsconfig.lib.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat: update dependency @types/eslint to v7.2.1
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

!fixup
  packages/flex-layout/angular.json
Due: yarn prettier --write

docs: fixup
  packages/flex-layout/README.md
Due: yarn prettier --write

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/flex-layout/CHANGELOG.md
  packages/flex-layout/package.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/ng-excel-builder/CHANGELOG.md
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
