Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

!fixup
  packages/http/src/services/abstract-http.client.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/http/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency @types/node to v14.14.0
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/node to v14.14.0
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/node to v14.14.0
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/http): add RestClient, Get decorators
  packages/http/integration/tests/users/get-decorators.spec.ts
  packages/http/integration/tests/users/rest-client-decorators.spec.ts
  packages/http/src/decorators/get.decorator.ts
  packages/http/src/decorators/rest-client.decorator.ts
  packages/http/src/public_api.ts
  packages/http/src/services/abstract-http.client.ts
  packages/http/src/services/data-http.client.ts
  packages/http/src/utils/rest-template.ts
  packages/http/src/utils/validate-method.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup
  yarn.lock
Due: none

feat(@angular-ru/common): add runtime secondary package
  packages/common/README.md
  packages/common/docs/runtime.md
  packages/common/runtime/package.json
  packages/common/runtime/src/decorators/method-args-registry.ts
  packages/common/runtime/src/exceptions/invalid-args-names.exception.ts
  packages/common/runtime/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

ci: update dependency @types/node to v14.14.1
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/node to v14.14.1
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: update angular-framework to v10.2.0
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/node to v14.14.1
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency @types/node to v14.14.2
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/node to v14.14.2
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/node to v14.14.2
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency sort-package-json to v1.46.1
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: update angular-cli
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency jest-preset-angular to v8.3.2
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/common): refactor runtime methodArgsRegistry
  packages/common/runtime/src/decorators/method-args-registry.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency jest to v26.6.1
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/common): expose MethodArgsRegistryMeta
  packages/common/runtime/src/decorators/method-args-registry.ts
  packages/common/runtime/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/http): add decorators secondary package
  packages/http/README.md
  packages/http/decorators/package.json
  packages/http/decorators/src/delete.decorator.ts
  packages/http/decorators/src/get.decorator.ts
  packages/http/decorators/src/internal/ensure-descriptor-by-type.ts
  packages/http/decorators/src/internal/ensure-method-args-registry.ts
  packages/http/decorators/src/internal/get-method-args-registry.ts
  packages/http/decorators/src/internal/meta-keys.config.ts
  packages/http/decorators/src/internal/mutate-path-by-path-variables.ts
  packages/http/decorators/src/internal/validate-method.ts
  packages/http/decorators/src/patch.decorator.ts
  packages/http/decorators/src/path-variable.decorator.ts
  packages/http/decorators/src/post.decorator.ts
  packages/http/decorators/src/public_api.ts
  packages/http/decorators/src/put.decorator.ts
  packages/http/decorators/src/request-body.decorator.ts
  packages/http/decorators/src/rest-client.decorator.ts
  packages/http/integration/tests/decorators/all-decorators.spec.ts
  packages/http/integration/tests/decorators/rest-client-decorator.spec.ts
  packages/http/integration/tests/http.utils.spec.ts
  packages/http/integration/tests/users/get-decorators.spec.ts
  packages/http/ng-package.json
  packages/http/src/decorators/get.decorator.ts
  packages/http/src/public_api.ts
  packages/http/src/services/abstract-http.client.ts
  packages/http/src/utils/rest-template.ts
  packages/http/typings/src/enums/request-type.enum.ts
  packages/http/typings/src/interfaces/internal/ensure-decorator-options.ts
  packages/http/typings/src/public_api.ts
  packages/http/utils/src/ensure-path-by-path-variables.ts
  packages/http/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

!fixup
  packages/common/runtime/src/decorators/method-args-registry.ts
  packages/http/decorators/src/internal/ensure-descriptor-by-type.ts
  packages/http/integration/tests/decorators/rest-client-decorator.spec.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/http): add RestClient, Get decorators (#223)
  packages/common/README.md
  packages/common/docs/runtime.md
  packages/common/runtime/package.json
  packages/common/runtime/src/decorators/method-args-registry.ts
  packages/common/runtime/src/exceptions/invalid-args-names.exception.ts
  packages/common/runtime/src/public_api.ts
  packages/http/README.md
  packages/http/decorators/package.json
  packages/http/decorators/src/delete.decorator.ts
  packages/http/decorators/src/get.decorator.ts
  packages/http/decorators/src/internal/ensure-descriptor-by-type.ts
  packages/http/decorators/src/internal/ensure-method-args-registry.ts
  packages/http/decorators/src/internal/get-method-args-registry.ts
  packages/http/decorators/src/internal/meta-keys.config.ts
  packages/http/decorators/src/internal/mutate-path-by-path-variables.ts
  packages/http/decorators/src/internal/validate-method.ts
  packages/http/decorators/src/patch.decorator.ts
  packages/http/decorators/src/path-variable.decorator.ts
  packages/http/decorators/src/post.decorator.ts
  packages/http/decorators/src/public_api.ts
  packages/http/decorators/src/put.decorator.ts
  packages/http/decorators/src/request-body.decorator.ts
  packages/http/decorators/src/rest-client.decorator.ts
  packages/http/integration/tests/decorators/all-decorators.spec.ts
  packages/http/integration/tests/decorators/rest-client-decorator.spec.ts
  packages/http/integration/tests/http.utils.spec.ts
  packages/http/ng-package.json
  packages/http/src/public_api.ts
  packages/http/src/services/abstract-http.client.ts
  packages/http/src/services/data-http.client.ts
  packages/http/src/utils/rest-template.ts
  packages/http/typings/src/enums/request-type.enum.ts
  packages/http/typings/src/interfaces/internal/ensure-decorator-options.ts
  packages/http/typings/src/public_api.ts
  packages/http/utils/src/ensure-path-by-path-variables.ts
  packages/http/utils/src/public_api.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/http/package.json
Due: yarn prettier --write, yarn sort-package-json
