Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

feat: added documentation for ordered-interval-validator
  packages/common/docs/validators.md
Due: yarn prettier --write

feat: update dependency @types/node to v14.14.35
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: add auto assign [ci skip]
  .github/auto_assign.yml
Due: none

ci: auto create symlink in post install [ci skip]
  package.json
  packages/common/symlink.sh
Due: yarn prettier --write, yarn sort-package-json

refactor: changes after review
  packages/common/integration/tests/validators/date-interval-validator.spec.ts
  packages/common/validators/src/date-interval.validator.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: changed after review
  packages/common/integration/tests/validators/date-interval-validator.spec.ts
  packages/common/integration/tests/validators/ordered-interval-validator.spec.ts
  packages/common/validators/src/date-interval.validator.ts
Due: yarn prettier --write, yarn eslint --fix

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

fixup! feat(@angular-ru/ng-table-builder): add type for SortTypes input
  packages/common/typings/src/public_api.ts
  packages/common/typings/src/string-values-of-enum.ts
  packages/ng-table-builder/integration/tests/components/table-builder.component.spec.ts
  packages/ng-table-builder/src/public_api.ts
  packages/ng-table-builder/src/table-builder.api.ts
  packages/ng-table-builder/src/table-builder.component.ts
  packages/ng-table-builder/src/types/table-sort-types.type.ts
Due: yarn prettier --write, yarn eslint --fix

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint to v2.0.2
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add createIdsMapOf
  packages/common/docs/entity.md
  packages/common/entity/src/public_api.ts
  packages/common/entity/src/typings/ids-map-of.ts
  packages/common/entity/src/utils/create-ids-map-of.ts
  packages/common/integration/tests/entity/entity.spec.ts
Due: yarn prettier --write, yarn eslint --fix

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: added util returning property name
  packages/common/integration/tests/object/property-of.spec.ts
  packages/common/integration/tests/validators/ordered-interval-validator.spec.ts
  packages/common/object/src/property-of.ts
  packages/common/object/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat: added documentation for 'propertyOf'
  packages/common/docs/object.md
Due: yarn prettier --write

feat(@angular-ru/ng-table-builder): use forRoot method as required, remove TranslateModule from dependencies
  .styles/integration-app.style.scss
  BREAKING_CHANGES.md
  package.json
  packages/ng-excel-builder/README.md
  packages/ng-excel-builder/angular.json
  packages/ng-excel-builder/integration/app/assets/i18n/ru.json
  packages/ng-excel-builder/integration/app/assets/img/angular.svg
  packages/ng-excel-builder/integration/app/src/app.component.css
  packages/ng-excel-builder/integration/app/src/app.component.html
  packages/ng-excel-builder/integration/app/src/app.component.ts
  packages/ng-excel-builder/integration/app/src/app.module.ts
  packages/ng-excel-builder/integration/app/styles.css
  packages/ng-excel-builder/src/excel-builder-default-text-column-interceptor.service.ts
  packages/ng-excel-builder/src/excel-builder.interfaces.ts
  packages/ng-excel-builder/src/excel-builder.module.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-excel-builder/src/excel-interceptor-text.token.ts
  packages/ng-excel-builder/src/excel.service.ts
  packages/ng-excel-builder/src/ngx-translate/excel-builder-ngx-translate-fallback.provider.ts
  packages/ng-excel-builder/src/ngx-translate/excel-ngx-translate.interceptor.ts
  packages/ng-excel-builder/src/public_api.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-excel-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

refactor: build url correctly
  packages/http/decorators/src/base-url.decorator.ts
  packages/http/decorators/src/host-url.decorator.ts
  packages/http/decorators/src/rest-client.decorator.ts
  packages/http/integration/tests/http.utils.spec.ts
  packages/http/src/configs/data-request-options.config.ts
  packages/http/src/services/data-http.client.ts
  packages/http/typings/src/interfaces/data-client-request-options.ts
  packages/http/typings/src/interfaces/data-url-path-segment.ts
  packages/http/typings/src/interfaces/meta-data-request.ts
  packages/http/utils/src/build-url.ts
  packages/http/utils/src/get-url-segments.ts
  packages/http/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

ci: correct CODEOWNERS [ci skip]
  .github/CODEOWNERS
Due: none

feat: update dependencies
  packages/build-tools/package.json
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: added validator 'isAnyRequiredValidator' and util 'isAny'
  packages/common/docs/utils.md
  packages/common/docs/validators.md
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/integration/tests/validators/is-any-required-validator.spec.ts
  packages/common/utils/src/is-any.ts
  packages/common/utils/src/public_api.ts
  packages/common/validators/src/any-is-required.validator.ts
  packages/common/validators/src/utils/assert-form-group.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: changed name of validator on 'complexRequiredValidator'
  packages/common/docs/utils.md
  packages/common/docs/validators.md
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/integration/tests/validators/complex-required-validator.spec.ts
  packages/common/utils/src/is-any.ts
  packages/common/utils/src/public_api.ts
  packages/common/validators/src/complex-required.validator.ts
  packages/common/validators/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/jest to v26.0.21
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

refactor: changes after review
  packages/common/docs/validators.md
  packages/common/integration/tests/validators/complex-required-validator.spec.ts
  packages/common/validators/src/public_api.ts
  packages/common/validators/src/required-some.validator.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/http): add onInterceptRequest middleware into http
  packages/http/integration/tests/users/http-events-client.spec.ts
  packages/http/src/services/data-http.client.ts
  packages/http/typings/src/interfaces/data-http-interceptor.ts
Due: yarn prettier --write, yarn eslint --fix

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

fix: remove comment [ci skip]
  packages/common/typings/src/fn.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add typed array utility functions
  packages/common/array/src/first-entry.ts
  packages/common/array/src/first-item.ts
  packages/common/array/src/has-at-most-one-value.ts
  packages/common/array/src/has-many-values.ts
  packages/common/array/src/has-no-values.ts
  packages/common/array/src/has-one-value.ts
  packages/common/array/src/has-values.ts
  packages/common/array/src/is-empty-list.ts
  packages/common/array/src/is-filled-list.ts
  packages/common/array/src/is-multiple-list.ts
  packages/common/array/src/is-single-list.ts
  packages/common/array/src/public_api.ts
  packages/common/array/src/second-entry.ts
  packages/common/array/src/second-item.ts
  packages/common/array/src/third-entry.ts
  packages/common/array/src/third-item.ts
  packages/common/utils/src/insure.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/stream): correct decode jwt token
  packages/stream/integration/tests/browser/jwt.spec.ts
  packages/stream/jwt/src/decode-jwt.ts
Due: yarn prettier --write, yarn eslint --fix

docs: updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
  packages/stream/package.json
Due: yarn prettier --write, yarn sort-package-json

refactor(@angular-ru/http): code review changes
  packages/http/decorators/src/host-url.decorator.ts
  packages/http/decorators/src/rest-client.decorator.ts
  packages/http/integration/tests/decorators/all-decorators.spec.ts
  packages/http/integration/tests/decorators/controller-root.spec.ts
  packages/http/integration/tests/http.utils.spec.ts
  packages/http/src/configs/data-request-options.config.ts
  packages/http/src/services/data-http.client.ts
  packages/http/typings/src/interfaces/data-client-request-options.ts
  packages/http/utils/src/build-url.ts
  packages/http/utils/src/get-url-segments.ts
  packages/http/utils/src/make-url-segments.ts
  packages/http/utils/src/public_api.ts
  packages/http/utils/src/remove-leading-and-trailing-slashes.ts
Due: yarn prettier --write, yarn eslint --fix

refactor(@angular-ru/http): fix tests, update docs & refactor
  packages/http/docs/utils.md
  packages/http/integration/tests/http.utils.spec.ts
  packages/http/src/configs/data-request-options.config.ts
  packages/http/src/services/data-http.client.ts
  packages/http/typings/src/interfaces/data-client-request-options.ts
  packages/http/utils/src/make-url-segments.ts
  packages/http/utils/src/public_api.ts
  packages/http/utils/src/replace-leading-and-trailing-slashes.ts
Due: yarn prettier --write, yarn eslint --fix

refactor(@angular-ru/http): remove unnecessary template string
  packages/http/decorators/src/base-url.decorator.ts
Due: yarn prettier --write, yarn eslint --fix

refactor: changes after review
  packages/common/docs/validators.md
  packages/common/integration/tests/validators/complex-required-validator.spec.ts
  packages/common/integration/tests/validators/required-some-value-by-keys-validator.spec.ts
  packages/common/validators/src/public_api.ts
  packages/common/validators/src/required-some-value-by-keys.validator.ts
  packages/common/validators/src/required-some.validator.ts
Due: yarn prettier --write, yarn eslint --fix

refactor(@angular-ru/http): refactor after review
  packages/http/decorators/src/base-url.decorator.ts
  packages/http/decorators/src/host-url.decorator.ts
  packages/http/decorators/src/internal/validate-http-parent-decorator.ts
  packages/http/utils/src/make-url-segments.ts
  packages/http/utils/src/replace-leading-and-trailing-slashes.ts
Due: yarn prettier --write, yarn eslint --fix

refactor(@angular-ru/http): fix typo
  packages/http/utils/src/make-url-segments.ts
Due: yarn prettier --write, yarn eslint --fix

fix: added empty string as 'no value'
  packages/common/integration/tests/validators/required-some-value-by-keys-validator.spec.ts
  packages/common/validators/src/required-some-value-by-keys.validator.ts
Due: yarn prettier --write, yarn eslint --fix

refactor(@angular-ru/http): changes after review
  packages/http/utils/src/make-url-segments.ts
  packages/http/utils/src/replace-leading-and-trailing-slashes.ts
Due: yarn prettier --write, yarn eslint --fix
