Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: support rxjs 7
  dev-infra/eslint-config-enterprise/jest.config.js
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/jest.config.js
  dev-infra/jest/package.json
  dev-infra/typescript/tsconfig.json
  package.json
  packages/cdk/integration/tests/jest/jest.config.js
  packages/cdk/integration/tests/jest/virtual-table/samples/lifecycle/lifecycle.spec.ts
  packages/ngxs/integration/tests/jest.config.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat: support rxjs 7 (#947)
  dev-infra/eslint-config-enterprise/jest.config.js
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/jest.config.js
  dev-infra/jest/package.json
  dev-infra/typescript/tsconfig.json
  package.json
  packages/cdk/integration/tests/jest/jest.config.js
  packages/cdk/integration/tests/jest/virtual-table/samples/lifecycle/lifecycle.spec.ts
  packages/ngxs/integration/tests/jest.config.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/typescript/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(cdk): rows copy feature and reworks
  packages/cdk/integration/tests/jest/helpers/file-utils.ts
  packages/cdk/integration/tests/jest/table-utils/table-clipboard.spec.ts
  packages/cdk/table-utils/src/table-clipboard/table-clipboard.service.ts
Due: yarn prettier --write, yarn eslint --fix

feat(cdk): rows copy feature and reworks (#945)
  packages/cdk/integration/tests/jest/excel/excel.service.spec.ts
  packages/cdk/integration/tests/jest/excel/file-suites/test-1-simple.xls
  packages/cdk/integration/tests/jest/excel/file-suites/test-2-by-keys.xls
  packages/cdk/integration/tests/jest/excel/file-suites/test-3-exclude-keys.xls
  packages/cdk/integration/tests/jest/excel/file-suites/test-4-options.xls
  packages/cdk/integration/tests/jest/excel/file-suites/test-5-translate.xls
  packages/cdk/integration/tests/jest/excel/file-suites/test-6-auto-width.xls
  packages/cdk/integration/tests/jest/excel/file-suites/test-7-auto-width-translate.xls
  packages/cdk/integration/tests/jest/excel/file-suites/test-8-auto-width.xls
  packages/cdk/integration/tests/jest/helpers/file-utils.ts
  packages/cdk/integration/tests/jest/helpers/table-mock-data.ts
  packages/cdk/integration/tests/jest/table-utils/file-suites/test-1-simple.html
  packages/cdk/integration/tests/jest/table-utils/file-suites/test-2-by-keys.html
  packages/cdk/integration/tests/jest/table-utils/file-suites/test-3-exclude-keys.html
  packages/cdk/integration/tests/jest/table-utils/file-suites/test-4-options.html
  packages/cdk/integration/tests/jest/table-utils/file-suites/test-5-translate.html
  packages/cdk/integration/tests/jest/table-utils/table-clipboard.spec.ts
  packages/cdk/table-utils/src/plain-table-composer/interfaces/input-descriptor.ts
  packages/cdk/table-utils/src/plain-table-composer/interfaces/rules-descriptor.ts
  packages/cdk/table-utils/src/plain-table-composer/plain-table-composer.module.ts
  packages/cdk/table-utils/src/plain-table-composer/plain-table-composer.service.ts
  packages/cdk/table-utils/src/public_api.ts
  packages/cdk/table-utils/src/table-clipboard/table-clipboard.module.ts
  packages/cdk/table-utils/src/table-clipboard/table-clipboard.service.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  packages/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update angular dependencies to v12.2.6
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency prettier to v2.4.1
  dev-infra/prettier/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/prettier/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency jest-preset-angular to v10
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/jest/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v16.9.2
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/dev-dependencies/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency eslint-plugin-jest to v24.4.2
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(jest): add default reporters
  .gitignore
  dev-infra/jest/package.json
  dev-infra/jest/src/constants/configurations.ts
  dev-infra/jest/src/utils/create-ts-jest-config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(jest): add default reporters (#954)
  .gitignore
  dev-infra/jest/package.json
  dev-infra/jest/src/constants/configurations.ts
  dev-infra/jest/src/utils/create-ts-jest-config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build: update dependency @types/node to v16.9.3
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v16.9.4
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency jest to v27.2.1
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(prettier): replace deprecated property jsxBracketSameLine
  dev-infra/prettier/prettier.config.js
Due: yarn prettier --write

build: update eslint dependencies
  dev-infra/eslint-config-enterprise/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(prettier): replace deprecated property jsxBracketSameLine (#959)
  dev-infra/prettier/prettier.config.js
  packages/cdk/docs/decorators.md
  packages/cdk/docs/pipes.md
  packages/cdk/integration/apps/tooltip/src/samples/guide/guide.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-eight/sample-eight.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-eleven/sample-eleven.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-five/sample-five.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-fourteen/context-menu-sample/context-menu-sample.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-fourteen/sample-fourteen.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-night/sample-night.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-second/sample-second.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-seventeen/sample-seventeen.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-six/sample-six.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-sixteen/sample-sixteen.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-third/sample-third.component.html
  packages/cdk/integration/apps/virtual-table/src/samples/sample-thirteen/sample-thirteen.component.html
  packages/cdk/integration/tests/jest/directives/split-string.spec.ts
  packages/cdk/integration/tests/jest/virtual-table/components/table-builder.component.spec.ts
  packages/cdk/virtual-table/src/components/drag-icon/drag-icon.component.html
  packages/cdk/virtual-table/src/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.html
  packages/cdk/virtual-table/src/components/ngx-context-menu/ngx-context-menu.component.html
  packages/cdk/virtual-table/src/components/ngx-filter/ngx-filter.component.html
  packages/cdk/virtual-table/src/components/ngx-footer/ngx-footer.component.html
  packages/cdk/virtual-table/src/components/ngx-header/ngx-header.component.html
  packages/cdk/virtual-table/src/components/table-cell/table-cell.component.html
  packages/cdk/virtual-table/src/components/table-tbody/table-tbody.component.html
  packages/cdk/virtual-table/src/components/table-thead/table-thead.component.html
  packages/cdk/virtual-table/src/table-builder.component.html
  packages/ngxs/integration/app/src/article/article.component.html
  packages/ngxs/integration/app/src/count/count.component.html
  packages/ngxs/integration/app/src/person/person.component.html
  packages/ngxs/integration/app/src/todo/todo.component.html
Due: yarn prettier --write, yarn eslint --fix

chore(release): update CHANGELOG.md [ci skip]
  CHANGELOG.md
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/prettier/package.json
  packages/cdk/package.json
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/jest to v27.0.2
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency @types/node to v16.9.6
  dev-infra/dev-dependencies/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

build: update dependency jest-junit to v12.3.0
  dev-infra/jest/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore: set dry-run for autoupdate
  .github/workflows/autoupdate.yml
Due: none

chore: set dry-run for autoupdate
  .github/autorebase.yml
Due: none
