Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

feat(@angular-ru/ng-excel-builder): use serial date from common package
  package.json
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-excel-builder/src/symbols.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

build(@angular-ru/jest-utils): resolve artifacts
  packages/jest-utils/integration/tests/simple.spec.ts
  packages/jest-utils/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix

!fixup
  packages/common/integration/tests/serial-date.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update dependency @types/jest to v26.0.8
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

!fixup
  packages/common/date/src/serial-date.ts
  packages/common/integration/tests/serial-date.spec.ts
  packages/common/integration/tests/tsconfig.spec.json
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/ng-excel-builder/CHANGELOG.md
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/common): use unified signature for SerialDate
  packages/common/date/src/serial-date.ts
  packages/common/integration/tests/serial-date.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fix(@angular-ru/common): use unified signature for SerialDate (#95)
  packages/common/date/src/serial-date.ts
  packages/common/integration/tests/serial-date.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add toFormatDateTime
  packages/common/README.md
  packages/common/date/src/public_api.ts
  packages/common/date/src/serial-date.interfaces.ts
  packages/common/date/src/serial-date.ts
  packages/common/date/src/utility/to-format-date-time.ts
  packages/common/integration/tests/common-utils.spec.ts
  packages/common/integration/tests/serial-date.spec.ts
  packages/common/integration/tests/string.spec.ts
  packages/common/integration/tests/tsconfig.spec.json
  packages/common/string/package.json
  packages/common/string/src/public_api.ts
  packages/common/string/src/to-string-val.ts
  packages/logger/integration/app/tsconfig.spec.json
  packages/ng-excel-builder/integration/app/tsconfig.spec.json
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat: update dependency jest to v26.2.2
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency tslint to v6.1.3
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency eslint to v7.6.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add array and some common utils
  packages/common/README.md
  packages/common/array/package.json
  packages/common/array/src/first-item.ts
  packages/common/array/src/is-empty-list.ts
  packages/common/array/src/is-multiple-list.ts
  packages/common/array/src/is-single-list.ts
  packages/common/array/src/public_api.ts
  packages/common/array/src/second-item.ts
  packages/common/array/src/third-item.ts
  packages/common/array/src/update-array.ts
  packages/common/integration/tests/array/update-array.spec.ts
  packages/common/integration/tests/array/utility-arrays.spec.ts
  packages/common/integration/tests/common-utils.spec.ts
  packages/common/integration/tests/date/serial-date.spec.ts
  packages/common/integration/tests/string/string.spec.ts
  packages/common/integration/tests/typings/typings.spec.ts
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/typings/src/compare-fn.ts
  packages/common/typings/src/public_api.ts
  packages/common/utils/src/common-utils.ts
  packages/common/utils/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat(@angular-ru/jest-utils): set isolatedModules to true
  packages/jest-utils/src/create-ts-jest-config.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup
  packages/common/array/src/first-item.ts
  packages/common/array/src/second-item.ts
  packages/common/integration/tests/utils/utils.spec.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup
  packages/jest-utils/integration/tests/simple.spec.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup primary key
  packages/common/typings/src/primary-key.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add getByteSize function
  packages/common/README.md
  packages/common/integration/tests/string/string.spec.ts
  packages/common/string/src/get-byte-size.ts
  packages/common/string/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/common): add array and some common utils (#99)
  packages/common/README.md
  packages/common/array/package.json
  packages/common/array/src/first-item.ts
  packages/common/array/src/is-empty-list.ts
  packages/common/array/src/is-multiple-list.ts
  packages/common/array/src/is-single-list.ts
  packages/common/array/src/public_api.ts
  packages/common/array/src/second-item.ts
  packages/common/array/src/third-item.ts
  packages/common/array/src/update-array.ts
  packages/common/integration/tests/array/update-array.spec.ts
  packages/common/integration/tests/array/utility-arrays.spec.ts
  packages/common/integration/tests/common-utils.spec.ts
  packages/common/integration/tests/date/serial-date.spec.ts
  packages/common/integration/tests/string/string.spec.ts
  packages/common/integration/tests/typings/typings.spec.ts
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/string/src/get-byte-size.ts
  packages/common/string/src/public_api.ts
  packages/common/typings/src/compare-fn.ts
  packages/common/typings/src/primary-key.ts
  packages/common/typings/src/public_api.ts
  packages/common/utils/src/common-utils.ts
  packages/common/utils/src/public_api.ts
  packages/jest-utils/integration/tests/simple.spec.ts
  packages/jest-utils/src/create-ts-jest-config.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/jest-utils/CHANGELOG.md
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint to v3.8.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/ng-table-builder): refactor schema-columns model for correct investigate difference model
  packages/ng-table-builder/integration/app/src/app-routing.module.ts
  packages/ng-table-builder/integration/app/src/app.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-eleven/sample-eleven.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-fifteen/sample-fifteen.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-five/sample-five.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-seventeen/sample-seventeen.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-seventeen/sample-seventeen.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-seventeen/sample-seventeen.module.ts
  packages/ng-table-builder/integration/app/src/samples/sample-sixteen/sample-sixteen.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-sixteen/sample-sixteen.component.ts
  packages/ng-table-builder/ng-package.json
  packages/ng-table-builder/src/interfaces/table-builder.external.ts
  packages/ng-table-builder/src/styles/common.scss
  packages/ng-table-builder/src/table-builder.api.ts
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-table-builder): refactor schema-columns model for correct investigate difference model (#101)
  packages/ng-table-builder/integration/app/src/app-routing.module.ts
  packages/ng-table-builder/integration/app/src/app.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-eleven/sample-eleven.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-fifteen/sample-fifteen.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-five/sample-five.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-seventeen/sample-seventeen.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-seventeen/sample-seventeen.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-seventeen/sample-seventeen.module.ts
  packages/ng-table-builder/integration/app/src/samples/sample-sixteen/sample-sixteen.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-sixteen/sample-sixteen.component.ts
  packages/ng-table-builder/ng-package.json
  packages/ng-table-builder/src/interfaces/table-builder.external.ts
  packages/ng-table-builder/src/styles/common.scss
  packages/ng-table-builder/src/table-builder.api.ts
  packages/ng-table-builder/src/table-builder.component.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  packages/ng-table-builder/CHANGELOG.md
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/ng-table-builder): correct handle height when open context menu
  packages/ng-table-builder/src/components/common/modal-view-layer.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu.component.html
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu.component.scss
  packages/ng-table-builder/src/symbols.ts
Due: yarn prettier --write, yarn eslint --fix

!fixup
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu.component.html
Due: yarn prettier --write

Feat/table builder (#102)
  packages/ng-table-builder/src/components/common/modal-view-layer.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu.component.html
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu.component.scss
  packages/ng-table-builder/src/symbols.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update dependency @types/jest to v26.0.9
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json
