Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

refactor: added delay by 2 sec for requests in integration tests
  packages/http/integration/tests/limit-concurrency/unsubscribe.spec.ts
Due: yarn prettier --write, yarn eslint --fix

ci(common): upgrade husky (#425)
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  package.json
  packages/build-tools/README.md
  packages/commitlint-config/README.md
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/commitlint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/http): added option for http requests 'LimitConcurrency' (#390)
  package.json
  packages/http/README.md
  packages/http/angular.json
  packages/http/docs/limit-concurrency-5.png
  packages/http/docs/limit-concurrency-none.png
  packages/http/integration/app/assets/.gitkeep
  packages/http/integration/app/assets/favicon.ico
  packages/http/integration/app/assets/img/angular.svg
  packages/http/integration/app/environments/environment.prod.ts
  packages/http/integration/app/environments/environment.ts
  packages/http/integration/app/favicon.ico
  packages/http/integration/app/index.html
  packages/http/integration/app/main.ts
  packages/http/integration/app/polyfills.ts
  packages/http/integration/app/src/app-routing.module.ts
  packages/http/integration/app/src/app.component.html
  packages/http/integration/app/src/app.component.ts
  packages/http/integration/app/src/app.module.ts
  packages/http/integration/app/src/samples/guide/guide.component.html
  packages/http/integration/app/src/samples/guide/guide.component.ts
  packages/http/integration/app/src/samples/guide/guide.module.ts
  packages/http/integration/app/src/services/clients/api.client.ts
  packages/http/integration/app/styles.scss
  packages/http/integration/app/tsconfig.app.json
  packages/http/integration/app/tsconfig.spec.json
  packages/http/integration/tests/limit-concurrency/http-client.spec.ts
  packages/http/integration/tests/limit-concurrency/limit-concurrency.service.spec.ts
  packages/http/integration/tests/limit-concurrency/unsubscribe.spec.ts
  packages/http/src/configs/data-request-options.config.ts
  packages/http/src/data-http-client.module.ts
  packages/http/src/services/abstract-http.client.ts
  packages/http/src/services/data-http.client.ts
  packages/http/src/services/limit-concurency.service.ts
  packages/http/typings/src/interfaces/data-client-request-options.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/http/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency jasmine-marbles to v0.8.1
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/jest-utils): support another jest config properties, remove projects properties
  packages/jest-utils/integration/tests/simple.spec.ts
  packages/jest-utils/jest.config.js
  packages/jest-utils/src/common.ts
  packages/jest-utils/src/create-ts-jest-config.ts
  packages/jest-utils/src/default.config.ts
  packages/jest-utils/src/jest-config.interface.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/commitlint-config/package.json
  packages/http/package.json
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependencies
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/jest-utils): add combine utility
  packages/jest-utils/src/combine-with-jest-config.ts
  packages/jest-utils/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/jest-utils): use options for combine-with-jest-config.ts
  packages/jest-utils/src/combine-with-jest-config.ts
  packages/jest-utils/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update dependency eslint-plugin-jsdoc to v32.1.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency husky to v5.1.0
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency ng-packagr to v11.2.3
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint
  packages/build-tools/package.json
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: update Angular to v11.2.2
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency eslint-plugin-jsdoc to v32.1.1
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependencies to v12
  packages/commitlint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore: disable shellcheck
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore(release): updated release notes and package versions [ci skip]
  .husky/.gitignore
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency ts-jest to v26.5.2
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/jest-utils): improved performance as skip switch workers
  packages/jest-utils/src/default.config.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/build-tools): add istanbul package
  packages/build-tools/README.md
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

!fixup feat(@angular-ru/build-tools): add istanbul package
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: fix commitlint
  lerna.json
Due: yarn prettier --write

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
