Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["yarn prettier --write", "yarn eslint --fix"],
    "*.{html,css,scss,md,js,json}": ["yarn prettier --write"],
    "package.json": ["yarn prettier --write", "yarn sort-package-json"]
}

feat(@angular-ru/http): add options for rest template method
  packages/http/decorators/src/internal/ensure-descriptor-by-type.ts
  packages/http/src/services/data-http.client.ts
  packages/http/src/utils/rest-template.ts
Due: yarn prettier --write, yarn eslint --fix

Feat/http (#233)
  packages/http/decorators/src/internal/ensure-descriptor-by-type.ts
  packages/http/src/services/data-http.client.ts
  packages/http/src/utils/rest-template.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/http/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency @types/jasmine to v3.6.0
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency ts-jest to v26.4.2
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/jest-utils/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency eslint to v7.12.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/http): add HostUrl, BaseUrl, RequestParam decorators
  packages/http/decorators/src/base-url.decorator.ts
  packages/http/decorators/src/host-url.decorator.ts
  packages/http/decorators/src/internal/ensure-descriptor-by-type.ts
  packages/http/decorators/src/internal/meta-keys.config.ts
  packages/http/decorators/src/internal/mutate-query-params.ts
  packages/http/decorators/src/internal/validate-rest-client.ts
  packages/http/decorators/src/public_api.ts
  packages/http/decorators/src/request-param.decorator.ts
  packages/http/decorators/src/rest-client.decorator.ts
  packages/http/integration/tests/decorators/all-decorators.spec.ts
  packages/http/integration/tests/decorators/controller-root.spec.ts
  packages/http/integration/tests/users/http-events-client.spec.ts
  packages/http/integration/tests/users/http-users-client.spec.ts
  packages/http/src/services/abstract-http.client.ts
  packages/http/src/services/data-http.client.ts
  packages/http/src/utils/rest-template.ts
Due: yarn prettier --write, yarn eslint --fix

ci: update dependency @types/node to v14.14.3
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

!fixup feat(@angular-ru/http): add HostUrl, BaseUrl, RequestParam decorators
  packages/http/docs/decorators.md
  packages/http/integration/tests/users/http-events-client.spec.ts
  packages/http/integration/tests/users/http-users-client.spec.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/http): add generic type forRoot method
  packages/http/src/data-http-client.module.ts
Due: yarn prettier --write, yarn eslint --fix

docs(@angular-ru/http): update README.md
  packages/http/README.md
Due: yarn prettier --write

fix(@angular-ru/http): typeError found non-callable @@iterator
  packages/http/src/utils/rest-template.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update dependency @types/node to v14.14.3
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint to v4.6.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency lint-staged to v10.5.0
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/http): incorrect resolve http client from root
  packages/http/README.md
  packages/http/src/data-http-client.module.ts
Due: yarn prettier --write, yarn eslint --fix

chore: fixup dependencies @types/node in two package.json files
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/eslint-config/package.json
  packages/http/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/http): add emit options to @Get, @Put, @Post, @Delete, @Patch
  packages/http/decorators/src/delete.decorator.ts
  packages/http/decorators/src/get.decorator.ts
  packages/http/decorators/src/internal/ensure-descriptor-by-type.ts
  packages/http/decorators/src/patch.decorator.ts
  packages/http/decorators/src/post.decorator.ts
  packages/http/decorators/src/put.decorator.ts
  packages/http/integration/tests/users/http-emits.spec.ts
  packages/http/src/utils/rest-template.ts
  packages/http/typings/src/enums/http-status-code.enum.ts
  packages/http/typings/src/interfaces/emit-options.ts
  packages/http/typings/src/interfaces/internal/ensure-decorator-options.ts
  packages/http/typings/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/http/package.json
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency ts-jest to v26.4.3
  packages/jest-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency @types/node to v14.14.5
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci: update dependency typescript to v4.0.5
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json
