Repository Angular-RU/angular-ru-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

build: enable deploy integration app
  package.json
  packages/flex-layout/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/flex-layout/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/ng-table-builder): remove runOutsideAngular
  packages/ng-table-builder/src/components/common/abstract-modal-view-layer.directive.ts
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
Due: yarn prettier --write, yarn eslint --fix

ci: update angular-framework to v11.0.5
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependencies to v0.8.0-beta.6
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: update angular-cli
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

refactor(@angular-ru/ng-table-builder): trigger detectChanges in zone
  packages/ng-table-builder/integration/app/main.ts
  packages/ng-table-builder/integration/app/polyfills.ts
  packages/ng-table-builder/integration/app/zone-flags.ts
  packages/ng-table-builder/src/components/common/abstract-modal-view-layer.directive.ts
  packages/ng-table-builder/src/components/ngx-filter-viewer/ngx-filter-viewer.component.ts
  packages/ng-table-builder/src/components/ngx-filter/ngx-filter.component.html
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
  packages/ng-table-builder/src/symbols.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-config/package.json
  packages/ng-table-builder/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(@angular-ru/ng-table-builder): expose filter event
  packages/ng-table-builder/src/public_api.ts
Due: yarn prettier --write, yarn eslint --fix

feat(@angular-ru/ng-table-builder): improved performance for detect changes when open context menu, filter menu
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/context-menu-sample/context-menu-sample.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/context-menu-sample/context-menu-sample.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/sample-fourteen.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/sample-fourteen.module.ts
  packages/ng-table-builder/src/components/common/abstract-modal-view-layer.directive.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu.component.html
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu.component.scss
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu.component.ts
  packages/ng-table-builder/src/components/ngx-filter/ngx-filter.component.html
  packages/ng-table-builder/src/directives/auto-height.directive.ts
  packages/ng-table-builder/src/symbols.ts
  packages/ng-table-builder/src/table-builder.api.ts
Due: yarn prettier --write, yarn eslint --fix

feat: update dependency eslint to v7.16.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update dependency eslint-plugin-jsdoc to v30.7.9
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat: update ESLint to v4.11.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

docs: update README.md
  README.md
Due: yarn prettier --write

feat: update dependencies to v0.8.0-beta.7
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(@angular-ru/common): add useInjector method for accessing DI inside decorators & tests
  packages/common/README.md
  packages/common/docs/ivy.md
  packages/common/integration/tests/ivy/helpers/inject-test-service.decorator.ts
  packages/common/integration/tests/ivy/helpers/test.component.ts
  packages/common/integration/tests/ivy/helpers/test.module.ts
  packages/common/integration/tests/ivy/helpers/test.service.ts
  packages/common/integration/tests/ivy/ivy-utils.spec.ts
  packages/common/integration/tests/tsconfig.spec.json
  packages/common/ivy/package.json
  packages/common/ivy/src/public_api.ts
  packages/common/ivy/src/utils/use-injector.ts
Due: yarn prettier --write, yarn eslint --fix, yarn sort-package-json

feat: update dependency @types/node to v14.14.16
  packages/build-tools/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/build-tools/package.json
Due: yarn prettier --write, yarn sort-package-json

fixup! feat(@angular-ru/common): add useInjector method for accessing DI inside decorators & tests
  packages/common/integration/tests/ivy/helpers/inject-test-service.decorator.ts
  packages/common/integration/tests/ivy/helpers/test-decorators.ts
  packages/common/integration/tests/ivy/helpers/test-default.ts
  packages/common/integration/tests/ivy/helpers/test-extending.ts
  packages/common/integration/tests/ivy/helpers/test.component.ts
  packages/common/integration/tests/ivy/helpers/test.module.ts
  packages/common/integration/tests/ivy/helpers/test.service.ts
  packages/common/integration/tests/ivy/ivy-utils.spec.ts
  packages/common/integration/tests/tsconfig.spec.json
  packages/common/ivy/src/utils/use-injector.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): add useInjector method for accessing DI inside decorators & tests
  packages/common/integration/tests/ivy/helpers/test-default.ts
  packages/common/integration/tests/ivy/helpers/test-extending.ts
  packages/common/integration/tests/ivy/helpers/test.module.ts
  packages/common/integration/tests/ivy/ivy-utils.spec.ts
  packages/common/ivy/src/utils/use-injector.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): add useInjector method for accessing DI inside decorators & tests
  packages/common/integration/tests/ivy/ivy-utils.spec.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): add useInjector method for accessing DI inside decorators & tests
  packages/common/integration/tests/ivy/helpers/injection-tokens.ts
  packages/common/integration/tests/ivy/helpers/test-decorators.ts
  packages/common/integration/tests/ivy/helpers/test-token.ts
  packages/common/integration/tests/ivy/helpers/test.module.ts
  packages/common/integration/tests/ivy/ivy-utils.spec.ts
Due: yarn prettier --write, yarn eslint --fix

chore(release): updated release notes and package versions [ci skip]
  CHANGELOG.md
  lerna.json
  package.json
  packages/common/package.json
Due: yarn prettier --write, yarn sort-package-json

fixup! feat(@angular-ru/common): add useInjector method for accessing DI inside decorators & tests
  packages/common/ivy/src/utils/use-injector.ts
Due: yarn prettier --write, yarn eslint --fix

fixup! feat(@angular-ru/common): add useInjector method for accessing DI inside decorators & tests
  packages/common/integration/tests/ivy/helpers/test-decorators.ts
  packages/common/integration/tests/ivy/helpers/test-default.ts
  packages/common/integration/tests/ivy/ivy-utils.spec.ts
Due: yarn prettier --write, yarn eslint --fix

Path conditions:
  yarn prettier --write: ((any of: *.ts) or (any of: *.{html,css,scss,md,js,json})) or (any of: package.json)
  yarn eslint --fix: any of: *.ts
  yarn sort-package-json: any of: package.json
